<p>adjudicator-actions works!</p>

<!-- <button mat-button
        [disabled]="!dataSource?.data"
        [matMenuTriggerFor]="actions">Adjudicator Actions</button>

<mat-menu #actions>
  <button mat-menu-item
          [disabled]="!canEdit"
          *ngIf="canApproveOrDeny(enrollee.currentStatus.statusCode)"
          (click)="approveEnrollee(enrollee)">
    <mat-icon>check_circle_outline</mat-icon>
    <span>Approve Enrolment</span>
  </button>
  <button mat-menu-item
          [disabled]="!canEdit"
          *ngIf="canApproveOrDeny(enrollee.currentStatus.statusCode)"
          (click)="declineEnrollee(enrollee.id)">
    <mat-icon>block</mat-icon>
    <span>Decline Enrolment</span>
  </button>
  <button mat-menu-item
          [disabled]="!canEdit"
          *ngIf="canAllowEditing(enrollee.currentStatus.statusCode)"
          (click)="unlockEnrollee(enrollee.id)">
    <mat-icon>undo</mat-icon>
    <span>Unlock for Editing</span>
  </button>
  <button mat-menu-item
          *ngIf="canDelete"
          (click)="deleteEnrollee(enrollee.id)">
    <mat-icon>delete</mat-icon>
    <span>Delete Enrolment</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item
          *ngIf="isUnderReview(enrollee.currentStatus.statusCode)"
          (click)="routeTo([enrollee.id, AdjudicationRoutes.ENROLLEE_LIMITS_CONDITIONS])">
    <mat-icon>description</mat-icon>
    <span>Add Limits and Conditions</span>
  </button>
</mat-menu> -->
