<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Enrollee Information</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="First Name"
                 formControlName="firstName"
                 [required]="isRequired('firstName')">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Middle Name (Optional)"
                 formControlName="middleName"
                 [required]="isRequired('middleName')">
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Last Name"
                 formControlName="lastName"
                 [required]="isRequired('lastName')">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Date of Birth"
                 [matDatepicker]="picker"
                 formControlName="dateOfBirth"
                 readonly
                 [max]="maxBirthDate"
                 [required]="isRequired('dateOfBirth')">
          <mat-datepicker-toggle matSuffix
                                 [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker
                          startView="multi-year"
                          [touchUi]="isMobile"></mat-datepicker>
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>

    <mat-slide-toggle class="mb-3"
                      color="primary"
                      (change)="onPreferredNameChange()"
                      [checked]="hasPreferredName">
      I have a preferred name that is different than my legal name
    </mat-slide-toggle>

    <ng-container *ngIf="hasPreferredName">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Preferred Name</ng-container>
        <ng-container appPageSubheaderSummary>
          If you have a name that is different than your legal name that people know you by, enter your full preferred
          name.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-5">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Preferred First Name"
                   formControlName="preferredFirstName"
                   [required]="isRequired('preferredFirstName')">
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-5">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Preferred Middle Name"
                   formControlName="preferredMiddleName"
                   [required]="isRequired('preferredMiddleName')">
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-5">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Preferred Last Name"
                   formControlName="preferredLastName"
                   [required]="isRequired('preferredLastName')">
          </mat-form-field>

        </div>
      </div>

    </ng-container>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Address</ng-container>
    </app-page-subheader>

    <app-address [form]="physicalAddress"></app-address>

    <mat-slide-toggle class="mb-3"
                      color="primary"
                      (change)="onMailingAddressChange()"
                      [checked]="hasMailingAddress">
      My mailing address is different
    </mat-slide-toggle>

    <ng-container *ngIf="hasMailingAddress">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Mailing Address</ng-container>
      </app-page-subheader>

      <app-address [form]="mailingAddress"></app-address>

    </ng-container>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Contact Information</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-4 col-xl-3">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Phone Number for Voice Contact"
                 formControlName="voicePhone"
                 mask="(000) 000-0000"
                 [showMaskTyped]="false"
                 [required]="isRequired('voicePhone')">
          <mat-error *ngIf="voicePhone.hasError('required')">Required</mat-error>
          <mat-error *ngIf="voicePhone.hasError('phone')">Must be a valid phone number</mat-error>
        </mat-form-field>

      </div>
      <div class="col-sm-12 col-md-2">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Extension Number"
                 formControlName="voiceExtension"
                 [required]="isRequired('voiceExtension')">
          <mat-error *ngIf="voiceExtension.hasError('required')">Required</mat-error>
          <mat-error *ngIf="voiceExtension.hasError('numeric')">Must contain only numbers</mat-error>
        </mat-form-field>

      </div>
    </div>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Preferred Contact Method</ng-container>
      <ng-container appPageSubheaderSummary>
        Please provide an email address and phone number that may be used for notifications from the PRIME system.
      </ng-container>
    </app-page-subheader>

    <mat-checkbox class="mr-4"
                  formControlName="hasContactEmail">Email Notification</mat-checkbox>
    <mat-checkbox class="mr-4"
                  formControlName="hasContactPhone">Text Notification (SMS)</mat-checkbox>

    <div class="row">
      <div class="col-sm-12"
           *ngIf="contactEmail.value || hasContactEmail.value">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-5">
            <mat-form-field class="w-100">
              <input matInput
                     placeholder="Email"
                     formControlName="contactEmail"
                     [required]="isRequired('contactEmail')">
              <mat-error *ngIf="contactEmail.hasError('required')">Required</mat-error>
              <mat-error *ngIf="contactEmail.hasError('email')">Must be a valid email address</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-5"
               *ngIf="contactPhone.value || hasContactPhone.value">

            <mat-form-field class="w-100">
              <input matInput
                     placeholder="Phone"
                     formControlName="contactPhone"
                     mask="(000) 000-0000"
                     [showMaskTyped]="false"
                     [required]="isRequired('contactPhone')">
              <mat-error *ngIf="contactPhone.hasError('required')">Required</mat-error>
              <mat-error *ngIf="contactPhone.hasError('phone')">Must be a valid phone number</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col pt-4 text-right">

        <button mat-raised-button
                type="submit"
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
