<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      novalidate>

  <h1 class="h2 my-4">Application Enrolment</h1>

  <app-sub-header subheader="Enrollee Information"></app-sub-header>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="First Name"
               formControlName="firstName"
               [required]="isRequired('firstName')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Middle Name (Optional)"
               formControlName="middleName"
               [required]="isRequired('middleName')">
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Last Name"
               formControlName="lastName"
               [required]="isRequired('lastName')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Date of Birth"
               [matDatepicker]="picker"
               formControlName="dateOfBirth"
               [max]="maxBirthDate"
               [required]="isRequired('dateOfBirth')">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
                        startView="multi-year"
                        [touchUi]="isMobile"></mat-datepicker>
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>

  <mat-slide-toggle class="mb-3"
                    color="primary"
                    (change)="onPreferredNameChange()"
                    [checked]="hasPreferredName">
    I have a preferred name that is different than my legal name
  </mat-slide-toggle>

  <ng-container *ngIf="hasPreferredName">

    <app-sub-header subheader="Preferred Name"
                    help="If you have a name that is different than your legal name that people know you by, enter your full preferred name.">
    </app-sub-header>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Preferred First Name"
                 formControlName="preferredFirstName"
                 [required]="isRequired('preferredFirstName')">
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Preferred Middle Name"
                 formControlName="preferredMiddleName"
                 [required]="isRequired('preferredMiddleName')">
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Preferred Last Name"
                 formControlName="preferredLastName"
                 [required]="isRequired('preferredLastName')">
        </mat-form-field>

      </div>
    </div>

  </ng-container>

  <app-sub-header subheader="Address"></app-sub-header>

  <div class="row">
    <div class="col-sm-12"
         formGroupName="physicalAddress">

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryCode"
                        [required]="isRequired('physicalAddress.countryCode')">
              <mat-option *ngFor="let country of countries"
                          [value]="country.code">
                {{ country.name }}
              </mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <mat-label>Province</mat-label>
            <mat-select formControlName="provinceCode"
                        [required]="isRequired('physicalAddress.provinceCode')">
              <mat-option *ngFor="let province of provinces"
                          [value]="province.code">
                {{ province.name }}
              </mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Street Address"
                   formControlName="street"
                   [required]="isRequired('physicalAddress.street')">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="City"
                   formControlName="city"
                   [required]="isRequired('physicalAddress.city')">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Postal Code"
                   mask="S0S 0S0"
                   formControlName="postal"
                   [required]="isRequired('physicalAddress.postal')">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </div>
  </div>

  <mat-slide-toggle class="mb-3"
                    color="primary"
                    (change)="onMailingAddressChange()"
                    [checked]="hasMailingAddress">
    My mailing address is different
  </mat-slide-toggle>

  <ng-container *ngIf="hasMailingAddress">

    <app-sub-header subheader="Mailing Address"></app-sub-header>

    <div class="row">
      <div class="col-sm-12"
           formGroupName="mailingAddress">

        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">

            <mat-form-field class="w-100">
              <mat-label>Country</mat-label>
              <mat-select formControlName="countryCode"
                          [required]="isRequired('mailingAddress.countryCode')">
                <mat-option *ngFor="let country of countries"
                            [value]="country.code">
                  {{ country.name }}
                </mat-option>
              </mat-select>
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">

            <mat-form-field class="w-100">
              <mat-label>Province</mat-label>
              <mat-select formControlName="provinceCode"
                          [required]="isRequired('mailingAddress.provinceCode')">
                <mat-option *ngFor="let province of provinces"
                            [value]="province.code">
                  {{ province.name }}
                </mat-option>
              </mat-select>
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">

            <mat-form-field class="w-100">
              <input matInput
                     placeholder="Street Address"
                     formControlName="street"
                     [required]="isRequired('mailingAddress.street')">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">

            <mat-form-field class="w-100">
              <input matInput
                     placeholder="City"
                     formControlName="city"
                     [required]="isRequired('mailingAddress.city')">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-xl-4">

            <mat-form-field class="w-100">
              <input matInput
                     placeholder="Postal Code"
                     mask="S0S 0S0"
                     formControlName="postal"
                     [required]="isRequired('mailingAddress.postal')">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>
    </div>

  </ng-container>

  <app-sub-header subheader="Phone Number"
                  help="">
  </app-sub-header>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Phone Number for Voice Contact"
                   formControlName="voicePhone"
                   mask="(000) 000-0000"
                   [showMaskTyped]="false"
                   [required]="isRequired('voicePhone')">
            <mat-error *ngIf="voicePhone.hasError('required')">Required</mat-error>
            <mat-error *ngIf="voicePhone.hasError('phone')">Must be a valid phone number</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl-4">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Extension Number"
                   formControlName="voiceExtension"
                   [required]="isRequired('voiceExtension')">
            <mat-error *ngIf="voiceExtension.hasError('required')">Required</mat-error>
            <mat-error *ngIf="voiceExtension.hasError('numeric')">Must contain only numbers</mat-error>
          </mat-form-field>

        </div>
      </div>

      <app-sub-header subheader="Preferred Contact Method"
                      help="Please provide an email address and phone number that may be used for notifications from the PRIME system.">
      </app-sub-header>

      <mat-checkbox class="mr-4"
                    formControlName="hasContactEmail">Email</mat-checkbox>
      <mat-checkbox class="mr-4"
                    formControlName="hasContactPhone">Mobile Phone</mat-checkbox>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl45"
             *ngIf="contactEmail.value || hasContactEmail.value">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Email"
                   formControlName="contactEmail"
                   [required]="isRequired('contactEmail')">
            <mat-error *ngIf="contactEmail.hasError('required')">Required</mat-error>
            <mat-error *ngIf="contactEmail.hasError('email')">Must be a valid email address</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-xl45"
             *ngIf="contactPhone.value || hasContactPhone.value">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Phone"
                   formControlName="contactPhone"
                   mask="(000) 000-0000"
                   [showMaskTyped]="false"
                   [required]="isRequired('contactPhone')">
            <mat-error *ngIf="contactPhone.hasError('required')">Required</mat-error>
            <mat-error *ngIf="contactPhone.hasError('phone')">Must be a valid phone number</mat-error>
          </mat-form-field>

        </div>
      </div>


      <div class="row justify-content-end">
        <div class="col pt-2 text-right">

          <button mat-raised-button
                  type="submit"
                  color="primary">Save and Continue</button>

        </div>
      </div>
    </div>
  </div>

</form>
