<dl class="row mb-3">
  <dt class="col-6">Name</dt>
  <dd class="col-6 text-right">{{ fullname | default }}</dd>

  <ng-container *ngIf="showPreferredName && hasPreferredName">
    <dt class="col-6">Preferred First Name</dt>
    <dd class="col-6 text-right">{{ enrollee?.preferredFirstName | default }}</dd>
    <dt class="col-6">Preferred Middle Name</dt>
    <dd class="col-6 text-right">{{ enrollee?.preferredMiddleName | default }}</dd>
    <dt class="col-6">Preferred Last Name</dt>
    <dd class="col-6 text-right">{{ enrollee?.preferredLastName | default }}</dd>
  </ng-container>

  <dt class="col-6">Date of Birth</dt>
  <dd class="col-6 text-right">{{ enrollee?.dateOfBirth | formatDate | default }}</dd>
</dl>
