<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Specify the days and times your location is open.
        </ng-container>
      </app-page-subheader2>

      <app-alert *ngIf="hasNoBusinessHoursError"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          No hours of operation have been chosen.
        </ng-container>
      </app-alert>

      <ng-container formArrayName="businessDays"
                    *ngFor="let businessDay of formState.businessDays.controls; let i = index;">
        <div class="row weekdays">
          <div class="col-sm-12 col-lg-auto day">

            <div class="weekday">{{ WeekDay[i] }}</div>

            <mat-slide-toggle color="primary"
                              (change)="onDayToggle(businessDay, $event)"
                              [checked]="hasDay(businessDay)">
              {{ (hasDay(businessDay)) ? 'Open' : 'Closed' }}
            </mat-slide-toggle>

          </div>
          <div class="col-sm-12 col-lg-auto">

            <ng-container [formGroup]="businessDay">
              <mat-form-field [class.hide]="!hasDay(businessDay)">
                <mat-label>Opens at</mat-label>
                <input matInput
                       mask="AB:CB"
                       [patterns]="businessHoursTimePattern"
                       formControlName="startTime"
                       placeholder="00:00"
                       [errorStateMatcher]="lessThanErrorStateMatcher">
                <mat-error *ngIf="businessDay.hasError('lessthan') || businessDay.get('startTime').hasError('length')">
                  Invalid
                </mat-error>
                <mat-error *ngIf="businessDay.get('startTime').hasError('required')">
                  Required
                </mat-error>
              </mat-form-field>

              <mat-form-field [class.hide]="!hasDay(businessDay)">
                <mat-label>Closes at</mat-label>
                <input matInput
                       mask="AB:CB"
                       [patterns]="businessHoursTimePattern"
                       formControlName="endTime"
                       placeholder="00:00"
                       [errorStateMatcher]="lessThanErrorStateMatcher">
                <mat-error *ngIf="businessDay.hasError('lessthan') || businessDay.get('endTime').hasError('length')">
                  Invalid
                </mat-error>
                <mat-error *ngIf="businessDay.get('endTime').hasError('required')">
                  Required
                </mat-error>
              </mat-form-field>

              <mat-checkbox [class.hide]="!hasDay(businessDay)"
                            [checked]="is24Hours(businessDay)"
                            (change)="on24Hours($event, businessDay)">24 hours
              </mat-checkbox>
            </ng-container>

          </div>
        </div>
      </ng-container>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"
                   (continue)="onBack()"></app-page-footer>

</app-page>
