<div class="page-sub-header">
  <div class="w-100">
    <h2 class="title h4">
      <ng-content select="[appSubheaderTitle]"></ng-content>
      <span *ngIf="hasContextualContent"
             class="help">
        <app-contextual-help>
          <ng-container *ngIf="hasContextualTitle"
                        appContextualTitle>
            <ng-content #contextTitle
                        select="[appContextualTitle]"></ng-content>
          </ng-container>
          <ng-container *ngIf="hasContextualContent"
                        appContextualContent>
            <ng-content #contextContent
                        select="[appContextualContent]"></ng-content>
          </ng-container>
        </app-contextual-help>
      </span>
    </h2>
    <p *ngIf="hasSubheaderSummary"
       class="description">
      <ng-content #summary
                  select="[appSubHeaderSummary]"></ng-content>
    </p>
  </div>
</div>
