<section class="mb-4">

  <app-document-upload #documentUpload
                       componentName="adjudicator-documents"
                       labelMessage="Drag and drop your documents or browse"
                       [multiple]="true"
                       (completed)="onUpload($event)"
                       (remove)="onRemoveDocument($event)">
  </app-document-upload>

  <div class="col pt-2 text-right">
    <button mat-flat-button
            type="button"
            color="primary"
            (click)="onSubmit()">
      Save
    </button>
  </div>

</section>

<section>
  <h2 class="mb-2">Documents</h2>

  <ng-container *ngIf="(documents$ | async)?.length">
    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let document of documents$ | async">
            <th scope="row">
              <div class="text-nowrap">
                {{ document.uploadedDate | formatDate }}
              </div>
              <small *ngIf="true"
                         class="d-block text-mute font-weight-normal mb-2">
                      {{ document.uploadedDate | formatDate: 'h:mm a' }}
                    </small>
              <mat-chip-listbox [selectable]="false">
                <mat-chip selected
                          color="primary"
                          [disableRipple]="true">{{ document.adjudicator.idir | replace: '@idir': '' }}</mat-chip>
              </mat-chip-listbox>
            </th>
            <td>
              <button mat-stroked-button
                      color="primary"
                      (click)="getDocument(document.id)">
                <mat-icon class="mr-2">attachment</mat-icon>
                {{ document.filename | default }}
              </button>
              <button mat-icon-button
                      (click)="onDelete(document.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>

  <div *ngIf="!(documents$ | async)?.length">
    No documents have been uploaded
  </div>
</section>
