@import 'bootstrap/bootstrap-imports';

.title {
  padding-top: 50px;
  font-size: 2.5rem;
  color: #2D2D2D;
}

.grad_bg {
  height: 700px;
  width: 100%;

  @include media-breakpoint-up(xs) {
    margin-top: -24px;
  }

  @include media-breakpoint-up(sm) {
    margin-top: -32px;
  }

  background-image: linear-gradient(to bottom, #DEDEDE, #FFFFFF);
}

.card {
  border-radius: 15px;
  border: #D2DAE4 1px solid;
  background: #FFFFFF;
  padding: 20px;
}

.card-title {
  font-size: 1.3rem;
  color: #2D2D2D;
  padding: 10px 10px 0 10px;
}

.card-text {
  font-size: .9rem;
  color: #2D2D2D;
  padding: 10px 10px 10px 10px;
}

.card-ha {
  padding: 0 10px 0 10px;
  margin: 0;
  //display: none;
}

.button {
  margin: 5px 5px 5px 5px;
  font-weight: normal;
  min-width: 64px !important;
  width: auto !important;
  top: -5px;
}

.button:disabled {
  background-color: #EDEBE9;
  color: #9F9D9C;
}

.individual_graphic {
  width: 100%;
  max-height: 212px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;

  @include media-breakpoint-up(xs) {
    content: url("/assets/individual_enrolment.png");
  }

  @include media-breakpoint-up(sm) {
    content: url("/assets/individual_enrolment_sm.png");
  }

  @include media-breakpoint-up(md) {
    content: url("/assets/individual_enrolment.png");
  }

  @include media-breakpoint-up(lg) {
    content: url("/assets/individual_enrolment.png");
  }
}

.site_graphic {
  width: 100%;
  max-height: 212px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;

  @include media-breakpoint-up(xs) {
    content: url("/assets/site_registration_xs.png");
  }

  @include media-breakpoint-up(sm) {
    content: url("/assets/site_registration_sm.png");
  }

  @include media-breakpoint-up(md) {
    content: url("/assets/site_registration.png");
  }

  @include media-breakpoint-up(lg) {
    content: url("/assets/site_registration.png");
    width: 100%;
    max-height: 212px;
  }
}

a,
a:hover,
a:visited {
  color: #255A90;
  vertical-align: middle;
}

.link_icon {
  vertical-align: sub;
}

.underline {
  text-decoration: underline;
}

.graphic {
  height: 160px;
  width: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.graphic_container {
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0%;
}

.content {
  color: #2D2D2D;
  padding: 20px;
}

.va_super {
  vertical-align: super;
}

.logo {
  text-align: right;
}

.logo_title {
  color: #013366;
  margin-right: 10px;
}

.passcode_label {
  color: #000000;
  font-size: 0.9rem;
  margin-top: 0;
}

::ng-deep .mat-form-field-flex>.mat-form-field-infix {
  padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-wrapper>.mat-form-field-flex {
  width: 250px !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: -15px;
}

::ng-deep label.ng-star-inserted {
  transform: translateY(-0.59375em) scale(0.75) !important;
}

.mat-mdc-input-element,
.mat-select-value {
  color: #ffffff !important;
}

.large {
  width: 300px;
  height: 46px;
}
