// NOTE: Shared styles are loaded from a separate file
.title {
  margin-top: 75px;
  margin-bottom: 50px;
}

.t1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.st1 {
  color: hsl(0, 0%, 39%);
  font-size: 1.75rem;
}

.mid-gary {
  background-color: #38598A;
  color: #fff;
}

.mt1 {
  font-size: 2.1rem;
  font-weight: bold;
}

.mst1 {
  font-size: 1.75rem;
  color: #fff;
}

.tab,
.tab-mid {
  border-top: 1px solid #38598A;
  padding: 15px 55px 15px 55px;
  color: #fff;
  font-weight: 500;
  font-size: 1.25rem;
  background-color: #748BAE;
  cursor: pointer;
}

.tab {
  border-left: 1px solid #38598A;
  border-right: 1px solid #38598A;
}

.selected-tab,
.selected-tab .tab-link {
  color: #ffffff;
  background-color: #38598A;
  cursor: inherit;
}

.selected-tab:before {
  content: '\203A';
  font-size: 2rem;
  position: absolute;
  left: 40px;
  top: 3px;
  font-weight: normal;
}

.mid-content {
  padding: 50px 0 50px 0;
}

.button_title {
  font-size: 1.75rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.graphic {
  height: 200px;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.graphic-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid #D2DAE4;
}

.content {
  margin-left: 30px;
  margin-right: 30px;
  font-size: .9rem;
}

.content h2 {
  font-size: 1.1rem;
  color: #003366;
}

.border-right {
  border-right: 1px solid #ffffff;
}

.pb-50 {
  padding-bottom: 50px;
}

a,
a:hover,
a:visited {
  color: #007bff;
  text-decoration: underline;
}

.link-button {
  color: #007bff;
  text-decoration: underline;
}

a.tab-link,
a.tab-link:hover,
a.tab-link:visited {
  color: #606B75;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
}

.radio_button {
  color: #ffffff;
  margin-right: 20px;
}

.radio-group {
  //display: flex;
  //flex-direction: column;
  display: grid;
  margin: 10px 20px 0;
}

.input,
.mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ffffff;
}

.mat-input-element,
.mat-select-value {
  color: #ffffff !important;
}

.large {
  width: 300px;
  height: 46px;
}
