<div class="container">
  <app-banner></app-banner>
  <div class="row title">
    <div class="col-sm-8">
      <div class="t1">Request for access to pharmanet</div>
      <div class="st1">Please choose the type of registration you will need</div>
    </div>
    <div class="col-sm-4 logo">
      <app-prime-logo label="right"
                      [size]="(isMobile) ? 'small' : 'medium'"></app-prime-logo>
    </div>
  </div>
  <div class="row">
    <div *ngIf="loginCancelled"
         class="col-sm-12">
      <app-alert type="info"
                 icon="error_outline">
        <ng-container #alertTitle
                      class="alert-title">
          Login Cancelled
        </ng-container>
        <ng-container #alertContent
                      class="alert-content">
          <p>You have cancelled your log in to PRIME</p>
          <p>For assistance with PRIME, contact <app-prime-phone></app-prime-phone> or
            <app-prime-support-email></app-prime-support-email>
          <p>
            For assistance logging in with the BC Services Card app, contact the Help Desk
            <a
              target="_blank"
              rel="noopener noreferrer"
              [attr.href]="bcscHelpDeskUrl">
              <u>here</u></a>.
          </p>
        </ng-container>
      </app-alert>
    </div>
  </div>
</div>
<div class="container mb-0">
  <div class="row">
    <div class="col-sm-auto tab selected-tab"
         [ngClass]="{'selected-tab': mode === 'enrolment'}">
      <a class="tab-link" href="{{ this.enrolmentUrl}}">
        Individual enrolment
      </a>
    </div>
    <div class="col-sm-auto tab"
         [ngClass]="{'selected-tab': mode === 'community'}">
      <a class="tab-link" href="{{ this.communitySiteUrl}}">
          Community site registration
        </a>
    </div>
    <div class="col-sm-auto tab"
         [ngClass]="{'selected-tab': mode === 'health-authority'}">
      <a class="tab-link" href="{{ this.healthAuthorityUrl}}">
        Health authority site registration
      </a>
    </div>
  </div>
</div>
<div class="mid-gary">
  <div *ngIf="mode === 'enrolment'"
       class="container mt-0 mb-1">
    <div class="mid-content">
      <div class="mt1">Request approval to access PharmaNet</div>
      <div class="mst1">for health professionals of British Columbia</div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-6">
        <button mat-flat-button
                color="primary"
                class="large"
                (click)="onLogin()">Access Individual Enrolment</button>
      </div>
    </div>
  </div>
  <div *ngIf="mode === 'health-authority'"
       class="container mt-0 mb-1">
    <div class="mid-content">
      <div class="mt1">A site is a physical address in combination with a PharmaNet software vendor</div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-6">
        <div class="button_title">
          Health Authorities
        </div>
        <button mat-flat-button
                color="primary"
                class="large"
                (click)="onLogin()">Access the registration</button>
      </div>
    </div>
  </div>
  <div *ngIf="mode === 'community'"
       class="container mt-0 mb-1">
    <div class="mid-content">
      <div class="mt1">A site is a physical address in combination with a PharmaNet software vendor</div>
    </div>
    <div class="row pb-4">
      <div class="col-sm-6">
        <div class="button_title">
          Private Community Health Practices<br/>
          Community Pharmacies<br/>
          Device Providers
        </div>
        <button mat-flat-button
                color="primary"
                class="large"
                (click)="onLogin()">Access the registration</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-12 col-md-4">
      <div>
        <div class="graphic-wrapper">
          <img class="graphic"
               src="/assets/bc_services_card_v2.svg"
               alt="BC Services Card Icon">
        </div>
        <section class="content">
          <h2>BC Services Card</h2>

          <p>
            Set up the BC Services Card app on a mobile device if you haven’t done so already. Once finished, come back
            to PRIME and complete your enrolment.

            <br>
            <br>

            <a [href]="bcscMobileSetupUrl"
                 target="_blank"
                 rel="noopener noreferrer">
                How to set up the BC Services Card app.
              </a>
          </p>
        </section>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <div class="graphic-wrapper">
          <img class="graphic"
               src="/assets/enrolment_v2.svg"
               alt="Enrolment Icon">
        </div>
        <section class="content">
          <h2>PRIME Enrolment</h2>

          <p>
            Complete PRIME enrolment by answering a set of questions. It usually only takes a few minutes. If you are a
            registrant of a B.C. health college, you will need your college information (licence number/ registration
            number/ CPSID/ BCCNM ID) and next renewal date.
          </p>
        </section>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <div class="graphic-wrapper">
          <img class="graphic"
               src="/assets/notification_v2.svg"
               alt="Notification Icon">
        </div>
        <section class="content">
          <h2>Enrolment Notification</h2>
          <p>
            Once you are approved to use PharmaNet, you will enter the email of the person in your workplace who sets up
            PharmaNet accounts. They will get you connected to PharmaNet.
          </p>
        </section>
      </div>
    </div>
  </div>

  <div class="col-sm-12 support">
    <app-pill>
      <section>
        <h2>Get Support</h2>

        <p>
          Questions about PRIME should be directed to:
          <br>
          <app-prime-phone></app-prime-phone>
          <br>
          <app-prime-support-email></app-prime-support-email>
        </p>
      </section>
    </app-pill>

  </div>
</div>
