<div class="grad_bg">
  <div class="container mb-1">
    <app-banner></app-banner>
    <div class="row title">
      <div class="col-sm-8">
        <div class="t1">Request Ministry of Health approval</div>
        <div class="t1">to access PharmaNet</div>
      </div>
      <div class="col-sm-4 logo">
        <span class="logo_title">PRIME</span>
        <app-prime-logo label="none"
                        size="small"></app-prime-logo>
      </div>
    </div>
    <div class="row"
         *ngIf="loginCancelled">
      <div class="col-sm-12">
        <app-alert type="info"
                   icon="error_outline">
          <ng-container #alertTitle
                        class="alert-title">
            Login Cancelled
          </ng-container>
          <ng-container #alertContent
                        class="alert-content">
            <p>You have cancelled your log in to PRIME</p>
            <p>For assistance with PRIME, contact <app-prime-phone></app-prime-phone> or
              <app-prime-support-email></app-prime-support-email>
            <p>
              For assistance logging in with the BC Services Card app, contact the Help Desk
              <a
                target="_blank"
                rel="noopener noreferrer"
                [attr.href]="bcscHelpDeskUrl">
                <u>here</u></a>.
            </p>
          </ng-container>
        </app-alert>
      </div>
    </div>
  </div>
  <div class="container mb-1">
    <div class="row">
      <div class="col-md-4">
        <div class="container mb-1">
          <div class="row">
            <div class="col-md-12 card">
              <img class="individual_graphic"
                   src="/assets/individual_enrolment.png"
                   alt="BC Services Card Icon">
              <div class="card-title">
                Individual Access
              </div>
              <div class="card-text">
                Healthcare professinals are requested to first enrol with PRIME.
              </div>
              <button mat-flat-button
                      class="button"
                      color="primary"
                      (click)="onEnrolClick()">Enrol now</button>
              <br/>
              <a href="#" class="ml-2" (click)="onAlreadyEnrolledLinkClick($event)">Already enrolled in PRIME <mat-icon class="link_icon">arrow_forward</mat-icon></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="container mb-1">
          <div class="row">
            <div class="col-md-12 card">
              <img class="site_graphic"
                   src="/assets/site_registration.png"
                   alt="BC Services Card Icon">
              <div class="card-title">Site Registration</div>
              <div class="card-text">Clinical locations using PharmaNet must first be registered in PRIME. Start,
                continue, or
                update a site registration for a private community health practice, community pharmacy,
                or device provider.</div>
              <button mat-stroked-button
                      [disabled]="mode === 'health-authority'"
                      class="button"
                      (click)="onSiteRegistrationClick()">Continue</button>
              <br/>
              <a href="#" class="ml-2" (click)="onHealthAuthoritySiteRegistrationClick($event)">Register site for a health authority
                <mat-icon *ngIf="mode !== 'health-authority'" class="link_icon material-icons-outlined">add_box</mat-icon>
                <mat-icon *ngIf="mode === 'health-authority'" class="link_icon material-icons-outlined">indeterminate_check_box</mat-icon>
              </a>
              <div *ngIf="mode === 'health-authority'">
                <form [formGroup]="form"
                      novalidate
                      class="card-ha"
                      autocomplete="off">
                  <span class="passcode_label">Enter Passcode</span>
                  <br/>
                  <mat-form-field appearance="outline">
                    <input matInput
                           type="password"
                           class="passcode_input"
                           formControlName="passcode">
                    <mat-error *ngIf="passcode.hasError('required')">Required</mat-error>
                    <mat-error *ngIf="passcode.hasError('validPasscode')">Invalid Passcode</mat-error>
                  </mat-form-field>
                  <button mat-stroked-button
                          class="button"
                          (click)="onPasscodeSubmit()">Continue</button>
                  <button mat-stroked-button
                          class="button"
                          (click)="onPasscodeCancel()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-4">
        <div>
          <div class="graphic_container">
            <img class="graphic"
                 src="/assets/mobile_icon.svg"
                 alt="BC Services Card Icon">
          </div>
          <section class="content">
            <h2>BC Services Card App</h2>

            <p>
              Set up the BC Services Card app on a
              mobile device if you haven’t done so
              already. Once finished, come back to
              PRIME and complete your enrolment.
            </p>
            <a [href]="bcscMobileSetupUrl"
                   target="_blank"
                   class="underline"
                   rel="noopener noreferrer">
                  How to set up the BC Services Card app.
                </a>
            <br/>
            <br/>
            <h2>User Guides</h2>
            <p>
              Click here for
              <a class="underline" href="https://www2.gov.bc.ca/gov/content/health/practitioner-professional-resources/pharmacare/pharmanet-bc-s-drug-information-network/prime/prime-user-guides">PRIME user guides</a>
            </p>
          </section>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div>
          <div class="graphic_container">
            <img class="graphic"
                 src="/assets/individual_enrolment_icon.svg"
                 alt="BC Services Card Icon">
          </div>
          <section class="content">
            <h2>Individual Access</h2>
            <p>
              Complete your PRIME enrolment. It usually only take a few minutes. If you
              are a regulated health professional, you will need your BC college information
              (Licence number/ registration number/ CPSID/ PharmaNet Id) and next renewal date.
            </p>
            <h2>Enrolment Notification
              <app-contextual-help class="va_super"
                                   icon="info_outline">
                Once you are approved to use PharmaNet, you send the PRIME approval email to the person in your
                workplace who sets up PharmaNet accounts. They will get you connected to PharmaNet.
              </app-contextual-help>
            </h2>
            <p>
              Select this if you want to set up access to PharmaNet at a clinical setting (site) and are authorized by
              the
              responsible organization to register the site in PRIME
            </p>
          </section>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div>
          <div class="graphic_container">
            <img class="graphic"
                 src="/assets/site_registration_icon.svg"
                 alt="Enrolment Icon">
          </div>
          <section class="content">
            <h2>Site Registration</h2>
            <p>
              A person authorized by the organization to register sites. A person authorized by their health authority
              to register sites. If you have not been approved as an authorized user for site registration, you will be
              directed to request approval first.
            </p>
            <h2>What you need</h2>
            <p>
              Your BC Services Card app and the contact details for these people for your site:
            </p>

            <ul>
              <li>
                PharmaNet Administrator

                <app-contextual-help class="va_super"
                                     icon="info_outline">
                  Either directly sets up individual PharmaNet access accounts at a site or
                  has the authority to request accounts from the site's contracted PharmaNet software vendor. They
                  may,
                  for example, be the site’s office administrator, HR lead, medical office assistant (MOA), or
                  practitioner. This may be the software vendor.
                </app-contextual-help>
              </li>
              <li>
                Privacy Officer

                <app-contextual-help class="va_super"
                                     icon="info_outline">
                  Under privacy legislation (PIPA and FOIPPA), organizations holding or accessing
                  personal information must designate a Privacy Officer, who responds to privacy and information
                  management concerns on the organization’s behalf. In the event of a security breach, or concerns
                  with
                  how PharmaNet data is accessed or used at the site, the Privacy Officer will be asked to help with
                  investigations and provide critical information quickly.
                </app-contextual-help>
              </li>
              <li>
                Technical Support Contact

                <app-contextual-help class="va_super"
                                     icon="info_outline">
                  This individual may be either a staff person at the site, a corporate IT
                  resource, or an independent IT contractor. They will be contacted in the event of a
                  technology-related
                  issue (e.g., malware, problematic network traffic). They should familiar with: the practice's
                  network
                  structure, Internet connections in use at the site, the application(s) used to access PharmaNet at
                  the
                  site and security mechanisms such as firewalls and anti-virus measures (generally and at the site).
                </app-contextual-help>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>

    <div class="col-sm-12 support">
      <app-pill>
        <section>
          <h2>Get Support</h2>

          <p>
            Questions about PRIME should be directed to:
            <br>
            <app-prime-phone></app-prime-phone>
            <br>
            <app-prime-support-email></app-prime-support-email>
          </p>
        </section>
      </app-pill>

    </div>
  </div>
</div>
