@{
  var day = Model.AcceptedDate.ToString("dd");
  var month = Model.AcceptedDate.ToString("MMMM");
  var year = Model.AcceptedDate.ToString("yyyy");
}

<p class="text-center">
  This Agreement is made the @day day of @month, @year
</p>
