@{
  var day = Model.AgreementDate.ToString("dd");
  var month = Model.AgreementDate.ToString("MMMM");
  var year = Model.AgreementDate.ToString("yyyy");
}

<p class="text-center">
  This Agreement is made the @day day of @month, @year
</p>
