<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    @RenderSection("Title", true)
  </title>

  @RenderSection("Theme", required: true)

</head>
<body>

<div class="container">

  @RenderBody()

</div>

</body>
</html>
