<style>
  .signature-container {
    padding: 20px 0;
  }

  .signature {
    display: inline-block;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }
</style>

<div class="signature-container keep-together">

  <p>
    <strong>IN WITNESS WHEREOF</strong> Organization has caused this Agreement to be executed and delivered by its duly
    authorized representative, as of the date first written above.
  </p>

  <p>SIGNED AND DELIVERED by</p>

  <div class="signature">
    __________________________________<br>
    Name of person signing agreement
  </div>

  <p></p>

  <div class="signature">
    <br>
    <br>
    __________________________________<br>
    <br>
    On behalf of ORGANIZATION<br>
    in the presence of
  </div>

  <p></p>

  <div class="signature">
    <br>
    <br>
    <br>
    __________________________________<br>
    (Witness)
  </div>

  <div class="signature">
    <br>
    <br>
    <br>
    __________________________________<br>
    Signed for ORGANIZATION
  </div>

</div>
