<app-page>
  <app-page-header>{{ title }}</app-page-header>

  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <app-page-section>
    <app-page-subheader2 [showUnderline]="false">
      <ng-container appPageSubheader2Title>
        LDAP Information
      </ng-container>
    </app-page-subheader2>

    <p>Enter your LDAP information below</p>

    <form [formGroup]="form"
          (ngOnSubmit)="onSubmit()"
          novalidate>
      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="LDAP User Name"
                   formControlName="ldapUsername">
            <mat-error *ngIf="ldapUsername.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="LDAP Password"
                   formControlName="ldapPassword">
            <mat-error *ngIf="ldapPassword.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>
    </form>
  </app-page-section>
</app-page>
