<app-page>
  <app-page-header>{{ title }}</app-page-header>

  <app-gis-enrolment-progress-indicator [inProgress]="true"></app-gis-enrolment-progress-indicator>

  <app-page-section>
    <app-page-subheader2 [showUnderline]="false">
      <ng-container appPageSubheader2Title>
        LDAP Information
      </ng-container>
      <ng-container appPageSubheader2Summary>
        Enter your LDAP information below
      </ng-container>
    </app-page-subheader2>

    <form [formGroup]="formState.form"
          (ngSubmit)="onSubmit()"
          novalidate
          autocomplete="off">
      <div class="row">
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="LDAP User Name"
                   formControlName="ldapUsername">
            <mat-error *ngIf="formState.ldapUsername.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   type="password"
                   placeholder="LDAP Password"
                   formControlName="ldapPassword">
            <mat-error *ngIf="formState.ldapPassword.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
        <ng-container *ngIf="remainingAttempts > 0">
          <app-alert type="danger"
                     icon="error_outline">
            <ng-container #alertContent
                          class="alert-content">
              You have {{remainingAttempts}} attempts the next failed attempt will lock your account. Please wait
              {{lockoutTimeInHours}} hour(s) before trying again. If you think this is a mistake please contact Reg
              Admin at 999 999 9999
            </ng-container>
          </app-alert>
        </ng-container>
        <ng-container *ngIf="remainingAttempts === 0">
          <app-alert type="danger"
                     icon="error_outline">
            <ng-container #alertContent
                          class="alert-content">
              Your account is now locked due to too many failed login attempts. Please wait
              {{lockoutTimeInHours}} hour(s) before trying again. If you think this is a mistake please contact Reg
              Admin at 999 999 9999
            </ng-container>
          </app-alert>
        </ng-container>
        <div class="col-12 text-right">
          <button mat-button
                  type="button"
                  color="primary">Forgot your password?
          </button>
        </div>
      </div>
    </form>
  </app-page-section>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="true"
                   (back)="onBack()"
                   (save)="onSubmit()"></app-page-footer>
</app-page>
