<app-page [busy]="busy"
          mode="full">

  <ng-content select="app-page-header"></ng-content>

  <ng-content select="app-page-subheader"></ng-content>

  <app-search-form *ngIf="showSearchFilter"
                   [hideStatus]="true"
                   localStoragePrefix="site-reg"
                   (search)="onSearch($event)"
                   (filter)="onFilter($event)"
                   (refresh)="onRefresh()"></app-search-form>

  <app-site-registration-table *ngIf="busy.closed || dataSource?.data.length"
                               [dataSource]="dataSource"
                               (assign)="onAssign($event)"
                               (reassign)="onReassign($event)"
                               (notify)="onNotify($event)"
                               (route)="onRoute($event)"
                               (reload)="onRefresh()"></app-site-registration-table>

  <ng-container *ngIf="content">

    <div class="row">
      <div class="col py-5">

        <ng-container [ngTemplateOutlet]="content"
                      [ngTemplateOutletContext]="{ siteRegistration: dataSource?.data[0] }"></ng-container>

      </div>
      <div *ngIf="hasActions"
           class="col-auto py-5">

        <ng-container *ngIf="actions; else defaultActions">

          <ng-container [ngTemplateOutlet]="actions"
                        [ngTemplateOutletContext]="{ siteRegistration: dataSource?.data[0] }"></ng-container>

        </ng-container>

        <ng-template #defaultActions>

          <app-site-registration-actions [siteRegistration]="dataSource?.data[0]"
                                         (approve)="onApprove($event)"
                                         (decline)="onDecline($event)"
                                         (delete)="onDelete($event)"
                                         (escalate)="onEscalate($event)"
                                         (flag)="onToggleFlagSite($event)">
          </app-site-registration-actions>

          <ng-container [ngTemplateOutlet]="belowActions"
                        [ngTemplateOutletContext]="{ siteRegistration: dataSource?.data[0] }"></ng-container>

        </ng-template>

      </div>
    </div>

  </ng-container>

</app-page>
