<app-page>

  <app-collection-notice-container [isFull]="isFull"
                                   (accepted)="onAccept()">
    <p>
      The personal information you provide to the PRIME application is collected by the British Columbia Ministry of
      Health under the authority of s. 26(a) and 26(c) of the Freedom of Information and Protection of Privacy Act
      (FOIPPA) and s. 22(1)(b) of the Pharmaceutical Services Act for the purpose of managing your access to, and use
      of, PharmaNet. If you have any questions about the collection or use of this information, call
    </p>
    <p>
      <strong>Director, Information and PharmaNet Innovation at <app-prime-phone phoneNumber="director"></app-prime-phone> or <app-prime-support-email></app-prime-support-email>.</strong>
    </p>
  </app-collection-notice-container>

</app-page>
