<app-page>

  <app-collection-notice-container [isFull]="isFull"
                                   (accepted)="onAccept()">
    <p>
      The personal information you provide to enrol for access to the Special Authority e-Forms application is collected
      by the British Columbia Ministry of Health under the authority of s. 26(a) and 26(c) of the Freedom of Information
      and Protection of Privacy Act (FOIPPA) and s. 22(1)(b) of the Pharmaceutical Services Act for the purpose of
      managing your access to, and use of, the Special Authority e-Forms application. If you have any questions about
      the collection or use of this information, contact
      <a href="mailto:satransformation@gov.bc.ca">satransformation@gov.bc.ca</a>
    </p>
  </app-collection-notice-container>

</app-page>
