<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-1 offset-xl-0 app-print-layout">

      <app-page-header>Enrolment Summary</app-page-header>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>PRIME Enrolment Details</ng-container>
        <ng-container appPageSubheaderSummary>
          This page contains your PharmaNet ID. You will need to provide this ID to any administrator or vendor who is
          setting up your PharmaNet access account. This ID will be recorded on all your PharmaNet transactions.
        </ng-container>
      </app-page-subheader>

      <ng-container *ngIf="enrolment">

        <dl class="row mb-4">
          <dt class="col-6">Name</dt>
          <dd class="col-6 text-right">{{ enrolment | enrolment: 'fullName' | default }}</dd>

          <ng-container *ngIf="hasPreferredName">
            <dt class="col-6">Preferred First Name</dt>
            <dd class="col-6 text-right">{{ enrollee?.preferredFirstName | default }}</dd>
            <dt class="col-6">Preferred Middle Name</dt>
            <dd class="col-6 text-right">{{ enrollee?.preferredMiddleName | default }}</dd>
            <dt class="col-6">Preferred Last Name</dt>
            <dd class="col-6 text-right">{{ enrollee?.preferredLastName | default }}</dd>
          </ng-container>

          <dt class="col-6">Date of Birth</dt>
          <dd class="col-6 text-right">{{ enrollee?.dateOfBirth | formatDate | default }}</dd>
        </dl>

        <div class="font-italic mb-3">Address</div>

        <dl class="row mb-4">
          <dt class="col-6">Country</dt>
          <dd class="col-6 text-right">
            {{ enrolment.enrollee.physicalAddress.countryCode | configCode: 'countries' | default }}
          </dd>
          <dt class="col-6">Province</dt>
          <dd class="col-6 text-right">
            {{ enrolment.enrollee.physicalAddress.provinceCode | configCode: 'provinces' | default }}
          </dd>
          <dt class="col-6">Street Address</dt>
          <dd class="col-6 text-right">{{ enrolment.enrollee.physicalAddress.street | default }}</dd>
          <ng-container *ngIf="enrolment.enrollee.physicalAddress.street2">
            <dt class="col-6">Street Address 2</dt>
            <dd class="col-6 text-right">{{ enrolment.enrollee.physicalAddress.street2 | default }}</dd>
          </ng-container>
          <dt class="col-6">City</dt>
          <dd class="col-6 text-right">{{ enrolment.enrollee.physicalAddress.city | default }}</dd>
          <dt class="col-6">Postal Code</dt>
          <dd class="col-6 text-right">{{ enrolment.enrollee.physicalAddress.postal | postal | default }}</dd>
        </dl>

        <dl class="row mb-4">
          <dt class="col-6">PharmaNet ID</dt>
          <dd class="col-6 text-right">{{ enrolment.enrollee.licensePlate | default }}</dd>
        </dl>

        <app-page-subheader>
          <ng-container appPageSubheaderTitle>Provisioner Links</ng-container>
          <ng-container appPageSubheaderSummary>
            Generate provisioner links to facilitate your access into PharmaNet.
          </ng-container>
        </app-page-subheader>

        <div class="text-right mb-3">

          <button mat-flat-button
                  color="primary"
                  (click)="generateProvisionerLink()">
            <mat-icon class="add-icon">add</mat-icon>
            Generate Provisioner Link
          </button>

        </div>

        <div *ngIf="tokens?.length"
             class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Provisioner ID</th>
                <th scope="col">Active</th>
                <th scope="col">Views</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let token of tokens">
                <td>{{ token.id }}</td>
                <td>{{ showYesNo(token.active) }}</td>
                <td>{{ token.viewCount }}</td>
                <td>
                  <app-clipboard-icon [content]="getTokenUrl(token.id)"></app-clipboard-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </ng-container>

    </div>
  </div>

</app-busy-overlay>
