<app-page [busy]="busy"
          mode="full">

  <app-page-header>Site Registrations</app-page-header>



  <div *ngIf="showSearchFilter"
       class="row justify-content-end">
    <div class="col text-right">
      <div class="row">
        <div class="col text-right pr-0">

          <app-search-form (search)="onSearch($event)"></app-search-form>

        </div>
        <div class="col-auto">

          <div class="d-flex align-items-center pb-3 refresh">
            <button class=""
                    mat-icon-button
                    matTooltip="Refresh the list of registrations"
                    (click)="onRefresh()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <app-site-table *ngIf="busy.closed || dataSource.data.length"
                  [dataSource]="dataSource"
                  (delete)="onDelete($event)"
                  (route)="onRoute($event)"></app-site-table>

  <ng-container *ngIf="content">

    <div class="row">
      <div class="col py-5">

        <ng-container [ngTemplateOutlet]="content"
                      [ngTemplateOutletContext]="{ enrollee: dataSource?.data[0] }"></ng-container>

      </div>

    </div>

  </ng-container>

</app-page>
