<div class="container">
  <div class="row">
    <div class="col py-4">

      <h1 class="h2 mb-4">Application Enrolment</h1>

      <app-sub-header subheader="Application Review"
                      help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

      <div class="row">
        <div class="col-sm-6">

          <app-sub-header subheader="Profile"></app-sub-header>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Name</div>
            <div class="col-sm-12 col-md-6 py-1">Martin Tudor Pultz</div>
            <div class="col-sm-12 col-md-6 py-1">Preferred Name</div>
            <div class="col-sm-12 col-md-6 py-1">Martin Tudor Pultz</div>
            <div class="col-sm-12 col-md-6 py-1">Date of Birth</div>
            <div class="col-sm-12 col-md-6 py-1">Sept. 22, 1977</div>
          </div>

          <h3 class="lead">Address</h3>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Country</div>
            <div class="col-sm-12 col-md-6 py-1">Canada</div>
            <div class="col-sm-12 col-md-6 py-1">Province</div>
            <div class="col-sm-12 col-md-6 py-1">British Columbia</div>
            <div class="col-sm-12 col-md-6 py-1">Street Address</div>
            <div class="col-sm-12 col-md-6 py-1">140 Beach Dr.</div>
            <div class="col-sm-12 col-md-6 py-1">City</div>
            <div class="col-sm-12 col-md-6 py-1">Victoria</div>
            <div class="col-sm-12 col-md-6 py-1">Postal Code</div>
            <div class="col-sm-12 col-md-6 py-1">M4E 2B6</div>
          </div>

          <h3 class="lead">Mailing Address</h3>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Country</div>
            <div class="col-sm-12 col-md-6 py-1">Canada</div>
            <div class="col-sm-12 col-md-6 py-1">Province</div>
            <div class="col-sm-12 col-md-6 py-1">British Columbia</div>
            <div class="col-sm-12 col-md-6 py-1">Street Address</div>
            <div class="col-sm-12 col-md-6 py-1">140 Beach Dr.</div>
            <div class="col-sm-12 col-md-6 py-1">City</div>
            <div class="col-sm-12 col-md-6 py-1">Victoria</div>
            <div class="col-sm-12 col-md-6 py-1">Postal Code</div>
            <div class="col-sm-12 col-md-6 py-1">M4E 2B6</div>
          </div>

          <app-sub-header subheader="Contact"></app-sub-header>

          <h3 class="lead">Voice Contact</h3>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Voice Phone</div>
            <div class="col-sm-12 col-md-6 py-1">(433) 432-2135</div>
            <div class="col-sm-12 col-md-6 py-1">Extension</div>
            <div class="col-sm-12 col-md-6 py-1">348</div>
          </div>

          <h3 class="lead">Preferred Contact</h3>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Phone</div>
            <div class="col-sm-12 col-md-6 py-1">(322) 433-2443</div>
            <div class="col-sm-12 col-md-6 py-1">Email</div>
            <div class="col-sm-12 col-md-6 py-1">mtpultz@gmail.com</div>
          </div>

          <app-sub-header subheader="Self Declaration"></app-sub-header>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">
              Have you ever been the subject of an order or a conviction for an information contravention?
            </div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Details</div>
            <div class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
              praesentium facere repellat, omnis tempore.</div>
            <div class="col-sm-12 col-md-6 py-1">Documents</div>
            <div class="col-sm-12 col-md-6 py-1">document.pdf</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">
              Have you ever been the subject of an order or a conviction for an information contravention?
            </div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Details</div>
            <div class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
              praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</div>
            <div class="col-sm-12 col-md-6 py-1">Documents</div>
            <div class="col-sm-12 col-md-6 py-1">document.pdf</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">
              Have you ever had Terms and Conditions imposed on your license as a result of disciplinary actions taken
              by a governing body?
            </div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Details</div>
            <div class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
              praesentium facere.</div>
            <div class="col-sm-12 col-md-6 py-1">Documents</div>
            <div class="col-sm-12 col-md-6 py-1">document.pdf</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">
              Have you ever had Terms and Conditions imposed on your license as a result of disciplinary actions taken
              by a governing body?
            </div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Details</div>
            <div class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
              praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</div>
            <div class="col-sm-12 col-md-6 py-1">Documents</div>
            <div class="col-sm-12 col-md-6 py-1">document.pdf</div>
          </div>

        </div>
        <div class="col-sm-6">

          <app-sub-header subheader="Professional Information"></app-sub-header>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Do you have a college certification?</div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Details</div>
            <div class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
              praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</div>
            <div class="col-sm-12 col-md-6 py-1">Documents</div>
            <div class="col-sm-12 col-md-6 py-1">document.pdf</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Are you a device provider?</div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Device Provider Number</div>
            <div class="col-sm-12 col-md-6 py-1">4849937793</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Are you an insulin pump provider?</div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Are you accessing PharmNet on behalf of someone else?</div>
            <div class="col-sm-12 col-md-6 py-1">Yes</div>
            <div class="col-sm-12 col-md-6 py-1">Job Title</div>
            <div class="col-sm-12 col-md-6 py-1">
              <ul class="list-unstyled">
                <li>Medical Office Assitant</li>
                <li>Pharmacy Technician</li>
                <li>Registration Clerk</li>
                <li>Pharmacy Assitant</li>
              </ul>
            </div>
          </div>

          <app-sub-header subheader="PharmaNet Access"></app-sub-header>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Organization Name</div>
            <div class="col-sm-12 col-md-6 py-1">Vancouver Island Health</div>
            <div class="col-sm-12 col-md-6 py-1">Organization Type</div>
            <div class="col-sm-12 col-md-6 py-1">Health Authority</div>
            <div class="col-sm-12 col-md-6 py-1">City</div>
            <div class="col-sm-12 col-md-6 py-1">Victoria</div>
            <div class="col-sm-12 col-md-6 py-1">Start Date</div>
            <div class="col-sm-12 col-md-6 py-1">Oct. 5, 2019</div>
            <div class="col-sm-12 col-md-6 py-1">End Date</div>
            <div class="col-sm-12 col-md-6 py-1">Nov. 25, 2019</div>
          </div>

          <div class="row mb-4">
            <div class="col-sm-12 col-md-6 py-1">Organization Name</div>
            <div class="col-sm-12 col-md-6 py-1">Shopper's Drug Mart</div>
            <div class="col-sm-12 col-md-6 py-1">Organization Type</div>
            <div class="col-sm-12 col-md-6 py-1">Pharmacy</div>
            <div class="col-sm-12 col-md-6 py-1">City</div>
            <div class="col-sm-12 col-md-6 py-1">Victoria</div>
            <div class="col-sm-12 col-md-6 py-1">Start Date</div>
            <div class="col-sm-12 col-md-6 py-1">Nov. 15, 2019</div>
            <div class="col-sm-12 col-md-6 py-1">End Date</div>
            <div class="col-sm-12 col-md-6 py-1">Dec. 30, 2019</div>
          </div>

        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col pt-2">

          <button mat-raised-button
                  type="button"
                  color="primary"
                  routerLink="../access">Back</button>

        </div>
        <div class="col pt-2 text-right">

          <button mat-raised-button
                  color="primary">Save and Continue</button>

        </div>
      </div>

    </div>
  </div>
</div>
