<div class="container">
  <div class="row">
    <div class="col py-4">

      <h1 class="h2 mb-4">Application Enrolment</h1>

      <app-sub-header subheader="Application Review"
                      help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

      <div class="row">
        <div class="col-sm-6">

          <app-sub-header subheader="Profile"></app-sub-header>

          <app-sub-header subheader="Contact"></app-sub-header>

          <app-sub-header subheader="Self Declaration"></app-sub-header>

        </div>
        <div class="col-sm-6">

          <app-sub-header subheader="Professional Information"></app-sub-header>

          <app-sub-header subheader="PharmaNet Access"></app-sub-header>

        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col">

          <button mat-raised-button
                  color="primary"
                  routerLink="../access">Back</button>

        </div>
        <div class="col">

          <button mat-raised-button
                  color="primary"
                  class="float-right">Submit</button>

        </div>
      </div>

    </div>
  </div>
</div>
