<div>

  <h1 class="h2 mb-4">Application Enrolment</h1>

  <app-sub-header subheader="Application Review"
                  help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

  <div class="row">
    <div class="col-sm-6">

      <app-sub-header subheader="Enrollee">
        <mat-icon (click)="route('profile')">edit</mat-icon>
      </app-sub-header>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6">Name</dt>
        <dd class="col-sm-12 col-md-6">Martin Tudor Pultz</dd>
        <dt class="col-sm-12 col-md-6">Preferred Name</dt>
        <dd class="col-sm-12 col-md-6">Martin Tudor Pultz</dd>
        <dt class="col-sm-12 col-md-6">Date of Birth</dt>
        <dd class="col-sm-12 col-md-6">Sept. 22, 1977</dd>
      </dl>

      <h3 class="lead">Address</h3>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Country</dt>
        <dd class="col-sm-12 col-md-6 py-1">Canada</dd>
        <dt class="col-sm-12 col-md-6 py-1">Province</dt>
        <dd class="col-sm-12 col-md-6 py-1">British Columbia</dd>
        <dt class="col-sm-12 col-md-6 py-1">Street Address</dt>
        <dd class="col-sm-12 col-md-6 py-1">140 Beach Dr.</dd>
        <dt class="col-sm-12 col-md-6 py-1">City</dt>
        <dd class="col-sm-12 col-md-6 py-1">Victoria</dd>
        <dt class="col-sm-12 col-md-6 py-1">Postal Code</dt>
        <dd class="col-sm-12 col-md-6 py-1">M4E 2B6</dd>
      </dl>

      <h3 class="lead">Mailing Address</h3>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Country</dt>
        <dd class="col-sm-12 col-md-6 py-1">Canada</dd>
        <dt class="col-sm-12 col-md-6 py-1">Province</dt>
        <dd class="col-sm-12 col-md-6 py-1">British Columbia</dd>
        <dt class="col-sm-12 col-md-6 py-1">Street Address</dt>
        <dd class="col-sm-12 col-md-6 py-1">140 Beach Dr.</dd>
        <dt class="col-sm-12 col-md-6 py-1">City</dt>
        <dd class="col-sm-12 col-md-6 py-1">Victoria</dd>
        <dt class="col-sm-12 col-md-6 py-1">Postal Code</dt>
        <dd class="col-sm-12 col-md-6 py-1">M4E 2B6</dd>
      </dl>

      <app-sub-header subheader="Contact">
        <mat-icon (click)="route('contact')">edit</mat-icon>
      </app-sub-header>

      <h3 class="lead">Voice Contact</h3>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Voice Phone</dt>
        <dd class="col-sm-12 col-md-6 py-1">(433) 432-2135</dd>
        <dt class="col-sm-12 col-md-6 py-1">Extension</dt>
        <dd class="col-sm-12 col-md-6 py-1">348</dd>
      </dl>

      <h3 class="lead">Preferred Contact</h3>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Phone</dt>
        <dd class="col-sm-12 col-md-6 py-1">(322) 433-2443</dd>
        <dt class="col-sm-12 col-md-6 py-1">Email</dt>
        <dd class="col-sm-12 col-md-6 py-1">mtpultz@gmail.com</dd>
      </dl>

      <app-sub-header subheader="Self Declaration">
        <mat-icon (click)="route('declaration')">edit</mat-icon>
      </app-sub-header>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">
          Have you ever been the subject of an order or a conviction for an information contravention?
        </dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Details</dt>
        <dd class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
          praesentium facere repellat, omnis tempore.</dd>
        <dt class="col-sm-12 col-md-6 py-1">Documents</dt>
        <dd class="col-sm-12 col-md-6 py-1">document.pdf</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">
          Have you ever been the subject of an order or a conviction for an information contravention?
        </dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Details</dt>
        <dd class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
          praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</dd>
        <dt class="col-sm-12 col-md-6 py-1">Documents</dt>
        <dd class="col-sm-12 col-md-6 py-1">document.pdf</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">
          Have you ever had Terms and Conditions imposed on your license as a result of disciplinary actions taken
          by a governing body?
        </dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Details</dt>
        <dd class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
          praesentium facere.</dd>
        <dt class="col-sm-12 col-md-6 py-1">Documents</dt>
        <dd class="col-sm-12 col-md-6 py-1">document.pdf</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">
          Have you ever had Terms and Conditions imposed on your license as a result of disciplinary actions taken
          by a governing body?
        </dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Details</dt>
        <dd class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
          praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</dd>
        <dt class="col-sm-12 col-md-6 py-1">Documents</dt>
        <dd class="col-sm-12 col-md-6 py-1">document.pdf</dd>
      </dl>

    </div>
    <div class="col-sm-6">

      <app-sub-header subheader="Professional Information">
        <mat-icon (click)="route('professional')">edit</mat-icon>
      </app-sub-header>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Do you have a college certification?</dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Details</dt>
        <dd class="col-sm-12 col-md-6 py-1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, eaque
          praesentium facere repellat, omnis tempore cumque corrupti quod nihil quidem quas perspiciatis.</dd>
        <dt class="col-sm-12 col-md-6 py-1">Documents</dt>
        <dd class="col-sm-12 col-md-6 py-1">document.pdf</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Are you a device provider?</dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Device Provider Number</dt>
        <dd class="col-sm-12 col-md-6 py-1">4849937793</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Are you an insulin pump provider?</dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Are you accessing PharmNet on behalf of someone else?</dt>
        <dd class="col-sm-12 col-md-6 py-1">Yes</dd>
        <dt class="col-sm-12 col-md-6 py-1">Job Title</dt>
        <dd class="col-sm-12 col-md-6 py-1">
          <ul class="list-unstyled">
            <li>Medical Office Assitant</li>
            <li>Pharmacy Technician</li>
            <li>Registration Clerk</li>
            <li>Pharmacy Assitant</li>
          </ul>
        </dd>
      </dl>

      <app-sub-header subheader="PharmaNet Access">
        <mat-icon (click)="route('access')">edit</mat-icon>
      </app-sub-header>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Organization Name</dt>
        <dd class="col-sm-12 col-md-6 py-1">Vancouver Island Health</dd>
        <dt class="col-sm-12 col-md-6 py-1">Organization Type</dt>
        <dd class="col-sm-12 col-md-6 py-1">Health Authority</dd>
        <dt class="col-sm-12 col-md-6 py-1">City</dt>
        <dd class="col-sm-12 col-md-6 py-1">Victoria</dd>
        <dt class="col-sm-12 col-md-6 py-1">Start Date</dt>
        <dd class="col-sm-12 col-md-6 py-1">Oct. 5, 2019</dd>
        <dt class="col-sm-12 col-md-6 py-1">End Date</dt>
        <dd class="col-sm-12 col-md-6 py-1">Nov. 25, 2019</dd>
      </dl>

      <dl class="row mb-4">
        <dt class="col-sm-12 col-md-6 py-1">Organization Name</dt>
        <dd class="col-sm-12 col-md-6 py-1">Shopper's Drug Mart</dd>
        <dt class="col-sm-12 col-md-6 py-1">Organization Type</dt>
        <dd class="col-sm-12 col-md-6 py-1">Pharmacy</dd>
        <dt class="col-sm-12 col-md-6 py-1">City</dt>
        <dd class="col-sm-12 col-md-6 py-1">Victoria</dd>
        <dt class="col-sm-12 col-md-6 py-1">Start Date</dt>
        <dd class="col-sm-12 col-md-6 py-1">Nov. 15, 2019</dd>
        <dt class="col-sm-12 col-md-6 py-1">End Date</dt>
        <dd class="col-sm-12 col-md-6 py-1">Dec. 30, 2019</dd>
      </dl>

    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col pt-2">

      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="../access">Back</button>

    </div>
    <div class="col pt-2 text-right">

      <button mat-raised-button
              color="primary">Save and Continue</button>

    </div>
  </div>

</div>
