<app-page [busy]="{busy, message: NG_BUSY_SUBMISSION_MESSAGE}">
  <app-page-header>Enrol for access to PHSA eForms</app-page-header>
  <app-phsa-eforms-progress-indicator [noContent]="true"></app-phsa-eforms-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">
      <div *ngIf="showProgress; else results"
           class="mb-5">
        <app-page-subheader>
          <ng-container appPageSubheaderTitle>System Check</ng-container>
          <ng-container appPageSubheaderSummary>
            We are locating what access you qualify for.
          </ng-container>
        </app-page-subheader>

        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <ng-template #results>
        <ng-container *ngIf="availablePartyTypes?.length; else notFound">
          <app-page-subheader>
            <ng-container appPageSubheaderSummary>
              You qualify for the following access. Confirm required access by selecting below:
            </ng-container>
          </app-page-subheader>

          <div *ngFor="let partyType of availablePartyTypes; let i = index"
               formArrayName="partyTypes"
               class="mb-3">
            <mat-checkbox [formControlName]="i">
              <div class="pl-3">
                {{ partyType | partyType }}
              </div>
            </mat-checkbox>
          </div>

          <app-alert *ngIf="hasNoRoleError"
                     type="danger"
                     icon="warning">
            <ng-container #alertContent
                          class="alert-content">
              At least one role must be chosen
            </ng-container>
          </app-alert>
        </ng-container>

        <ng-template #notFound>
          <app-alert type="danger">
            <ng-container #alertTitle
                          class="alert-title"
                          icon="warning">
              We did not find you
            </ng-container>
            <ng-container #alertContent
                          class="alert-content">
              Follow next steps
            </ng-container>
          </app-alert>

          <app-page-subheader>
            <ng-container appPageSubheaderTitle>Next Steps</ng-container>
            <ng-container appPageSubheaderSummary>
              It does not appear you are able to enrol for this role. Contact your manager
              at your Health Authority if you believe you are receiving this message in error.
            </ng-container>
          </app-page-subheader>
        </ng-template>

      </ng-template>
    </section>

  </form>

  <app-page-footer primaryActionLabel="Submit"
                   [disableSave]="!availablePartyTypes?.length"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>
</app-page>
