<section *ngIf="selfDeclarationComposites?.length"
         class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Self-Declaration</ng-container>

    <ng-content select="[mat-icon-button]"
                ngProjectAs="[mat-icon-button]"></ng-content>
  </app-page-subheader>

  <app-alert *ngIf="this.enrolment.requireRedoSelfDeclaration && !isAdjudication()"
             type="danger"
             icon="error">
    <ng-container #alertContent
                  class="alert-content">
      Self Declaration has been updated. Please answer the updated questions.
    </ng-container>
  </app-alert>

  <div *ngIf="this.showDescription"
       class="mb-4">
    In these Self Declaration Questions, “unlawful or improper action” means any of the following actions taken by
    you or a by a person for which you were responsible:
    <ol ngClass="itemList">
      <li>
        unlawful or improper access to personal information;
      </li>
      <li>
        unlawful or improper collection, retention, use or disclosure of personal information.
      </li>
    </ol>
    “Improper” actions include actions:
    <ol ngClass="itemList"
        start="3">
      <li>
        that are contrary to the published privacy policies of the organization responsible for the personal
        information; or
      </li>
      <li>
        that the individual the information is about would reasonably consider to be an improper use of their
        personal information in the circumstances.
      </li>
    </ol>
  </div>

  <div *ngFor="let selfDeclarationComposite of selfDeclarationComposites"
       class="mb-3">

    <app-enrollee-property [safeTitle]="selfDeclarationComposite.selfDeclarationQuestion"
                           [makeBold]="false">
      {{ selfDeclarationComposite.selfDeclaration?.answered | yesNo: true }}
    </app-enrollee-property>

    <app-enrollee-property *ngIf="selfDeclarationComposite.selfDeclaration?.answered"
                           title="Description"
                           [makeBold]="false">
      {{ selfDeclarationComposite.selfDeclaration.selfDeclarationDetails }}
    </app-enrollee-property>

    <div *ngIf="selfDeclarationComposite.selfDeclaration?.answered">
      <button *ngFor="let selfDeclarationDocument of selfDeclarationComposite.selfDeclarationDocuments"
              mat-stroked-button
              color="primary"
              class="pl-2 mb-2 mt-2"
              (click)="downloadSelfDeclarationDocument(selfDeclarationDocument.id)">
        <mat-icon class="mr-1">attachment</mat-icon>
        {{ selfDeclarationDocument.filename }}
      </button>
    </div>
  </div>

  <button *ngIf="showRedirect"
          mat-flat-button
          color="primary"
          (click)="onRoute(redirectRoutePath)">Edit Self-Declaration
  </button>
</section>
