<div class="row justify-content-between">
  <div *ngIf="(hasInitialStatus && hasSecondaryAction) || !hasInitialStatus"
       class="col pt-2">

    <button mat-stroked-button
            type="button"
            (click)="onSecondaryAction()">
      {{ secondaryActionButtonLabel }}
    </button>

  </div>
  <div class="col pt-2 text-right">

    <button mat-raised-button
            type="button"
            color="primary"
            (click)="onSave()">
      {{ saveButtonLabel }}
    </button>

  </div>
</div>
