<ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

<ng-container *ngIf="accessTerm?.globalClause?.clause">
  <ng-template appPageRef>
    <app-global-clause [clause]="accessTerm?.globalClause"></app-global-clause>
  </ng-template>
</ng-container>

<ng-container *ngIf="accessTerm?.userClause?.clause">
  <ng-template appPageRef>
    <app-user-clause [clause]="accessTerm?.userClause"></app-user-clause>
  </ng-template>
</ng-container>

<ng-container *ngIf="accessTerm?.licenseClassClauses?.length">
  <ng-template appPageRef>
    <app-licence-class-clause [clauses]="accessTerm?.licenseClassClauses"></app-licence-class-clause>
  </ng-template>
</ng-container>

<ng-container *ngIf="accessTerm?.limitsConditionsClause?.clause">
  <ng-template appPageRef>
    <app-limits-and-conditions-clause [clause]="accessTerm?.limitsConditionsClause">
    </app-limits-and-conditions-clause>
  </ng-template>
</ng-container>
