<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <app-page-subheader2>
    <ng-container appPageSubheader2Title>{{ title }}</ng-container>
    <ng-container appPageSubheader2Summary>
      Scan and upload.
    </ng-container>
  </app-page-subheader2>

  <app-document-upload componentName="business-licence"
                       additionalApiSuffix="business-licence"
                       [multiple]="false"
                       (completed)="onUpload($event)">
  </app-document-upload>

  <app-alert *ngIf="hasNoBusinessLicenceError"
             type="danger"
             icon="warning">
    <ng-container #alertContent
                  class="alert-content">
      No business licence has been uploaded.
    </ng-container>
  </app-alert>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
