<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"
                               [currentRoute]="SiteRoutes.BUSINESS_LICENCE"></app-site-progress-indicator>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>{{ title }}</ng-container>
    <ng-container appPageSubheaderSummary>
      Scan and upload.
    </ng-container>
  </app-page-subheader>

  <file-pond #filePond
             [options]="filePondOptions"
             [files]="filePondFiles"
             (oninit)="onFilePondInit()"
             (onaddfile)="onFilePondAddFile($event)">
  </file-pond>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
