.scannerwork
documentation/~$PRIME Test Cases and Results.xlsx

# SonarQube
.sonarqube/
BuildReports/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
