.scannerwork
documentation/~$PRIME Test Cases and Results.xlsx

# SonarQube
.sonarqube/
BuildReports/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

poc/prime-winforms-poc/WinformsGpidPoc/packages/

poc/prime-winforms-poc/WinformsGpidPoc/WinformsGpidPoc/bin/

poc/prime-winforms-poc/WinformsGpidPoc/WinformsGpidPoc/obj/
