.scannerwork
documentation/~$PRIME Test Cases and Results.xlsx

# SonarQube
.sonarqube/
BuildReports/

# IntelliJ
/.idea
*.DotSettings.user

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env

# Ignore test coverage files and directories
**/**/coverage
**/lcov.info
**/coverage.cobertura.xml 
