version: "3"

services:
######################################################### Sign-in #
  dotnet-webapi:
    container_name: primeapi
    restart: always
    build:
      context: prime-dotnet-webapi/
    environment:
      DB_CONNECTION_STRING: "host=postgres;port=5432;database=postgres;username=postgres;password=postgres"      
      JWT_SIGNING_KEY: "SdqlA0Y5e6HMAK1wm6iHHHz2u37XGtlo"      
      ASPNETCORE_HTTPS_PORT: "5001"
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      DOTNET_CLI_HOME: "/tmp/DOTNET_CLI_HOME"
    ports:
      - "5000:8080"
      - "5001:5001"
    networks:
      - primenet
    depends_on:
      - postgres
######################################################### Database #
  postgres:
    restart: always
    container_name: primedb
    image: postgres:9.6
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
    networks:
      - primenet
###################################################### Web Frontend #
  nginx-angular:
    container_name: primeweb
    build:
        context: prime-angular-frontend/
    command: "nginx -g 'daemon off;'"
    restart: always
    ports:
      - "8080:8080"
      - "4200:8080"
    expose:
      - "8080"
      - "4200"
    networks:
      - primenet
################################################# Local SMTP Server #
  mailhog:
    container_name: mailhog
    restart: always
    image: mailhog/mailhog:latest
    ports:
      - 1025:1025
      - 8025:8025 # visit localhost:8025 to see the list of captured emails
    networks:
      - primenet

volumes:
  local_postgres_data: 

networks:
  primenet:
    driver: bridge