version: "3"

services:
######################################################### Database #
  postgres:
    restart: always
    container_name: primedb
    image: postgres:10.6
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
    networks:
      - primenet
######################################################### Sign-in #
  dotnet-webapi:
    container_name: primeapi
    restart: always
    build:
      context: prime-dotnet-webapi/
    environment:
      DB_CONNECTION_STRING: "host=postgres;port=5432;database=postgres;username=postgres;password=postgres"
      JWT_SIGNING_KEY: "SdqlA0Y5e6HMAK1wm6iHHHz2u37XGtlo"
      ASPNETCORE_HTTPS_PORT: "5001"
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      DOTNET_CLI_HOME: "/tmp/DOTNET_CLI_HOME"
    ports:
      - "5000:8080"
      - "5001:5001"
    networks:
      - primenet
    depends_on:
      - postgres
###################################################### Web Frontend #
  nginx-angular:
    container_name: primeweb
    build:
         context: prime-angular-frontend/
    command: "nginx -g 'daemon off;'"
    restart: always
    ports:
       - "8080:8080"
       - "4200:8080"
    expose:
       - "8080"
       - "4200"
    networks:
      - primenet
    depends_on:
      - dotnet-webapi
################################################# Local SMTP Server #
  mailhog:
    container_name: mailhog
    restart: always
    image: mailhog/mailhog:latest
    ports:
      - 25:1025 
######################################################### Sign-in #
  schema-spy:
    container_name: schema-spy
    build:
      context: schemaspy/
    image: openjdk:jre-alpine
    ports:
      - "8069:8069"
      - "80:8069"
    depends_on:
      - postgres
    networks:
      - primenet
######################################################### Sign-in #
  backup:
    container_name: backup
    build:
      context: prime-database-backup
    ports:
      - "6432:5432"
    depends_on:
      - postgres    
    volumes:
      - backup_postgres_data:/opt/backup
      - local_postgres_data:/var/lib/postgresql/data
    networks:
      - primenet
volumes:
  local_postgres_data:
  backup_postgres_data:

networks:
  primenet:
    driver: bridge
