version: "3"

services:
######################################################### Database #
  postgres:
    restart: always
    container_name: primedb
    image: postgres:10.6
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_DB: postgres
    ports:
      - 6432:5432
    volumes:
      - local_postgres_data:/var/lib/postgresql/data
    networks:
      - primenet
########################################################## MongoDB #
  mongo:
    restart: always
    container_name: primemongodb
    image: mongo:3
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: prime
    ports:
      - 27017:27017
    volumes:
      - local_mongodb_data:/var/lib/mongodb/data
    networks:
      - primenet
############################################################## API #
  dotnet-webapi:
    container_name: primeapi
    restart: always
    build:
      context: prime-dotnet-webapi/
    environment:
      DB_CONNECTION_STRING: "host=postgres;port=5432;database=postgres;username=postgres;password=postgres"
      JWT_SIGNING_KEY: "SdqlA0Y5e6HMAK1wm6iHHHz2u37XGtlo"
      ASPNETCORE_HTTPS_PORT: "5001"
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:8080"
      DOTNET_CLI_HOME: "/tmp/DOTNET_CLI_HOME"
    ports:
      - "7777:8080"
      - "5001:5001"
    networks:
      - primenet
    depends_on:
      - postgres
##################################################### Web Frontend #
  nginx-angular:
    container_name: primeweb
    build:
         context: prime-angular-frontend/
    command: "nginx -g 'daemon off;'"
    restart: always
    ports:
       - 8888:8888
    expose:
       - "8888"
    networks:
      - primenet
    depends_on:
      - dotnet-webapi
################################################ Local SMTP Server #
#  mailhog:
#    container_name: mailhog
#    restart: always
#    image: mailhog/mailhog:latest
#    ports:
#      - 25:1025
#      - 1025:1025
#      - 8025:8025 # visit localhost:8025 to see the list of captured emails
#    networks:
#      - primenet
############################################## Database Inspection #
#  schema-spy:
#    container_name: schema-spy
#    build:
#      context: schemaspy/
#    image: openjdk:jre-alpine
#    ports:
#      - "8069:8069"
#      - "80:8069"
#    depends_on:
#      - postgres
#    networks:
#      - primenet
########################################################### Backup #
#  backup:
#    container_name: backup
#    build:
#      context: prime-database-backup
#    depends_on:
#      - postgres
#      - mongo
#    volumes:
#      - db_backup_data:/opt/backup
#      - local_postgres_data:/var/lib/postgresql/data
#    networks:
#      - primenet
####################### DOCUMENT_MANAGER_BACKEND Definition #######################
  document_manager_backend:
    restart: always
    container_name: document_manager_backend
    build:
      context: document-manager/backend
    ports:
      - 6001:5001
    volumes:
      - ./document-manager/backend/:/app/
    env_file: ./document-manager/backend/.env-prime
    networks:
      - primenet

  document_manager_migrate:
    restart: on-failure
    container_name: document_manager_migrate
    build:
      context: document-manager/backend
    volumes:
      - ./document-manager/backend/:/app/
    command: flask db upgrade
    env_file: ./document-manager/backend/.env-prime
    networks:
      - primenet

  redis:
    image: redis:3.2-alpine
    container_name: prime_cache
    restart: always
    command: redis-server --requirepass redis-password
    ports:
      - "6379:6379"
    networks:
      - primenet

volumes:
  local_postgres_data:
  local_mongodb_data:
  db_backup_data:
  
networks:
  primenet:
    driver: bridge
