KEYCLOAK_CLIENT_ID=prime-application-dev
KEYCLOAK_REALM=v4mbqqas
KEYCLOAK_URL=https://dev.oidc.gov.bc.ca/auth/admin/realms/v4mbqqas
REDIRECT_URL=http://localhost:8080
JWT_WELL_KNOWN_CONFIG=https://dev.oidc.gov.bc.ca/auth/realms/v4mbqqas/.well-known/openid-configuration
