<ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

<ng-template appPageRef>
  <app-global-clause [clause]="termsOfAccess?.globalClause"></app-global-clause>
</ng-template>

<ng-template appPageRef>
  <app-user-clause [clause]="termsOfAccess?.userClause"></app-user-clause>
</ng-template>

<ng-template appPageRef>
  <app-licence-class-clause [clauses]="termsOfAccess?.licenseClassClauses"></app-licence-class-clause>
</ng-template>

<ng-template appPageRef>
  <app-limits-and-conditions-clause [clause]="termsOfAccess?.limitsConditionsClause">
  </app-limits-and-conditions-clause>
</ng-template>
