<app-page [busy]="busy">

  <app-page-header class="mb-5">Provisioner Link</app-page-header>

  <ng-container *ngIf="certificate; else noCertificate">

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Global PharmaNet ID</ng-container>
    </app-page-subheader>

    <p class="mb-3">
      The user's Global PharmaNet ID (GPID) is:
    </p>

    <p class="font-weight-bold mb-5">
      {{ certificate.gpid | uppercase }}
    </p>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>User Information</ng-container>
    </app-page-subheader>

    <div class="mb-4">
      <app-enrollee-property title="Name"
                             [makeBold]="true">
        {{ fullName }}
      </app-enrollee-property>
      <app-enrollee-property title="Access Type"
                             [makeBold]="true">
        {{ userType }}
      </app-enrollee-property>
    </div>

    <ng-container *ngFor="let licence of certificate.licences">
      <app-enrollee-property title="Licence"
                             [makeBold]="true">
        <app-enrollee-property title="College Name"
                               [makeBold]="true">
          {{ licence.collegeCode | configCode: 'colleges' }}
        </app-enrollee-property>
        <app-enrollee-property title="College ID"
                               [makeBold]="true">
          {{ licence.practRefId | default: 'None' }}
        </app-enrollee-property>
        <app-enrollee-property [title]="licence.collegeCode === CollegeLicenceClassEnum.CPSBC ? 'CPSID Number' :
                                (licence.collegeCode === CollegeLicenceClassEnum.CDSBC
                                || licence.collegeCode === CollegeLicenceClassEnum.CPBC
                                || licence.collegeCode === CollegeLicenceClassEnum.OptometryBC) ? 'Registration Number' :
                                'Licence Number from College'"
                               [makeBold]="true">
          {{ licence.collegeLicenceNumber }}
        </app-enrollee-property>
        <app-enrollee-property *ngIf="licence.pharmaNetId !== null"
                               title="PharmaNet ID"
                               [makeBold]="true">
          {{ licence.pharmaNetId }}
        </app-enrollee-property>
      </app-enrollee-property>
    </ng-container>

    <ng-container *ngIf="hasDeviceProvider">
      <app-enrollee-property title="Device Provider Id"
                             [makeBold]="true">
        {{ certificate.deviceProviderId | default: "NA" }}
      </app-enrollee-property>
    </ng-container>

    <ng-container *ngFor="let careSetting of certificate.careSettings">
      <app-enrollee-property title="Care Setting"
                             [makeBold]="true">
        {{ careSetting.name }}
      </app-enrollee-property>
    </ng-container>

    <app-enrollee-property *ngIf="!certificate.careSettings.length"
                           title="Care Setting"
                           [makeBold]="true">
      None
    </app-enrollee-property>

  </ng-container>

  <ng-template #noCertificate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        Provisioner Link
      </ng-container>
      <ng-container appPageSubheaderSummary>
        This provisioner link has expired and is not useable.
      </ng-container>
    </app-page-subheader>

  </ng-template>

</app-page>
