<app-page [busy]="busy"
          mode="full">

  <ng-content select="app-page-header"></ng-content>

  <ng-content select="app-page-subheader"></ng-content>

  <app-search-form *ngIf="showSearchFilter"
                   (search)="onSearch($event)"
                   (filter)="onFilter($event)"
                   (refresh)="onRefresh()"></app-search-form>

  <app-enrollee-table *ngIf="busy.closed || dataSource.data.length"
                      [dataSource]="dataSource"
                      (notify)="onNotify($event)"
                      (claim)="onClaim($event)"
                      (disclaim)="onDisclaim($event)"
                      (route)="onRoute($event)"></app-enrollee-table>

  <ng-container *ngIf="content">

    <div class="row">
      <div class="col py-5">

        <ng-container [ngTemplateOutlet]="content"
                      [ngTemplateOutletContext]="{ enrollee: dataSource?.data[0] }"></ng-container>

      </div>
      <div *ngIf="hasActions"
           class="col-auto py-5">

        <app-adjudicator-actions [enrollee]="dataSource?.data[0]"
                                 (approve)="onApprove($event)"
                                 (decline)="onDecline($event)"
                                 (lock)="onLock($event)"
                                 (unlock)="onUnlock($event)"
                                 (delete)="onDelete($event)"
                                 (route)="onRoute($event)"
                                 (enableEnrollee)="onEnableEnrollee($event)"
                                 (enableEditing)="onEnableEditing($event)"
                                 (rerunRules)="onRerunRules($event)"
                                 (toggleManualAdj)="onToggleManualAdj($event)"></app-adjudicator-actions>

      </div>
    </div>

  </ng-container>

</app-page>
