<ng-container *ngIf="siteRegistration">

  <button mat-flat-button
          color="primary"
          [disabled]="!siteRegistration"
          [matMenuTriggerFor]="menu">
    Site Adjudication Actions <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <mat-menu #menu>
    <button mat-menu-item
            [disabled]="!(Role.EDIT_SITE | inRole) || !isActionAllowed(SiteAdjudicationAction.APPROVE) || !siteRegistration.pec"
            (click)="onApprove()">
      <mat-icon>check_circle_outline</mat-icon>
      <span>Approve Site</span>
    </button>
    <button mat-menu-item
            [disabled]="!(Role.EDIT_SITE | inRole) || !isActionAllowed(SiteAdjudicationAction.REJECT)"
            (click)="onReject()">
      <mat-icon>block</mat-icon>
      <span>Reject Site</span>
    </button>
    <button mat-menu-item
            [disabled]="!(Role.EDIT_SITE | inRole)"
            *ngIf="isActionAllowed(SiteAdjudicationAction.UNREJECT)"
            (click)="onUnreject()">
      <mat-icon>arrow_circle_up</mat-icon>
      <span>Unreject Site</span>
    </button>

    <ng-container *ngIf="isCommunitySite()">
      <button mat-menu-item
              [disabled]="!(Role.VIEW_SITE | inRole)"
              (click)="onContactSigningAuthority()">
        <mat-icon>mail</mat-icon>
        <span>Contact Signing Authority</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isHealthAuthoritySite()">
      <button mat-menu-item
              [disabled]="!(Role.VIEW_SITE | inRole)"
              (click)="onContactAuthorizedUser()">
        <mat-icon>mail</mat-icon>
        <span>Contact Authorized User</span>
      </button>
    </ng-container>

    <button mat-menu-item
            [disabled]="!((Role.EDIT_SITE | inRole) || siteRegistration.adjudicatorIdir)"
            (click)="onEscalate()">
      <mat-icon>error_outline</mat-icon>
      <span>Enrolment Escalation</span>
    </button>
    <button mat-menu-item
            [disabled]="!(Role.EDIT_SITE | inRole)"
            *ngIf="isActionAllowed(SiteAdjudicationAction.REQUEST_CHANGES)"
            (click)="onRequestChanges()">
      <mat-icon>lock_open</mat-icon>
      <span>Enable Editing</span>
    </button>
    <button mat-menu-item
            [disabled]="!(Role.VIEW_SITE | inRole)"
            (click)="onToggleFlagSite()">
      <mat-icon>flag</mat-icon>
      <span>{{siteRegistration?.flagged ? 'Unflag' : 'Flag'}} Site</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-menu-item
            [disabled]="!(Role.SUPER_ADMIN | inRole)"
            (click)="onDelete({ siteId: siteRegistration.id })">
      <mat-icon>delete</mat-icon>
      <span>Delete Site</span>
    </button>

    <ng-container *ngIf="isCommunitySite()">
      <button mat-menu-item
              [disabled]="!(Role.SUPER_ADMIN | inRole)"
              (click)="onDelete({ organizationId: getSiteOrganizationId() })">
        <mat-icon>delete</mat-icon>
        <span>Delete Organization</span>
      </button>
    </ng-container>



  </mat-menu>

</ng-container>
