<ng-container *ngIf="siteRegistration">

  <button mat-flat-button
          color="primary"
          [disabled]="!siteRegistration"
          [matMenuTriggerFor]="menu">
    Site Information Actions <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <mat-menu #menu>
    <button mat-menu-item
            (click)="getOrganizationAgreement()">
      <mat-icon>get_app</mat-icon>
      <span>Organization Agreement</span>
    </button>
    <button mat-menu-item
            (click)="getBusinessLicence()">
      <mat-icon>get_app</mat-icon>
      <span>Business Licence</span>
    </button>
  </mat-menu>

</ng-container>
