<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Care Setting</ng-container>
        <ng-container appPageSubheaderSummary>
          Identify all of the care settings where you will be accessing PharmaNet.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3"
             formArrayName="careSettings">

          <ng-container *ngFor="let careSetting of careSettings.controls; let i = index;"
                        [formGroupName]="i">

            <app-form-icon-group [show]="careSettings.length > 1"
                                 (event)="removeCareSetting(i, careSetting.value.careSettingCode)">
              <app-form-icon-group>
                <mat-form-field class="w-100">
                  <mat-label>Care Setting</mat-label>
                  <mat-select formControlName="careSettingCode">
                    <mat-option *ngFor="let careSettingType of filterCareSettingTypes(careSetting)"
                                [value]="careSettingType.code"
                                [disabled]="disableCareSetting(careSettingType.code)">
                      {{ careSettingType.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="
                                careSetting.get('careSettingCode').hasError('required')">
                    Required
                  </mat-error>
                </mat-form-field>

                <ng-container appContextualContent>
                  Care setting is the location where you access PharmaNet to deliver patient care.
                </ng-container>
              </app-form-icon-group>
            </app-form-icon-group>

          </ng-container>

          <button mat-button
                  type="button"
                  color="primary"
                  (click)="addCareSetting()">
            <mat-icon>add</mat-icon>
            Add Additional Care Setting
          </button>

        </div>
        <div *ngIf="hasSelectedHACareSetting()"
             class="col col-sm-10 py-3">
          <app-page-subheader>
            <ng-container appPageSubheaderTitle>Health Authority</ng-container>
            <ng-container appPageSubheaderSummary>
              Please select all the health authorities in which you work.
            </ng-container>
          </app-page-subheader>

          <!-- Create visual checkboxes and bind to `enrolleeHealthAuthorities` array -->
          <div formArrayName="enrolleeHealthAuthorities"
               class="mb-3"
               *ngFor="let eha of enrolleeHealthAuthorities.controls; let i = index">
            <mat-checkbox [formControl]="eha">
              {{ healthAuthorities[i].name }}
            </mat-checkbox>
          </div>
          <app-alert *ngIf="hasNoHealthAuthoritiesError"
                     type="danger"
                     icon="warning">
            <ng-container #alertContent
                          class="alert-content">
              No health authority has been chosen.
            </ng-container>
          </app-alert>
        </div>
      </div>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                   (save)="onSubmit()"
                   (back)="routeTo(EnrolmentRoutes.BCSC_DEMOGRAPHIC)"></app-page-footer>

</app-enrollee-page>
