<app-page [busy]="busy">
  <app-page-header>PharmaNet Health Authority Information</app-page-header>
  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-section>
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>{{ title }}</ng-container>
        <ng-container appPageSubheaderSummary>
          Identify the Care Types associated with this Health Authority.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <ng-container formArrayName="careTypes">
            <ng-container *ngFor="let careType of careTypes.controls; let index = index; let last = last;"
                          [formGroupName]="index">

              <div [class.mb-3]="!last">

                <app-form-icon-group [show]="careTypes.controls.length > 1"
                                     (event)="removeCareType(index)">
                  <app-options-form [form]="careType"
                                    fieldLabel="Care Type"
                                    controlName="careType"
                                    selectOrAutocomplete="autocomplete"
                                    [availableOptions]="filteredCareTypes"></app-options-form>
                </app-form-icon-group>

              </div>

            </ng-container>
          </ng-container>

          <button mat-button
                  type="button"
                  color="primary"
                  [disabled]="!careTypes.controls?.length"
                  (click)="addCareType()">
            <mat-icon>add</mat-icon>
            Add Care Type
          </button>

        </div>
      </div>
    </app-page-section>

  </form>

  <app-page-footer [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
