@import 'palette';

.sub-header {
  border-bottom: 2px solid theme-palette(grey, lighter);
  margin-bottom: 1rem;
  padding-bottom: .25rem;

  h2 {
    color: theme-palette(blue);
  }

  p {
    color: lighten(black, 40%);
  }

  h2, p {
    margin-bottom: 0;
  }
}
