@using Prime.Models
@model Document

@{
  var documentName = @Model.Filename;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>

@@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&display=swap");

</style>

<h1>Document Retrieval Error</h1>
<p>An error occurred while trying to retrieve this document: <strong>@documentName</strong></p>

<h2>Get Support</h2>
<p>
  Questions about Site Registration should be directed to:<br>
  <a href="tel:+18443977463">1-844-397-7463</a><br>
  <a href="mailto:primesupport@("@")gov.bc.ca">primesupport@("@")gov.bc.ca</a>
</p>
