.logo-fill-light g:not(.yellow) {
  path,
  polygon {
    fill: white;
  }
}

.logo-fill-dark g:not(.yellow) {
  path,
  polygon {
    fill: #224176;
  }
}

.yellow {
  path,
  polygon {
    fill: #e3a92b;
  }
}

.logo-position-right {
  transform: translate(114px, -82px);
}
