<div class="row justify-content-center">
  <div class="col-sm-12 col-md-11 col-lg-10">

    <app-page-header>Collection Notice</app-page-header>

    <p>
      The personal information you provide to the PRIME application is collected by the British Columbia Ministry of
      Health under the authority of s. 26(a),(c) of the Freedom of Information and Protection of Privacy Act and s.
      22(1)(b) of the Pharmaceutical Services Act. By clicking “Accept”, you are providing your consent to the use and
      disclosure of the information you submit for the purpose of:
    </p>


    <ul>
      <li>
        Verifying your identity, assessing your eligibility and assigning privileges to the information held in
        the
        PharmaNet system;
      </li>
      <li>
        ongoing access management that may include monitoring, auditing and access investigations; and
      </li>
      <li>
        program evaluation and quality improvement initiatives.
      </li>
    </ul>

    <p>
      Your information may be disclosed to third parties for the purposes identified above, including sites where
      access to PharmaNet took place (pharmacies, clinics, hospitals, health authorities, etc.), regulatory bodies or
      other parties as required.
    </p>
    <p>

      Questions about the collection of this information should be directed to:
    </p>
    <p>
      1-800-XXX-XXXX
    </p>



    <div class="row justify-content-end pt-2">

      <div class="col-6 text-right">

        <button mat-raised-button
                color="primary"
                (click)="onClick()">Accept Collection Agreement</button>
      </div>
    </div>

  </div>
</div>
