<app-busy-overlay [busy]="busy">

  <app-page-header>Access Agreement</app-page-header>

  <ng-container *ngIf="isMOA && currentPageNumber === 0">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>You've Been Approved</ng-container>
      <ng-container appPageSubheaderSummary>
        You’ve been approved for PharmaNet access for direct patient care.
      </ng-container>
    </app-page-subheader>

    <p>
      To confirm your access, you must accept the PharmaNet User Access Agreement. This agreement is specific to the
      type of access you have. If you request access as a different type of user or for a different type of organization
      at any point in the future, you may be required to accept a different PharmaNet User Access Agreement.
    </p>

    <p>
      Please read the User Access Agreement carefully, and ensure that you are both willing and able to abide by its
      terms with respect to your use of PharmaNet. You are encouraged to print or save a copy of the User Access
      Agreement to keep for your reference.
    </p>
  </ng-container>

  <!-- Registered User (RU) -->
  <ng-container *ngIf="isMOA && currentPageNumber === 1">

    <h1 class="h3 text-center mt-1 mb-3">
      COMMUNITY HEALTH PRACTITIONER PHARMANET ACCESS AGREEMENT
    </h1>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>1. Background</ng-container>
    </app-page-subheader>

    <p>
      The Province owns and is responsible for the operation of an electronic health information system known as
      PharmaNet. PharmaNet is the province-wide network that links B.C. community pharmacies to a central data system.
      Every prescription dispensed in community pharmacies in B.C. is entered into PharmaNet.
    </p>

    <p>
      The purpose of providing you, and the Supervised Persons whom you have authorized, with access to PharmaNet is to
      enhance patient care by providing timely and relevant information to persons involved in the provision of care to
      patients.
    </p>

    <p>
      PharmaNet contains highly sensitive confidential information, including Personal Information and the proprietary
      and confidential information of third party licensors to the Province, and it is in the public interest to ensure
      that appropriate measures are in place to protect the confidentiality of all such information. All access to and
      use of PharmaNet and data within PharmaNet Data is subject to the Act and Privacy Laws.
    </p>

    <p>
      You are accountable for your and Supervised Persons’ compliance with the terms and conditions of this Agreement
      and all policies, guidelines, and directives applicable to PharmaNet.
    </p>
  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 2">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>2. INTERPRETATION</ng-container>
    </app-page-subheader>

    <ol>
      <li type="a">
        <strong>Definitions</strong>. Unless otherwise provided in this Agreement, capitalized terms will have the
        meanings given below:

        <ul class="list-unstyled mt-3 mr-2">
          <li>
            <p>
              <strong>“Act”</strong> means the Pharmaceutical Services Act.
            </p>
          </li>
          <li>
            <p>
              <strong>“Approved SSO”</strong> means a software support organization approved by the Province that
              provides you with the information technology software and/or services through which you and Supervised
              Persons access PharmaNet.
            </p>
          </li>
          <li>
            <p>
              <strong>“Conformance Standards”</strong> means the following documents published by the Province, as
              amended from time to time:
            </p>

            <ol type="i">
              <li>
                PharmaNet Professional and Software Compliance Standards; and
              </li>
              <li>
                Office of the Chief Information Officer: “Submission for Technical Security Standard and High Level
                Architecture for Wireless Local Area Network Connectivity”.
              </li>
            </ol>
          </li>
          <li>
            <p>
              <strong>“Direct Patient Care”</strong> means the health care services you provide to a specific individual
              in your Practice.
            </p>
          </li>
          <li>
            <p>
              <strong>“Information Management Regulation”</strong> means the Information Management Regulation, B.C.
              Reg. 74/2015, as amended.
            </p>
          </li>
          <li>
            <p>
              <strong>“Personal Information”</strong> means all recorded information that is about an identifiable
              individual or is defined as, or deemed to be, “personal information” or “personal health information”
              pursuant to any Privacy Laws.
            </p>
          </li>
          <li>
            <p>
              <strong>“PharmaNet”</strong> means PharmaNet as continued under section 2 of the Information Management
              Regulation.
            </p>
          </li>
          <li>
            <p>
              <strong>“PharmaNet Data”</strong> includes any record or information contained in PharmaNet and any record
              or information in the custody, control or possession of you or a Supervised Person that was obtained
              through your or a Supervised Person’s access to PharmaNet.
            </p>
          </li>
          <li>
            <p>
              <strong>“Practice”</strong> means your practice of the health profession regulated by the Health
              Professions Act and governed by the regulatory body identified on page 1 of this Agreement.
            </p>
          </li>
          <li>
            <p>
              <strong>“Privacy Laws”</strong> means the Act, the Freedom of Information and Protection of Privacy Act,
              the Personal Information Protection Act, and any other statutory or legal obligations of privacy owed by
              you or the Province, whether arising under statute, by contract or at common law.
            </p>
          </li>
          <li>
            <p>
              <strong>“Professional College”</strong> is the regulatory body governing the Practice you have identified
              on page 1 of this Agreement.
            </p>
          </li>
          <li>
            <p>
              <strong>“Schedule”</strong> means the “Further Limits or Conditions” Schedule attached to this Agreement,
              which is incorporated into this Agreement by reference and deemed to be an integral part of this
              Agreement.
            </p>
          </li>
          <li>
            <p>
              <strong>“Supervised Person”</strong> means a member of your staff who: (i) requires access to PharmaNet to
              carry out Direct Patient Care duties in relation to your Practice; and (ii) is authorized by you to access
              PharmaNet on your behalf.
            </p>
          </li>
          <li>
            <p>
              <strong>“Unauthorized Person”</strong> means any person other than:
            </p>

            <ol type="i">
              <li>
                you,
              </li>
              <li>
                a Supervised Person, or
              </li>
              <li>
                a representative of an Approved SSO that is accessing PharmaNet for technical support purposes in
                accordance with section 6 of the Information Management Regulation.
              </li>
            </ol>
          </li>
        </ul>

      </li>
    </ol>

  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 3">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>3. APPLICATION OF LEGISLATION</ng-container>
    </app-page-subheader>

    <p>
      You will strictly comply with, and you will ensure that Supervised Persons strictly comply with, the Act and all
      Privacy Laws applicable to PharmaNet and PharmaNet Data.
    </p>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        4. NOTICE THAT SPECIFIC PROVISIONS OF THE ACT APPLY DIRECTLY TO YOU
      </ng-container>
    </app-page-subheader>

    <p>You acknowledge that:</p>

    <ol type="a">
      <li>
        PharmaNet Data accessed by you or a Supervised Person pursuant to this Agreement is disclosed to you by the
        Province under the authority of the Act;
      </li>
      <li>
        specific provisions of the Act, including the Information Management Regulation and sections 24, 25 and 29 of
        the Act, apply directly to you and to Supervised Persons as a result; and
      </li>
      <li>
        this Agreement documents limits and conditions, set by the minister in writing, that the Act requires you to
        comply with.
      </li>
    </ol>
  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 4">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        5. ACCESS
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Grant of Access</strong>. The Province will provide you with access to PharmaNet subject to your
        compliance with the limits and conditions set out in section 5(b) below and otherwise in this Agreement. The
        Province may from time to time, at its discretion, amend or change the scope of your access privileges to
        PharmaNet as privacy, security, business and clinical practice requirements change. In such circumstances, the
        Province will use reasonable efforts to notify you of such changes.
      </li>
      <li>

        <strong>Limits and Conditions Of Access</strong>. You represent and warrant that:

        <ol type="i">
          <li>
            you are a registrant in good standing with the Professional College and your licence permits you to deliver
            direct patient care ;
          </li>
          <li>
            you will only access PharmaNet, and you will ensure that Supervised Persons only access PharmaNet, from the
            place(s) of practice within British Columbia that you have identified to the Province on form HLTH 4530, or
            the amendment form HLTH 7092;
          </li>
          <li>
            you will notify the Province at least 10 business days in advance of any transfer or wind up your Practice,
            or of any change to your business address from that which you have identified to the Province on form HLTH
            4530 or the amendment form HLTH 7092;
          </li>
          <li>
            you will only access PharmaNet as necessary for your provision of Direct Patient Care, and you will ensure
            that Supervised Persons only access PharmaNet as necessary to support your provision of Direct Patient Care;
          </li>
          <li>
            you will not under any circumstances access PharmaNet, or use PharmaNet Data, for the purpose of market
            research, and you will ensure that no Supervised Persons access PharmaNet, or use PharmaNet Data, for the
            purpose of market research;
          </li>
          <li>
            subject to section 6(b) of this Agreement, you will not use PharmaNet Data, and you will ensure that
            Supervised Persons do not use PharmaNet Data, for any purpose other than your provision of Direct Patient
            Care, including for the purposes of quality improvement, evaluation, health care planning, surveillance,
            research or other secondary uses;
          </li>
          <li>
            you will not permit any Unauthorized Person to access PharmaNet, and you will take all reasonable measures
            to ensure that no Unauthorized Person can access PharmaNet;
          </li>
          <li>
            you will immediately notify the Province of any need to suspend or terminate a Supervised Person’s access to
            PharmaNet, including where the Supervised Person ceases to be one of your staff or has begun a leave of
            absence from his/her position as a member of your staff, or where the Supervised Person’s duties in relation
            to the Practice have changed;
          </li>
          <li>
            you will ensure that every Supervised Person first executes a confidentiality undertaking on form HLTH 4531
            before accessing PharmaNet, and will retain (and provide to the Province upon the Province’s request) all
            such executed forms for the duration of the term of this Agreement and for four (4) years thereafter;
          </li>
          <li>
            you will complete any training program(s) that your Approved SSO makes available to you in relation to
            PharmaNet, and you will ensure that all Supervised Persons complete such training;
          </li>
          <li>
            you will comply with, and you will ensure that Supervised Persons comply with, any further limits or
            conditions applicable to you, as set forth in the Schedule or otherwise in writing by the Province.
          </li>
        </ol>

      </li>
      <li>
        <strong>Responsibility for Supervised Persons</strong>: you agree that you are responsible under this Agreement
        for all activities undertaken by Supervised Persons in relation to their access to PharmaNet and use of
        PharmaNet Data.
      </li>
      <li>
        <strong>Privacy and Security Measures</strong>. You are responsible for taking all reasonable measures to
        safeguard Personal Information, including any Personal Information in the PharmaNet Data while it is in the
        custody, control or possession of yourself or a Supervised Person. You will ensure that any workstations used to
        access PharmaNet, and all devices, codes or passwords that enable access to PharmaNet by yourself or Supervised
        Persons are secure. In particular, you will:

        <ol type="i">
          <li>
            take all reasonable steps to ensure the physical security of Personal Information, generally and as required
            by Privacy Laws;
          </li>
          <li>
            secure all workstations and printers in a protected area in the Practice to prevent viewing of PharmaNet
            Data by Unauthorized Persons;
          </li>
          <li>
            ensure separate identification for each Supervised Person, and prohibit sharing or other multiple use of
            your identification and password, or a Supervised Person’s identification and password, for access to
            PharmaNet;
          </li>
          <li>
            take reasonable security steps to protect all codes or passwords that enable access to PharmaNet, including
            without limitation, user identifications, hardware or software tokens, and other security devices or
            certificates;
          </li>
          <li>
            implement all technical security requirements for connection to PharmaNet as directed by the Province in
            writing, including by only accessing PharmaNet using:

            <ol type="A">
              <li>
                the PharmaNet compliant software and services of an Approved SSO, and
              </li>
              <li>
                the secure network or security technology that the Province certifies or makes available to you for the
                purpose of connecting to PharmaNet, such as “HNSecure” or any replacement or additional secure network
                or security technology;
              </li>
            </ol>
          </li>
          <li>
            monitor and ensure appropriate access by Supervised Persons to PharmaNet in accordance with this Agreement,
            including by regularly reconciling logs of PharmaNet access by yourself and all Supervised Persons against
            patient visits; and
          </li>
          <li>
            such other privacy and security measures as the Province may reasonably require from time-to-time.
          </li>
        </ol>

        <p>
          The use of any secure network or security technology of the Province referred to in paragraph (vi) above is
          subject to terms and conditions of use, including acceptable use policies, established by the Province and
          communicated to you from time to time in writing.
        </p>
      </li>
      <li>
        <strong>Conformance Standards - Business Rules</strong>. You will comply with, and will ensure Supervised
        Persons comply with, the business rules specified in the Conformance Standards when accessing and recording
        information in PharmaNet.
      </li>
    </ol>

  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 5">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        6. DISCLOSURE, STORAGE, AND ACCESS REQUESTS
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Retention of PharmaNet Data</strong>. You will not store or retain PharmaNet Data in your own paper
        files or any electronic system, unless such storage or retention is required for record keeping in accordance
        with Professional College requirements and in connection with your provision of Direct Patient Care and
        otherwise is in compliance with the Conformance Standards. You will not modify any records that you retain in
        accordance with this section other than as may be expressly authorized in the Conformance Standards. For
        clarity, you may annotate a discrete record provided that the discrete record is not itself modified other than
        as expressly authorized in the Conformance Standards.
      </li>
      <li>
        <strong>Use of Retained Records</strong>. You may use any records retained by you in accordance with section
        6(a) of this Agreement for a purpose authorized under section 24(1) of the Act, including for the purpose of
        monitoring your own Practice as described in s. 16(1) of the IM Regulation.
      </li>
      <li>
        <strong>Disclosure to Third Parties</strong>. You will not, and will ensure that Supervised Persons do not,
        disclose PharmaNet Data to any Unauthorized Person, unless disclosure is required for Direct Patient Care or is
        otherwise authorized under section 24(1) of the Act.
      </li>
      <li>
        <strong>No Disclosure for Market Research</strong>. You will not, and will ensure that Supervised Persons do
        not, disclose PharmaNet Data for the purpose of market research.
      </li>
      <li>
        <strong>Responding to Patient Access Requests</strong>. Aside from any records retained by you in accordance
        with section 6(a) of this Agreement, you will not provide to patients any copies of records containing PharmaNet
        Data or “print outs” produced directly from PharmaNet, and will refer any requests for access to such records or
        “print outs” to the Province.
      </li>
      <li>
        <strong>Legal Demands for records contained in PharmaNet</strong>. You will immediately notify the Province if
        you receive any order, demand or request compelling, or threatening to compel, disclosure of records contained
        in PharmaNet. You will cooperate and consult with the Province in responding to any such demands. For greater
        certainty, the foregoing requires that you notify the Province only with respect to any access requests or
        demands for records contained in PharmaNet, and not records retained by you in accordance with section 6(a) of
        this Agreement.
      </li>
    </ol>
  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 6">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        7. ACCURACY
      </ng-container>
    </app-page-subheader>

    <p>
      You will make reasonable efforts to ensure that any Personal Information recorded by you or a Supervised Person in
      PharmaNet is accurate, complete and up to date. In the event that you become aware of a material inaccuracy or
      error in such information, you will take reasonable steps to investigate the inaccuracy or error, correct it if
      necessary, and notify the Province of the inaccuracy or error and any steps taken.
    </p>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        8. INVESTIGATIONS, AUDITS, AND REPORTING
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Audits and Investigations</strong>. You will cooperate with any audits or investigations conducted by
        the Province regarding your, or any Supervised Person’s, compliance with the Act, Privacy Laws and this
        Agreement , including providing access upon request to your facilities, data management systems, books, records
        and personnel for the purposes of such audit or investigation.
      </li>
      <li>
        <strong>Reports to College or Privacy Commissioner</strong>. You acknowledge and agree that the Province may
        report any material breach of this Agreement to your Professional College or to the Information and Privacy
        Commissioner of British Columbia.
      </li>
    </ol>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        9. NOTICE OF NON COMPLIANCE AND DUTY TO INVESTIGATE
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Duty to Investigate</strong>. You will investigate suspected breaches of the terms of this Agreement,
        and will take all reasonable steps to prevent recurrences of any such breaches, including taking any steps
        necessary to cooperate with the Province in ensuring the suspension or termination of a Supervised Person’s
        access rights.
      </li>
      <li>
        <strong>Non Compliance</strong>. You will promptly notify the Province, and provide particulars, if:

        <ol type="i">
          <li>
            you or a Supervised Person do not comply, or you anticipate that you or a Supervised Person will be unable
            to comply with the terms of this Agreement in any respect, or
          </li>
          <li>
            you have knowledge of any circumstances, incidents or events which have or may jeopardize the security,
            confidentiality, or integrity of PharmaNet, including any unauthorized attempt, by any person, to access
            PharmaNet.
          </li>
        </ol>

      </li>
    </ol>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        11. TERM OF AGREEMENT, SUSPENSION & TERMINATION
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Term</strong>. The term of this Agreement will begin on the date it is first signed by you and will end
        on the earlier
        of:

        <ol type="i">
          <li>
            the fifth anniversary of the date that this Agreement is first signed by you,
          </li>
          <li>
            the date that your access to PharmaNet ends under subsection 18(3) of the Information Management Regulation,
            if that section applies, or
          </li>
          <li>
            the date this Agreement is terminated under paragraph (b), (c) or (d) below.
          </li>
        </ol>

      </li>
      <li>
        <strong>Termination for Any Reason</strong>. Either party may terminate this Agreement at any time and for any
        reason on thirty (30) days written notice to the other Party.
      </li>
      <li>
        <strong>Suspension or Termination of PharmaNet access</strong>. If the Province suspends or terminates your
        right, or a Supervised Person’s right, to access PharmaNet under section 7 or 8 of Information Management
        Regulation, the Province may also terminate this Agreement at any time thereafter upon written notice to you.
      </li>
      <li>
        <strong>Termination for Breach</strong>. Notwithstanding paragraph (c) above, the Province may terminate this
        Agreement, and any or all access to PharmaNet by you or a Supervised Person, immediately upon notice to you if
        you or a Supervised Person fail to comply with any provision of this Agreement.
      </li>
      <li>
        <strong>Suspension of Account for Inactivity</strong>. The Province may suspend your account or a Supervised
        Person’s account after a period of inactivity, in accordance with PharmaNet policie
      </li>
    </ol>

  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 7">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        12. DISCLAIMER OF WARRANTY, LIMITATION OF LIABILITY AND INDEMNITY
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Information Provided As Is</strong>. You acknowledge and agree that any use of PharmaNet and PharmaNet
        Data is solely at your own risk. All such access and information is provided on an “as is” and “as available”
        basis without warranty or condition of any kind. The Province does not warrant the accuracy, completeness or
        reliability of the PharmaNet Data or the availability of PharmaNet, or that access to or the operation of
        PharmaNet will function without error, failure or interruption.
      </li>
      <li>
        <strong>You are Responsible</strong>. You are responsible for verifying the accuracy of information disclosed to
        you as a result of your access to PhamaNet or otherwise pursuant to this Agreement before relying or acting upon
        such information. The clinical or other information disclosed to you or a Supervised Person pursuant to this
        Agreement is in no way intended to be a substitute for professional judgment.
      </li>
      <li>
        <strong>The Province Not Liable for Loss</strong>. No action may be brought by any person against the Province
        for any loss or damage of any kind caused by any reason or purpose related to reliance on PharmaNet or PharmaNet
        Data.
      </li>
      <li>
        <strong>You Must Indemnify the Province if You Cause a Loss or Claim</strong>: You agree to indemnify and save
        harmless the Province, and the Province’s employees and agents (each an "Indemnified Person") from any losses,
        claims, damages, actions, causes of action, costs and expenses that an Indemnified Person may sustain, incur,
        suffer or be put to at any time, either before or after this Agreement ends, which are based upon, arise out of
        or occur directly or indirectly by reason of any act or omission by you, or by any Supervised Person, in
        connection with this Agreement.
      </li>
    </ol>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        13. NOTICE
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Notice to Province</strong>. Except where this Agreement expressly provides for another method of
        delivery, any notice to be given by you to the Province that is contemplated by this Agreement, to be effective,
        must be in writing and emailed, faxed, or mailed to the Province via the contact information set out below:

        <br>
        <br>

          Chief Privacy Officer<br>
          Ministry of Health<br>
          PO Box 9636, STN PROV GOVT<br>
          Victoria, BC V8W 9P1<br>

        <br>

          Email: <a href="mailto:HLTHINFOSEC@gov.bc.ca">HLTHINFOSEC@gov.bc.ca</a>
      </li>
      <li>
        <strong>Notice to You</strong>. Any notice to you to be delivered under the terms of this Agreement will be
        provided in writing, and delivered by the Province to your email address, or via the contact information
        indicated on the first page of this Agreement.
      </li>
      <li>
        <strong>Deemed receipt</strong>. Any written communication from a party, if personally delivered or sent by
        facsimile or email, will be deemed to have been received 24 hours after the time the notice was sent, or, if
        sent by any other form, will be deemed to have been received 3 days (excluding Saturdays, Sundays and statutory
        holidays) after the date the notice was sent.
      </li>
      <li>
        <strong>Substitute contact information</strong>. Any party may give notice to the other parties of a substitute
        address, facsimile number or email from time to time, which from the date such notice is given will supersede
        for the purposes of this section any previous address specified by the party giving notice.
      </li>
    </ol>

  </ng-container>

  <ng-container *ngIf="isMOA && currentPageNumber === 8">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>
        14. GENERAL
      </ng-container>
    </app-page-subheader>

    <ol type="a">
      <li>
        <strong>Entire Agreement</strong>. This Agreement constitutes the entire agreement between the parties with
        respect to the subject matter of this agreement.
      </li>
      <li>
        <strong>Severability</strong>. Each provision in this Agreement constitutes a separate covenant and is severable
        from any other covenant, and if any of them are held by a court, or other decision-maker, to be invalid, this
        Agreement will be interpreted as if such provisions were not included.
      </li>
      <li>
        <strong>Survival</strong>. Sections 3,4,5(b)(v) (vi), 5(c), 5(d), 6(a)(b)(c)(d)(e), 8, 9, 11, 12, 13(a) (b) (c)
        (d) (e), and any other provision of this Agreement that expressly or by its nature continues after termination,
        shall survive termination of this Agreement.
      </li>
      <li>
        <strong>Governing Law</strong>. This Agreement will be governed by and will be construed and interpreted in
        accordance with the laws of British Columbia and the laws of Canada applicable therein.
      </li>
      <li>
        <strong>Assignment Restricted</strong>. Your rights and obligations under this Agreement may not be assigned
        without the prior written approval of the Province.
      </li>
      <li>
        <strong>Waiver</strong>. The failure of the Province at any time to insist on performance of any provision of
        this Agreement by you is not a waiver of its right subsequently to insist on performance of that or any other
        provision of this Agreement.
      </li>
      <li>
        <strong>Province may modify this Agreement</strong>. The Province may modify this Agreement, including this
        section and the Schedule, at any time in its sole discretion. The Province will publish advance notice of any
        such amendment in its PharmaCare newsletter, which is available on the following website (or such other website
        that may be specified by the Province from time to time for this purpose):

        <a href="http://www.gov.bc.ca/pharmacarenewsletter">www.gov.bc.ca/pharmacarenewsletter</a>

        Any such notice will clearly specify the date upon which the amendment becomes effective (the “Amendment
        Effective Date“). The Amendment Effective Date for any amendment will be at least sixty (60) days after the date
        that the PharmaCare Newsletter that contains the notice is first published.

        If you or a Supervised Person access or use PharmaNet after the Amendment Effective Date, you will be deemed to
        have accepted the related amendment, and this Agreement will be deemed to have been so amended as of the
        Amendment Effective Date. If you do not agree with an amendment for which notice has been provided by the
        Province, you must promptly (and in any event before the Amendment Effective Date) cease all access or use of
        PharmaNet by yourself and all Supervised Persons and terminate this Agreement in accordance with section 10.
      </li>
      <li>
        <strong>Independent Legal Advice</strong>. You acknowledge that you have been given an opportunity to seek
        independent legal advice with respect to the terms of this Agreement prior to its execution and have been
        advised to do so by the Province and that you understand your rights and obligations under the Act and this
        Agreement.
      </li>
    </ol>

  </ng-container>

  <ng-container *ngIf="!isMOA && currentPageNumber === 1">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>

      </ng-container>
    </app-page-subheader>

    <p>
      I work in the community health practice under the direct supervision of one or more prescribers who themselves
      have been approved for access to PharmaNet. My employment duties require me to access PharmaNet and information
      from PharmaNet to support the prescribers to deliver direct patient care in the scope of their, and my own,
      professional practice, to individuals whose PharmaNet record I am accessing.
    </p>

    <strong>I hereby acknowledge that I agree with the following statements and undertakings:</strong>

    <ol>
      <li>
        I acknowledge that I may only access PharmaNet to the extent necessary to provide health services to, or to
        facilitate the care of, the individual whose personal information is being accessed, and only in a form and
        manner of access that is consistent with the conformance or compliance standard relating to PharmaNet and any
        other policies or procedures required by the Province.
      </li>
      <li>
        I understand that my access to PharmaNet and use of information from PharmaNet are subject to applicable law,
        including:

        <ol type="a">
          <li>
            the Pharmaceutical Services Act and
          </li>
          <li>
            the Freedom of Information and Protection of Privacy Act.
          </li>
        </ol>
      </li>
      <li>
        I understand that the Province may, in writing and from time to time, set limits and conditions in respect of
        personal information disclosed from PharmaNet and that I must comply with them.
      </li>
      <li>
        I will only access PharmaNet as directed by the prescriber(s) supervising me at the time.
      </li>
      <li>
        I will complete all training required by the Pharmacy’s PharmaNet software vendor and the Province before
        accessing PharmaNet.
      </li>
      <li>
        I will maintain all personal information accessed by me or disclosed to me from PharmaNet in confidence, unless
        I am required to disclose the information

        <ol type="a">
          <li>
            for the purposes of providing direct patient care to individuals whose PharmaNet record I am accessing, or
          </li>
          <li>
            as otherwise permitted under the Pharmaceutical Services Act.
          </li>
        </ol>
      </li>
      <li>
        I will protect all personal information accessed by me or disclosed to me from PharmaNet by making reasonable
        security arrangements against such risks as unauthorized access, collection, use, disclosure or disposal of
        information, files or records containing personal information from PharmaNet.
      </li>
      <li>
        I will not:

        <ol type="a">
          <li>
            permit any person to use any user IDs, passwords or credentials provided to me to access PharmaNet;
          </li>
          <li>
            divulge, share or compromise any user IDs, passwords or credentials;
          </li>
          <li>
            use or attempt to use the user ID, password or credential of any other person;
          </li>
          <li>
            test or examine the security related to PharmaNet;
          </li>
          <li>
            take any action that might reasonably be construed as compromising the integrity of PharmaNet, its
            information, or the provincial drug plan;
          </li>
          <li>
            alter the format or content of a print or display of any information contained within PharmaNet; or
          </li>
          <li>
            access PharmaNet from any location other than inside the community pharmacy listed above.
          </li>
        </ol>
      </li>
      <li>
        I understand that if I breach the terms of this Undertaking, in addition to any legal remedy that the Province
        may have against me:

        <ol type="a">
          <li>
            the Province may notify my employer in respect of any suspected inappropriate access to PharmaNet by me, and
          </li>
          <li>
            my access to PharmaNet may be suspended or terminated.
          </li>
        </ol>
      </li>
      <li>
        I understand that at any time at the discretion of the Province:

        <ol type="a">
          <li>
            I may be required to renew this undertaking or sign a revised undertaking;
          </li>
          <li>
            my access to PharmaNet may be suspended or terminated as permitted under the Pharmaceutical Services Act.
          </li>
        </ol>
      </li>
    </ol>

  </ng-container>

  <div class="footer">
    <mat-checkbox class="mr-4"
                  [formControl]="acceptCtrl"
                  (change)="onCheckAcceptance($event)">
      I have read and understand these terms.
      <!-- I understand and will comply with the terms of this agreement. MOA -->
      <!-- I agree to the above statements RU -->
    </mat-checkbox>
  </div>

  <div class="row justify-content-between">
    <div class="col pt-2">

      <button mat-stroked-button
              class="mr-2"
              (click)="onPrint()">Print Agreeement</button>

    </div>
    <div class="col pt-2 text-right">

      <ng-template *ngIf="hasAcceptedEachPage; else hasMorePages">

        <button mat-raised-button
                color="primary"
                [disabled]="disabledAgreement"
                (click)="onSubmit()">Accept Agreement</button>

      </ng-template>

      <ng-template #hasMorePages>

        <button mat-raised-button
                color="primary"
                [disabled]="disabledAgreement"
                (click)="onAcceptPage()">Continue</button>

      </ng-template>
    </div>
  </div>

</app-busy-overlay>
