<div>
  <h1 class="h2 mb-4">Access Agreement</h1>

  <app-sub-header subheader="You've Been Approved"
                  help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure modi possimus, veritatis minus odio, nihil ab et
    harum dolor cum enim, consequuntur nulla impedit qui optio sed fuga voluptatibus. Neque. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. In deleniti facilis aut, error praesentium distinctio laudantium quia quibusdam
    consequuntur soluta incidunt ad ratione officia exercitationem, obcaecati quod, voluptate totam quam?
  </p>

  <div class="row justify-content-between">

    <div class="col pt-2 text-right">

      <button mat-raised-button
              color="primary"
              (click)="onSubmit()">Accept Agreement</button>

    </div>
  </div>
</div>
