<app-enrollee-page [busy]="busy">

  <app-page-header>Terms of Access</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <ng-container *ngIf="currentPage > 0; else preamble">
    <ng-container *ngIf="identityProvider === IdentityProviderEnum.BCSC; else uploadTOA">
      <app-access-term [accessTerms]="accessTerm"></app-access-term>
    </ng-container>
  </ng-container>

  <ng-template #uploadTOA>
    <ng-container>
      <p class="mb-4">
        Download and print the Terms of Access. Carefully read and sign the Terms of Access, then upload the signed
        version using the upload tool.
      </p>

      <div class="mb-2 row">
        <div class="col">
          <button mat-flat-button
                  color="primary"
                  (click)="onDownload()">Download Terms of Access</button>
        </div>
      </div>

      <app-document-upload componentName="terms-of-access"
                           labelMessage="Drag or drop your Terms of Access or browse"
                           [multiple]="false"
                           (completed)="onUpload($event)"
                           (remove)="onRemoveDocument($event)">
      </app-document-upload>
    </ng-container>


  </ng-template>

  <ng-template #preamble>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Next Steps</ng-container>
    </app-page-subheader>
    <p *ngIf="isInitialEnrolment; else renewal">
      You have been approved for PharmaNet access, and to complete your enrolment,
      you must accept the PharmaNet User Terms of Access. These terms are specific
      to the type of access you have been granted.
    </p>
    <ng-template #renewal>
      <p>
        Your renewal has been processed. To complete your renewal, you must accept thePharmaNet User Terms of Access.
        These terms are specific to the type of accessyou have been granted.
      </p>
    </ng-template>
    <p>
      Read the PharmaNet User Terms of Access carefully, as you must comply with them at all times in relation
      to your use of PharmaNet. You are encouraged to print or save a copy of the PharmaNet User Terms of Access or
      return to PRIME to view your Terms of Access at any time.
    </p>

  </ng-template>

  <div *ngIf="hasReadAgreement && identityProvider === IdentityProviderEnum.BCSC"
       class="footer my-3 pb-2">
    <mat-checkbox class="mr-4"
                  [formControl]="agreed">
      I have read the PharmaNet User Terms of Access.
    </mat-checkbox>
  </div>

  <div *ngIf="!hasReadAgreement"
       class="row">
    <div class="col text-right">

      <button mat-flat-button
              color="primary"
              (click)="onNextPage()">
        Continue
      </button>

    </div>
  </div>

  <ng-container *ngIf="identityProvider === IdentityProviderEnum.BCSC; else saveUpload">
    <div *ngIf="hasReadAgreement"
         class="row">
      <div class="col-12 text-md-right">

        <button mat-flat-button
                color="primary"
                class="mb-2 w-100"
                [disabled]="!hasAgreed"
                (click)="onSubmit(true)">
          Accept Terms of Access
        </button>

      </div>
    </div>
  </ng-container>

  <ng-template #saveUpload>

    <div *ngIf="hasReadAgreement"
         class="row">
      <div class="col pt-2 text-right">

        <button mat-flat-button
                type="button"
                color="primary"
                [disabled]="!hasUploadedFile"
                (click)="onSubmit(true)">
          Save and Continue
        </button>

      </div>
    </div>

  </ng-template>


</app-enrollee-page>
