#enrolmentCard {
  overflow: auto;
  height: calc(100vh - 380px);
}

#adjudicationCard {
  overflow: auto;
  height: calc(100vh - 500px);
}

:host ::ng-deep app-plr-info > mat-card {
  overflow: auto;
  height: calc(100vh - 500px);
}
