@import "palette";

#enrolmentCard {
  overflow: auto;
  height: calc(100vh - 380px);
}

#adjudicationCard {
  overflow: auto;
  height: calc(100vh - 500px);
}

.text-blue-light {
  color: theme-palette(blue, light);
}

.adjudicator-actions {
  padding-right: 15px;
}

:host ::ng-deep app-plr-info > mat-card {
  overflow: auto;
  height: calc(100vh - 500px);
  margin-bottom: 3rem;
}
