<app-page [busy]="busy"
          mode="full">

  <app-page-header>Overview</app-page-header>

  <app-enrollee-table *ngIf="busy.closed || enrollees?.length"
                      [enrollees]="enrollees"
                      [enrolleeNavigation]="enrolleeNavigation"
                      (notify)="onNotify($event)"
                      (assign)="onAssign($event)"
                      (reassign)="onReassign($event)"
                      (route)="onRoute($event)"
                      (refresh)="onRefresh()"
                      (navigateEnrollee)="onNavigateEnrollee($event)"
                      (sendBulkEmail)="onSendBulkEmail()"></app-enrollee-table>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <span *ngIf="enrolment?.enrollee.gpid"
    class="mb-4 align-self-center">
      <strong>GPID:</strong> {{ enrolment?.enrollee.gpid }}
    </span>

    <span>
        <app-adjudicator-actions *ngIf="enrollees?.length"
                                  [enrollee]="enrollees[0]"
                                  (approve)="onApprove($event)"
                                  (decline)="onDecline($event)"
                                  (lock)="onLock($event)"
                                  (unlock)="onUnlock($event)"
                                  (delete)="onDelete($event)"
                                  (route)="onRoute($event)"
                                  (assignToa)="onAssignToa($event)"
                                  (enableEnrollee)="onEnableEnrollee($event)"
                                  (enableEditing)="onEnableEditing($event)"
                                  (cancelToa)="onCancelToa($event)"
                                  (rerunRules)="onRerunRules($event)"
                                  (toggleManualAdj)="onToggleManualAdj($event)"
                                  (reload)="onRefresh()"
                                  mode='row'>
        </app-adjudicator-actions>
      </span>
  </div>
  <div class="row">
    <div class="col-6">
      <h2>Enrolment</h2>

      <mat-card id="enrolmentCard">
        <mat-card-content>
          <p class="text-success font-italic">
            Submitted {{ enrollee?.appliedDate | formatDate: 'MMMM Do YYYY' }}
          </p>
          <h3>Enrollee Information</h3>
          <hr>
          <app-enrollee-review *ngIf="enrolment"
                               [enrolment]="enrolment"
                               [admin]="true"
                               (route)="onRoute($event)">
          </app-enrollee-review>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="col-6">

      <ng-container *ngIf="showAdjudication">
        <h2>Adjudication</h2>
        <mat-card id="adjudicationCard">
          <mat-card-content>
            <app-review-status-content [enrollee]="enrollee"
                                       [hideStatusHistory]="true">
            </app-review-status-content>
            <app-document-attachments *ngIf="documents"
                                      [documents]="documents">
            </app-document-attachments>
          </mat-card-content>
        </mat-card>
      </ng-container>
      <div *ngIf="plrInfo?.length">
        <ng-container *ngFor="let plr of plrInfo">
          <app-plr-info [plrData]="plr"></app-plr-info>
        </ng-container>
      </div>
    </div>
  </div>
</app-page>
