@import "palette";

#enrolmentCard {
  overflow: auto;
  height: calc(100vh - 380px);
}

#adjudicationCard {
  overflow: auto;
  height: calc(100vh - 500px);
}

.text-blue-light {
  color: theme-palette(blue, light);
}
