<app-page>
  <app-page-header>{{ title }}</app-page-header>

  <app-gis-enrolment-progress-indicator [inProgress]="true"></app-gis-enrolment-progress-indicator>

  <app-page-section>
    <app-page-subheader2 [showUnderline]="false">
      <ng-container appPageSubheader2Title>
        LDAP User
      </ng-container>
      <ng-container appPageSubheader2Summary>
        Are you an existing LDAP user?
      </ng-container>
    </app-page-subheader2>

    <form [formGroup]="formState.form"
          (ngSubmit)="onSubmit()"
          novalidate
          autocomplete="off">
      <mat-radio-group aria-label="Are you an existing LDAP user?"
                       formControlName="ldapUser">
        <mat-radio-button *ngFor="let option of [true, false]"
                          class="mr-5 mb-3"
                          [value]="option">
          {{ option | yesNo }}
        </mat-radio-button>
      </mat-radio-group>

      <app-alert *ngIf="hasAttemptedSubmission && formState.ldapUser.hasError('required')"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          Must indicate whether you are an existing LDAP user or not
        </ng-container>
      </app-alert>

      <app-alert *ngIf="hasAttemptedSubmission && formState.ldapUser.value === false"
                 type="danger">
        <ng-container #alertTitle
                      class="alert-title">
          No Access Available
        </ng-container>

        <ng-container #alertContent
                      class="alert-content">
          In order to enrol with GIS you must be an active LDAP user.
        </ng-container>
      </app-alert>
    </form>
  </app-page-section>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="false"
                   [disableSave]="formState.ldapUser.value === false"
                   (save)="onSubmit()"></app-page-footer>
</app-page>
