<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      novalidate>

  <h1 class="h2 mb-4">Application Enrolment</h1>

  <app-sub-header subheader="Professional Information"
                  help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

  <p>Do you have a college certification?</p>

  <mat-radio-group aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   formControlName="hasCertification">
    <mat-radio-button class="mr-4"
                      *ngFor="let decision of decisions"
                      [value]="decision.code">
      {{ decision.name }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="row"
       *ngIf="hasCertification.value"
       formArrayName="certifications">
    <div class="col-sm-12 col-md-6 col-xl-4 py-3">

      <ng-container *ngFor="let certificate of certifications.controls; let i = index, let first = first"
                    [formGroupName]="i">

        <hr *ngIf="!first">

        <app-college-certifications [form]="certificate"
                                    (remove)="removeCertification(i)"></app-college-certifications>

      </ng-container>

      <button mat-raised-button
              color="primary"
              (click)="addCertification()"
              [disabled]="certifications.invalid">Add Certification</button>

    </div>
  </div>

  <p>Are you a device provider?</p>

  <mat-radio-group aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   formControlName="isDeviceProvider"
                   #rb>
    <mat-radio-button class="mr-4"
                      *ngFor="let decision of decisions"
                      [value]="decision.code">
      {{ decision.name }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="row"
       *ngIf="isDeviceProvider.value">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Device Provider Number"
               formControlName="deviceProviderNumber">
      </mat-form-field>

    </div>
  </div>

  <p>Are you an insulin pump provider?</p>

  <mat-radio-group aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   formControlName="isInsulinPumpProvider">
    <mat-radio-button class="mr-4"
                      *ngFor="let decision of decisions"
                      [value]="decision.code">
      {{ decision.name }}
    </mat-radio-button>
  </mat-radio-group>

  <p>Are you accessing PharmNet on behalf of someone else?</p>

  <mat-radio-group aria-labelledby="example-radio-group-label"
                   class="example-radio-group"
                   formControlName="isAccessingPharmaNetOnBehalfOf">
    <mat-radio-button class="mr-4"
                      *ngFor="let decision of decisions"
                      [value]="decision.code">
      {{ decision.name }}
    </mat-radio-button>
  </mat-radio-group>

  <div class="row"
       *ngIf="isAccessingPharmaNetOnBehalfOf.value">
    <div class="col-sm-12 col-md-6 col-xl-4">

      <mat-form-field class="w-100">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let job of jobs.controls; let i = index"
                    [selectable]="true"
                    [removable]="true"
                    (removed)="removeJob(i)">
            {{ job.value }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Job Title"
                 #jobInput
                 [matAutocomplete]="auto"
                 [matChipInputFor]="chipList"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="addJob($event)"
                 [formControl]="jobCtrl">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete"
                          (optionSelected)="selectedJob($event)">
          <mat-option *ngFor="let job of filteredJobNames | async"
                      [value]="job.name">
            {{ job.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col pt-2">

      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="../contact">Back</button>

    </div>
    <div class="col pt-2 text-right">

      <button mat-raised-button
              color="primary">Save and Continue</button>

    </div>
  </div>

</form>
