<div class="row">
  <div class="col">

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">

      <ng-container matColumnDef="prefixes">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">&nbsp;
        </th>
        <td mat-cell
            *matCellDef="let row;"
            class="prefix">
          <button *ngIf="isHealthAuthorityObject(row) && flaggedHealthAuthorities?.includes(row.id)"
                  mat-icon-button
                  title="View Pending Authorized Users"
                  (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS])">
            <mat-icon class="red-icon">admin_panel_settings</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="orgName">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Organization Name
        </th>
        <td mat-cell
            *matCellDef="let row;"> {{ isHealthAuthorityObject(row) ? row.name : "" }} </td>
      </ng-container>

      <ng-container matColumnDef="siteName">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Site Name
        </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.siteName | default }} </td>
      </ng-container>

      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Submission Date
        </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.submittedDate | formatDate }} </td>
      </ng-container>

      <ng-container matColumnDef="assignedTo">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Assigned To
        </th>
        <!-- TODO: Need adjudicatorIdir or similar on model -->
        <td mat-cell
            *matCellDef="let row;"> {{ null | default }} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> State
        </th>
        <td mat-cell
            *matCellDef="let row;"
            class="status"
            [class.editable]="row.status === SiteStatusType.EDITABLE && !row.approvedDate"
            [class.under-review]="row.status === SiteStatusType.IN_REVIEW"
            [class.approved]="row.status === SiteStatusType.EDITABLE && !!row.approvedDate"
            [class.declined]="row.status === SiteStatusType.LOCKED">
          {{ displayStatus(row.status) | capitalize: true | default }} </td>
      </ng-container>

      <ng-container matColumnDef="siteId">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Site ID
        </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.siteId | default }} </td>
      </ng-container>

      <ng-container matColumnDef="remoteUsers">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Remote Users
        </th>
        <td mat-cell
            *matCellDef="let row;"> {{ remoteUsers(row) | default }} </td>
      </ng-container>

      <ng-container matColumnDef="haActions">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">
          &nbsp;
        </th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="haMenu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="siteActions">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">
          &nbsp;
        </th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="siteMenu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>
        </td>
      </ng-container>


      <!-- Health Authority header -->
      <ng-container matColumnDef="haHeader">
        <td colspan="7"
            mat-cell
            *matCellDef="let groupBy">
          <strong>{{groupBy.name}}</strong>
          <button mat-icon-button
                  title="Expand"
                  (click)="expandHeader(groupBy)">
            <mat-icon>{{ (groupBy.id === idOfExpandedHA) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row
          *matRowDef="let row; columns: ['prefixes', 'haHeader', 'haActions']; when: isGroup"> </tr>


      <tr mat-header-row
          *matHeaderRowDef="siteColumns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: siteColumns;"
          [hidden]="row.healthAuthorityOrganizationId !== idOfExpandedHA"></tr>

    </table>

    <p *ngIf="!dataSource?.data?.length"
       class="px-4 py-2 text-muted">
      No Health Authorities Found
    </p>

    <ng-template #haMenu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              class="org-menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.ORGANIZATION_INFORMATION])">
          <mat-icon>business</mat-icon>
          <span>Add Organization Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS])">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>View Authorized Users</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template #siteMenu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>all_inclusive</mat-icon>
          <span>Overview</span>
        </button>
        <button mat-menu-item>
          <mat-icon>list_alt</mat-icon>
          <span>Event Log</span>
        </button>
        <button mat-menu-item>
          <mat-icon>message</mat-icon>
          <span>Add and View Notes</span>
        </button>
        <button mat-menu-item>
          <mat-icon>email</mat-icon>
          <span>Send Email</span>
        </button>
        <button mat-menu-item
                *ngIf="!row?.adjudicatorIdir"
                [disabled]="!(Role.EDIT_SITE | inRole)">
          <mat-icon>pan_tool</mat-icon>
          <span>Assign Registration</span>
        </button>
        <button mat-menu-item
                *ngIf="row?.adjudicatorIdir"
                [disabled]="!(Role.EDIT_SITE | inRole)">
          <mat-icon>pan_tool</mat-icon>
          <span>Reassign Registration</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>
</div>
