<div class="row">
  <div class="col">

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">

      <ng-container matColumnDef="prefixes">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="prefix">
          <button *ngIf="isHealthAuthority(row) && flaggedHealthAuthorities?.includes(row.id)"
                  mat-icon-button
                  title="View Pending Authorized Users"
                  (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS])">
            <mat-icon class="red-icon">admin_panel_settings</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="orgName">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Health Authority Name </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row?.healthAuthorityName | default: '' }} </td>
      </ng-container>

      <ng-container matColumnDef="siteName">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Site Name </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.siteName | default }} </td>
      </ng-container>

      <ng-container matColumnDef="authorizedUser">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Authorized User </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.authorizedUserName | default }} </td>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Vendor </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.healthAuthorityVendor.vendorCode | configCode: 'vendors' }} </td>
      </ng-container>

      <ng-container matColumnDef="siteId">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Site ID (PEC) </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.pec | default }} </td>
      </ng-container>

      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Submission Date </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.submittedDate | formatDate }} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> State </th>
        <td mat-cell
            *matCellDef="let row;"
            class="status"
            [class.editable]="row.status === SiteStatusType.EDITABLE && !row.approvedDate"
            [class.under-review]="row.status === SiteStatusType.IN_REVIEW"
            [class.approved]="row.status === SiteStatusType.EDITABLE && !!row.approvedDate"
            [class.declined]="row.status === SiteStatusType.LOCKED">
          {{ SiteStatusType[row.status] | case : 'snake' : 'space' | capitalize : true | default: 'Editable' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="assignedTo">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col"> Assigned To </th>
        <!-- TODO missing adjudicatorIdir on model to populate column -->
        <td mat-cell
            *matCellDef="let row;"> {{ null | default }} </td>
      </ng-container>

      <ng-container matColumnDef="haActions">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="healthAuthMenu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="siteActions">
        <th mat-header-cell
            *matHeaderCellDef
            scope="col">&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="healthAuthSiteMenu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="haHeader">
        <td mat-cell
            *matCellDef="let row"
            [attr.colspan]="siteColumns.length - 2">
          <button mat-icon-button
                  title="Expand"
                  color="primary"
                  [disableRipple]="true"
                  [class]="{ 'mat-button-disabled': expandedHealthAuthId !== 0 && row.id !== expandedHealthAuthId }"
                  (click)="onExpandHeader(row)">
            {{ row.name }}
            <mat-icon>{{ (row.id === expandedHealthAuthId) ? 'expand_more' : 'chevron_right' }}</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-row
          *matRowDef="let row; columns: ['prefixes', 'haHeader', 'haActions']; when: isGroup()"
          [class]="{ 'expanded': row.id === expandedHealthAuthId }"></tr>
      <tr mat-header-row
          *matHeaderRowDef="siteColumns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: siteColumns;"
          [hidden]="showHealthAuthorities && row.healthAuthorityOrganizationId !== expandedHealthAuthId"></tr>
    </table>

    <p *ngIf="!dataSource?.data?.length"
       class="px-4 py-2 text-muted">
      No Health Authorities Found
    </p>

    <ng-template #healthAuthMenu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              class="health-auth-menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([
                  AdjudicationRoutes.HEALTH_AUTHORITIES,
                  row.id,
                  AdjudicationRoutes.ORGANIZATION_INFORMATION
                ])">
          <mat-icon>business</mat-icon>
          <span>Add Organization Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([
                  AdjudicationRoutes.HEALTH_AUTHORITIES,
                  row.id,
                  AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS
                ])">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>View Authorized Users</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template #healthAuthSiteMenu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([
                  AdjudicationRoutes.HEALTH_AUTHORITIES,
                  row.healthAuthorityOrganizationId,
                  AdjudicationRoutes.SITE_REGISTRATION,
                  row.id
                ])">
          <mat-icon>all_inclusive</mat-icon>
          <span>Overview</span>
        </button>
        <button mat-menu-item
                [disabled]="true"
                (click)="onRoute([
                  AdjudicationRoutes.HEALTH_AUTHORITIES,
                  row.healthAuthorityOrganizationId,
                  AdjudicationRoutes.SITE_REGISTRATION,
                  row.id,
                  AdjudicationRoutes.EVENT_LOG
                ])">
          <mat-icon>list_alt</mat-icon>
          <span>Event Log</span>
        </button>
        <button mat-menu-item
                [disabled]="true"
                (click)="onRoute([
                  AdjudicationRoutes.HEALTH_AUTHORITIES,
                  row.healthAuthorityOrganizationId,
                  AdjudicationRoutes.SITE_REGISTRATION,
                  row.id,
                  AdjudicationRoutes.ADJUDICATOR_NOTES
                ])">
          <mat-icon>message</mat-icon>
          <span>Add and View Notes</span>
        </button>

        <button mat-menu-item
                [disabled]="true"
                (click)="onNotify(row.id, row.healthAuthorityOrganizationId)">
          <mat-icon>email</mat-icon>
          <span>Send Email</span>
        </button>

        <button mat-menu-item
                *ngIf="!row?.adjudicatorIdir"
                [disabled]="true || !(Role.EDIT_SITE | inRole)"
                (click)="(!row?.adjudicatorIdir) ? onAssign(row.siteId) : onReassign(row.siteId)">
          <mat-icon>pan_tool</mat-icon>
          <span>{{ (!row?.adjudicatorIdir) ? 'Assign Registration' : 'Reassign Registration' }}</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>
</div>
