@import 'palette';
@import 'mixins/statuses';

@include statuses;

.red-icon {
  color: theme-palette(red);
}

.health-auth-menu {
  color: theme-palette(yellow);
}

.health-auth-site-menu {
  color: theme-palette(blue);
}

.expanded {
  background-color: theme-palette(blue, lightest);
}

.prefix-container {
  height: 48px;
  width: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}
