<div class="row">
  <div class="col">

    <mat-accordion multi="false">
      <table mat-table
             [dataSource]="dataSource"
             class="w-100">

        <ng-container matColumnDef="prefixes">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">&nbsp;
          </th>
          <td mat-cell
              *matCellDef="let row;"
              class="prefix">
            <button *ngIf="flaggedHealthAuthorities?.includes(row.id)"
                    mat-icon-button
                    title="View Pending Authorized Users"
                    (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS])">
              <mat-icon class="red-icon">admin_panel_settings</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="orgName">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Health Authority Name
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.name | default }}
            <mat-expansion-panel (opened)="showSites(row.id)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ this.healthAuthorityIdToSites.get(row.id)?.length }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </td>
        </ng-container>

        <ng-container matColumnDef="siteName">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Site Name
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="submissionDate">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Submission Date
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Assigned To
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> State
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="siteId">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Site ID
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="remoteUsers">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Remote Users
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ null | default }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">
            &nbsp;
          </th>
          <td mat-cell
              *matCellDef="let row;"
              class="text-right">

            <ng-container [ngTemplateOutlet]="menu"
                          [ngTemplateOutletContext]="{ row: row }"></ng-container>

          </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row
            *matRowDef="let row; columns: columns;"></tr>
      </table>
    </mat-accordion>

    <p *ngIf="!dataSource?.data?.length"
       class="px-4 py-2 text-muted">
      No Health Authorities Found
    </p>

    <ng-template #menu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu"
              class="org-menu-button">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.ORGANIZATION_INFORMATION])">
          <mat-icon>business</mat-icon>
          <span>Add Organization Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.HEALTH_AUTHORITIES, row.id, AdjudicationRoutes.HEALTH_AUTH_AUTHORIZED_USERS])">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>View Authorized Users</span>
        </button>
      </mat-menu>

    </ng-template>

  </div>
</div>
