@import 'palette';
@import 'mixins/statuses';

@include statuses;

.prefix {
  width: 2rem;
}

.red-icon {
  color: theme-palette(red);
}

.org-menu-button {
  color: theme-palette(yellow);
}

.health-auth-header {
  color: theme-palette(blue);
  padding-left: 1rem;
  padding-right: 1rem;
}

.health-auth-header-expanded {
  background-color: theme-palette(blue, lightest);
}

.health-auth-site-menu {
  color: theme-palette(blue);
}
