<mat-card class="has-hover">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary">{{ icon }}</mat-icon>
    </div>
    <mat-card-title>{{ title }}</mat-card-title>
    <ng-container *ngIf="menu"
                  [ngTemplateOutlet]="menu"
                  [ngTemplateOutletContext]="menuOutletContext"></ng-container>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngFor="let prop of properties"
                  [ngTemplateOutlet]="property"
                  [ngTemplateOutletContext]="{ property: prop }">
    </ng-container>

    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions *ngIf="actionButtonTitle">
    <button mat-stroked-button
            type="button"
            color="primary"
            [disabled]="actionDisabled"
            (click)="onAction()">
      {{ actionButtonTitle }}
    </button>
  </mat-card-actions>
  <mat-card-actions *ngIf="alternateButtonTitle">
    <button mat-stroked-button
            type="button"
            color="primary"
            [disabled]="alternateDisabled"
            (click)="onAlternateAction()">
      {{ alternateButtonTitle }}
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #property
             let-property="property">
  <div>
    <strong>{{ property.key }}</strong>
    {{ property.value | default }}
  </div>
</ng-template>
