<app-collection-notice-container [isFull]="isFull"
                                 (accepted)="onAccept()">
  <p>
    The personal information you provide on this request form is collected by the British Columbia Ministry of Health
    under the authority of s. 26(a) and (c) of the Freedom of Information and Protection of Privacy Act and s. 22(1)(b)
    of the Pharmaceutical Services Act for the purpose of determining and managing access to, and use of, PharmaNet at
    your site. If you have any questions about the collection or use of this information, call
  </p>
  <p>
    <strong>Health Insurance BC toll free at <app-prime-phone></app-prime-phone> (toll free).</strong>
  </p>
</app-collection-notice-container>
