<app-page [busy]="busy">
  <app-page-header>{{ title }}</app-page-header>

  <app-site-collection-notice [isFull]="false"></app-site-collection-notice>

  <div *ngIf="hasSubmittedSite"
       class="alert-message">
    <app-alert type="info">
      <ng-container #alertContent
                    class="alert-content">
        <strong>You have accepted the Organization Agreement and your application has been submitted.</strong>
        Use this administration page to update your information or add multiple sites.
      </ng-container>
    </app-alert>
  </div>

  <ng-container *ngFor="let organization of organizations">

    <mat-card class="has-hover">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">business</mat-icon>
        </div>
        <mat-card-title>Organization Information</mat-card-title>
        <ng-container [ngTemplateOutlet]="organizationMenu"
                      [ngTemplateOutletContext]="{ organization: organization }"></ng-container>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let prop of getOrganizationProperties(organization)"
                      [ngTemplateOutlet]="property"
                      [ngTemplateOutletContext]="{ property: prop }">
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button
                type="button"
                color="primary"
                [disabled]="!organization.acceptedAgreementDate"
                (click)="viewAgreement(organization)">
          View/Print Agreement
        </button>
      </mat-card-actions>
    </mat-card>

    <hr class="divider">

    <div class="add-site">
      <button mat-button
              type="button"
              color="primary"
              [disabled]="!organization.completed"
              (click)="addSite(organization.id)">
        <mat-icon>add</mat-icon>
        Add Site
      </button>
    </div>

  </ng-container>

  <ng-container *ngFor="let site of sites">

    <mat-card class="has-hover">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon color="primary">store</mat-icon>
        </div>
        <mat-card-title>Site Information</mat-card-title>
        <ng-container [ngTemplateOutlet]="siteMenu"
                      [ngTemplateOutletContext]="{ site: site }"></ng-container>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let prop of getSiteProperties(site)"
                      [ngTemplateOutlet]="property"
                      [ngTemplateOutletContext]="{ property: prop }">
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button mat-stroked-button
                type="button"
                color="primary"
                [disabled]="!site.remoteUsers.length"
                (click)="viewSiteRemoteUsers(site)">
          Update Remote Practitioners
        </button>
      </mat-card-actions>
    </mat-card>

  </ng-container>

  <ng-template #property
               let-property="property">
    <div>
      <strong>{{ property.key }}</strong>
      {{ property.value | default }}
    </div>
  </ng-template>

  <ng-template #organizationMenu
               let-organization="organization">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu"
              aria-label="Organization actions menu">
      <button mat-menu-item
              (click)="viewOrganization(organization)">
        <span>View/Update Organization</span>
      </button>
      <button mat-menu-item
              [disabled]="!organization.acceptedAgreementDate"
              (click)="viewAgreement(organization)">
        <span>View/Print Agreement</span>
      </button>
    </mat-menu>
  </ng-template>

  <ng-template #siteMenu
               let-site="site">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu"
              aria-label="Site actions menu">
      <button mat-menu-item
              (click)="viewSite(site)">
        <span>View/Update Site Information</span>
      </button>
      <button mat-menu-item
              [disabled]="!site.remoteUsers.length"
              (click)="viewSiteRemoteUsers(site)">
        <span>View/Update Remote Practitioners</span>
      </button>
    </mat-menu>

  </ng-template>

</app-page>
