<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <app-page-subheader2>
    <ng-container appPageSubheader2Title>{{ title }}</ng-container>
    <ng-container appPageSubheader2Summary>
      <p>
        List all practitioners requiring remote access to PharmaNet. Once the site is approved, the practitioners must
        enrol in PRIME, indicate they need remote access, and accept the PharmaNet Regulated User Terms of Access.
      </p>
    </ng-container>
  </app-page-subheader2>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <mat-slide-toggle class="mb-3"
                      color="primary"
                      formControlName="hasRemoteUsers">This site has remote practitioners
    </mat-slide-toggle>

  </form>

  <section>
    <ng-container *ngFor="let remoteUser of formState.remoteUsers.controls; let index = index; let last = last">

      <app-summary-card icon="account_circle"
                        [title]="remoteUser.value | fullname"
                        [menu]="remoteUserMenu"
                        [properties]="getRemoteUserProperties(remoteUser)"
                        actionButtonTitle="Update Information"
                        [actionDisabled]="false"
                        (remove)="onRemove(index)"
                        (action)="onEdit(index)"></app-summary-card>

      <ng-template #remoteUserMenu
                   let-remoteUser="remoteUser">
        <button type="button"
                mat-icon-button
                color="primary"
                matTooltip="Remove Remote User"
                (click)="onRemove(index)">
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
    </ng-container>
  </section>

  <app-alert *ngIf="hasNoRemoteUserError"
             type="danger"
             icon="warning">
    <ng-container #alertContent
                  class="alert-content">
      By indicating you have remote users at least one remote user is required.
    </ng-container>
  </app-alert>

  <app-alert *ngIf="hasNoEmailError"
             type="danger"
             icon="warning">
    <ng-container #alertContent
                  class="alert-content">
      One or more remote users are missing an email.
    </ng-container>
  </app-alert>

  <button mat-button
          *ngIf="formState.hasRemoteUsers.value"
          type="button"
          color="primary"
          class="mb-3"
          [routerLink]="['new']">
    <mat-icon class="add-icon">add</mat-icon>
    Add Remote Practitioners
  </button>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [primaryActionLabel]="(hasBeenSubmitted) ? 'Continue' : 'Save and Continue'"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (continue)="onBack()"
                   (back)="onBack()"></app-page-footer>

</app-page>
