<style>

  .signature {
    display: inline-block;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }

</style>

<p>SIGNED AND DELIVERED by</p>

<div class="signature">
  __________________________________<br>
</div>

<p>In the presence of:</p>

<div class="signature">
  __________________________________<br>
  Witness
</div>

<div class="signature">
  __________________________________<br>
  Practitioner
</div>
