<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-8 offset-sm-2">

      <app-page-header>Application Enrolment</app-page-header>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Application Review</ng-container>
        <ng-container appPageSubheaderSummary>
          Please review all the information to ensure it is accurate. If you need to edit any section click the pencil
          icon.
        </ng-container>
      </app-page-subheader>

      <app-enrollee-review *ngIf="enrolment"
                           [enrolment]="enrolment"
                           (route)="onRoute($event)"></app-enrollee-review>

      <div class="footer">
        <mat-checkbox class="mr-4"
                      (change)="onConfirmAccuracy($event)">
          I confirm that all information provided is accurate.
        </mat-checkbox>
      </div>

      <div class="row justify-content-between">
        <div class="col pt-4">

          <button mat-stroked-button
                  type="button"
                  [routerLink]="['..', EnrolmentRoutes.ORGANIZATION]">Back</button>

        </div>
        <div class="col pt-4 text-right">

          <button mat-raised-button
                  color="primary"
                  [disabled]="disabledAgreement"
                  (click)="onSubmit()">Submit Enrolment</button>

        </div>
      </div>

    </div>
  </div>

</app-busy-overlay>
