<app-page [busy]="busy">

  <app-page-header>Enrolment</app-page-header>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>
      Enrolment From {{ enrolmentProfileHistory?.createdDate | formatDate }}
    </ng-container>
  </app-page-subheader>

  <div *ngIf="enrolment?.enrollee?.gpid"
       class="row mb-3">
    <div class="col-6 mb-3">
      GPID
    </div>
    <div class="col-6 text-right mb-3">
      {{ enrolment?.enrollee?.gpid | default }}
    </div>
  </div>

  <app-enrollee-review [enrolment]="enrolmentProfileHistory?.profileSnapshot"></app-enrollee-review>

  <div class="row justify-content-between">
    <div class="col pt-4">

      <button mat-stroked-button
              type="button"
              (click)="routeRelativeTo(['../'])">Back</button>

    </div>
  </div>

</app-page>
