<app-adjudication-container [content]="content">

  <app-page-header>Enrolment History</app-page-header>

</app-adjudication-container>

<ng-template #content
             let-enrollee="enrollee">
  <h6 class="text-green text-italic">Submitted {{ enrolmentSubmission?.createdDate | formatDate }}</h6>
  <app-page-subheader>
    <ng-container appPageSubheaderTitle>
      Enrollee Information
    </ng-container>
  </app-page-subheader>

  <div *ngIf="enrollee?.gpid"
       class="row mb-3">
    <div class="col-6 mb-3">
      GPID
    </div>
    <div class="col-6 text-right mb-3">
      {{ enrollee?.gpid | default }}
    </div>
  </div>

  <app-enrollee-review *ngIf="enrolmentSubmission"
                       [enrolment]="enrolmentSubmission?.profileSnapshot"
                       [admin]="true"
                       (route)="onRoute($event)"></app-enrollee-review>

  <div class="row justify-content-between">
    <div class="col pt-4">

      <button mat-stroked-button
              type="button"
              (click)="routeRelativeTo(['../'])">Back</button>

    </div>
  </div>

</ng-template>
