<app-enrollee-page [busy]="busy">
  <app-page-header>PRIME Enrolment</app-page-header>
  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Enrollee Information</ng-container>
        <ng-container appPageSubheader2Summary>
          This information comes from your BC Services Card. If you use a different name professionally, please
          select "I have a preferred name."
          <small class="font-italic d-block">
            Entering a preferred name in PRIME won't change your BC Services Card.<br>
            The name you provide must match your College registration information, if applicable.
          </small>
        </ng-container>
      </app-page-subheader2>

      <app-bcsc-profile [user]="bcscUser"
                        [showAddress]="false"></app-bcsc-profile>

      <app-toggle-content label="I have a preferred name"
                          [checked]="hasPreferredName"
                          (toggle)="onPreferredNameChange($event)">

        <section>
          <app-page-subheader2>
            <ng-container appPageSubheader2Title>Preferred Name</ng-container>
            <ng-container appPageSubheader2Summary>
              If you use a name professionally that is different from your legal name, enter it here.
            </ng-container>
          </app-page-subheader2>

          <app-preferred-name-form [form]="form"></app-preferred-name-form>
        </section>

      </app-toggle-content>
    </section>

    <section class="mb-3">
      <ng-container *ngIf="hasVerifiedAddress; else noAddress">
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Address</ng-container>
          <ng-container appPageSubheader2Summary>
            The information below comes from your BC Services Card. If you would prefer to receive mail at a
            professional or other address, select "I have a preferred address."
            <small class="font-italic d-block">
              Entering a preferred address in PRIME will not change your BC Services Card address.
            </small>
          </ng-container>
        </app-page-subheader2>

        <app-bcsc-profile [user]="bcscUser"
                          [showPersonal]="false"
                          [showAddressTitle]="false"></app-bcsc-profile>

        <app-toggle-content label="I have a preferred physical address"
                            [checked]="hasPhysicalAddress"
                            (toggle)="onPhysicalAddressChange($event)">

          <section>
            <app-page-subheader2>
              <ng-container appPageSubheader2Title>Physical Address</ng-container>
            </app-page-subheader2>

            <app-address-form [form]="physicalAddress"
                              [showManualButton]="true"
                              [showAddressFields]="hasPhysicalAddress"></app-address-form>
          </section>

        </app-toggle-content>
      </ng-container>

      <ng-template #noAddress>
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Address</ng-container>
          <ng-container appPageSubheader2Summary>
            Provide your physical address.
          </ng-container>
        </app-page-subheader2>

        <app-address-form [form]="physicalAddress"
                          [inBc]="true"
                          [showManualButton]="true"
                          [showAddressFields]="hasPhysicalAddress"></app-address-form>
      </ng-template>

      <app-toggle-content label="I have a preferred mailing address"
                          [checked]="hasMailingAddress"
                          (toggle)="onMailingAddressChange($event)">

        <section>
          <app-page-subheader2>
            <ng-container appPageSubheader2Title>Mailing Address</ng-container>
          </app-page-subheader2>

          <app-address-form [form]="mailingAddress"
                            [inBc]="true"
                            [showManualButton]="true"
                            [showAddressFields]="hasMailingAddress"></app-address-form>
        </section>

      </app-toggle-content>
    </section>

    <app-contact-information-form [form]="form"></app-contact-information-form>

  </form>

  <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                   [hasSecondaryAction]="isProfileComplete || potentialPaperEnrolleeReturnee"
                   (save)="onSubmit()"
                   (back)="onBack(EnrolmentRoutes.PAPER_ENROLLEE_RETURNEE_DECLARATION)"></app-page-footer>

</app-enrollee-page>
