<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [currentRoute]="SiteRoutes.MULTIPLE_SITES"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Multiple Sites</ng-container>
      <ng-container appPageSubheaderSummary>
        <strong>
          Does your organization have more than one PharmaNet site?
        </strong>

        <br>

        <em>
          A site constitutes more than one physical location for your organization, or using more than one PharmaNet Vendor
        </em>
      </ng-container>
    </app-page-subheader>

    <section class="mb-3">

      <mat-radio-group formControlName="hasMultipleSites">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          {{ decision.name }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasMultipleSites.value"
           class="row">
        <div class="col pt-3">

          <app-form-icon-group>
            <mat-form-field class="w-100">
              <input matInput
                     placeholder="What is your organization number?"
                     formControlName="organizationNumber">
              <mat-error>Required</mat-error>
            </mat-form-field>
            <ng-container appContextualContent>
              Contact HIBC if unknown
            </ng-container>
          </app-form-icon-group>

        </div>
      </div>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="false"
                   (save)="onSubmit()"></app-page-footer>

</app-page>
