<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    message="Enrolment Declined"></app-enrolment-progress-indicator>

  <div class="mb-5">
    <app-alert type="danger">
      <ng-container #alertTitle
                    class="alert-title">
        Your PRIME enrolment has been declined
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        Your application for PharmaNet access has not been approved.
        The Ministry of Health will contact you with next steps.
      </ng-container>
    </app-alert>
  </div>

  <p class="mb-5">
    If you have questions regarding your application, please contact us.
  </p>

  <app-prime-phone phoneNumber="director"></app-prime-phone><br>
  <app-prime-support-email></app-prime-support-email>

</app-enrollee-page>
