@import 'palette';
@import 'bootstrap/bootstrap-imports';

.mat-card {
  @include media-breakpoint-up(lg) {
    max-width: 400px;
  }

  .mat-card-content strong {
    display: block;
    margin-bottom: .4rem;
  }
}
