<div class="page-subheader d-flex"
     [ngClass]="{ 'divider': divider == true }">
  <div class="w-100">
    <h2 class="title">
      <ng-content select="[appPageSubheaderTitle]"></ng-content>
      <div *ngIf="hasContextualContent"
           class="help text-right">
        <app-contextual-help>
          <ng-container *ngIf="hasContextualTitle"
                        appContextualTitle>
            <ng-content select="[appContextualTitle]"></ng-content>
          </ng-container>
          <ng-container *ngIf="hasContextualContent"
                        appContextualContent>
            <ng-content select="[appContextualContent]"></ng-content>
          </ng-container>
        </app-contextual-help>
      </div>
    </h2>
    <p *ngIf="hasPageSubheaderSummary && showSummary"
       class="description">
      <ng-content #summary
                  select="[appPageSubheaderSummary]"></ng-content>
    </p>
  </div>
  <div *ngIf="!hasContextualContent || (hasPageSubheaderSummary && summaryAsInfo)"
       class="help flex-shrink-1">
    <ng-container *ngIf="hasPageSubheaderSummary && summaryAsInfo; then more else optional"></ng-container>

    <ng-template #more>
      <a mat-icon-button
        color="primary"
        aria-label="More Info"
        (click)="toggleSummary()">
        <mat-icon>info</mat-icon>
      </a>
    </ng-template>

    <ng-template #optional>
      <!-- Optional icon for actions at the end of a subheading -->
      <ng-content select="mat-icon"></ng-content>
    </ng-template>
  </div>
</div>
