<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Organization Information</ng-container>
      <ng-container appPageSubheaderSummary>
        Please identify the organization(s) for which you will be accessing PharmaNet.
      </ng-container>
    </app-page-subheader>

    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 col-xl-5">

        <mat-form-field class="w-100">
          <input type="text"
                 placeholder="Organization Type"
                 matInput
                 [formControl]="organizationCtrl"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete"
                            [displayWith]="displayOrganization">
            <mat-option *ngFor="let organizationType of filteredOrganizationTypes"
                        [value]="organizationType"
                        [disabled]="disableOrganization(organizationType.code)">
              {{ organizationType.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="col">

        <button mat-raised-button
                type="button"
                color="primary"
                class="mb-3 mt-1"
                [disabled]="!organizationCtrl.value"
                (click)="addOrganization()">Add Organization</button>

      </div>
    </div>

    <ng-container *ngIf="organizations.length">

      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let organization of organizations.controls; let i = index">
          {{ organizationLookup(organization.value.organizationTypeCode) }}
          <mat-icon matChipRemove
                    (click)="removeOrganization(i)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </ng-container>

    <app-page-footer [backRoute]="EnrolmentRoutes.SELF_DECLARATION"></app-page-footer>

  </form>

</app-busy-overlay>
