<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Organization Information</ng-container>
      <ng-container appPageSubheaderSummary>
        Please identify the organization(s) for which you will be accessing PharmaNet.
      </ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5 py-3"
           formArrayName="organizations">

        <ng-container *ngFor="let organization of organizations.controls; let i = index"
                      [formGroupName]="i">

          <app-form-icon-group [show]="organizations.length > 1"
                               (event)="removeOrganization(i)">
            <mat-form-field class="w-100">
              <mat-label>Organization Type</mat-label>
              <mat-select formControlName="organizationTypeCode">
                <mat-option *ngFor="let organizationType of organizationTypes"
                            [value]="organizationType.code"
                            [disabled]="disableOrganization(organizationType.code)">
                  {{ organizationType.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="organization.get('organizationTypeCode').hasError('required')">Required</mat-error>
            </mat-form-field>
          </app-form-icon-group>

        </ng-container>

        <button mat-button
                type="button"
                class="mt-3"
                color="primary"
                (click)="addOrganization()">
          <mat-icon class="add-icon">add</mat-icon>
          Add Additional Organization
        </button>

      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col pt-4">

        <button mat-stroked-button
                type="button"
                [routerLink]="['..', EnrolmentRoutes.SELF_DECLARATION]">Back</button>

      </div>
      <div class="col pt-4 text-right">

        <button mat-raised-button
                type="submit"
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
