<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <!-- <app-progress-indicator *ngIf="isInitialEnrolment"
                          [inProgress]="isInitialEnrolment"
                          [currentRoute]="EnrolmentRoutes.DEMOGRAPHIC"></app-progress-indicator> -->
  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Signing Authority</ng-container>
        <ng-container appPageSubheaderSummary>
          To be completed by the person responsible for PharmaNet activities at this location
        </ng-container>
      </app-page-subheader>

      <div class="mb-3">

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="Name"
                     formControlName="name">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="Job or Role Title"
                     formControlName="jobRole">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>
    </section>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>College Information</ng-container>
        <ng-container appPageSubheaderSummary>
          Complete if a registrant of a health care college in BC
        </ng-container>
      </app-page-subheader>

      <div class="mb-3">

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="College Name"
                     formControlName="collegeName">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="College Registration/ID"
                     formControlName="collegeId">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>

    </section>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Signing Authority Contact Information</ng-container>
        <ng-container appPageSubheaderSummary>
          Provide the Signing Authority's Contact Information
        </ng-container>
      </app-page-subheader>

      <div class="mb-3">

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="Phone"
                     formControlName="phone">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="Fax"
                     formControlName="fax">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="SMS Phone"
                     formControlName="smsPhone">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col">

            <mat-form-field class="w-50">
              <input matInput
                     placeholder="Email"
                     formControlName="email">
              <mat-error>Required</mat-error>
            </mat-form-field>

          </div>
        </div>

      </div>


      <mat-slide-toggle class="mb-3"
                        color="primary"
                        (change)="onSeparateAddressChange()"
                        [checked]="hasSeparateAddress">
        Provide Address if different from Site Address
      </mat-slide-toggle>

    </section>

    <ng-container *ngIf="hasSeparateAddress">

      <section class="mb-3">

        <app-page-subheader>
          <ng-container appPageSubheaderTitle>Separate Address</ng-container>
        </app-page-subheader>

        <app-address [form]="separateAddress"></app-address>

      </section>

    </ng-container>

  </form>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
