<app-enrollee-page [busy]="busy">
  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="false"></app-enrolment-progress-indicator>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Next Steps</ng-container>
  </app-page-subheader>

  <p>
    Your PRIME enrolment is under review by the Ministry of Health. You will be notified once your application has been
    reviewed.
  </p>

  <p class="mb-4">
    Questions about your enrolment should be directed to:
  </p>

  <app-prime-phone></app-prime-phone><br>
  <app-prime-support-email></app-prime-support-email>

</app-enrollee-page>
