<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <section class="mb-4">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Scan and upload a single file of the business licence
        </ng-container>
      </app-page-subheader2>

      <app-document-upload #documentUpload
                           componentName="business-licence"
                           labelMessage="Drag and drop your business licence or browse"
                           [multiple]="false"
                           (completed)="onUpload($event)"
                           (remove)="onRemoveDocument($event)"></app-document-upload>

      <app-alert *ngIf="hasNoBusinessLicenceError"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          No business licence has been uploaded.
        </ng-container>
      </app-alert>

      <ng-container *ngIf="businessLicence.businessLicenceDocument">

        <app-enrollee-property title="Filename">
          <button mat-stroked-button
                  color="primary"
                  (click)="downloadBusinessLicence($event)">
            <mat-icon class="mr-1">attachment</mat-icon>
            {{ businessLicence.businessLicenceDocument.filename | default }}
          </button>
        </app-enrollee-property>

      </ng-container>

      <ng-container *ngIf="canDefer()">

        <mat-slide-toggle #deferredLicence
                          class="my-2 mb-3"
                          color="primary"
                          (change)="onDeferredLicenceChange($event)">
          This Site does not have a business licence
        </mat-slide-toggle>

        <section *ngIf="deferredLicence?.checked"
                 class="mb-3">
          <app-page-subheader2>
            <ng-container appPageSubheader2Title>Missing Business Licence</ng-container>
            <ng-container appPageSubheader2Summary>
              If your business does not yet have a business license, or if you are located in a municipality or region
              that does not issue business licenses, provide a description below detailing the reason your business does
              not have a license. PRIME Support staff will contact you and assist you with determining the correct
              documents to upload. You may continue with your enrolment for now.
            </ng-container>
          </app-page-subheader2>

          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <textarea matInput
                          rows="5"
                          placeholder="Write here"
                          formControlName="deferredLicenceReason"></textarea>
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
      </ng-container>
    </section>

    <section class="mb-4"
             *ngIf="!deferredLicenceToggle?.checked">

      <app-business-licence-expiry [form]="formState.form"></app-business-licence-expiry>

    </section>

    <app-site-information-form [form]="formState.form"
                               [organizationId]="site.organizationId"></app-site-information-form>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
