<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isSubmitted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Municipal Site Business Licence and Other Document</ng-container>
        <ng-container appPageSubheader2Summary>
          Scan and upload a single file of the business licence.
          If you don't have your business licence, provide other documentation as proof of business address, e.g.
          <ol>
            <li>
              Screenshot of munipality website indicating business license is not issued
            </li>
            <li>
              Facilities accredited under the CPSBC Diagnostic Accreditation Program or Non-Hospital Medical and
              Surgical Facilities Accreditation Program may provide the certificate from CPSBC in lieu of a municipal
              business license
            </li>
          </ol>
        </ng-container>
      </app-page-subheader2>

      <app-document-upload #documentUpload
                           componentName="business-licence"
                           labelMessage="Drag and drop your business licence or browse"
                           [multiple]="false"
                           (completed)="onUpload($event)"
                           (remove)="onRemoveDocument($event)"></app-document-upload>

      <app-alert *ngIf="hasNoBusinessLicenceError"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          No business licence has been uploaded.
        </ng-container>
      </app-alert>

      <ng-container *ngIf="businessLicence.businessLicenceDocument">

        <app-enrollee-property title="Filename">
          <button mat-stroked-button
                  color="primary"
                  (click)="downloadBusinessLicence($event)">
            <mat-icon class="mr-1">attachment</mat-icon>
            {{ businessLicence.businessLicenceDocument.filename | default }}
          </button>
        </app-enrollee-property>

      </ng-container>

      <ng-container *ngIf="canDefer()">

        <mat-slide-toggle #deferredLicence
                          class="my-2 mb-3"
                          color="primary"
                          (change)="onDeferredLicenceChange($event)">
          This Site does not have a business licence
        </mat-slide-toggle>

        <section *ngIf="deferredLicence?.checked"
                 class="mb-3">
          <app-page-subheader2>
            <ng-container appPageSubheader2Title>Missing Business Licence</ng-container>
            <ng-container appPageSubheader2Summary>
              If your business does not yet have a business license, or if you are located in a municipality or region
              that does not issue business licenses, , please describe below why your business does
              not have a license. PRIME Support staff will contact you and assist you with determining the correct
              documents to upload. You may continue with your enrolment for now.
            </ng-container>
          </app-page-subheader2>

          <div class="row">
            <div class="col">
              <mat-form-field class="w-100">
                <textarea matInput
                          rows="5"
                          placeholder="Write here"
                          formControlName="deferredLicenceReason"></textarea>
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
        </section>
      </ng-container>
    </app-page-section>

    <app-page-section *ngIf="!deferredLicenceToggle?.checked">
      <app-business-licence-expiry [form]="formState.form"></app-business-licence-expiry>
    </app-page-section>

    <app-site-information-form [form]="formState.form"
                               [organizationId]="site.organizationId"></app-site-information-form>

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Site Address</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide your site’s address as it appears on your business licence. If your organization has multiple physical
          locations, you will be able to provide this information later.
        </ng-container>
      </app-page-subheader2>

      <app-address-form [form]="formState.physicalAddress"
                        [formControlNames]="formControlNames"
                        [inBc]="true"
                        [showManualButton]="true"
                        [showAddressFields]="showAddressFields"></app-address-form>
    </section>
  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [primaryActionLabel]="(hasBeenSubmitted) ? 'Continue' : 'Save and Continue'"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (continue)="onBack()"
                   (back)="onBack()"></app-page-footer>

</app-page>
