<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate>

    <section class="mb-4">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Scan and upload a single file of the business licence
        </ng-container>
      </app-page-subheader2>

      <app-document-upload #documentUpload
                           componentName="business-licence"
                           labelMessage="Drag and drop your business licence or browse"
                           [multiple]="false"
                           (completed)="onUpload($event)"
                           (remove)="onRemoveDocument($event)">
      </app-document-upload>

      <app-alert *ngIf="hasNoBusinessLicenceError"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          No business licence has been uploaded.
        </ng-container>
      </app-alert>

      <ng-container *ngIf="businessLicence.businessLicenceDocument">

        <app-enrollee-property title="Filename">
          <button mat-stroked-button
                  color="primary"
                  (click)="downloadBusinessLicence($event)">
            <mat-icon class="mr-1">attachment</mat-icon>
            {{ businessLicence.businessLicenceDocument.filename | default }}
          </button>
        </app-enrollee-property>

      </ng-container>
    </section>

    <app-site-name [form]="formState.form"
                   [organizationId]="site.organizationId"></app-site-name>

    <ng-container *ngIf="isCommPharm()">

      <mat-slide-toggle #deferredLicence
                        class="mb-3"
                        color="primary"
                        (change)="onDeferredLicenceChange($event)">
        This Community Pharmacy does not have a business licence
      </mat-slide-toggle>

      <section class="mb-3"
               *ngIf="deferredLicence?.checked">
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Missing Business Licence</ng-container>
          <ng-container appPageSubheader2Summary>
            If this Community Pharmacy does not have a business licence, explain below.
            You may continue with the registration without a business licence, but you
            are advised the Ministry of Health will not finalize your registration until
            your business licence has been uploaded.
          </ng-container>
        </app-page-subheader2>

        <div class="row">
          <div class="col">
            <mat-form-field class="w-100">
              <textarea matInput
                        rows="5"
                        placeholder="Write here"
                        formControlName="deferredLicenceReason"></textarea>
              <mat-error>Required</mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
    </ng-container>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
