<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <!--  <app-options-form [form]="formState.form"-->
  <!--                    fieldLabel="Administrator"-->
  <!--                    controlName="administrator"-->
  <!--                    selectOrAutocomplete="select"-->
  <!--                    [availableOptions]="administrators"></app-options-form>-->

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>
</app-page>
