<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"
                               [currentRoute]="SiteRoutes.ORGANIZATION_INFORMATION"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>{{ title }}</ng-container>
        <ng-container appPageSubheaderSummary>
          An organization is the legal entity that operates/controls one or more sites where PharmaNet is accessed. The
          organization may be: a sole proprietorship, limited partnership, corporation, etc.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input type="text"
                   matInput
                   placeholder="Organization Name (Legal Entity Operating Site)"
                   formControlName="name"
                   [matAutocomplete]="nameAuto">
            <mat-autocomplete autoActiveFirstOption
                              #nameAuto="matAutocomplete"
                              (optionSelected)="onSelect($event)">
              <mat-option *ngFor="let organization of organizations"
                          [value]="organization">
                {{ organization }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">
          <app-form-icon-group>
            <mat-form-field class="w-100">
              <input matInput
                     placeholder="Organization Registration ID"
                     formControlName="registrationId">
              <mat-error>Required</mat-error>
            </mat-form-field>
            <ng-container appContextualContent>
              This number can be found on the Certificate of Registration that was issued to the company by the
              Corporate Registry.
            </ng-container>
          </app-form-icon-group>

        </div>
      </div>

    </section>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Doing Business As</ng-container>
        <ng-container appPageSubheaderSummary>
          If different, the name under which the organization does business (“doing business as”). If you enter a
          numbered corporation as the organization, you must provide a “doing business as” name. One of those names must
          match that on the business licence.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input type="text"
                   matInput
                   placeholder="Doing Business As (Optional)"
                   formControlName="doingBusinessAs"
                   [matAutocomplete]="doingBusinessAsAuto">
            <mat-autocomplete autoActiveFirstOption
                              #doingBusinessAsAuto="matAutocomplete">
              <mat-option *ngFor="let doingBusinessAsName of doingBusinessAsNames"
                          [value]="doingBusinessAsName">
                {{ doingBusinessAsName }}
              </mat-option>
            </mat-autocomplete>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
