<app-header [isMobile]="isMobile"
            [username]="username"
            (toggle)="sidenav.toggle()"
            (logout)="onLogout()"></app-header>

<mat-sidenav-container class="prime-sidenav-container">
  <mat-sidenav #sidenav
               [mode]="sideNavProps.mode"
               [opened]="sideNavProps.opened"
               [fixedInViewport]="sideNavProps.fixedInViewport"
               [fixedTopGap]="0"
               [fixedBottomGap]="0"
               class="prime-sidenav d-print-none">

    <div class="logo">
      <img src="/assets/prime_logo.svg"
           alt="PRIME Logo"
           [ngClass]="{ 'is-deskop': isDesktop }">
    </div>

    <mat-nav-list *ngFor="let sideNavSection of sideNavSections; let last = last"
                  [disableRipple]="true">
      <h3 mat-subheader
          *ngIf="sideNavSection.showHeader && sideNavProps.showText">
        {{ sideNavSection.header }}
      </h3>

      <div *ngFor="let item of sideNavSection.items">

        <mat-list-item *ngIf="item.showItem"
                       [routerLink]="item.route"
                       routerLinkActive="active"
                       [ngClass]="{ 'active': item.forceActive }"
                       (click)="onRoute()">
          <mat-icon mat-list-icon
                    [ngClass]="{ 'center-sidenav-icon': !isDesktop }">{{ item.icon }}</mat-icon>

          <a matLine
             [ngClass]="{ 'extend-content-width': isDesktop }">
            <span *ngIf="sideNavProps.showText">
              {{ item.name }}
            </span>
          </a>
        </mat-list-item>

      </div>

      <mat-divider *ngIf="!last"></mat-divider>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container">

      <div class="row">
        <div class="col py-4">

          <router-outlet></router-outlet>

        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
