@import 'palette';

.prime-sidenav-container {
  position: absolute;
  // Compensate for the application header, and the
  // progres indicator for HTTP requests and routing
  top: 73px;
  bottom: 0;
  left: 0;
  right: 0;
}

@media print {
  .prime-sidenav { display: none;
  max-width: 0 !important; }
  // .app-print-layout { display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   visibility: visible; }
  // .prime-sidenav-container {  position: absolute;
  //   left: 0;
  //   top: 0; }
  //   app-root {visibility: hidden;}


    .mat-sidenav-content {
      margin-left: 0 !important;
    }
    // .container {
    //   max-width: 100% !important;
    // }
}

