@import 'palette';

.prime-sidenav-container {
  position: absolute;
  // Compensate for the application header
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}

.prime-sidenav { }

// Force the mat-icon to be centered in the sidenav
// NOTE: used for mobile and tablet viewport sizes
// .center-sidenav-icon {
//   display: block !important;
//   text-align: center !important;
//   padding: 0 !important;
//   width: 90% !important;
// }
