{{- $separator :=  ternary "-" "." (regexMatch "(?:\\..*?){4}" .Values.global.vanityURL) -}}
{{- $domain := .Values.global.vanityURL -}}
{{- $fullName := include "prime-frontend.fullname" . -}}
{{- $release_name := .Release.Name }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ $fullName }}-config
  labels:
    {{- include "prime-frontend.labels" . | nindent 4 }}
data:
    config-map.json: |-
      {
        "environmentName": "dev",
        "apiEndpoint": "https://{{ $domain }}/api/v1",
        "loginRedirectUrl": "https://{{ $domain }}",
        "documentManagerUrl": "https://{{ $domain }}/api/docman",
        "keycloakConfig": {
          "config": {
            "url": "https://dev.oidc.gov.bc.ca/auth",
            "realm": "v4mbqqas",
            "clientId": "prime-application-dev"
          }
        },
        "mohKeycloakConfig": {
          "config": {
            "url": "https://common-logon-dev.hlth.gov.bc.ca/auth",
            "realm": "moh_applications",
            "clientId": "PRIME-WEBAPP-ENROLLMENT"
          }
        }
      }
    nginx.conf: |-
      # Based on https://www.nginx.com/resources/wiki/start/topics/examples/full/#nginx-conf
      #user              www www;  ## Default: nobody

      worker_processes  auto;
      error_log         "/opt/bitnami/nginx/logs/error.log";
      pid               "/opt/bitnami/nginx/tmp/nginx.pid";

      events {
          worker_connections  1024;
      }

      http {
          include       mime.types;
          default_type  application/octet-stream;
          log_format    main '$remote_addr - $remote_user [$time_local] '
                            '"$request" $status  $body_bytes_sent "$http_referer" '
                            '"$http_user_agent" "$http_x_forwarded_for"';
          access_log    "/opt/bitnami/nginx/logs/access.log" main;
          # add_header    X-Frame-Options SAMEORIGIN;

          client_body_temp_path  "/opt/bitnami/nginx/tmp/client_body" 1 2;
          proxy_temp_path        "/opt/bitnami/nginx/tmp/proxy" 1 2;
          fastcgi_temp_path      "/opt/bitnami/nginx/tmp/fastcgi" 1 2;
          scgi_temp_path         "/opt/bitnami/nginx/tmp/scgi" 1 2;
          uwsgi_temp_path        "/opt/bitnami/nginx/tmp/uwsgi" 1 2;

          sendfile           on;
          # tcp_nopush         on;
          tcp_nodelay        off;
          gzip               on;
          gzip_http_version  1.0;
          gzip_comp_level    2;
          gzip_proxied       any;
          gzip_types         text/plain text/css application/javascript text/xml application/xml+rss;
          keepalive_timeout  65;
          ssl_protocols      TLSv1 TLSv1.1 TLSv1.2 TLSv1.3;
          ssl_ciphers        HIGH:!aNULL:!MD5;
          client_max_body_size 80M;
          server_tokens off;

        server {
          listen 8080;
          server_name localhost *.gov.bc.ca;
          server_tokens off;

          root /opt/app-root/src;
          index index.html index.htm;

          include mime.types;
          add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca" always;
          add_header X-XSS-Protection "1; mode=block" always;
          add_header Content-Security-Policy "frame-ancestors 'self'  dev.oidc.gov.bc.ca; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com ; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com" always;
          add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
          add_header X-Content-Type-Options "nosniff" always;
          add_header Referrer-Policy "no-referrer-when-downgrade";

          gzip on;
          gzip_min_length 1000;
          gzip_proxied expired no-cache no-store private auth;
          gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          location / {
            try_files $uri $uri/ /index.html$args;
          }
          location /api/docman/ {
            proxy_pass http://{{ $release_name }}-docman:6001/;
          }
          location /api/v1/ {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/;
          }
          location /api/v1/PLRHL7 {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/PLRHL7;
            #        proxy_set_header  X-SSL-CERT $ssl_client_escaped_cert;
          }
          location /nginx_status {
            # Enable Nginx stats
            stub_status on;
            # Only allow access from localhost
            allow 127.0.0.1;
            # Other request should be denied
            deny all;
            # No need to log this request, its just noise
            access_log on;
          }
        }
        server {
          listen 8443 ssl;
          server_name *.gov.bc.ca;
          ssl_certificate certs/tls.crt;
          ssl_certificate_key certs/tls.key;
          server_tokens off;
          #    ssl_verify_client   optional_no_ca;

          root /opt/app-root/src;
          index index.html index.htm;

          add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca" always;
          add_header X-XSS-Protection "1; mode=block" always;
          add_header Content-Security-Policy "frame-ancestors 'self'  dev.oidc.gov.bc.ca; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com ; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com" always;
          add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
          add_header X-Content-Type-Options "nosniff" always;
          add_header Referrer-Policy "no-referrer-when-downgrade";

          gzip on;
          gzip_min_length 1000;
          gzip_proxied expired no-cache no-store private auth;
          gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          location / {
            try_files $uri $uri/ /index.html$args;
          }
          location /api/docman/ {
            proxy_pass http://{{ $release_name }}-docman:6001/;
          }
          location /api/v1/ {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/;
          }
          location /api/v1/PLRHL7 {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/PLRHL7;
            #        proxy_set_header  X-SSL-CERT $ssl_client_escaped_cert;
          }
          location /nginx_status {
            # Enable Nginx stats
            stub_status on;

            # Only allow access from localhost
            allow 127.0.0.1;

            # Other request should be denied
            deny all;

            # No need to log this request, its just noise
            access_log on;
          }
        }
        server {
          listen 8888;
          server_name *.gov.bc.ca;
          server_tokens off;

          root /opt/app-root/src;
          index index.html index.htm;

          add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca" always;
          add_header X-XSS-Protection "1; mode=block" always;
          add_header Content-Security-Policy "frame-ancestors 'self'  dev.oidc.gov.bc.ca; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com ; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com" always;
          add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
          add_header X-Content-Type-Options "nosniff" always;
          add_header Referrer-Policy "no-referrer-when-downgrade";
          gzip on;
          gzip_min_length 1000;
          gzip_proxied expired no-cache no-store private auth;
          gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          location / {
            try_files $uri $uri/ /index.html$args;
          }
          location /api/docman/ {
            proxy_pass http://{{ $release_name }}-docman:6001;
          }
          location /api/v1/ {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/;
          }
          location /nginx_status {
            # Enable Nginx stats
            stub_status on;
            # Only allow access from localhost
            allow 127.0.0.1;
            # Other request should be denied
            deny all;
            # No need to log this request, its just noise
            access_log on;
          }
        }
        server {
          # Block for API end-points that require a client certificate (Multual Authentication)
          listen 8890 ssl;
          server_name *.gov.bc.ca;
          ssl_certificate certs/tls.crt;
          ssl_certificate_key certs/tls.key;
          server_tokens off;
          ssl_verify_client optional_no_ca;
          ssl_client_certificate certs/plr/trusted-ca-certs.pem;
          root /opt/app-root/src;
          index index.html index.htm;

          # add_header X-Frame-Options "ALLOW-FROM dev.oidc.gov.bc.ca" always;
          # add_header X-XSS-Protection "1; mode=block" always;
          # add_header Content-Security-Policy "frame-ancestors 'self'  dev.oidc.gov.bc.ca; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com https://fonts.gstatic.com ; font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com" always;
          add_header Strict-Transport-Security "max-age=31536000; includeSubdomains; preload" always;
          add_header X-Content-Type-Options "nosniff" always;
          # add_header Referrer-Policy "no-referrer-when-downgrade";
          gzip on;
          gzip_min_length 1000;
          gzip_proxied expired no-cache no-store private auth;
          gzip_types text/plain text/css application/json application/javascript application/x-javascript text/xml application/xml application/xml+rss text/javascript;

          location /api/v1/PLRHL7 {
            proxy_pass http://{{ $release_name }}-webapi:8080/api/PLRHL7;
            proxy_set_header X-SSL-CERT $ssl_client_escaped_cert;
          }
        }
      }