<app-enrollee-page [busy]="busy">
  <app-page-header>PRIME Enrolment</app-page-header>
  <app-enrolment-progress-indicator [inProgress]="isInitialEnrolment"
                                    message="Pre-enrolment Step">
  </app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-access-code-form [form]="form"></app-access-code-form>

  </form>

  <app-page-footer primaryActionLabel="Continue"
                   [isInitialEnrolment]="isInitialEnrolment"
                   [hasSecondaryAction]="isProfileComplete"
                   (save)="onSubmit()"></app-page-footer>

</app-enrollee-page>
