@import 'palette';
@import 'variables';

.renewal-date {
  color: theme-palette(blue, light);
  font-style: italic;
}

.text-green {
  color: theme_palette(green);
}

button mat-icon {
  font-size: 1.2rem;
}

.title {
  font-size: 1.2rem;
}

.remote_access_section {
  color: #003366;
}
