@import 'palette';
@import 'variables';

.renewal-date {
  color: theme-palette(blue, light);
  font-style: italic;
}

p {
  // TODO set this to be controlled globally
  color: theme-palette(blue);
}

td {
  vertical-align: middle;
}
