<div class="app-print-layout">

  <app-enrollee-page [busy]="busy">

    <app-page-header>Next Steps to get PharmaNet</app-page-header>

    <app-enrolment-progress-indicator *ngIf="showProgressBar"
                                      [currentRoute]="EnrolmentRoutes.PHARMANET_ENROLMENT_SUMMARY">
    </app-enrolment-progress-indicator>

    <app-next-steps-infographic></app-next-steps-infographic>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Next Steps</ng-container>
    </app-page-subheader>

    <p>
      Get your access to PharmaNet set up.
    </p>
    <p class="mb-4">
      Use the email option below to notify your PharmaNet administrator of your completed enrolment. Enter in the email
      address of your PharmaNet administrator who may be your Pharmacy Manager, Office Manager or Medical Office
      Assistant
    </p>

    <form [formGroup]="form">
      <!-- TODO temporary removed and may be removed permanently -->
      <!-- <div class="mb-2">
        <mat-checkbox #careconnect>CareConnect</mat-checkbox>
        <div *ngIf="careconnect.checked"
             class="pt-2">
          <ng-container *ngTemplateOutlet="verbose; context: { provisioner: 'CareConnect' }"></ng-container>

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <mat-form-field class="w-100 mb-3">
                <input matInput
                       placeholder="Email"
                       formControlName="careconnectRecipients">
                <mat-error *ngIf="careconnectRecipients.hasError('required')">Required</mat-error>
                <mat-error *ngIf="careconnectRecipients.hasError('emails')">Must be a valid email address(es)
                </mat-error>
              </mat-form-field>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLinkTo('CareConnect')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div>

      <div class="mb-2">
        <mat-checkbox #excelleris>Excelleris</mat-checkbox>
        <div *ngIf="excelleris.checked"
             class="pt-2">
          <ng-container *ngTemplateOutlet="verbose; context: { provisioner: 'Excelleris' }"></ng-container>

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <mat-form-field class="w-100 mb-3">
                <input matInput
                       placeholder="Email"
                       formControlName="excellerisRecipients">
                <mat-error *ngIf="excellerisRecipients.hasError('required')">Required</mat-error>
                <mat-error *ngIf="excellerisRecipients.hasError('emails')">Must be a valid email address(es)</mat-error>
              </mat-form-field>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLinkTo('Excelleris')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div>

      <div class="mb-2">
        <mat-checkbox #iclinic>iClinic</mat-checkbox>
        <div *ngIf="iclinic.checked"
             class="pt-2">

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <ng-container *ngTemplateOutlet="concise; context: { provisioner: 'iClinic' }"></ng-container>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLink('iClinic')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div>

      <div class="mb-2">
        <mat-checkbox #medinet>MediNet</mat-checkbox>
        <div *ngIf="medinet.checked"
             class="pt-2">

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <ng-container *ngTemplateOutlet="concise; context: { provisioner: 'MediNet' }"></ng-container>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLink('MediNet')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div>

      <div class="mb-2">
        <mat-checkbox #plexia>Plexia</mat-checkbox>
        <div *ngIf="plexia.checked"
             class="pt-2">
          <ng-container *ngTemplateOutlet="verbose; context: { provisioner: 'Plexia' }"></ng-container>

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <mat-form-field class="w-100 mb-3">
                <input matInput
                       placeholder="Email"
                       formControlName="plexiaRecipients">
                <mat-error *ngIf="plexiaRecipients.hasError('required')">Required</mat-error>
                <mat-error *ngIf="plexiaRecipients.hasError('emails')">Must be a valid email address(es)</mat-error>
              </mat-form-field>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLinkTo('Plexia')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div>

      <div class="mb-2">
        <mat-checkbox #other>Other</mat-checkbox>
        <div *ngIf="other.checked"
             class="pt-2">
          <p class="mb-4">
            Enter an email address that may be used to send your PRIME approval notification.
          </p>

          <div class="row">
            <div class="col-sm-8 col-xl-7">

              <mat-form-field class="w-100 mb-3">
                <input matInput
                       placeholder="Email"
                       formControlName="otherRecipients">
                <mat-error *ngIf="otherRecipients.hasError('required')">Required</mat-error>
                <mat-error *ngIf="otherRecipients.hasError('email')">Must be a valid email address</mat-error>
              </mat-form-field>

            </div>
            <div class="col-sm-4 col-xl-3">

              <button mat-flat-button
                      type="button"
                      color="primary"
                      class="w-100 mb-4"
                      (click)="sendProvisionerAccessLinkTo('Other')">
                Send
              </button>

            </div>
          </div>

        </div>
      </div> -->

      <img [src]="'data:image/png;base64,' + enrolment.base64QRCode | safe: 'url'"
           class="qrCode">

      <p class="mb-4">
        If you work at more than one site, enter the email
        addresses of all PharmaNet administrators separated by a comma.
      </p>

      <div class="row">
        <div class="col-sm-8 col-xl-7">

          <mat-form-field class="w-100 mb-3">
            <input matInput
                   placeholder="Email"
                   formControlName="administratorRecipients">
            <mat-error *ngIf="administratorRecipients.hasError('required')">Required</mat-error>
            <mat-error *ngIf="administratorRecipients.hasError('email')">Must be a valid email address</mat-error>
          </mat-form-field>

        </div>
        <div class="col-sm-4 col-xl-3">

          <button mat-flat-button
                  type="button"
                  color="primary"
                  class="w-100 mb-4"
                  (click)="sendProvisionerAccessLinkTo('Administrator')">
            Send
          </button>

        </div>
      </div>
    </form>

    <ng-template #concise
                 let-provisioner="provisioner">
      <p class="mb-4">
        Your PharmaNet approval notification will be sent to {{ provisioner }}.
      </p>
    </ng-template>

    <ng-template #verbose
                 let-provisioner="provisioner">
      <p class="mb-4">
        Provide the email address of the person in your organization who is responsible for contacting {{ provisioner }}
        to set up accounts (e.g., your Office Manager or MOA). Use a comma to separate multiple emails addresses. Do not
        enter your own email as you will be copied on the communication.
      </p>
    </ng-template>

  </app-enrollee-page>

</div>
