@import 'palette';
@import 'variables';

.renewal-date {
  color: theme-palette(blue, light);
  font-style: italic;
}

.text-green {
  color: theme_palette(green);
}

button mat-icon{
  font-size: 1.2rem;
}

.vc {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
