<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Regulatory Information</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5 py-3"
           formArrayName="certifications">

        <ng-container *ngFor="let certificate of certifications.controls; let i = index"
                      [formGroupName]="i">

          <app-college-certification-form [form]="certificate"
                                          [index]="i"
                                          [total]="certifications.controls.length"
                                          (remove)="removeCertification($event)"></app-college-certification-form>

        </ng-container>

        <button mat-button
                type="button"
                color="primary"
                (click)="addCertification()">
          <mat-icon class="add-icon">add</mat-icon>
          Add Additional Certification
        </button>

      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col pt-2">

        <button mat-stroked-button
                type="button"
                [routerLink]="['..', EnrolmentRoutes.PROFILE]">Back</button>

      </div>
      <div class="col pt-2 text-right">

        <button mat-raised-button
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
