<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-1 col-xl-5">

      <form (ngSubmit)="onSubmit()"
            [formGroup]="form"
            novalidate>

        <app-page-header>PharmaNet Enrolment</app-page-header>

        <app-page-subheader>
          <ng-container appPageSubheaderTitle>Regulatory Information</ng-container>
        </app-page-subheader>

        <div class="row">
          <div class="col py-3"
               formArrayName="certifications">

            <ng-container *ngFor="let certificate of certifications.controls; let i = index"
                          [formGroupName]="i">

              <app-college-certification-form [form]="certificate"
                                              [index]="i"
                                              [total]="certifications.controls.length"
                                              (remove)="removeCertification($event)"></app-college-certification-form>

            </ng-container>

            <button mat-button
                    type="button"
                    color="primary"
                    (click)="addCertification()">
              <mat-icon class="add-icon">add</mat-icon>
              Add Additional Certification
            </button>

          </div>
        </div>

        <app-page-footer [profileCompleted]="profileCompleted"
                         (save)="onSubmit()"
                         (continue)="onSubmit()"
                         (back)="onRoute(EnrolmentRoutes.PROFILE)"></app-page-footer>

      </form>

    </div>
  </div>

</app-busy-overlay>
