<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate>

    <section *ngIf="isDeviceProvider"
             class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>What is your role?</ng-container>
        <ng-container appPageSubheaderSummary>
          Please select “None” to continue if your role is not listed.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <mat-form-field class="w-100">
            <mat-label>Your Role</mat-label>
            <mat-select formControlName="deviceProviderRoleCode">
              <mat-option *ngFor="let role of deviceProviderRoles"
                          [value]="role.code">
                {{ role.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formState.deviceProviderIdentifier.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Device Provider ID</ng-container>
        <ng-container appPageSubheaderSummary>
          Enter the device provider registration number you were issued by the Ministry of Health. You will know it as
          P1-90XXX (last three characters are numbers).
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">
          <mat-form-field class="w-100">
            <mat-label>Device Provider ID</mat-label>
            <input matInput
                   maxlength="8"
                   placeholder=""
                   formControlName="deviceProviderId"
                   appToUppercase>
            <mat-error *ngIf="formState.deviceProviderId.hasError('deviceProviderId')">
              Must be in format P1-90XXX (last three characters are numbers)
            </mat-error>
            <mat-error *ngIf="formState.deviceProviderId.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Certificate Number</ng-container>
        <ng-container appPageSubheaderSummary>
          Enter your OPC certificate number, if you have one.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <mat-form-field class="w-100">
            <mat-label>OPC Certificate</mat-label>
            <input matInput
                   maxlength="5"
                   placeholder=""
                   formControlName="certificationNumber">
            <mat-error *ngIf="formState.certificationNumber.hasError('numeric')">
              Must be numeric
            </mat-error>
            <mat-error *ngIf="formState.certificationNumber.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>

    <section *ngIf="hasOtherCareSetting"
             class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>College Licence Information</ng-container>
        <ng-container appPageSubheaderSummary>
          Provide details for all your active college licences. This is the licence that indicates your authority to
          deliver health care directly to patients in B.C. If you do not have a licence from one of the colleges listed
          here, select <strong>None</strong>.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3"
             formArrayName="certifications">

          <ng-container *ngFor="let certificate of this.formState.certifications.controls; let i = index;"
                        [formGroupName]="i">

            <app-college-certification-form [form]="certificate"
                                            [index]="i"
                                            [total]="formState.certifications.controls.length"
                                            [selectedColleges]="selectedCollegeCodes"
                                            (licenceCodeSelected)="licenceCodeSelected($event)"
                                            [selectedLicenses]="selectedLicenseCodes"
                                            (remove)="removeCertification($event)">
            </app-college-certification-form>

          </ng-container>

          <button mat-button
                  type="button"
                  color="primary"
                  (click)="addEmptyCollegeCertification()">
            <mat-icon>add</mat-icon>
            Add Additional Licences
          </button>

        </div>
      </div>
      <div class="row">

        <div class="col col-sm-12 py-3"
             formArrayName="unlistedCertifications">
          <app-toggle-content label="I have a college licence in another jurisdiction or one not listed in the dropdown"
                              [checked]="hasUnlistedCertification"
                              [disabled]="disableUnlistedCertificationToggle"
                              (toggle)="toggleUnlistedCertification($event)">
            <p>
              Please enter your college licence information without abbreviations.
            </p>
            <ng-container *ngFor="let unlistedCertificate of formState.unlistedCertifications.controls; let i = index;"
                          [formGroupName]="i">
              <app-unlisted-college-licence-form [form]="unlistedCertificate"
                                                 [index]="i"
                                                 [total]="formState.unlistedCertifications.controls.length"
                                                 [formState]="formState"
                                                 [validate]="hasUnlistedCertification"
                                                 (remove)="removeUnlistedCertification($event)">

              </app-unlisted-college-licence-form>
            </ng-container>

            <button mat-button
                    type="button"
                    color="primary"
                    (click)="formState.addEmptyUnlistedCollegeCertification()">
              <mat-icon>add</mat-icon>
              Add additional licences
            </button>

          </app-toggle-content>
        </div>
      </div>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                   (save)="onSubmit()"
                   (back)="onBack(EnrolmentRoutes.CARE_SETTING)"
                   (continue)="onBack()"></app-page-footer>

</app-enrollee-page>
