.text_red {
  color: red;
}

h2 {
  color: theme-palette(blue);
  margin-top: 10px;

  .mat-icon {
    font-size: 3rem;
  }

  img,
  .mat-icon {
    margin-right: 15px;
    width: 75px;
    height: 75px;
  }

  span {
    border-bottom: 1px solid #eeee;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}

.title-icon {
  font-size: 2.2rem;
}

.underline {
  border-bottom: 1px solid theme-palette(grey, lightest);
}
