<form [formGroup]="form">
  <div class="row mb-4">
    <div class="col">

      <button mat-flat-button
              class="w-100"
              [color]="(feedback.satisfied === true) ? 'primary' : ''"
              (click)="onSatisfiedChange(true)">Yes</button>

    </div>
    <div class="col">

      <button mat-flat-button
              class="w-100"
              [color]="(feedback.satisfied === false) ? 'primary' : ''"
              (click)="onSatisfiedChange(false)">No</button>

    </div>
  </div>
  <div class="row">
    <div class="col">

      <mat-form-field class="w-100">
        <textarea matInput
                  rows="5"
                  placeholder="Comment"
                  formControlName="comment"></textarea>
      </mat-form-field>

    </div>
  </div>
</form>
