<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-1 offset-xl-0 app-print-layout">

      <app-page-header>Enrolment Certificate</app-page-header>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>PharmaNet ID</ng-container>
        <ng-container appPageSubheaderSummary>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae architecto debitis doloribus numquam
          voluptates. Accusantium, blanditiis.
        </ng-container>
      </app-page-subheader>

      <ng-container *ngIf="certificate">

        <app-enrollee-profile [showPreferredName]="false"
                              [enrollee]="certificate"></app-enrollee-profile>

        <dl class="row mb-4">
          <dt class="col-6">PharmaNet ID</dt>
          <dd class="col-6 text-right">{{ certificate?.licensePlate | default }}</dd>
        </dl>

        <app-enrollee-organizations [organizations]="certificate?.organizations"></app-enrollee-organizations>

        <app-enrollee-privileges [privileges]="certificate?.privileges"></app-enrollee-privileges>

      </ng-container>
    </div>
  </div>
</app-busy-overlay>
