<app-page [busy]="busy">

  <app-page-header class="mb-5">Provisioner Link</app-page-header>

  <ng-container *ngIf="certificate">

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>PharmaNet ID</ng-container>
    </app-page-subheader>

    <p class="mb-4">Your PharmaNet ID is
      {{ expiryDate === null ? ' expired' : ' valid for one year. Please renew by ' + expiryDate }}.
    </p>

    <p class="font-weight-bold mb-5">
      {{ certificate.licensePlate | uppercase }}
    </p>

    <div class="mb-5">
      <app-enrollee-organizations [organizationTypes]="certificate?.organizationTypes"></app-enrollee-organizations>
    </div>

    <div class="mb-5">
      <app-enrollee-privileges [transactions]="certificate?.transactions"
                               [userType]="certificate?.userType"
                               [canHaveOBOs]="certificate?.canHaveOBOs"></app-enrollee-privileges>
    </div>

    <p>
      {{ certificate?.enrolmentCertificateNote?.note | default: 'None' }}
    </p>

  </ng-container>

</app-page>
