<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <ng-container *ngIf="contacts">
    <ng-container *ngIf="isEditing || !contacts?.length; else showList">

      <app-contact-profile-form [title]="title | replace: '\\(s\\)' : ''"
                                [form]="formState.form"
                                [excludeList]="['fax']">
        <ng-container appPageSubheader2Summary>
          Provide information for a PharmaNet Administrator for this Health Authority.
        </ng-container>
      </app-contact-profile-form>

    </ng-container>
  </ng-container>

  <ng-template #showList>

    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide information for PharmaNet Administrator(s) for this Health Authority.
        </ng-container>
      </app-page-subheader2>

      <app-card-list itemTypeLabel="PharmaNet Administrator"
                     [items]="contactCardListItems"
                     (add)="onAdd()"
                     (edit)="onEdit($event)"
                     (remove)="onRemove($event)"></app-card-list>
    </app-page-section>

  </ng-template>

  <app-page-footer [hasSecondaryAction]="true"
                   [primaryActionLabel]="(isEditing) ? 'Save and Continue' : 'Continue'"
                   (save)="(isEditing) ? onSubmit() : onContinue()"
                   (back)="onBack()"></app-page-footer>
</app-page>
