<h1 class="h2 mb-4">Enrolment Confirmation</h1>

<div class="row">
  <div class="col-md-7">

    <div class="alert alert-success"
         role="alert">

      <div class="d-flex">
        <mat-icon [inline]="true"
                  class="pr-3 icon">check_circle_outline</mat-icon>
        <div class="flex-grow-1">
          <h2 class="h3 m-0 mt-2">Success</h2>
          <p class="m-0">Your application has been submitted!</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores natus tenetur vel sequi molestiae. Fugit
      optio nostrum quas, at amet autem facere quam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,
      fugit nemo nulla explicabo.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-7">

    <app-sub-header subheader="Next Steps"></app-sub-header>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquid labore culpa doloremque hic est quasi
      voluptatem nam vitae? Inventore accusamus, nesciunt voluptatem temporibus quo amet sit blanditiis.
    </p>
  </div>
</div>
