<div class="row">

  <div class="col-12 info">
    <h5>
      1. Send your approval to your PharmaNet administrator.
    </h5>
    <p>
      Who is my PharmaNet administrator?
      <app-contextual-help>
        <ng-container appContextualContent>
          This person communicates with the software vendor to set up individual PharmaNet access accounts; e.g., office
          administrator, HR lead, medical office assistant (MOA), or practitioner.
        </ng-container>
      </app-contextual-help>
    </p>

    <div>
      <ng-content></ng-content>
    </div>
  </div>
  <div class="col-12 info">
    <h5>
      2. Your PharmaNet administrator will set up your account.
    </h5>
    <p>
      Your PRIME enrolment is complete. Your PharmaNet administrator or PharmaNet software vendor now needs to set up
      your access before you can use PharmaNet. They will contact you when that is complete.
    </p>
  </div>
  <div *ngIf="Role.FEATURE_VC_ISSUANCE | inRole"
       class="col-12 info">
    <h5>
      3. Access your verified credential (optional)
    </h5>
    <p>
      <button mat-flat-button
              type="button"
              color="primary"
              *ngIf="Role.FEATURE_VC_ISSUANCE | inRole"
              (click)="openQR($event)">
        Verified Credential
      </button>
    </p>
  </div>
</div>
