.horintal-bar {
  height: 1.2rem;
  margin-left: 0.4rem;
}

.angle-bar {
  position: absolute;
    height: 3.5rem;
    right: -2.1rem;
    top: 0.175rem;
}

.infographic {
  position: absolute;
    height: 6rem;
    top: 1rem;
    right: 0;
    z-index: 1;
}

.image-container {
  height: 100%;
}

.row {
  height: 8rem;
}
