<div class="row">
  <div class="col-12 info">
    <h5>
      1. You have been approved to use PharmaNet by the Ministry of Health.
    </h5>
  </div>
  <div class="col-12 info">
    <h5>
      2. Send your approval to your PharmaNet administrator.
    </h5>
    <p>
      Who is my PharmaNet administrator?
      <app-contextual-help>
        <ng-container appContextualContent>
          Your PharmaNet administrator may be your Pharmacy Manager, Office Manager, or Medical Office Assistant.
        </ng-container>
      </app-contextual-help>
    </p>
  </div>
  <div class="col-12 info">
    <h5>
      3. Your PharmaNet administrator will let you know when your access is set up.
    </h5>
  </div>
</div>
