@import 'bootstrap/bootstrap-imports';

.info {
  background-repeat: no-repeat;
  // Position background to match grid gutter
  background-position-x: 15px;
  background-size: 75px 75px;
  // Minimum height for backgrounds, and allow height to
  // resize based on fluid content
  min-height: 6rem;
  // Constrain content length on larger viewports so it
  // doesn't exceed background image length
  max-width: 48rem;
  margin-bottom: 2rem;
  // Prevent overlapping of the background image
  padding-left: 5rem;

  h5 {
    margin-bottom: 1rem;
  }

  p {
    line-height: .75rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  h5, p {
    padding-left: 3rem;
  }

  @include media-breakpoint-up(md) {
    background-size: auto;
    height: 11rem;
    padding-left: 9rem;
    // Padding for content from the background image
    padding-top: 2.5rem;
  }
}

.row .info {
  &:nth-child(1) {
    background-image: url(/assets/approval.svg);

    @include media-breakpoint-up(md) {
      background-image: url(/assets/approval-full.svg);
    }
  }

  &:nth-child(2) {
    background-image: url(/assets/notification.svg);

    @include media-breakpoint-up(md) {
      background-image: url(/assets/notification-full.svg);
    }
  }

  &:nth-child(3) {
    background-image: url(/assets/moa.svg);

    @include media-breakpoint-up(md) {
      background-image: url(/assets/moa-full.svg);
    }
  }

  &:last-child {
    margin-bottom: 2rem;

    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
    }
  }
}
