<div class="row">
  <div class="col-12 info">
    <h5>
      1. You have been approved to use PharmaNet by the Ministry of Health.
    </h5>
    <a [routerLink]=""
    (click)="openQR()">Access your Verified Credential</a>
  </div>
  <div class="col-12 info">
    <h5>
      2. Send your approval to your PharmaNet administrator.
    </h5>
    <p>
      Who is my PharmaNet administrator?
      <app-contextual-help>
        <ng-container appContextualContent>
          This person communicates with the software vendor to set up individual PharmaNet access accounts; e.g., office
          administrator, HR lead, medical office assistant (MOA), or practitioner.
        </ng-container>
      </app-contextual-help>
    </p>
  </div>
  <div class="col-12 info">
    <h5>
      3. Your PharmaNet administrator will let you know when your access is set up.
    </h5>
  </div>
</div>
