<app-page-section>
  <app-page-subheader2>
    <ng-container appPageSubheader2Title>TOA</ng-container>
  </app-page-subheader2>
  <app-enrollee-property *ngIf="ToaDocuments?.length">
    <ng-container *ngFor="let document of ToaDocuments">
      <button mat-stroked-button
              color="primary"
              class="mb-2"
              (click)="onDownload(document.id)">
        <mat-icon class="mr-2">attachment</mat-icon>
        {{ document.filename | default }}
      </button>
      <br>
    </ng-container>
  </app-enrollee-property>
</app-page-section>

<app-page-section>
  <app-page-subheader2>
    <ng-container appPageSubheader2Title>Supporting ID</ng-container>
  </app-page-subheader2>
  <app-enrollee-property *ngIf="supportingDocuments?.length">
    <ng-container *ngFor="let document of supportingDocuments">
      <button mat-stroked-button
              color="primary"
              class="mb-2"
              (click)="onDownload(document.id)">
        <mat-icon class="mr-2">attachment</mat-icon>
        {{ document.filename | default }}
      </button>
      <br>
    </ng-container>
  </app-enrollee-property>
</app-page-section>

<app-page-section>
  <app-page-subheader2>
    <ng-container appPageSubheader2Title>Paper Form</ng-container>
  </app-page-subheader2>
  <app-enrollee-property *ngIf="paperForms?.length">
    <ng-container *ngFor="let document of paperForms">
      <button mat-stroked-button
              color="primary"
              class="mb-2"
              (click)="onDownload(document.id)">
        <mat-icon class="mr-2">attachment</mat-icon>
        {{ document.filename | default }}
      </button>
      <br>
    </ng-container>
  </app-enrollee-property>
</app-page-section>
