<form [formGroup]="form"
      novalidate>
  <div class="search-container">

    <mat-form-field class="search">
      <input matInput
             placeholder="Search"
             formControlName="textSearch">
    </mat-form-field>

    <mat-form-field *ngIf="!hideStatus && useEnrolleeStatuses"
                    class="filter">
      <mat-label>Filter By</mat-label>
      <mat-select formControlName="enrolleeStatusCode">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let status of enrolleeStatuses"
                    [value]="status.code">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="!hideStatus && useSiteStatuses"
                    class="filter">
      <mat-label>Filter By</mat-label>
      <mat-select formControlName="siteStatusCode">
        <mat-option value="">All</mat-option>
        <mat-option *ngFor="let status of siteStatuses"
                    [value]="status.code">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button
            matTooltip="Refresh the results"
            (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>

  </div>
</form>
