<div class="app-print-layout">

  <app-page [busy]="busy">

    <app-page-header>PharmaNet Enrolment Certificate</app-page-header>

    <app-progress-indicator *ngIf="showProgressBar"
                            [currentRoute]="EnrolmentRoutes.PHARMANET_ENROLMENT_CERTIFICATE"></app-progress-indicator>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Next Steps</ng-container>
    </app-page-subheader>

    <p>
      Your PharmaNet ID is below. You will need to provide this ID to the person who will set up your local PharmaNet
      access account. For most community practices, this will be the vendor for your PharmaNet access software. Please
      do not send your PharmaNet ID in an email. Use the "Provisioner Link" utility below to send a link to your vendor
      that they can access.
    </p>

    <p class="mb-5">
      You can either copy and paste the provisioner link into an email to your vendor on your own, or use the list below
      and have PRIME send an email on your behalf.
    </p>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Your PharmaNet ID</ng-container>
    </app-page-subheader>

    <p class="mb-4">Your PharmaNet ID is
      {{ expiryDate === null ? ' expired' : ' valid for one year. Please renew by ' + expiryDate }}.</p>

    <p class="font-weight-bold mb-5">
      {{ enrolment.enrollee.licensePlate | uppercase }}
    </p>



    <div class="mb-5">
      <app-enrollee-organizations [organizations]="organizations"></app-enrollee-organizations>
    </div>

    <div class="mb-5">
      <app-enrollee-privileges [privileges]="privileges"></app-enrollee-privileges>
    </div>

    <ng-container *ngIf="enrolmentCertificateNote">
      <div class="mb-5">
        <app-enrollee-property title="Limits and Conditions"
                               [makeBold]="true">
          {{ enrolmentCertificateNote | default }}
        </app-enrollee-property>
      </div>
    </ng-container>


    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Email your PharmaNet ID</ng-container>
    </app-page-subheader>

    <p class="mb-5">
      Enter an email address that may be used to provide your PharmaNet ID to the vendor.
    </p>

    <div class="mb-5">
      <div class="row">
        <div class="col-6">
          <form [formGroup]="form">
            <mat-form-field class="w-100 mb-3">

              <input matInput
                     placeholder="Email"
                     formControlName="vendorEmail">
              <mat-error *ngIf="vendorEmail.hasError('required')">Required</mat-error>
              <mat-error *ngIf="vendorEmail.hasError('email')">Must be a valid email address</mat-error>
            </mat-form-field>
            <button mat-flat-button
                    color="primary"
                    (click)="sendProvisionerAccessLink()">
              Email Provisioner Link
            </button>
          </form>
        </div>
      </div>
    </div>

  </app-page>

</div>
