@import './palette';
@import 'bootstrap/bootstrap-grid';

// Page overides for font sizing. Info page needs more oomph
h1 {
  font-size: 1.5rem * 2;
}

h2 {
  font-size: 1.5rem * 1.5;
}

h3 {
  font-size: 1.5rem * 1.167;
}

p, span, div {
  font-size: 1.5rem;
}

small {
  font-size: 1.5rem * 0.833;
}

.font-size-huge {
  font-size: 4.5rem;
}

a {
  color: theme-palette(blue);
}

.logo {
  max-width: 200px;
  height: auto;
}

.info {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;

  .anchor {
    border-bottom: 2px #003366 solid;
    font-size: 1rem;
    color: theme-palette(blue);
  }

  a:hover {
    text-decoration: none;
  }
}

.mb-8 {
  margin-bottom: 3.0rem;
}

.enrolment-container {
  @include media-breakpoint-down(sm) {
    margin-bottom: 4rem;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem;
  }

  > div:first-child {
    text-align: end;
  }

  > div:nth-child(2) {
    @include media-breakpoint-down(sm) {
      // Remove offset for logo line-up
      margin-top: 0;
    }
    @include media-breakpoint-up(md) {
      // Margin for logo line-up
      margin-top: 3.5rem;
    }
  }
}

.accent {
  font-style: italic;
}

.mat-flat-button.large {
  width: 140px;
  height: 46px;
  font-size: 1.2rem;

  &.light {
    background-color: theme-palette(blue, light);
    color: white;
  }
}
