<div class="text-center">

  <img src="/assets/prime_logo.svg"
       class="logo mb-4"
       alt="PRIME Logo">

  <br>
  <br>

  <div class="row">
    <div class="col-md-7">

      <div class="alert alert-success"
           role="alert">

        <div class="d-flex">
          <mat-icon [inline]="true"
                    class="pr-3 icon">check_circle_outline</mat-icon>
          <div class="flex-grow-1">
            <h2 class="h3 m-0 mt-2">Success</h2>
            <p class="m-0">Your application has been submitted!</p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="button-container">
    <button mat-raised-button
            color="primary"
            (click)="loginUsingBCSC()">BCSC Login</button>
  </div>
</div>
