@import './palette';
@import 'bootstrap';

.large-title {
  font-size: 4.5rem;
}

.title {
  font-size: 3.0rem;
  text-align: center;
}

.info {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;

  h3 {
    color: theme-palette(blue, light);
  }

  p {
    font-size: 1.5rem;
    line-height: 1.30;
  }

  .anchor {
    text-decoration: underline;
    color: theme-palette(blue);
  }
}

.mb-8 {
  margin-bottom: 3.0rem;
}

.enrolment-container {
  @include media-breakpoint-down(sm) {
    margin-bottom: 4rem;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 8rem;
  }

  div:first-child {
    text-align: end;
  }

  div:nth-child(2) {
    @include media-breakpoint-down(sm) {
      // Remove offset for logo line-up
      margin-top: 0;
    }
    @include media-breakpoint-up(md) {
      // Margin for logo line-up
      margin-top: 2.75rem;
    }
  }
}

.accent {
  font-style: italic;
  // TODO: Look at if this text needs to be larger
}
