<div class="container-fluid">

  <div class="row">
    <div class="col-sm-7 col-md-6 col-lg-5 col-xl-3">

      <div class="d-flex flex-column align-items-center">

        <img src="/assets/prime_logo.svg"
             class="logo"
             alt="PRIME Logo">

        <div class="action">
          <button mat-raised-button
                  color="primary"
                  (click)="loginUsingBCSC()">Log-in with your BC Services Card</button>

          <a href="#">Learn more about your BC Services Card</a>
        </div>

        <div class="content">
          <p class="paragraph text-muted">
            In order to determine your access to PharmaNet, PRIME will gather basic information.
          </p>

          <p class="text-muted">
            If applicable, this will include:
          </p>

          <ul class="text-muted">
            <li>College Registration Number</li>
            <li>Device Provider Number</li>
            <li>Job Title</li>
          </ul>
        </div>

      </div>

    </div>
    <div class="col d-none d-sm-block background"></div>
  </div>

</div>
