<app-page>
  <app-page-header>{{ title }}</app-page-header>

  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <app-page-section>
    <app-page-subheader2 [showUnderline]="false">
      <ng-container appPageSubheader2Title>
        Organization Information
      </ng-container>
    </app-page-subheader2>

    <p>Provide your organization and yoru role within your organization.</p>

    <form [formGroup]="form"
          (ngOnSubmit)="onSubmit()"
          novalidate>
      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Organization"
                   formControlName="organization">
            <mat-error *ngIf="organization.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Role"
                   formControlName="role">
            <mat-error *ngIf="role.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>
    </form>
  </app-page-section>
</app-page>
