<div class="row">
  <div class="offset-1 col-10">
    <h1 class="h2">Submit my application for enrollment</h1>

    <p class="lead">
      If you have your Pharmacist Registration Number, enter it below to prove
      your credentials and you will be automatically approved.
    </p>

    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <br />
          <div class="form-group">
            <label for="pharmacist_prn"
              >Pharmacist Registration Number (optional)</label
            >
            <input
              (input)="pharmacist_prn = $event.target.value"
              type="text"
              class="form-control"
            />
          </div>
          <br />
          <button
            type="button"
            class="btn btn-primary d-block mb-2"
            (click)="submitApplication()"
          >
            Submit Application
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
