<div class="row">
  <div class="offset-1 col-10">

    <h1 class="h2">Register your Pharmacist Registration Number</h1>

    <p class="lead">
      In order to authenticate your credentials, please provide your pharmacist registration number. If you are
      unable to provide a pharmacist registration number, you can skip this step and we will follow up to manually
      authenticate you.
    </p>

    <form>

      <div class="row">
        <div class="col-sm-12 col-md-6">

          <div class="form-group">
            <label for="pharmacist_prn">Pharmacist Registration</label>
            <input type="type"
                   class="form-control"
                   id="pharmacist_prn">
          </div>

          <button type="submit"
                  class="btn btn-primary d-block mb-2">Authenticate</button>

          <button type="button"
                  class="btn btn-light d-block">Skip Authentication</button>

        </div>
      </div>

    </form>

  </div>
</div>
