<div class="row">
  <div class="col-12">
    <h1 class="h2">Submit my application for enrolment</h1>

    <p class="lead">
      Submitting your application will complete your enrolment to PharmaNet.
    </p>

    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="form-group">
            <label for="pharmacist_prn">Pharmacist Name</label>
            <input type="text"
                   class="form-control pharmacist-name"
                   #pharmacist
                   disabled>
          </div>

          <div class="form-group">
            <label for="pharmacist_prn">Pharmacist Registration Number (Optional)</label>
            <input (input)="updateInput($event.target.value)"
                   type="number"
                   class="form-control pharmacist-prn"
                   placeholder="####"
                   aria-describedby="prnHelp"
                   #prn>
            <small id="prnHelp" class="form-text text-muted">
              If you have a 4-digit Pharmacist Registration Number, enter it here to prove your credentials and your enrolment will be automatically approved.
            </small>
          </div>
          <button type="button"
                  class="btn btn-primary d-block mb-2"
                  (click)="submitApplication()">
            Submit Application
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
