<app-site-registration-container [content]="content"
                                 [hasActions]="hasActions"
                                 [actions]="actions"
                                 [refresh]="refresh">

  <app-page-header>Organization Information</app-page-header>

</app-site-registration-container>

<ng-template #actions
             let-siteRegistration="siteRegistration">

  <button mat-flat-button
          color="primary"
          [disabled]="!siteRegistration"
          [matMenuTriggerFor]="rootMenu">
    Organization Information <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <mat-menu #rootMenu>
    <button mat-menu-item
            [matMenuTriggerFor]="subMenu"
            [disabled]="!organizationAgreements?.length">
      <span>Download Organization Agreement</span>
    </button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <button *ngFor="let agreement of organizationAgreements"
            mat-menu-item
            (click)="viewAgreement(organization, agreement)">
      <span>{{ AgreementType[agreement.agreementType] | case: 'snake' : 'space' | capitalize: true }}</span>
    </button>
  </mat-menu>

</ng-template>

<ng-template #content>

  <app-overview-container *ngIf="organization"
                          [organization]="organization"
                          [showEditRedirect]="false"
                          [admin]="true"></app-overview-container>

</ng-template>
