<ng-container [formGroup]="form">
  <app-page-subheader2>
    <ng-container appPageSubheader2Title>Business Licence Expiry Date</ng-container>
    <ng-container appPageSubheader2Summary>
      Use the calendar option below to tell us when this business licence expires.
    </ng-container>
  </app-page-subheader2>

  <div class="row">
    <div class="col">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Expiry Date"
               [min]="minExpiryDate"
               [matDatepicker]="expiryDatePicker"
               formControlName="expiryDate"
               (click)="expiryDatePicker.open()"
               readonly>

        <mat-datepicker #expiryDatePicker
                        startView="multi-year"
                        disabled="false"></mat-datepicker>
      </mat-form-field>

    </div>
  </div>
</ng-container>
