<ng-container [formGroup]="form">
  <app-page-subheader2>
    <ng-container appPageSubheader2Title>Business Licence Expiry Date</ng-container>
    <ng-container appPageSubheader2Summary>
      <mat-slide-toggle #expiryDateSlide
                        class="my-2 mb-3"
                        color="primary"
                        [checked]="!showExpiryDate"
                        (change)="onChange($event)">
        This business licence doesn’t have an expiry date
      </mat-slide-toggle>
      <div *ngIf="showExpiryDate">
        Use the calendar option below to tell us when this business licence expires.
      </div>
    </ng-container>
  </app-page-subheader2>

  <div class="row"
       *ngIf="showExpiryDate">
    <div class="col">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Expiry Date"
               [min]="minExpiryDate"
               [matDatepicker]="expiryDatePicker"
               formControlName="expiryDate"
               (click)="expiryDatePicker.open()"
               readonly>

        <mat-datepicker #expiryDatePicker
                        startView="multi-year"
                        disabled="false"></mat-datepicker>

        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
</ng-container>
