<app-page [busy]="busy"
          mode="full">

  <app-page-header>Enrolment Certificate Notes</app-page-header>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate debitis, non atque vel distinctio digbias.</p>

  <table mat-table
         [dataSource]="dataSource"
         class="w-100 mb-5">

    <!-- Applied Date Column -->
    <ng-container matColumnDef="appliedDate">
      <th mat-header-cell
          *matHeaderCellDef> Application Date </th>
      <td mat-cell
          *matCellDef="let enrolment"> {{ enrolment.appliedDate | formatDate }} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef> Name </th>
      <td mat-cell
          *matCellDef="let enrolment"> {{ enrolment.enrollee.firstName }} {{ enrolment.enrollee.lastName }} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell
          *matHeaderCellDef> Status </th>
      <td mat-cell
          *matCellDef="let enrolment">
        <mat-chip-list>
          <mat-chip>{{ enrolment.currentStatus.status.name }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <!-- Approved Date Column -->
    <ng-container matColumnDef="approvedDate">
      <th mat-header-cell
          *matHeaderCellDef> Approval Date </th>
      <td mat-cell
          *matCellDef="let enrolment"> {{ enrolment.approvedDate | formatDate }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell
          *matHeaderCellDef>&nbsp;</th>
      <td mat-cell
          *matCellDef="let enrolment"
          class="text-right">

        <ng-container [ngTemplateOutlet]="menu"
                      [ngTemplateOutletContext]="{ enrolment: enrolment }"></ng-container>

      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: columns;"></tr>
  </table>

  <ng-template #menu
               let-enrolment="enrolment">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item
              [routerLink]="['../../', enrolment.id]">
        <mat-icon>remove_red_eye</mat-icon>
        <span>View Enrolment</span>
      </button>
      <button mat-menu-item
              (click)="viewEnrolmentHistory(enrolment.id)">
        <mat-icon>remove_red_eye</mat-icon>
        <span>View Enrolment History</span>
      </button>
      <button mat-menu-item
              *ngIf="enrolment.currentStatus.enrolmentStatusReasons.length"
              (click)="reviewStatusReasons(enrolment)">
        <mat-icon>flag</mat-icon>
        <span>Review Status Reasons</span>
      </button>
      <button mat-menu-item
              *ngIf="canApproveOrDeny(enrolment.currentStatus.status.code)"
              (click)="approveEnrolment(enrolment.id)">
        <mat-icon>check_circle_outline</mat-icon>
        <span>Approve Enrolment</span>
      </button>
      <button mat-menu-item
              *ngIf="canApproveOrDeny(enrolment.currentStatus.status.code)"
              (click)="declineEnrolment(enrolment.id)">
        <mat-icon>block</mat-icon>
        <span>Decline Enrolment</span>
      </button>
      <button mat-menu-item
              [routerLink]="['../', 'adjudicator-notes']">
        <mat-icon>message</mat-icon>
        <span>Global Adjudicator Notes</span>
      </button>
      <button mat-menu-item
              [routerLink]="['../', 'user-agreement-notes']">
        <mat-icon>description</mat-icon>
        <span>User Agreement Notes</span>
      </button>
      <button mat-menu-item
              [routerLink]="['../', 'enrolment-certificate-notes']">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Enrolment Certificate Notes</span>
      </button>
      <button mat-menu-item
              *ngIf="canAllowEditing(enrolment.currentStatus.status.code)"
              (click)="markAsInProgress(enrolment.id)">
        <mat-icon>undo</mat-icon>
        <span>Enable Editing</span>
      </button>
      <button mat-menu-item
              (click)="deleteEnrolment(enrolment.id)">
        <mat-icon>delete</mat-icon>
        <span>Delete Enrolment</span>
      </button>
    </mat-menu>
  </ng-template>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <div class="row mb-4">
      <div class="col-sm-12 col-lg-8">

        <mat-form-field class="w-100">
          <textarea matInput
                    placeholder="Write Note Here"
                    rows="10"
                    formControlName="note"></textarea>
          <mat-error>Required</mat-error>
        </mat-form-field>

        <div class="text-right">
          <button mat-flat-button
                  color="primary">Save Note</button>
        </div>

      </div>
    </div>

  </form>

</app-page>
