<div class="container">
  <div class="row">
    <div class="col-sm-12 header">

      <h1>{{title}}</h1>
      <p>for health professionals of British Columbia</p>

    </div>
    <div class="col-sm-12">

      <div class="row actions">
        <div class="col col-md-auto">

          <button mat-flat-button
                  color="primary"
                  class="large"
                  (click)="loginUsingBCSC()">Logon with BCSC</button>

        </div>
      </div>
      <div class="col-sm-12 support">

        <app-pill>
          <section>
            <h2>Get Support</h2>

            <p>
              Questions about your eForms enrolment should be directed to:
              <br>
              <a href="mailto:eFormsSolution@phsa.ca">eFormsSolution@phsa.ca</a>
            </p>
          </section>
        </app-pill>

      </div>
    </div>
  </div>
</div>
