<app-page [busy]="busy"
          mode="full">

  <app-page-header>Organization Information</app-page-header>

  <div class="mb-4">
    <app-health-authority-table (route)="onRoute($event)"></app-health-authority-table>
  </div>

  <div class="row">
    <div class="col-6">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>
          <mat-icon class="mr-2">business</mat-icon>
          Organization Information
        </ng-container>
      </app-page-subheader>

      <!-- TODO add organization overview information -->

      <!-- TODO only show when there is no organization information -->
      <button mat-button
              type="button"
              color="primary"
              (click)="addOrgInfo()">
        <mat-icon>add</mat-icon>
        Add Organization Information
      </button>

    </div>
  </div>
</app-page>
