<app-page>
  <app-page-header>Vaccination Issuance</app-page-header>

  <section class="mb-4">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Verifiable Credential</ng-container>
      <ng-container appPageSubheader2Summary>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ea eos fuga impedit labore magnam minima natus neque nobis.

        <app-contextual-help>
          <ng-container appContextualContent>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores delectus expedita harum iusto
            natus nisi porro qui temporibus velit! Architecto at dicta eos fugit illum incidunt minus reiciendis
            voluptas.
          </ng-container>
        </app-contextual-help>
      </ng-container>
    </app-page-subheader2>


  </section>

<!--  <app-page-footer [isInitialEnrolment]="false"-->
<!--                   [hasSecondaryAction]="false"-->
<!--                   primaryActionLabel="Save and Continue"-->
<!--                   (save)="onSubmit()"></app-page-footer>-->

</app-page>
