<app-page [busy]="busy"
          mode="full">

  <app-page-header>Create Banner</app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <div class="row mb-4">
      <div class="col-sm-12 col-lg-9 col-xl-5 pb-4">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Title"
                 formControlName="title">
          <mat-error>Required</mat-error>
        </mat-form-field>
        <div>
          <mat-form-field class="w-90">
            <mat-label>Location</mat-label>
            <mat-select [formControl]="bannerLocationCode">
              <mat-option [value]="locationCode">
                {{ BannerLocationCode[locationCode] | replace: '_':' ' | capitalize }}
              </mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>

          <app-contextual-help>
            Select which page the banner will be displayed on.
          </app-contextual-help>
        </div>
        <div>
          <mat-form-field class="w-90">
            <mat-label>Type</mat-label>
            <mat-select [formControl]="bannerType">
              <mat-option [value]="BannerType.INFO">
                {{ BannerType[BannerType.INFO] | capitalize }}
              </mat-option>
              <mat-option [value]="BannerType.DANGER">
                {{ BannerType[BannerType.DANGER] | capitalize }}
              </mat-option>
            </mat-select>
            <mat-error>Required</mat-error>
          </mat-form-field>
        </div>

        <ng-container [formGroup]="dateRange">

          <mat-form-field class="mr-2">
            <mat-label>Start Date</mat-label>
            <input matInput
                   [matDatepicker]="startDatePicker"
                   formControlName="startDate">
            <mat-datepicker-toggle matSuffix
                                   [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error>Required</mat-error>
          </mat-form-field>

          <mat-form-field class="mr-2">
            <mat-label>End Date</mat-label>
            <input matInput
                   [matDatepicker]="endDatePicker"
                   formControlName="endDate"
                   [errorStateMatcher]="isBeforeErrorStateMatcher">
            <mat-datepicker-toggle matSuffix
                                   [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error *ngIf="dateRange.get('endDate').hasError('required')">
              Required
            </mat-error>
            <mat-error *ngIf="dateRange.hasError('isBefore')">
              End Date must be greater than start date.
            </mat-error>
          </mat-form-field>
        </ng-container>

      </div>
      <div class="col-sm-12 col-lg-9 col-xl-7">

        <editor class="mb-4"
                [init]="editorConfig"
                (onKeyUp)="onUpdate($event)"
                (onChange)="onUpdate($event)"
                formControlName="content">
        </editor>

      </div>
    </div>

    <div class="text-right">
      <button mat-flat-button
              [disabled]="!(Role.ADMIN | inRole)"
              color="primary">Publish Banner</button>
    </div>

  </form>

  <h2 class="mb-2">Preview</h2>

  <app-banner [banner]="banner"></app-banner>
</app-page>
