<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <!--  <app-contact-profile-form [title]="title"-->
  <!--                            [form]="formState.form"-->
  <!--                            [formSubmitting]="formSubmittingEvent"-->
  <!--                            (submit)="onSubmit()">-->
  <!--    <app-same-as selectFor="technicalSupport"-->
  <!--                 (selected)="onSelect($event)"></app-same-as>-->

  <!--    <ng-container appPageSubheader2Summary>-->
  <!--      This individual may be, for example, a corporate IT resource or independent IT contractor familiar with the-->
  <!--      practice's network structure, Internet connections, application(s) to access PharmaNet, and security mechanisms-->
  <!--      such as firewalls and anti-virus measures. They will be contacted in the event of a technology-related issue-->
  <!--      (e.g., malware, problematic network traffic).-->
  <!--    </ng-container>-->
  <!--  </app-contact-profile-form>-->

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
