<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form [formGroup]="formState.form"
        novalidate
        autocomplete="off">
    <app-contact-profile-form [title]="title"
                              [form]="formState.form"
                              [hasAddressToggle]="true">
      <app-same-as selectFor="technicalSupport"
                   (selected)="onSelect($event)"></app-same-as>

      <ng-container appPageSubheader2Summary>
        This individual may be, for example, a corporate IT resource or independent IT contractor familiar with the
        practice's network structure, Internet connections, application(s) to access PharmaNet, and security mechanisms
        such as firewalls and anti-virus measures. They will be contacted in the event of a technology-related issue
        (e.g., malware, problematic network traffic).
      </ng-container>

      <app-page-footer [isInitialEnrolment]="!isCompleted"
                       [primaryActionLabel]="(hasBeenSubmitted) ? 'Continue' : 'Save and Continue'"
                       [hasSecondaryAction]="true"
                       (save)="onSubmit()"
                       (continue)="onBack()"
                       (back)="onBack()"></app-page-footer>
    </app-contact-profile-form>
  </form>
</app-page>
