@import 'palette';
@import 'variables';
@import 'bootstrap/bootstrap-imports';

.page-subheader {
  margin-bottom: 1.25rem;
  padding-bottom: 0.25rem;

  .title {
    color: $h2-colour;
    display: flex;
    margin-bottom: .05rem;
  }

  .summary {
    color: $paragraph-colour;
    // When description exists increase the margin between the title and description
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .title + .more-info,
  .summary + .more-info {
    margin-top: .75rem;
  }

  .action-icon {
    margin-top: -.4rem;
    cursor: pointer;
  }

  &.divider {
    border-bottom: 2px solid #efefef;
  }
}
