<app-adjudication-container [content]="content"
                            [hasActions]="hasActions">

  <app-page-header>Review Status Reasons</app-page-header>

  <ng-template #content
               let-enrollee="enrollee">
    <app-review-status-content [reasons]="enrollee | statusReasons"></app-review-status-content>
  </ng-template>

</app-adjudication-container>

<ng-template #content
             let-enrollee="enrollee">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse quos provident neque odio sapiente dolores autem
  officia. Beatae incidunt eligendi, ipsam sed repellat, facere voluptate expedita a ut tempora quaerat.
</ng-template>
