<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [currentRoute]="SiteRoutes.ORGANIZATION_AGREEMENT"></app-site-progress-indicator>

  <div class="organization-agreement"
       [innerHTML]="organizationAgreement | safeHtml"></div>

  <ng-container *ngIf="!hasAcceptedAgreement; else footer">
    <div class=" footer mb-4">
      <mat-checkbox #accept>
        <div class="pl-3">
          I have read and accept the Organization Agreement.
        </div>
      </mat-checkbox>
    </div>

    <div class="row justify-content-end">
      <div class="col">

        <button mat-stroked-button
                color="primary"
                (click)="onBack()">Back</button>

      </div>
      <div class="col text-right">

        <button mat-flat-button
                color="primary"
                [disabled]="!accept.checked"
                (click)="onSubmit()">Accept Agreement</button>

      </div>
    </div>
  </ng-container>

  <ng-template #footer>

    <app-alert type="success"
               icon="check_circle_outline">
      <ng-container #alertTitle
                    class="alert-title">
        Organization Agreement Accepted
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        The organization agreement has already been accepted.
      </ng-container>
    </app-alert>

    <!-- TODO update footer so doesn't use the word enrolment -->
    <!-- TODO footer is too strigent for generic use, and needs to be updated and wrapped -->
    <app-page-footer [isInitialEnrolment]="true"
                     [hasSecondaryAction]="true"
                     (save)="nextRoute()"
                     (back)="onBack()"></app-page-footer>
  </ng-template>

</app-page>
