h1 {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.text-indent {
  text-indent: 1rem;
}

li {
  margin-bottom: 1rem;
}

ol[type="1"].decimal {
  // Remove list defaults
  list-style-type: none;
  margin: 0;
  padding: 0;

  // Allow [start] attribute to dictate the initial counter value
  @for $i from 1 through 10 {
    &[start="#{$i}"] {
      counter-reset: section $i - 1;
    }
  }

  & > li,
  ol[type="1"] > li {
    // Increment for each in parent and children
    counter-increment: section;

    // Allow the first element to be a paragraph without line wrapping the
    // content, and avoid display: inline issues with spacing
    & > p:first-child {
      margin-top: -1.5rem;
    }
  }

  ol[type="1"] {
    // Reset decimal counts
    counter-reset: section;
    // Remove list defaults
    list-style-type: none;

    & > li::before {
      // Only display list counts in children
      content: counters(section,".") " ";
      // Re-align with default list counters
      margin-left: -26px;
    }
  }
}
