<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"
                               [currentRoute]="SiteRoutes.ORGANIZATION_AGREEMENT"></app-site-progress-indicator>

  <ng-container *ngIf="!hasAcceptedAgreement; else continue">
    <div class="organization-agreement"
         [innerHTML]="organizationAgreement | safeHtml"></div>

    <div class="footer mb-4">
      <mat-checkbox #accept>
        <div class="pl-3">
          By checking here I agree to the terms of this Agreement as the duly authorized representative of the
          Organization.
        </div>
      </mat-checkbox>
    </div>

    <div class="row justify-content-end">
      <div class="col">

        <button mat-stroked-button
                color="primary"
                (click)="onBack()">Back</button>

      </div>
      <div class="col text-right">

        <button mat-flat-button
                color="primary"
                [disabled]="!accept?.checked"
                (click)="onSubmit()">Accept Organization Agreement</button>

      </div>
    </div>
  </ng-container>

  <ng-template #continue>
    <div class="mb-4">
      <app-alert type="success"
                 icon="check_circle_outline">
        <ng-container #alertTitle
                      class="alert-title">
          Organization Agreement Accepted
        </ng-container>
        <ng-container #alertContent
                      class="alert-content">
          The organization agreement has been accepted. If you have questions please contact us at
          <app-prime-phone></app-prime-phone> or <app-prime-support-email></app-prime-support-email>.
        </ng-container>
      </app-alert>
    </div>

    <div class="organization-agreement mb-5"
         [innerHTML]="organizationAgreement | safeHtml"></div>

    <div class="row justify-content-end">
      <div class="col">

        <button mat-stroked-button
                color="primary"
                (click)="onBack()">Back</button>

      </div>
      <div class="col text-right">

        <button mat-flat-button
                color="primary"
                (click)="nextRoute()">Continue</button>

      </div>
    </div>
  </ng-template>

</app-page>
