<div *ngIf="header"
     class="font-italic mb-2">{{ header }}</div>

<dl class="row mb-3">
  <dt class="col-6">Country</dt>
  <dd class="col-6 text-right">
    {{ address?.countryCode | configCode: 'countries' | default }}
  </dd>
  <dt class="col-6">Province</dt>
  <dd class="col-6 text-right">
    {{ address?.provinceCode | configCode: 'provinces' | default }}
  </dd>
  <dt class="col-6">Street Address</dt>
  <dd class="col-6 text-right">{{ address?.street | default }}</dd>
  <ng-container *ngIf="address?.street2">
    <dt class="col-6">Street Address 2</dt>
    <dd class="col-6 text-right">{{ address?.street2 | default }}</dd>
  </ng-container>
  <dt class="col-6">City</dt>
  <dd class="col-6 text-right">{{ address?.city | default }}</dd>
  <dt class="col-6">Postal Code</dt>
  <dd class="col-6 text-right">{{ address?.postal | postal | default }}</dd>
</dl>
