@using Prime.Models
@model Agreement

@{
  var primaryText = Model.AgreementVersion.Text;
  var limitsAndConditions = Model.LimitsConditionsClause?.Text;
}

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous">

<style>

  @@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,700&display=swap");

  .container {
    width: 85%;
    margin: 50px auto 0 auto;
  }

  h1, p, li {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }

  h1 {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
  }
  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: bold;
  }
  .underline {
    text-decoration: underline;
  }
  .text-indent {
    text-indent: 1rem;
  }
  .text-center {
    text-align: center;
  }
  ul {
    list-style-type: disc;
  }
  li {
    margin-bottom: 1rem;
  }
  ol[type="1"].decimal {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ol[type="1"].decimal[start="1"] {
    counter-reset: section 0;
  }
  ol[type="1"].decimal > li,
  ol[type="1"].decimal ol[type="1"] > li {
    counter-increment: section;
  }
  ol[type="1"].decimal > li > p:first-child,
  ol[type="1"].decimal ol[type="1"] > li > p:first-child {
    margin-top: -1.5rem;
  }
  ol[type="1"].decimal ol[type="1"] {
    counter-reset: section;
    list-style-type: none;
  }
  ol[type="1"].decimal ol[type="1"] > li::before {
    content: counters(section, ".") " ";
    margin-left: -26px;
  }
  .signature {
    display: inline-block;
    margin-bottom: 1rem;
    padding-right: 1.5rem;
  }

</style>

<div class="container">

  @Html.Raw(primaryText)

  @if(!string.IsNullOrWhiteSpace(limitsAndConditions))
  {
    <p class="bold underline">Additional Clauses that Apply to You</p>
    <p>@Html.Raw(limitsAndConditions)</p>
  }

  <p>SIGNED AND DELIVERED by</p>

  <div class="signature">
    __________________________________<br>
  </div>

  <p>In the presence of:</p>

  <div class="signature">
    __________________________________<br>
    Witness
  </div>

  <div class="signature">
    __________________________________<br>
    Practitioner
  </div>

</div>

