<ng-container [formGroup]="form">

  <app-page-section>
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>{{ title }}</ng-container>
      <!-- Work around for ngProjectAs not passing directive reference to subheader2 when applied to ng-content -->
      <ng-container appPageSubheader2Summary>
        <ng-content select="[appPageSubheader2Summary]"></ng-content>
      </ng-container>
      <ng-container *ngIf="hasPageSubheaderMoreInfo"
                    appPageSubheader2MoreInfo>
        <ng-content select="[appPageSubheader2MoreInfo]"></ng-content>
      </ng-container>
    </app-page-subheader2>

    <ng-content select="app-same-as"></ng-content>

    <div class="row">
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="First Name"
                 formControlName="firstName">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Last Name"
                 formControlName="lastName">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <ng-container *ngIf="!excludeList.includes('jobRoleTitle')">
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Job Title"
                   formControlName="jobRoleTitle">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </ng-container>
    </div>
  </app-page-section>

  <app-page-section>
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>{{ title }} Contact Information</ng-container>
    </app-page-subheader2>

    <div class="row">
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error *ngIf="email.hasError('required')">Required</mat-error>
          <mat-error *ngIf="email.hasError('email')">Must be a valid email address</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Phone"
                 formControlName="phone"
                 mask="(000) 000-0000"
                 [showMaskTyped]="false">
          <mat-error *ngIf="phone.hasError('required')">Required</mat-error>
          <mat-error *ngIf="phone.hasError('phone')">Must be a valid phone number</mat-error>
        </mat-form-field>

      </div>
      <ng-container *ngIf="!excludeList.includes('fax')">
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Fax (Optional)"
                   formControlName="fax"
                   mask="(000) 000-0000"
                   [showMaskTyped]="false">
            <mat-error *ngIf="fax.hasError('required')">Required</mat-error>
            <mat-error *ngIf="fax.hasError('phone')">Must be a valid phone number</mat-error>
          </mat-form-field>

        </div>
      </ng-container>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="SMS Phone (Optional)"
                 formControlName="smsPhone"
                 mask="(000) 000-0000"
                 [showMaskTyped]="false">
          <mat-error *ngIf="smsPhone.hasError('required')">Required</mat-error>
          <mat-error *ngIf="smsPhone.hasError('phone')">Must be a valid phone number</mat-error>
        </mat-form-field>

      </div>
    </div>
  </app-page-section>

  <!-- Must bind to hidden instead of using *ngIf so toggle can be located by ViewChild -->
  <div [hidden]="!hasAddressToggle">
    <div class="mb-4">
      <mat-slide-toggle #slider
                        color="primary"
                        (change)="onAddressChange($event)">
        The {{ title }}'s mailing address is the same as the site’s address
      </mat-slide-toggle>
    </div>

    <ng-container *ngIf="!slider.checked">
      <ng-container *ngTemplateOutlet="address"></ng-container>
    </ng-container>
  </div>

  <ng-container *ngIf="!hasAddressToggle">
    <ng-container *ngTemplateOutlet="address"></ng-container>
  </ng-container>

  <ng-content select="app-page-footer"></ng-content>
</ng-container>

<ng-template #address>
  <app-page-section *ngIf="!excludeList.includes('physicalAddress')">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Address</ng-container>
    </app-page-subheader2>

    <app-address-form [form]="physicalAddress"
                      [showManualButton]="true"
                      [showAddressFields]="showAddressFields"></app-address-form>
  </app-page-section>
</ng-template>
