@import 'palette';
@import 'variables';

.mat-mdc-card-title {
  font-weight: bold;
  font-size: 1em;
  color: $h3-colour;
}

.mat-icon {
  vertical-align: middle
}

.mat-mdc-card-content>div>div>span {
  color: $h3-colour;
  ;
}
