<app-page [busy]="busy"
          mode="full">

  <app-page-header>{{ healthAuthority?.name }} Organization Information</app-page-header>

  <div class="row">
    <div class="col-md-6 col-sm-12">

      <app-page-section>
        <app-page-subheader [divider]="false">
          <ng-container appPageSubheaderTitle>
            <mat-icon class="mr-2">business</mat-icon>
            Organization Information
          </ng-container>
        </app-page-subheader>

        <ng-container *ngIf="isInitial">

          <mat-card>
            <mat-card-content>
              <app-overview-section title="Health Authority Care Types"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_CARE_TYPES"
                                    (route)="onRouteRelative($event)">
                <ng-container *ngIf="healthAuthority?.careTypes.length; else noCareTypes">
                  <app-enrollee-property *ngFor="let healthAuthorityCareType of healthAuthority.careTypes"
                                         title="Care Type">
                    {{ healthAuthorityCareType.careType }}
                  </app-enrollee-property>
                </ng-container>

                <ng-template #noCareTypes>
                  <app-enrollee-property>
                    None
                  </app-enrollee-property>
                </ng-template>
              </app-overview-section>

              <app-overview-section title="Health Authority Vendors"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_VENDORS"
                                    (route)="onRouteRelative($event)">
                <ng-container *ngIf="healthAuthority?.vendors.length; else noVendors">
                  <app-enrollee-property *ngFor="let vendor of healthAuthority.vendors"
                                         title="Vendor">
                    {{ vendor.vendorCode | configCode: 'vendors' }}
                  </app-enrollee-property>
                </ng-container>

                <ng-template #noVendors>
                  <app-enrollee-property>
                    None
                  </app-enrollee-property>
                </ng-template>
              </app-overview-section>

              <app-overview-section title="Privacy Office"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_PRIVACY_OFFICE"
                                    (route)="onRouteRelative($event)">
                <app-enrollee-property title="Email">
                  {{ healthAuthority?.privacyOffice?.email | default }}
                </app-enrollee-property>

                <app-enrollee-property title="Phone">
                  {{ healthAuthority?.privacyOffice?.phone | phone | default }}
                </app-enrollee-property>
              </app-overview-section>

              <app-address-view title="Privacy Office Address"
                                [address]="healthAuthority?.privacyOffice?.physicalAddress"
                                [showRedirect]="false"
                                [showIfEmpty]="true"
                                (route)="onRoute(AdjudicationRoutes.HEALTH_AUTH_PRIVACY_OFFICE)"></app-address-view>

              <app-overview-section title="Privacy Officer"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_PRIVACY_OFFICE"
                                    (route)="onRouteRelative($event)">
                <app-party-review [party]="healthAuthority?.privacyOffice?.privacyOfficer"
                                  [excludeList]="['fax', 'smsPhone', 'jobRoleTitle', 'mailingAddress']">
                </app-party-review>
              </app-overview-section>

              <app-overview-section title="Technical Support Contacts"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_TECHNICAL_SUPPORTS"
                                    (route)="onRouteRelative($event)">
                <ng-container *ngIf="healthAuthority?.technicalSupports.length; else noTechnicalSupports">
                  <ng-container *ngFor="let technicalSupport of healthAuthority.technicalSupports">
                    <app-enrollee-property title="Technical Support">
                      <app-party-review [party]="technicalSupport">
                        <ng-container nonPartyDetails>
                          <app-enrollee-property title="Vendor(s)">
                            {{ technicalSupport.vendorsSupported | healthAuthorityVendor | default }}
                          </app-enrollee-property>
                        </ng-container>
                      </app-party-review>
                    </app-enrollee-property>
                  </ng-container>
                </ng-container>

                <ng-template #noTechnicalSupports>
                  <app-enrollee-property>
                    None
                  </app-enrollee-property>
                </ng-template>
              </app-overview-section>

              <app-overview-section title="PharmaNet Administrators"
                                    [showEditRedirect]="true"
                                    [editRoute]="AdjudicationRoutes.HEALTH_AUTH_ADMINISTRATORS"
                                    (route)="onRouteRelative($event)">
                <ng-container *ngIf="healthAuthority?.pharmanetAdministrators.length; else noPharmanetAdministrators">
                  <ng-container *ngFor="let pharmanetAdministrator of healthAuthority.pharmanetAdministrators">
                    <app-enrollee-property title="PharmaNet Administrator">
                      <app-party-review [party]="pharmanetAdministrator"></app-party-review>
                    </app-enrollee-property>
                  </ng-container>
                </ng-container>

                <ng-template #noPharmanetAdministrators>
                  <app-enrollee-property>
                    None
                  </app-enrollee-property>
                </ng-template>
              </app-overview-section>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <button *ngIf="!isInitial"
                mat-button
                type="button"
                color="primary"
                (click)="addOrgInfo()">
          <mat-icon>add</mat-icon>
          Add Organization Information
        </button>

      </app-page-section>
    </div>

    <div class="col-md-6 col-sm-12">

      <app-page-section>
        <app-page-subheader [divider]="false">
          <ng-container appPageSubheaderTitle>
            <mat-icon class="mr-2">description</mat-icon>
            Organization Agreement
          </ng-container>
        </app-page-subheader>

        <ng-container *ngIf="healthAuthority?.healthAuthorityOrganizationAgreementDocument">
          <div class="mb-3">
            <app-enrollee-property title="Uploaded Agreement">
              <button mat-stroked-button
                      color="primary"
                      (click)="downloadOrganizationAgreement($event)">
                <mat-icon class="mr-1">attachment</mat-icon>
                {{ healthAuthority.healthAuthorityOrganizationAgreementDocument.filename | default }}
              </button>
            </app-enrollee-property>
          </div>
        </ng-container>

        <button *ngIf="!hasClickedAddAgreement"
                mat-button
                type="button"
                color="primary"
                (click)="addOrgAgreement()">
          <mat-icon>add</mat-icon>
          Upload/Replace Organization Agreement
        </button>

        <ng-container *ngIf="hasClickedAddAgreement">
          <div class="row">
            <div class="col">
              <app-document-upload #documentUpload
                                   componentName="organization-agreement"
                                   labelMessage="Drag and drop your organization agreement or browse"
                                   [multiple]="false"
                                   (completed)="onUpload($event)"
                                   (remove)="onRemoveDocument($event)"></app-document-upload>
            </div>
          </div>

          <div class="row justify-content-between">
            <div class="col">
              <button mat-flat-button
                      class="align-self-start"
                      type="button"
                      color="secondary"
                      (click)="cancelUpload()">
                Cancel
              </button>
            </div>
            <div class="col text-right">
              <button mat-flat-button
                      class="align-self-end"
                      type="button"
                      color="primary"
                      [disabled]="!organizationAgreementDocument"
                      (click)="updateOrganizationAgreement()">
                Upload Document
              </button>
            </div>
          </div>

        </ng-container>
      </app-page-section>
    </div>
  </div>


</app-page>
