@import 'palette';
@import 'bootstrap/bootstrap-imports';

.mat-card {
  min-width: 325px;
  max-width: 375px;
}

// Custom card title used instead of mat-card-header with mat-card-title due
// to mat-card-title not allowing the user of flexbox
.card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  small:last-child:not(:first-child) {
    font-weight: bold;
    color: theme-palette(blue);
  }
}

.card {
  margin-bottom: 20px;
}
