@import 'palette';

.mat-toolbar {
  height: 70px;

  .mat-icon {
    cursor: pointer;
    margin-top: 0.3em;
    user-select: none;
  }

  img {
    margin-left: 15px;
    margin-top: -15px;
  }

  .username {
    font-size: 1rem;
  }

  .logout {
    font-size: 1.5rem;
    margin-left: 1.2em;
    margin-right: .6em;
  }
}
