<mat-toolbar color="primary">
  <span *ngIf="isMobile">
    <mat-icon (click)="toggleSidenav()">menu</mat-icon>
  </span>
  <span>
    <img src="/assets/gov_bc_logo.png">
  </span>

  <span class="flex-fill"></span>

  <span *ngIf="username && !isMobile"
        class="username">
    {{ username }}
  </span>
  <span *ngIf="username"
        class="logout">
    <mat-icon (click)="onLogout()">logout</mat-icon>
  </span>
</mat-toolbar>

<div class="ngx-progress">
  <ng-progress></ng-progress>
</div>
