//
// MATERIAL PALETTE
//

@import 'palette';

// http://mcg.mbitson.com/#!?mcgpalette0=%23003366
$prime-blue: (
  50: #e0e7ed,
  100: #b3c2d1,
  200: #8099b3,
  300: #4d7094,
  400: #26527d,
  500: #003366, // BC Gov. Primary
  600: #002e5e,
  700: #002753,
  800: #002049,
  900: #001438,
  A100: #6e93ff,
  A200: #3b6cff,
  A400: #0846ff,
  A700: #003bee,
  contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff
  )
);

// http://mcg.mbitson.com/#!?mcgpalette0=%23fcba19
$prime-yellow: (
  50: #fff7e3,
  100: #feeaba,
  200: #fedd8c,
  300: #fdcf5e,
  400: #fcc43c,
  500: #fcba19, // BC Gov. Secondary
  600: #fcb316,
  700: #fbab12,
  800: #fba30e,
  900: #fa9408,
  A100: #ffffff,
  A200: #fff8ef,
  A400: #ffe0bc,
  A700: #ffd4a2,
  contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
  )
);
