<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr *ngFor="let item of items$ | async">
        <th class="text-right"
            scope="row">
          <div class="text-nowrap">
            {{ item.date | formatDate }}
          </div>
          <small *ngIf="showTime"
                 class="d-block text-mute font-weight-normal mb-2">
            {{ item.date | formatDate: 'h:mm a' }}
          </small>
          <mat-chip-listbox *ngIf="item?.name"
                            [selectable]="false">
            <mat-chip selected
                      color="primary"
                      [disableRipple]="true">{{ item.name | replace: '@idir': '' }}</mat-chip>
          </mat-chip-listbox>
        </th>
        <td class="d-flex justify-content-between">
          <div>
            <pre>{{ item.content }}</pre>
          </div>
          <div class="margin-right">{{ item?.marginRight | capitalize: true }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
