<ng-container [formGroup]="form">

  <app-form-icon-group [show]="total > 1"
                       (event)="removeJob(index)">
    <app-form-icon-group>
      <mat-form-field class="w-100">
        <input matInput
               #input
               type="text"
               placeholder="Job Title"
               formControlName="title"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete"
                          autoActiveFirstOption>
          <mat-option *ngFor="let jobName of filteredJobNames | async"
                      [value]="jobName.name">
            {{ jobName.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <ng-container appContextualContent>
        Choose a job that you perform
      </ng-container>
    </app-form-icon-group>
  </app-form-icon-group>

</ng-container>
