@import 'palette';

h2 {
  color: theme-palette(blue);

  .mat-icon {
    font-size: 3rem;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }

  span {
    border-bottom: 2px solid #eeee;
    font-size: 1.75rem;
    line-height: 3rem;
  }
}
