<div [formGroup]="form"
     class="login-form-container">

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput
           [formControl]="username">
    <mat-error *ngIf="username.hasError('required')">Required</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput
           [type]="(maskPassword) ? 'password' : 'text'"
           [formControl]="password">
    <button mat-icon-button
            matSuffix
            type="button"
            (click)="maskPassword = !maskPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="true">
      <mat-icon>{{ (maskPassword) ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="password.hasError('required')">Required</mat-error>
  </mat-form-field>

</div>
