<app-page [busy]="busy"
          mode="full">

  <app-page-header>Overview</app-page-header>

  <app-site-registration-table *ngIf="busy.closed || dataSource?.data.length"
                               [dataSource]="dataSource"
                               (assign)="onAssign($event)"
                               (reassign)="onReassign($event)"
                               (notify)="onNotify($event)"
                               (route)="onRoute($event)"
                               (toggleFlagSite)="onToggleFlagSite($event)">
  </app-site-registration-table>

  <div class="row mt-4">

    <div class="col-6 mb-3">
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>
          <mat-icon class="mr-2">location_city</mat-icon>
          Organization Information
        </ng-container>
        <button mat-icon-button
                matTooltip="View Organization"
                (click)="onRoute([organization.id, AdjudicationRoutes.SITE_REGISTRATION, site.id, AdjudicationRoutes.ORGANIZATION_INFORMATION])">
          <mat-icon>navigate_next icon</mat-icon>
        </button>
      </app-page-subheader>
      <mat-card class="enrolmentCard">
        <mat-card-content>
          <app-overview-container [organization]="organization"
                                  [showEditRedirect]="false"></app-overview-container>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-1"></div>

    <div class="col-5">
      <div class="row mb-5 d-flex justify-content-end">
        <app-site-registration-actions [siteRegistration]="dataSource?.data[0]"
                                       (approve)="onApprove($event)"
                                       (decline)="onDecline($event)"
                                       (unreject)="onUnreject($event)"
                                       (delete)="onDelete($event)"
                                       (enableEditing)="onEnableEditing($event)"
                                       (escalate)="onEscalate($event)"
                                       (toggleFlagSite)="onToggleFlagSite($event)">
        </app-site-registration-actions>
      </div>
      <div class="row pl-4">
        <form (ngSubmit)="onSubmit()"
              [formGroup]="form"
              novalidate>

          <section class="mb-3">

            <app-page-subheader2>
              <ng-container appPageSubheader2Title>Enter Site ID</ng-container>
              <ng-container appPageSubheader2Summary>
                The Site ID will be sent to the Signing Authority, Administrator of PharmaNet onboarding and the
                vendor associated to this submission.
              </ng-container>
            </app-page-subheader2>

            <div class="row mb-3">
              <div class="col-sm-12 col-lg-9 col-xl-5">

                <mat-form-field class="w-100">
                  <input matInput
                         placeholder="Site ID"
                         formControlName="pec">
                  <mat-error>Required</mat-error>
                </mat-form-field>

              </div>
            </div>

            <button mat-flat-button
                    color="primary">Save Site ID</button>

          </section>

        </form>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-6">
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>
          <mat-icon class="mr-2">store</mat-icon>
          Site Information
        </ng-container>
        <button mat-icon-button
                matTooltip="View Site"
                (click)="onRoute([organization.id, AdjudicationRoutes.SITE_REGISTRATION, site.id, AdjudicationRoutes.SITE_INFORMATION])">
          <mat-icon>navigate_next icon</mat-icon>
        </button>
      </app-page-subheader>
      <mat-card class="enrolmentCard">
        <mat-card-content>
          <app-overview-container [site]="site"
                                  [showEditRedirect]="false"></app-overview-container>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div *ngIf="site?.remoteUsers.length"
       class="row mt-4">
    <div class="col-6">
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>
          <mat-icon class="mr-2">account_circle</mat-icon>
          Remote Practitioners
        </ng-container>
        <button mat-icon-button
                matTooltip="View Remote Practitioners"
                (click)="onRoute([organization.id, AdjudicationRoutes.SITE_REGISTRATION, site.id, AdjudicationRoutes.SITE_REMOTE_USERS])">
          <mat-icon>navigate_next icon</mat-icon>
        </button>
      </app-page-subheader>
      <mat-card class="enrolmentCard">
        <mat-card-content>
          <app-remote-user-review [remoteUsers]="site?.remoteUsers"></app-remote-user-review>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</app-page>
