<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isApproved"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Authorized User Information</ng-container>
        <ng-container appPageSubheader2Summary>
          This information comes from your BC Services Card. If you have a name that is different than your legal name,
          enter your full preferred name.
          <small class="font-italic d-block">
            Entering a preferred name will not change your BC Services Card name.
          </small>
        </ng-container>
        <ng-container appPageSubheader2MoreInfo>
          The Signing Authority is responsible for PharmaNet activities at the site and is authorized by the
          organization to complete the site registration. The Signing Authority does not need to be a PharmaNet user, a
          member of a regulated health profession, or providing direct patient care at the site.
        </ng-container>
      </app-page-subheader2>

      <app-bcsc-profile [user]="bcscUser"
                        [showAddress]="false"></app-bcsc-profile>

      <app-toggle-content label="Provide your preferred name, if you have one."
                          [checked]="hasPreferredName"
                          (toggle)="onPreferredNameChange($event)">

        <section>
          <app-page-subheader2>
            <ng-container appPageSubheader2Title>Preferred Name</ng-container>
            <ng-container appPageSubheader2Summary>
              If you have a name that is different than your legal name that people know you by, enter your full
              preferred name.
            </ng-container>
          </app-page-subheader2>

          <app-preferred-name-form [form]="formState.form"></app-preferred-name-form>
        </section>

      </app-toggle-content>
    </section>

    <section class="mb-3">
      <ng-container *ngIf="hasVerifiedAddress; else noAddress">
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Address</ng-container>
          <ng-container appPageSubheader2Summary>
            This information below comes from your BC Services Card. If you would prefer to receive mail at a
            professional or other address, select "I have a preferred address."
            <small class="font-italic d-block">
              Entering a preferred address will not change your BC Services Card address.
            </small>
          </ng-container>
        </app-page-subheader2>

        <app-bcsc-profile [user]="bcscUser"
                          [showPersonal]="false"
                          [showAddressTitle]="false"></app-bcsc-profile>

        <app-toggle-content label="Provide your preferred physical address, if you have one"
                            [checked]="hasPhysicalAddress"
                            (toggle)="onPhysicalAddressChange($event)">

          <section>
            <app-page-subheader2>
              <ng-container appPageSubheader2Title>Physical Address</ng-container>
            </app-page-subheader2>

            <app-address-form [form]="formState.physicalAddress"
                              [inBc]="true"
                              [showManualButton]="true"
                              [showAddressFields]="hasPhysicalAddress"></app-address-form>
          </section>

        </app-toggle-content>

      </ng-container>

      <ng-template #noAddress>
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Address</ng-container>
          <ng-container appPageSubheader2Summary>
            Provide your physical address.
          </ng-container>
        </app-page-subheader2>

        <app-address-form [form]="formState.physicalAddress"
                          [inBc]="true"
                          [showManualButton]="true"
                          [showAddressFields]="hasPhysicalAddress"></app-address-form>
      </ng-template>
    </section>

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Contact Information</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide your contact information for correspondence.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Phone Number"
                   formControlName="phone"
                   mask="(000) 000-0000"
                   [showMaskTyped]="false">
            <mat-error *ngIf="formState.phone.hasError('required')">Required</mat-error>
            <mat-error *ngIf="formState.phone.hasError('phone')">Must be a valid phone number</mat-error>
          </mat-form-field>

        </div>
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Email"
                   formControlName="email">
            <mat-error *ngIf="formState.email.hasError('required')">Required</mat-error>
            <mat-error *ngIf="formState.email.hasError('email')">Must be a valid email address</mat-error>
          </mat-form-field>

        </div>
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Mobile Phone (Optional)"
                   formControlName="smsPhone"
                   mask="(000) 000-0000"
                   [showMaskTyped]="false">
            <mat-error *ngIf="formState.smsPhone.hasError('required')">Required</mat-error>
            <mat-error *ngIf="formState.smsPhone.hasError('phone')">Must be a valid phone number</mat-error>
          </mat-form-field>

        </div>
      </div>
    </section>

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Job Information</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide your job information.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Job Title"
                   formControlName="jobRoleTitle">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
        <div class="col-12">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Employment Identifier"
                   formControlName="employmentIdentifier">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
    </section>

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Health Authority</ng-container>
        <ng-container appPageSubheader2Summary>
          What health authority are you representing?
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col col-sm-6 py-3">
          <mat-form-field class="w-100">
            <mat-label>Health Authority</mat-label>
            <mat-select formControlName="healthAuthorityCode">
              <mat-option *ngFor="let ha of this.healthAuthorities"
                          [value]="ha.code">
                {{ ha.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formState.healthAuthorityCode.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isApproved"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
