<app-page [busy]="busy">
  <app-page-header>{{ title }}</app-page-header>
  <app-sat-eforms-progress-indicator></app-sat-eforms-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate>

    <app-page-section>

      <app-page-subheader2>
        <ng-container appPageSubheader2Title>College Information</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide your college information.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col col-sm-10 py-3"
             formArrayName="certifications">

          <ng-container *ngFor="let certificate of formState.certifications.controls; let i = index;"
                        [formGroupName]="i">

            <app-college-certification-form [form]="certificate"
                                            [index]="i"
                                            [total]="formState.certifications.controls.length"
                                            [selectedColleges]="formState.selectedCollegeCodes"
                                            (remove)="formState.removeCertification($event)">
            </app-college-certification-form>

          </ng-container>

          <button mat-button
                  type="button"
                  color="primary"
                  (click)="formState.addEmptyCollegeCertification()">
            <mat-icon>add</mat-icon>
            Add Additional Licences
          </button>

        </div>
      </div>
    </app-page-section>

  </form>

  <app-page-footer [isInitialEnrolment]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
