<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Professional Information</ng-container>
      <ng-container appPageSubheaderSummary>
        This information is used to determine your PharmNet access privileges and user agreement.
      </ng-container>
    </app-page-subheader>

    <p>Do you have a college certification?</p>

    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="example-radio-group"
                     formControlName="hasCertification">
      <mat-radio-button class="mr-4"
                        *ngFor="let decision of decisions"
                        [value]="decision.code">
        {{ decision.name }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="row"
         *ngIf="hasCertification.value"
         formArrayName="certifications">
      <div class="col-sm-12 col-md-6 col-xl-4 py-3">

        <ng-container *ngFor="let certificate of certifications.controls; let i = index, let first = first"
                      [formGroupName]="i">

          <hr *ngIf="!first">

          <app-college-certifications [form]="certificate"
                                      [index]="i"
                                      [total]="certifications.controls.length"
                                      (remove)="removeCertification($event)"></app-college-certifications>

        </ng-container>

        <button mat-raised-button
                color="primary"
                (click)="addCertification()"
                [disabled]="certifications.invalid">Add Certification</button>

      </div>
    </div>

    <p>Are you a device provider?</p>

    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="example-radio-group"
                     formControlName="isDeviceProvider"
                     #rb>
      <mat-radio-button class="mr-4"
                        *ngFor="let decision of decisions"
                        [value]="decision.code">
        {{ decision.name }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="row"
         *ngIf="isDeviceProvider.value">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <span matPrefix>D1&nbsp;</span>
          <input matInput
                 placeholder="Device Provider Number"
                 formControlName="deviceProviderNumber">
          <!-- TODO <mat-error *ngIf="deviceProviderNumber.hasError('numeric')">Must be a number</mat-error> -->
          <mat-error *ngIf="deviceProviderNumber.hasError('length')">Must be a 5 digit number</mat-error>
        </mat-form-field>

      </div>
    </div>

    <p>Are you an insulin pump provider?</p>

    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="example-radio-group"
                     formControlName="isInsulinPumpProvider">
      <mat-radio-button class="mr-4"
                        *ngFor="let decision of decisions"
                        [value]="decision.code">
        {{ decision.name }}
      </mat-radio-button>
    </mat-radio-group>

    <p>Are you accessing PharmaNet on behalf of someone else?</p>

    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="example-radio-group"
                     formControlName="isAccessingPharmaNetOnBehalfOf">
      <mat-radio-button class="mr-4"
                        *ngFor="let decision of decisions"
                        [value]="decision.code">
        {{ decision.name }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="row"
         *ngIf="isAccessingPharmaNetOnBehalfOf.value">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let job of jobs.controls; let i = index"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="removeJob(i)">
              {{ job.value.title }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Job Title"
                   #jobInput
                   [matAutocomplete]="auto"
                   [matChipInputFor]="chipList"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addJob($event)"
                   [formControl]="jobCtrl">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="selectedJob($event)">
            <mat-option *ngFor="let job of filteredJobNames | async"
                        [value]="job.name">
              {{ job.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col pt-4">

        <button mat-stroked-button
                type="button"
                routerLink="../profile">Back</button>

      </div>
      <div class="col pt-4 text-right">

        <button mat-raised-button
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
