<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-header>Application Enrolment</app-page-header>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Job Information</ng-container>
      <ng-container appPageSubheaderSummary>
        If you have provided a Device Number you do not have to provide a job title unless you are going to be accessing
        PharmaNet in a different position.
      </ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-5 py-3"
           formArrayName="jobs">

        <ng-container *ngFor="let job of jobs.controls; let i = index"
                      [formGroupName]="i">

          <app-job-form [form]="job"
                        [index]="i"
                        [total]="jobs.controls.length"
                        [jobNames]="filteredJobNames"
                        (remove)="removeJob($event)"></app-job-form>

        </ng-container>

        <button mat-button
                type="button"
                color="primary"
                (click)="addJob()">
          <mat-icon class="add-icon">add</mat-icon>
          Add Additional Job Title
        </button>

      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col pt-2">

        <button mat-stroked-button
                type="button"
                [routerLink]="['..', EnrolmentRoutes.DEVICE_PROVIDER]">Back</button>

      </div>
      <div class="col pt-2 text-right">

        <button mat-raised-button
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
