<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <app-registrant-profile-form [title]="title"
                               [form]="form"
                               (submit)="onSubmit()">

    <app-same-as selectFor="administratorPharmaNet"
                 (selected)="onSelect($event)">
      <button *ngIf="isSameAs()"
              mat-stroked-button
              type="button"
              color="primary"
              (click)="onClear()">
        Enable Editing
      </button>
    </app-same-as>

    <ng-container appPageSubheader2Summary>
      Sets up individual PharmaNet access accounts at the location or requests setups by the software vendor. They may
      be the location’s office administrator, HR lead, operational manager, medical office assistant (MOA), a
      practitioner, or the software vendor. May also be the Signing Authority.
    </ng-container>
  </app-registrant-profile-form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
