<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <app-registrant-profile-form [title]="title"
                               [form]="form"
                               (submit)="onSubmit()">

    <app-same-as selectFor="administratorPharmaNet"
                 (selected)="onSelect($event)">
      <button *ngIf="isSameAs()"
              mat-stroked-button
              type="button"
              color="primary"
              (click)="onClear()">
        Enable Editing
      </button>
    </app-same-as>

    <ng-container appPageSubheader2Summary>
      Directly sets up individual PharmaNet access accounts at a site or has the authority to request accounts from the
      site's PharmaNet software vendor. May be the Signing Authority.
    </ng-container>
    <ng-container appPageSubheader2MoreInfo>
      The PharmaNet Administrator could be the site's administrator, manager, HR lead, medical office assistant (MOA), a
      practitioner, software vendor, etc.
    </ng-container>
  </app-registrant-profile-form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
