<div class="row">
  <div class="col">

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">

      <!-- TODO change in requirements dropped organization -->
      <!-- <ng-container matColumnDef="referenceId">
        <th mat-header-cell
            *matHeaderCellDef> Reference ID </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.referenceId }} </td>
      </ng-container> -->

      <!-- TODO change in requirements dropped organization -->
      <!-- <ng-container matColumnDef="organizationName">
        <th mat-header-cell
            *matHeaderCellDef> Organization Name </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.name }} </td>
      </ng-container> -->

      <ng-container matColumnDef="locationName">
        <th mat-header-cell
            *matHeaderCellDef> Id </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.id | default }} </td>
      </ng-container>

      <ng-container matColumnDef="vendor">
        <th mat-header-cell
            *matHeaderCellDef> Vendor </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.siteVendors[0]?.vendorCode | configCode: 'vendors' | default }} </td>
      </ng-container>

      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell
            *matHeaderCellDef> Submission Date </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.submittedDate | formatDate | default }} </td>
      </ng-container>

      <ng-container matColumnDef="siteAdjudication">
        <th mat-header-cell
            *matHeaderCellDef> State </th>
        <td mat-cell
            *matCellDef="let row;"
            class="status"
            [class.approved]="row.pec"
            [class.under-review]="!row.pec"> {{ (row.pec) ? 'Approved' : 'Under Review' | default }} </td>
      </ng-container>

      <ng-container matColumnDef="pecCode">
        <th mat-header-cell
            *matHeaderCellDef> PEC Code </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.pec | default }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="menu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>

        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columns;"></tr>
    </table>

    <p *ngIf="!dataSource?.data.length"
       class="px-4 py-2 text-muted">
      No Sites Found
    </p>

    <ng-template #menu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ORGANIZATION_INFORMATION, row.organizationId])">
          <mat-icon>location_city</mat-icon>
          <span>Organization Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id])">
          <mat-icon>store</mat-icon>
          <span>Site Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.SITE_ADJUDICATION])">
          <mat-icon>rate_review</mat-icon>
          <span>Site Adjudication</span>
        </button>
        <button mat-menu-item
                [disabled]="!canEdit"
                (click)="deleteSite(row.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete Site</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>
</div>
