<div class="row">
  <div class="col">

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">
      s
      <ng-container matColumnDef="displayId">
        <th mat-header-cell
            *matHeaderCellDef> Reference ID </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.displayId | default: '' }} </td>
      </ng-container>

      <ng-container matColumnDef="organizationName">
        <th mat-header-cell
            *matHeaderCellDef> Organization Name </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.name | default: '' }} </td>
      </ng-container>

      <ng-container matColumnDef="signingAuthority">
        <th mat-header-cell
            *matHeaderCellDef> Signing Authority </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.signingAuthority | fullname | default: '' }} </td>
      </ng-container>

      <ng-container matColumnDef="doingBusinessAs">
        <th mat-header-cell
            *matHeaderCellDef> Doing Business As </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.doingBusinessAs | default }} </td>
      </ng-container>

      <ng-container matColumnDef="submissionDate">
        <th mat-header-cell
            *matHeaderCellDef> Submission Date </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.submittedDate | formatDate | default }} </td>
      </ng-container>

      <ng-container matColumnDef="siteAdjudication">
        <th mat-header-cell
            *matHeaderCellDef> Site Adjudication </th>
        <td mat-cell
            *matCellDef="let row;"
            class="status"
            [class.approved]="row.pec"
            [class.under-review]="!row.pec"> {{ (row.pec) ? 'Approved' : 'Under Review' | default }} </td>
      </ng-container>

      <ng-container matColumnDef="siteId">
        <th mat-header-cell
            *matHeaderCellDef> Site ID </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.pec | default }} </td>
      </ng-container>

      <ng-container matColumnDef="careSetting">
        <th mat-header-cell
            *matHeaderCellDef> Care Setting </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.careSettingCode | configCode: 'careSettings' | default }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="menu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>

        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columns;"></tr>
    </table>

    <p *ngIf="!dataSource?.data.length"
       class="px-4 py-2 text-muted">
      No Sites Found
    </p>

    <ng-template #menu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([row.organizationId, AdjudicationRoutes.SITE_REGISTRATION, row.siteId, AdjudicationRoutes.ORGANIZATION_INFORMATION])">
          <mat-icon>location_city</mat-icon>
          <span>Organization Information</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.organizationId, AdjudicationRoutes.SITE_REGISTRATION, row.siteId])">
          <mat-icon>store</mat-icon>
          <span>Site Information</span>
        </button>
        <button mat-menu-item
                [disabled]="true">
          <mat-icon>rate_review</mat-icon>
          <span>Remote Practitioners</span>
        </button>

        <mat-divider [inset]="true"></mat-divider>

        <button mat-menu-item
                (click)="onRoute([row.organizationId, AdjudicationRoutes.SITE_REGISTRATION, row.siteId, AdjudicationRoutes.ADJUDICATION])">
          <mat-icon>rate_review</mat-icon>
          <span>Site Adjudication</span>
        </button>
        <button mat-menu-item
                [disabled]="true">
          <mat-icon>rate_review</mat-icon>
          <span>Claim Site</span>
        </button>

        <mat-divider [inset]="true"></mat-divider>

        <button mat-menu-item
                [disabled]="!canEdit"
                (click)="onDelete({ organizationId: row.organizationId })">
          <mat-icon>delete</mat-icon>
          <span>Delete Organization</span>
        </button>
        <button mat-menu-item
                [disabled]="!canEdit"
                (click)="onDelete({ siteId: row.siteId })">
          <mat-icon>delete</mat-icon>
          <span>Delete Site</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>
</div>
