@import 'palette';
@import 'mixins/statuses';

@include statuses;

.prefix-container {
  height: 48px;
  width: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.red {
  color: orangered;
}

.archived {
  color: #dc3545;
}

.pec-alert {
  color: theme-palette(yellow);
  font-size: large;
}

.linked-site-alert {
  color: lightblue;
  font-size: large;
}

.prefix-container {
  height: 48px;
  width: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mat-mdc-header-cell {
  font-size: 12px;
  padding: 0 10px 0 0;
}

.mat-mdc-cell {
  padding: 0 10px 0 0;
}

.mat-mdc-row {
  font-family: 'BC Sans';
}
