<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator *ngIf="!isOrganizationPendingTransfer"
                               [inProgress]="!isSubmitted"></app-site-progress-indicator>

  <section class="mb-3">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Organization Agreement</ng-container>
      <ng-container appPageSubheader2Summary>
        Does your organization have signing requirements that prevent you from signing an online agreement?
      </ng-container>
    </app-page-subheader2>

    <mat-slide-toggle #canSignOnline
                      color="primary"
                      class="mt-3 mb-3"
                      [checked]="true">
      I can sign online agreements
    </mat-slide-toggle>
  </section>

  <ng-container *ngIf="!canSignOnline.checked; else electronic">
    <section class="mb-5">
      <p class="mb-4">
        Download and print off the Organization Agreement for PharmaNet Use. Sign, and upload. You cannot make
        changes to the agreement.
      </p>

      <button mat-flat-button
              class="mb-4"
              color="primary"
              (click)="onDownload()">Download Agreement</button>

      <p class="mb-3">
        <strong>Upload the signed Organization Agreement here.</strong>
      </p>

      <app-document-upload componentName="organization-agreement"
                           [multiple]="false"
                           (completed)="onUpload($event)"
                           (remove)="onRemoveDocument($event)"></app-document-upload>
    </section>
  </ng-container>

  <ng-template #electronic>
    <div class="organization-agreement"
         [innerHTML]="organizationAgreement?.agreementContent | safe: 'html'"></div>

    <div class="footer mb-4">
      <mat-checkbox #accept>
        <div class="pl-3">
          By checking here I agree to the terms of this Agreement as the duly authorized representative of the
          Organization.
        </div>
      </mat-checkbox>
    </div>
  </ng-template>

  <div class="row justify-content-end">
    <div class="col mt-4">

      <button mat-stroked-button
              color="primary"
              (click)="onBack()">Back</button>

    </div>
    <div class="col mt-4 text-right">

      <button mat-flat-button
              color="primary"
              [disabled]="!accepted?.checked && !hasUploadedFile"
              (click)="onSubmit()">Accept Organization Agreement</button>

    </div>
  </div>

</app-page>
