<div class="container-fluid">
  <div class="row">
    <button mat-button
            class="mb-2"
            type="button"
            color="primary"
            (click)="onCreate()">
      <mat-icon>add</mat-icon>
      Create New Banner
    </button>
  </div>
  <div class="row">
    <ng-container *ngFor="let banner of banners">
      <div class="col-md-6 col-sm-12">
        <app-summary-card class=""
                          icon="bookmark"
                          [title]="banner.title"
                          [menu]="bannerMenu"
                          [properties]="getTemplateProperties(banner)"
                          actionButtonTitle="Edit"
                          [actionDisabled]="false"
                          (action)="onView(banner.id)">
          <ng-container *ngIf="isExpired(banner)"
                        [ngTemplateOutlet]="expired"
                        [ngTemplateOutletContext]="{ props:
                        {
                          icon: 'hourglass_bottom',
                          text: 'Banner Expired'
                        }
                      }">
          </ng-container>
        </app-summary-card>

        <ng-template #bannerMenu>
          <button type="button"
                  mat-icon-button
                  color="primary"
                  matTooltip="Remove Banner"
                  (click)="onRemove(banner.id)">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </div>
    </ng-container>
  </div>

  <ng-template #expired
               let-props="props">
    <div class="d-flex align-items-center mt-2">
      <mat-icon class="mr-2"
                color="warn">{{ props.icon }}</mat-icon>
      <span class="text-red">{{ props.text }}</span>
    </div>
  </ng-template>

</div>
