<ng-container [formGroup]="form">

  <app-form-icon-group [show]="total > 1"
                       (event)="removeJob(index)">
    <mat-form-field class="w-100">
      <input matInput
             #input
             type="text"
             placeholder="Job Title"
             formControlName="title"
             [matAutocomplete]="auto"
             (focus)="removeNone(input)">
      <mat-autocomplete #auto="matAutocomplete"
                        autoActiveFirstOption>
        <mat-option *ngFor="let jobName of filteredJobNames | async"
                    [value]="jobName.name">
          {{ jobName.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error>Required</mat-error>
      <mat-hint>Type in your job title</mat-hint>
    </mat-form-field>
  </app-form-icon-group>

</ng-container>
