<app-enrollee-property title="Name">
  {{ '' | default }}
</app-enrollee-property>

<app-enrollee-property title="Job or Role Title">
  {{ '' | default }}
</app-enrollee-property>

<app-enrollee-property title="Phone">
  {{ '' | default }}
</app-enrollee-property>

<app-enrollee-property title="Fax">
  {{ '' | default }}
</app-enrollee-property>

<app-enrollee-property title="SMS Phone">
  {{ '' | default }}
</app-enrollee-property>

<app-enrollee-property title="Email">
  {{ '' | default }}
</app-enrollee-property>
