<app-enrollee-property title="First Name">
  {{ party.firstName | default }}
</app-enrollee-property>

<app-enrollee-property title="Last Name">
  {{ party.lastName | default }}
</app-enrollee-property>

<app-enrollee-property title="Job or Role Title">
  {{ party.jobRoleTitle | default }}
</app-enrollee-property>

<app-enrollee-property title="Phone">
  {{ party.phone | phone | default }}
</app-enrollee-property>

<app-enrollee-property title="Fax">
  {{ party.fax | default }}
</app-enrollee-property>

<app-enrollee-property title="SMS Phone">
  {{ party.smsPhone | phone | default }}
</app-enrollee-property>

<app-enrollee-property title="Email">
  {{ party.email | default }}
</app-enrollee-property>
