<app-page [busy]="busy">
  <app-expiry-alert [expiryDates]="organizationSitesExpiryDates">
    <!-- Work around for ngProjectAs not passing class reference to alert when applied to ng-content -->
    <ng-container #alertTitle
                  class="alert-title">
      One or more sites requires renewal.
    </ng-container>
    <ng-container #alertContent
                  class="alert-content">
      Review information and upload a valid business licence for site(s) indicated below.
    </ng-container>
  </app-expiry-alert>

  <app-page-header>Site Management</app-page-header>

  <ng-container *ngFor="let code of careSettingCodesPendingTransfer">
    <app-alert type="danger"
               icon="warning">
      <ng-container #alertTitle
                    class="alert-title">
        Required Action: Sign Organization Agreement
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        You are required to sign the <strong>{{ CareSettingEnum[code] | replace: '_':' ' | capitalize: true }} Organization
          Agreement</strong>. Please follow the link below to read and sign the agreement before being granted
        permission to edit and view this organization.
        <br/>
        <a [routerLink]="" (click)="routeToOrgAgreementByCareSettingCode(code)">Organization Agreement</a>
      </ng-container>
    </app-alert>
  </ng-container>

  <section class="mb-3">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>{{ title }}</ng-container>
      <ng-container appPageSubheader2Summary>
        Use this management page to update your information or to add multiple sites.
        <em class="emphasize">
          A site is a physical address in combination with a PharmaNet software vendor. If you use multiple vendors at
          one location, you have multiple sites.
        </em>
      </ng-container>
    </app-page-subheader2>
  </section>

  <ng-container *ngIf="organization">

    <app-summary-card icon="business"
                      title="Organization Information"
                      [menu]="organizationMenu"
                      [menuOutletContext]="{ organization: organization }"
                      [properties]="getOrganizationProperties(organization)"></app-summary-card>

    <hr class="divider">

    <div class="add-site">
      <button mat-button
              type="button"
              color="primary"
              [disabled]="!organization.completed || isPendingTransfer()"
              (click)="addSite(organization.id)">
        <mat-icon>add_business</mat-icon>
        Add Site
      </button>
    </div>

    <ng-container *ngFor="let site of organization.sites">

      <app-summary-card icon="store"
                        title="Site Information"
                        [menu]="siteMenu"
                        [menuOutletContext]="{ site: site, organizationId: organization.id }"
                        [properties]="getSiteProperties(site)"
                        (action)="viewSiteRemoteUsers(organization.id, site)">
        <ng-container *ngIf="inComplete(site)"
                      [ngTemplateOutlet]="notification"
                      [ngTemplateOutletContext]="{
                        props: getNotSubmittedSiteNotificationProperties(organization.id, site)
                      }">
        </ng-container>
        <ng-container *ngIf="isInReview(site)"
                      [ngTemplateOutlet]="notification"
                      [ngTemplateOutletContext]="{
                        props: getInReviewSiteNotificationProperties(site)
                      }">
        </ng-container>
        <ng-container *ngIf="isLocked(site)"
                      [ngTemplateOutlet]="notification"
                      [ngTemplateOutletContext]="{
                        props: {
                          icon: 'not_interested',
                          text: 'Declined'
                        }
                      }">
        </ng-container>
        <ng-container *ngIf="isApproved(site) && !requiresRenewal(site)"
                      [ngTemplateOutlet]="success_notification"
                      [ngTemplateOutletContext]="{
                        props: getApprovedSiteNotificationProperties(site)
                      }">
        </ng-container>
        <ng-container *ngIf="isApproved(site) && requiresRenewal(site)"
                      [ngTemplateOutlet]="notification"
                      [ngTemplateOutletContext]="{
                        props: getRenewalRequiredSiteNotificationProperties(organization.id, site)
                      }">
        </ng-container>
      </app-summary-card>

    </ng-container>

  </ng-container>

  <ng-template #notification
               let-props="props">
    <div class="d-flex align-items-center mt-2">
      <div class="col d-flex align-items-center">
        <mat-icon class="mr-2"
                  color="warn">{{ props.icon }}</mat-icon>
        <span class="text-red">{{ props.text }}</span>
      </div>
      <button mat-flat-button
              color="primary"
              class="ml-auto"
              (click)="props.route()">{{ props.label }}</button>
    </div>
  </ng-template>

  <ng-template #success_notification
               let-props="props">
    <div class="d-flex align-self-center mt-2">
      <mat-icon class="mr-2 green-icon">{{ props.icon }}</mat-icon>
      <p class="text-green"
         [innerHTML]="props.text"></p>
    </div>
  </ng-template>

  <ng-template #organizationMenu
               let-organization="organization">
    <button mat-icon-button
            [matMenuTriggerFor]="rootMenu"
            [disabled]="isPendingTransfer()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #rootMenu="matMenu"
              aria-label="Organization actions menu">
      <button mat-menu-item
              (click)="viewOrganization(organization)">
        <span>View/Update Organization</span>
      </button>

      <button mat-menu-item
              [matMenuTriggerFor]="subMenu"
              [disabled]="!organizationAgreements?.length">
        <span>Download Organization Agreement</span>
      </button>
    </mat-menu>

    <mat-menu #subMenu="matMenu">
      <button *ngFor="let agreement of organizationAgreements"
              mat-menu-item
              (click)="viewAgreement(organization, agreement)">
        <span>{{ AgreementType[agreement.agreementType] | case: 'snake' : 'space' | capitalize: true }}</span>
      </button>
    </mat-menu>

  </ng-template>

  <ng-template #siteMenu
               let-site="site"
               let-organizationId="organizationId">
    <button mat-icon-button
            [matMenuTriggerFor]="menu"
            [disabled]="isPendingTransfer()">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu"
              aria-label="Site actions menu">
      <button mat-menu-item
              (click)="viewSite(organizationId, site)">
        <span>View/Update Site Information</span>
      </button>
      <button *ngIf="site.careSettingCode !== CareSettingEnum.COMMUNITY_PHARMACIST"
              mat-menu-item
              [disabled]="!site.completed || site.status === SiteStatusType.IN_REVIEW"
              (click)="viewSiteRemoteUsers(organizationId, site)">
        <span>View/Update Remote Practitioners</span>
      </button>
    </mat-menu>
  </ng-template>

</app-page>
