@import 'palette';
@import 'bootstrap/bootstrap-imports';

/* Styles for screen widths lower than 1100px */
.icon-text {
  display: none;
  padding-left: 5px;
}

.title_button {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 40px;
}

/* Styles for screens wider than 1100px */
@media (min-width: 1100px) {
  .icon-text {
    display: block;
    float: right;
  }

  .title_button {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 64px;
  }
}

.alert-message {
  max-width: 695px;
  margin-bottom: 1.75rem;

  strong {
    display: block;
    margin-top: 5px;
  }
}

.emphasize {
  display: block;
}

hr.divider {
  border-top: 2px solid theme-palette(yellow);
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

div.add-site,
div.add-org {
  text-align: right;
  margin-bottom: 1rem;
}

.mat-mdc-card {
  .mat-mdc-card-title {
    color: theme-palette(blue);
    font-size: 1rem;
    margin-left: -1rem;
    padding-top: .2rem;
  }

  .mat-mdc-card-content {
    div {
      color: theme-palette(blue, light);
      padding-bottom: .4rem;

      strong {
        color: theme-palette(blue);
        font-weight: 500;

        &::after {
          content: ':\00a0\00a0';
        }
      }
    }
  }

  .mat-card-actions {
    text-align: right;
  }
}

.mat-header-button-group {
  right: 5px;
  top: 10px;
  position: absolute;
}

.text-red {
  color: theme-palette(red);
}

.text-green {
  color: theme-palette(green);
}

.green-icon {
  color: theme-palette(green);
}

.org_agreement_link {
  color: blue;
  cursor: pointer;
}
