<form (ngSubmit)="onSubmit()"
      [formGroup]="formState.form"
      novalidate
      autocomplete="off">

  <div class="row mb-4">
    <div class="col-sm-12 col-lg-6 col-xl-5 pb-4">

      <section class="mb-3">
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Authorized User</ng-container>
          <ng-container appPageSubheader2Summary>
            Provide the authorized user's information to give them the ability to sign in.
            Authorized users will recieve an email to indicate their ability to log in.
          </ng-container>
        </app-page-subheader2>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="First Name"
                 formControlName="firstName">
          <mat-error>Required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Last Name"
                 formControlName="lastName">
          <mat-error>Required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Date of Birth</mat-label>
          <input matInput
                 [matDatepicker]="dateOfBirthPicker"
                 formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix
                                 [for]="dateOfBirthPicker"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirthPicker></mat-datepicker>
          <mat-error>Required</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Email (optional)"
                 formControlName="email">
        </mat-form-field>

      </section>

      <div class="d-flex justify-content-between mb-4">
        <button mat-flat-button
                [disabled]="!(Role.SUPER_ADMIN | inRole)"
                (click)="onBack()"
                type="button">Back</button>
        <button mat-flat-button
                [disabled]="!(Role.SUPER_ADMIN | inRole)"
                color="primary">Save</button>
      </div>
    </div>
  </div>
</form>
