<h2 mat-dialog-title
    class="d-flex align-items-stretch">
  <mat-icon color="primary">help</mat-icon>
  <span class="flex-grow-1">
    Escalation
  </span>
</h2>
<mat-dialog-content>
  <p>
    What are the reasons for escalation?
  </p>

  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <textarea matInput
                placeholder="Note"
                rows="10"
                formControlName="note"></textarea>
      <mat-hint [ngClass]="{ 'text-green': !!note.value }">
        {{ (note.value) ? 'Your note will be saved upon submission.' : 'Enter a note to be saved upon submission.' }}
      </mat-hint>
    </mat-form-field>
  </form>

  <div class="mt-4">
    <button mat-flat-button
            color="primary"
            (click)="onCancel()"
            class="mr-4">Cancel</button>
    <button mat-flat-button
            color="primary"
            [matMenuTriggerFor]="menu"
            class="">Assign To...</button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="onEscalate(adjudicator.id)"
            *ngFor="let adjudicator of adjudicators$ | async">
      {{ adjudicator.lastName }}, {{ adjudicator.firstName }}
    </button>
  </mat-menu>
</mat-dialog-content>
