<div role="alert"
     class="alert"
     [ngClass]="getType()">

  <div class="d-flex">
    <ng-container *ngIf="hasIcon()">
      <mat-icon [ngClass]="{ 'large mr-3': hasTitle(), 'mr-2': !hasTitle() }"
                [inline]="hasTitle()">{{ icon }}</mat-icon>
    </ng-container>

    <div class="flex-grow-1">
      <ng-container *ngIf="hasTitle()">
        <h2 class="h3 m-0 mt-2 mb-1">
          <ng-content select=".alert-title"></ng-content>
        </h2>
      </ng-container>

      <ng-container *ngIf="alertContentChildren.length">
        <p class="content">
          <ng-content #alertContent
                      select=".alert-content"></ng-content>
        </p>
      </ng-container>
    </div>
  </div>

</div>
