<div [ngClass]="['alert', 'alert-'+ type]"
     role="alert">

  <div class="d-flex">
    <ng-container *ngIf="alertIconChildren.length">
      <mat-icon [inline]="true"
                class="pr-3 icon">
        <ng-content #alertIcon
                    select=".alert-icon"></ng-content>
      </mat-icon>
    </ng-container>
    <div class="flex-grow-1">
      <ng-container *ngIf="alertTitleChildren.length">
        <h2 class="h3 m-0 mt-2">
          <ng-content select=".alert-title"></ng-content>
        </h2>
      </ng-container>
      <ng-container *ngIf="alertContentChildren.length">
        <p class="m-0">
          <ng-content #alertContent
                      select=".alert-content"></ng-content>
        </p>
      </ng-container>
    </div>
  </div>
</div>
