
<ng-container [formGroup]="form">

  <div class="row">
    <div class="col" formGroupName="unlistedCertifications">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="College Name"
               formControlName="unlistedCollegeName">
        <mat-error *ngIf="unlistedCollegeName.hasError('required')">Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="College Licence"
               formControlName="unlistedCollegeLicence">
        <mat-error *ngIf="unlistedCollegeLicence.hasError('required')">Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 pl-5">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Next Renewal Date"
               [min]="minRenewalDate"
               [matDatepicker]="picker"
               formControlName="unlistedRenewalDate"
               readonly
               (click)="picker.open()">
        <mat-datepicker-toggle matSuffix
                               [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker
                        startView="multi-year"
                        [touchUi]="isMobile"></mat-datepicker>
        <mat-error *ngIf="unlistedRenewalDate.hasError('required')">Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <button mat-button
    type="button"
    color="primary"
    (click)="formState.addEmptyUnlistedCollegeCertification()">
    <mat-icon>add</mat-icon>
    Add Additional Licences
  </button>

</ng-container>
