<ng-container [formGroup]="form">

  <app-form-icon-group [show]="total >= 1"
                       (event)="removeUnlistedCertification()">
    <div class="row">
      <div class="col">

        <mat-form-field class="w-100">
          <mat-label>College Name</mat-label>
          <input matInput
                 formControlName="collegeName"
                 maxlength="160">
          <mat-error *ngIf="collegeName.errors?.['required']">Required</mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pl-5">

        <mat-form-field class="w-100">
          <mat-label>Licence Class from this College</mat-label>
          <input matInput
                 formControlName="licenceClass"
                 maxlength="100">
          <mat-error *ngIf="licenceNumber.hasError('required')">Required</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pl-5">

        <mat-form-field class="w-100">
          <mat-label>College Licence Number</mat-label>
          <input matInput
                 formControlName="licenceNumber"
                 maxlength="10">
          <mat-error *ngIf="licenceNumber.hasError('required')">Required</mat-error>
          <mat-error *ngIf="licenceNumber.hasError('alphanumeric')">
            Must contain only alphanumeric characters
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pl-5">

        <mat-form-field class="w-100">
          <mat-label>Next Renewal Date</mat-label>
          <input matInput
                 [min]="minRenewalDate"
                 [matDatepicker]="picker"
                 formControlName="renewalDate"
                 readonly
                 (click)="picker.open()">
          <mat-datepicker-toggle matSuffix
                                 [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker
                          startView="multi-year"
                          [touchUi]="isMobile"></mat-datepicker>
          <mat-error *ngIf="renewalDate.hasError('required')">Required</mat-error>
        </mat-form-field>

      </div>
    </div>
  </app-form-icon-group>

</ng-container>
