<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Access Denied</h1>
      <h2>
        You don't appear to have the proper authorization.
      </h2>
      <p class="lead">
        Let us help you find your way to your <a href="http://localhost:4200">destination</a>.
      </p>
      <p class="text-muted">
        We track these issues automatically, but if the problem persists feel free to
        <a href="mailto:prime@example.com">contact us</a>.
      </p>
    </div>
  </div>
</div>
