<app-enrollee-property title="Name">
  {{ party | fullname | default }}
</app-enrollee-property>

<app-enrollee-property *ngIf="!excludeList.includes('jobRoleTitle')"
                       title="Job Title">
  {{ party?.jobRoleTitle | default }}
</app-enrollee-property>

<app-enrollee-property title="Phone">
  {{ party?.phone | phone | default }}
</app-enrollee-property>

<app-enrollee-property *ngIf="!excludeList.includes('fax')"
                       title="Fax">
  {{ party?.fax | phone | default }}
</app-enrollee-property>

<app-enrollee-property *ngIf="!excludeList.includes('smsPhone')"
                       title="SMS Phone">
  {{ party?.smsPhone | phone | default }}
</app-enrollee-property>

<app-enrollee-property title="Email">
  {{ party?.email | default }}
</app-enrollee-property>

<ng-container *ngFor="let addressType of ['physicalAddress', 'mailingAddress']">

  <ng-container *ngIf="party[addressType] && !excludeList.includes(addressType)">

    <div class="my-3">
      <strong>{{ (addressType === 'physicalAddress') ? 'Physical' : 'Mailing' }} Address</strong>
    </div>

    <app-enrollee-property title="Country">
      {{ party[addressType]?.countryCode | configCode: 'countries' | default }}
    </app-enrollee-property>

    <app-enrollee-property title="Province">
      {{ party[addressType]?.provinceCode | configCode: 'provinces' | default }}
    </app-enrollee-property>

    <app-enrollee-property title="Street Address">
      {{ party[addressType]?.street | default }}
    </app-enrollee-property>

    <app-enrollee-property *ngIf="party[addressType]?.street2"
                           title="Street Address 2">
      {{ party[addressType]?.street2 | default }}
    </app-enrollee-property>

    <app-enrollee-property title="City">
      {{ party[addressType]?.city | default }}
    </app-enrollee-property>

    <app-enrollee-property title="Postal Code">
      {{ party[addressType]?.postal | postal | default }}
    </app-enrollee-property>

  </ng-container>

</ng-container>
