<app-adjudicator-dashboard>

  <app-page-header>Limits and Conditions Clauses</app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <div class="row mb-4">
      <div class="col-sm-12 col-lg-9 col-xl-5 pb-4">

        <editor class="mb-4"
                [disabled]="!canEdit"
                formControlName="note"
                (onKeyUp)="handleChange($event)"
                (onChange)="handleChange($event)"
                [init]="{
                  height: '25rem',
                  base_url: '/tinymce',
                  suffix: '.min',
                  plugins: 'lists advlist',
                  toolbar: 'undo redo | bold italic underline | bullist numlist outdent indent | removeformat',
                  menubar: 'false'
                }">
        </editor>

        <div class="text-right">
          <button mat-flat-button
                  [disabled]="!canEdit"
                  color="primary">Save Clause</button>
        </div>

      </div>
      <div class="col-sm-12 col-lg-9 col-xl-7">

        <h2 class="mb-2">Limits and Conditions</h2>

        <ng-container *ngIf="preview; else noClause">

          <div class="preview">
            <p class="bold underline">Additional Limits and Conditions</p>
            <div [innerHTML]="preview | safeHtml | default: 'No Preview Found'"></div>
          </div>

        </ng-container>

        <ng-template #noClause>
          No limits and conditions have been applied
        </ng-template>

      </div>
    </div>

  </form>

</app-adjudicator-dashboard>
