<app-page [busy]="busy"
          mode="full">

  <app-page-header>Limits and Conditions Clauses</app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <div class="row mb-4">
      <div class="col-sm-12 col-lg-6">
        <editor class="mb-4"
                [disabled]="!canEdit"
                formControlName="note"
                (onKeyUp)="handleChange($event)"
                (onChange)="handleChange($event)"
                [init]="{
                  height: '25rem',
                  base_url: '/tinymce',
                  suffix: '.min',
                  plugins: 'lists advlist',
                  toolbar: 'undo redo | bold italic underline | bullist numlist outdent indent | removeformat',
                  menubar: 'false'
                }">
        </editor>
        <div class="text-right">
          <button mat-flat-button
                  [disabled]="!canEdit"
                  color="primary">Save Clause</button>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <div class="preview">
          <p class="bold underline">Additional Limits and Conditions</p>
          <div [innerHTML]="preview | safeHtml | default: 'No Preview Found'"></div>
        </div>
      </div>
    </div>

  </form>

</app-page>
