<app-page [busy]="busy">

  <app-page-header>PharmaNet Enrolment</app-page-header>

  <app-progress-indicator [inProgress]="isInitialEnrolment"
                          [currentRoute]="EnrolmentRoutes.DEVICE_PROVIDER"></app-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Device Provider Information</ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <app-form-icon-group>
            <mat-form-field class="w-100">
              <span matPrefix>D1&nbsp;</span>
              <input matInput
                     placeholder="Device Provider Number"
                     formControlName="deviceProviderNumber">
              <mat-error *ngIf="deviceProviderNumber.hasError('length') || deviceProviderNumber.hasError('numeric')">
                Must be a 5 digit number
              </mat-error>
            </mat-form-field>
            <ng-container appContextualContent>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </ng-container>
          </app-form-icon-group>

        </div>
      </div>

      <ng-container *ngIf="deviceProviderNumber.value">

        <p>Are you an insulin pump provider?</p>

        <mat-radio-group formControlName="isInsulinPumpProvider">
          <mat-radio-button class="mr-4"
                            *ngFor="let decision of decisions"
                            [value]="decision.code">
            {{ decision.name }}
          </mat-radio-button>
        </mat-radio-group>

      </ng-container>

    </section>

  </form>

  <app-page-footer [profileCompleted]="isProfileComplete"
                   (save)="onSubmit()"
                   (back)="routeTo(EnrolmentRoutes.REGULATORY)"></app-page-footer>

</app-page>
