<app-busy-overlay [busy]="busy">

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Device Provider Information</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-xl-4">

        <mat-form-field class="w-100">
          <span matPrefix>D1&nbsp;</span>
          <input matInput
                 placeholder="Device Provider Number"
                 formControlName="deviceProviderNumber">
          <!-- TODO <mat-error *ngIf="deviceProviderNumber.hasError('numeric')">Must be a number</mat-error> -->
          <mat-error *ngIf="deviceProviderNumber.hasError('length')">Must be a 5 digit number</mat-error>
        </mat-form-field>

      </div>
    </div>

    <p>Are you an insulin pump provider?</p>

    <mat-radio-group aria-labelledby="example-radio-group-label"
                     class="example-radio-group"
                     formControlName="isInsulinPumpProvider">
      <mat-radio-button class="mr-4"
                        *ngFor="let decision of decisions"
                        [value]="decision.code">
        {{ decision.name }}
      </mat-radio-button>
    </mat-radio-group>

    <div class="row justify-content-between">
      <div class="col pt-2">

        <button mat-stroked-button
                type="button"
                [routerLink]="['..', EnrolmentRoutes.REGULATORY]">Back</button>

      </div>
      <div class="col pt-2 text-right">

        <button mat-raised-button
                color="primary">Save and Continue</button>

      </div>
    </div>

  </form>

</app-busy-overlay>
