<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide this site's information.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col">
          <app-doing-business-as-form-field label="Site Name (e.g. facility name, clinic name, or pharmacy name)"
                                            [doingBusinessAs]="formState.siteName"></app-doing-business-as-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <mat-label>Site ID/PEC Code</mat-label>
            <input matInput
                   [formControl]="formState.siteId">
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <mat-label>Security Group</mat-label>
            <mat-select [formControl]="formState.securityGroupCode">
              <mat-option *ngFor="let securityGroup of securityGroups"
                          [value]="securityGroup.code">
                {{ securityGroup.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formState.securityGroupCode.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"
                   (continue)="onBack()"></app-page-footer>

</app-page>
