<app-page>
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"
                               [currentRoute]="SiteRoutes.HOURS_OPERATION"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Hours of Operation</ng-container>
      </app-page-subheader>

      <!-- TODO this.businessDays.valueChanges | async -->
      <app-business-hours [form]="form"
                          (add)="onAdd($event)"
                          (remove)="onRemove($event)"></app-business-hours>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
