<div class="row justify-content-between mb-4">
  <div *ngIf="hasSecondaryAction"
       class="col pt-2">

    <button mat-stroked-button
            type="button"
            color="primary"
            (click)="onSecondaryAction()">
      {{ secondaryActionButtonLabel }}
    </button>

  </div>
  <div class="col pt-2 text-right">

    <button mat-flat-button
            type="button"
            color="primary"
            [disabled]="disableSave"
            (click)="onSave()">
      {{ saveButtonLabel }}
    </button>

  </div>
</div>
