<app-dashboard-header></app-dashboard-header>

<div *ngIf="loginCancelled"
     class="container">
  <div class="row">
    <app-alert class="col-sm-12"
               type="info"
               icon="error_outline">
      <ng-container #alertTitle
                    class="alert-title">
        Login Cancelled
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        <p>You have cancelled your login to SA eForms.
          For help, contact:
          <a [attr.href]="'mailto:' + satEformsSupportEmail">{{ satEformsSupportEmail }}</a>
        </p>
        <p>
          For help, log in using your BCSC contact:
          <a
        target="_blank"
        rel="noopener noreferrer"
        [attr.href]="bcscSupportUrl">
        here</a>.
        </p>
      </ng-container>
    </app-alert>
  </div>
</div>
<app-simple-access [title]="title"
                   [subtitle]="subtitle"
                   [loginLabel]="loginLabel"
                   [disableLogin]="disableLogin"
                   (login)="onLogin()">

  <div class="row">
    <div class="col col-lg-6 pb-3">
      <p>
        You need to set up the BC Services Card app to enrol. You will use the app each time you access the eForms
        application. If you have not set up the BC Services Card app, see next screen for instructions.
        If you are not eligible for a BC Services Card, or cannot set up the app, you can submit SA requests by fax.
        See <a href="https://www.gov.bc.ca/pharmacarespecialauthority"
               target="_blank"
               rel="noopener noreferrer">www.gov.bc.ca/pharmacarespecialauthority</a>
      </p>
    </div>
  </div>
  <app-pill>
    <section>
      <h2>Get Support</h2>

      <p>
        Questions about Special Authority eForms should be directed to:
        <br>
        <a [attr.href]="satEformsSupportEmail">{{ satEformsSupportEmail }}</a>
      </p>
    </section>
  </app-pill>
</app-simple-access>
