<app-header [isMobile]="isMobile"
            [username]="username"
            (toggle)="sidenav.toggle()"
            (logout)="onLogout()"></app-header>

<mat-sidenav-container class="prime-sidenav-container">
  <mat-sidenav #sidenav
               [mode]="sideNavProps.mode"
               [opened]="sideNavProps.opened"
               [fixedInViewport]="sideNavProps.fixedInViewport"
               [fixedTopGap]="0"
               [fixedBottomGap]="0"
               class="prime-sidenav d-print-none">

    <div class="logo">
      <img src="/assets/prime_brand.svg"
           alt="PRIME Logo"
           [ngClass]="{ 'is-deskop': isDesktop }">
    </div>

    <mat-nav-list *ngFor="let dashboardNavSection of dashboardNavSections; let last = last;"
                  [disableRipple]="true">
      <ng-container *ngFor="let item of dashboardNavSection.items">

        <mat-list-item *ngIf="item.showItem"
                       [routerLink]="item.route"
                       routerLinkActive="active"
                       [ngClass]="{
                         'force-active': item.forceActive,
                         'disabled': item.disabled,
                         'deemphasize': item.deemphasize
                       }"
                       (click)="onRoute()">
          <mat-icon mat-list-icon
                    [ngClass]="{ 'center-sidenav-icon': !isDesktop }">{{ item.icon }}</mat-icon>

          <a matLine
             [ngClass]="{ 'extend-content-width': isDesktop, 'disabled' : item.disabled }">
            <span *ngIf="sideNavProps.showText" class="mat-list-item-text">
              {{ item.name }}
            </span>
          </a>
        </mat-list-item>

      </ng-container>

      <mat-divider *ngIf="!last"
                   class="my-3"></mat-divider>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container-fluid">

      <div class="row">
        <div class="col py-5">

          <router-outlet></router-outlet>

        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
