<app-page>
  <app-page-header>PRIME Enrolment</app-page-header>
  <app-phsa-eforms-progress-indicator [inProgress]="true"
                                      message="Pre-enrolment Step"></app-phsa-eforms-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-access-code-form [form]="form"></app-access-code-form>

  </form>

  <app-page-footer primaryActionLabel="Continue"
                   [hasSecondaryAction]="false"
                   (save)="onSubmit()"></app-page-footer>

</app-page>
