<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Health Authority</ng-container>
        <ng-container appPageSubheaderSummary>
          Identify all of the types of Health Authority you work in. If you are unsure if a facility you work at is
          operated by a health authority, check with your manager. Remember, you can always return to PRIME to correct
          information if necessary.
        </ng-container>
      </app-page-subheader>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <app-alert *ngIf="hasNoHealthAuthorityError"
                     type="danger"
                     icon="warning">
            <ng-container #alertContent
                          class="alert-content">
              At least one Health Authority must be chosen, and each chosen Health Authority
              must have at least one chosen facility.
            </ng-container>
          </app-alert>

          <ng-container *ngFor="let healthAuthority of enrolleeHealthAuthorities.controls"
                        [formGroup]="healthAuthority">
            <mat-checkbox #healthAuthorityGroup
                          class="d-block"
                          formControlName="checked">
              {{ healthAuthority.get('code').value | configCode: 'healthAuthorities' | capitalize: true }}
            </mat-checkbox>

            <ng-container *ngIf="healthAuthorityGroup.checked">
              <div *ngFor="let facility of getFacilities(healthAuthority).controls"
                   [formGroup]="facility"
                   class="pl-4">
                <mat-checkbox class="d-block"
                              formControlName="checked">
                  {{ facility.get('code').value | configCode: 'facilities' | capitalize: true }}
                </mat-checkbox>
              </div>
            </ng-container>
          </ng-container>

        </div>
      </div>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                   (save)="onSubmit()"
                   (back)="routeBackTo()"></app-page-footer>

</app-enrollee-page>
