<app-dashboard-header [headerConfig]="dashboardHeaderConfig">
  Scaled Provider Registration
</app-dashboard-header>

<div class="container">
  <div class="row align-items-center header">
    <div class="col">

      <h1>{{ title }}</h1>

      <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</em>

    </div>
  </div>
  <div class="row actions">
    <div class="col">

      <button mat-flat-button
              color="primary"
              class="large"
              (click)="onLogin()">Logon</button>

    </div>
  </div>
</div>
