<div class="app-print-layout">

  <app-enrollee-page [busy]="busy">

    <app-page-header>
      {{ title }}
    </app-page-header>

    <app-enrolment-progress-indicator *ngIf="initialEnrolment"
                                      [inProgress]="initialEnrolment"
                                      [isCentered]="true"></app-enrolment-progress-indicator>

    <div class="row">
      <ng-container *ngIf="initialEnrolment; else renewalConfirmation">
        <div *ngIf="!complete"
             imageName="notification"
             class="col-12">
          <app-page-subheader [divider]="false">
            <ng-container appPageSubheaderTitle>The next step to request access to PharmaNet is
              contacting our administrator(s).</ng-container>
            <ng-container appPageSubheaderSummary>
              <strong>A PharmaNet administrator</strong> or <Strong>PharmaNet software vendor</Strong>, will set up your
              local PharmaNet access. If you do not know your administrator(s) email, you can always come back to this
              step.
              But you will <span class="red_bold">not has access</span> to PharmaNet until your PharmaNet
              administrator(s)
              have
              been contacted. With this process PRIME will automatically share your GPID/Approval with your consent.
              <br/>
              <br/>
              <table class="table table-striped">
                <thead class="table-header">
                  <tr>
                    <th>Shared PRIME information</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Your name: </td>
                  </tr>
                  <tr>
                    <td>College name:</td>
                  </tr>
                  <tr>
                    <td>College ID:</td>
                  </tr>
                  <tr>
                    <td>Licence number from college:</td>
                  </tr>
                  <tr>
                    <td>PharmaNet ID (BCCNM registrants):</td>
                  </tr>
                  <tr>
                    <td>Care Setting:</td>
                  </tr>
                  <tr>
                    <td>Type of PharmaNet access approved:</td>
                  </tr>
                  <tr>
                    <td>GPID: </td>
                  </tr>
                </tbody>
              </table>
              <div class="container">
                <div class="row">
                  Examples of when you would need to share your GPID
                </div>
                <div class="row">
                  <span class="sub-note">(<b>Note:</b> these exmaples are for renewal only)</span>
                </div>
              </div>

              <div class="container ext_width">
                <div class="row">
                  <div class="col-3 pl-0">
                    <div class="row align-items-center sgp-card">
                      <div class="icon-01"></div>
                      <div class="col">If I change work sites</div>
                    </div>
                  </div>
                  <div class="col-3 pl-0">
                    <div class="row align-items-center sgp-card">
                      <div class="icon-02"></div>
                      <div class="col">If I change jobs</div>
                    </div>
                  </div>
                  <div class="col-3 pl-0">
                    <div class="row align-items-center sgp-card">
                      <div class="icon-03"></div>
                      <div class="col">If my worksite has new PharmaNet Software</div>
                    </div>
                  </div>
                  <div class="col-3 pl-0">
                    <div class="row align-items-center sgp-card">
                      <div class="icon-04"></div>
                      <div class="col">
                        If I get a new credential issued by my college
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </ng-container>
          </app-page-subheader>
        </div>
      </ng-container>

      <ng-container *ngFor="let careSettingConfig of careSettingConfigs">
        <div class="col-12 mb-4">
          <ng-container [ngTemplateOutlet]="settingEmail"
                        [ngTemplateOutletContext]="careSettingConfig">
          </ng-container>
        </div>
      </ng-container>

      <div *ngIf="careSettingConfigs.length > 0"
           class="col col-sm-12 pt-2 text-right">
        <button mat-flat-button
                type="button"
                color="primary"
                (click)="sendProvisionerAccessLinkTo()">
          Send Email
        </button>
      </div>

      <ng-template #settingEmail
                   let-setting="setting"
                   let-settingPlural="settingPlural"
                   let-settingCode="settingCode"
                   let-formArray="formArray"
                   let-formArrayName="formArrayName"
                   let-subheaderContent="subheaderContent">
        <app-page-subheader [divider]="false">
          <ng-container appPageSubheaderTitle>{{ setting }}</ng-container>
          <ng-container appPageSubheaderSummary>
            {{ subheaderContent }}
          </ng-container>
        </app-page-subheader>

        <span>
          Please provide the PharmaNet administrar email for the {{ setting }} that you work at.
        </span>

        <form [formGroup]="form">
          <div class="row">
            <div class="col col-sm-8"
                 [formArrayName]="formArrayName">
              <ng-container *ngFor="let email of formArray.controls; let i = index;"
                            [formGroupName]="i">
                <app-email-form [form]="email"
                                [index]="i"
                                [validate]="true"
                                [showRemoveButton]="i>0"
                                (remove)="removeEmail(settingCode, $event)">
                </app-email-form>
              </ng-container>
            </div>

            <div class="col col-sm-12">
              <button mat-button
                      type="button"
                      color="primary"
                      (click)="addEmptyEmailInput(settingCode)">
                <mat-icon>add</mat-icon>
                Add another PharmaNet administrator email
              </button>
            </div>
          </div>
        </form>

        <form [formGroup]="form">
          <mat-radio-group formControlName="provideConsent">
            <mat-radio-button class="mr-4"
                              *ngFor="let decision of decisions"
                              [value]="decision.code">
              {{ decision.name }}
            </mat-radio-button>
          </mat-radio-group>
        </form>

      </ng-template>

      <ng-template #renewalConfirmation>
        <div imageName="notification"
             class="col-12">
          <ng-container appInfographicHeader>
            Share your approval with your PharmaNet administrator
          </ng-container>
          <ng-container appInfographicDescription>
            When PRIME approved you to access PharmaNet, you were assigned a global PharmaNet ID (GPID).
            <br><br>
            Examples of when you would need to share your GPID:
            <ul>
              <li>If I change work sites</li>
              <li>If I change jobs</li>
              <li>If my worksite has new PharmaNet software</li>
            </ul>
          </ng-container>
          <ng-container appInfographicContent
                        *ngIf="enrolment.currentStatus.statusCode === EnrolmentStatus.EDITABLE">

            <p>
              To share your GPID, enter the email address of your PharmaNet administrator(s) below. A PharmaNet
              administrator is the person in your workplace who sets up PharmaNet access.
            </p>

            <p>
              PRIME will send your enrolment information to your PharmaNet administrator(s) so they can set up your
              access.
            </p>

            <p class="mb-4 font-italic">
              Note: You cannot access PharmaNet without completing this step.
            </p>

          </ng-container>
        </div>
      </ng-template>

    </div>
  </app-enrollee-page>
</div>
