<div class="app-print-layout">

  <app-enrollee-page [busy]="busy">

    <app-page-header>
      {{ title }}
    </app-page-header>

    <app-enrolment-progress-indicator *ngIf="initialEnrolment"
                                      [inProgress]="initialEnrolment"></app-enrolment-progress-indicator>


    <div class="row">

      <ng-container *ngIf="initialEnrolment; else renewalConfirmation">
        <div *ngIf="!complete"
             imageName="notification"
             class="col-12">
          <ng-container appPageSubheaderSummary>
            <p><strong>Share your approval with your PharmaNet administrator</strong></p>
          </ng-container>
          <ng-container appInfographicDescription>
            PRIME will send your enrolment information to your PharmaNet administrator(s) so they can set up your
            access.
          </ng-container>
          <ng-container appInfographicContent
                        *ngIf="enrolment.currentStatus.statusCode === EnrolmentStatus.EDITABLE">

            <p class="mb-4 font-weight-bold">
              Note: You cannot access PharmaNet without completing this step. If necessary, you can leave this blank and
              return to PRIME later to enter the email(s).
            </p>

            <!-- <ng-container [ngTemplateOutlet]="emailGroup"
                          [ngTemplateOutletContext]="careSettingConfigs">
            </ng-container> -->

          </ng-container>
        </div>

        <!-- <ng-container *ngIf="complete">

          <app-alert type="success"
                     icon="check_circle_outline"
                     class="mb-5 col-12">
            <ng-container #alertTitle
                          class="alert-title">
              Your enrolment in PRIME is complete
            </ng-container>
            <ng-container #alertContent
                          class="alert-content">
              <p>
                You will need to renew your enrolment once a year, you will get an email reminding of your renewal date.
              </p>
              <p class="font-weight-bold">
                Your renewal date is: {{ enrolment.expiryDate | formatDate }}
              </p>
              <p>
                Access to PharmaNet is for professionals who care for patients as a key job duty. Your employer decides
                whether you need direct access to PharmaNet (they may instead prefer you consult medication records
                added to a patient’s chart). Access to PharmaNet is granted through PRIME according to legislation and
                Ministry of Health policy.
              </p>
              <p *ngIf="currentAgreementGroup"
                 class="font-weight-bold">
                {{getAgreementDescription()}}
              </p>
            </ng-container>

          </app-alert>
          <div imageName="global"
                           class="col-12">
            <ng-container appInfographicHeader>
              Global PharmaNet ID
            </ng-container>
            <ng-container appInfographicDescription>
              PRIME has assigned you a global PharmaNet ID (GPID). This will be attached to all of your transactions in
              PharmaNet. It protects your information and patient information. If you ever need your GPID, you can sign
              in to PRIME to access it.
            </ng-container>

          </div>
        </ng-container> -->

        <ng-container *ngFor="let careSettingConfig of careSettingConfigs">
          <div class="col-12">
            <ng-container [ngTemplateOutlet]="settingEmail"
                          [ngTemplateOutletContext]="careSettingConfig">
            </ng-container>
          </div>
        </ng-container>


        <form [formGroup]="formState.form">
          <div class="col col-sm-10 py-3"
               formArrayName="emails">
            <ng-container *ngFor="let email of formState.emails.controls; let i = index;"
                          [formGroupName]="i">
              <app-email-form [form]="email"
                              [index]="i"
                              [formState]="formState"
                              [validate]="true"
                              (remove)="removeEmail($event)">
              </app-email-form>
            </ng-container>
            <button mat-button
                    type="button"
                    color="primary"
                    (click)="formState.addEmptyEmailInput()">
              <mat-icon>add</mat-icon>
              Add email of PharmaNet administrator
            </button>
          </div>
          <!-- <ng-container *ngFor="let careSettingConfig of careSettingConfigs">
            <ng-container [ngTemplateOutlet]="settingEmail"
                          [ngTemplateOutletContext]="careSettingConfig">
            </ng-container>
          </ng-container> -->
        </form>


      </ng-container>

      <ng-template #renewalConfirmation>
        <div imageName="notification"
             class="col-12">
          <ng-container appInfographicHeader>
            Share your approval with your PharmaNet administrator
          </ng-container>
          <ng-container appInfographicDescription>
            When PRIME approved you to access PharmaNet, you were assigned a global PharmaNet ID (GPID).
            <br><br>
            Examples of when you would need to share your GPID:
            <ul>
              <li>If I change work sites</li>
              <li>If I change jobs</li>
              <li>If my worksite has new PharmaNet software</li>
            </ul>
          </ng-container>
          <ng-container appInfographicContent
                        *ngIf="enrolment.currentStatus.statusCode === EnrolmentStatus.EDITABLE">

            <p>
              To share your GPID, enter the email address of your PharmaNet administrator(s) below. A PharmaNet
              administrator is the person in your workplace who sets up PharmaNet access.
            </p>

            <p>
              PRIME will send your enrolment information to your PharmaNet administrator(s) so they can set up your
              access.
            </p>

            <p class="mb-4">
              Note: You cannot access PharmaNet without completing this step.
            </p>

            <!-- <ng-container [ngTemplateOutlet]="emailGroup"
                          [ngTemplateOutletContext]="careSettingConfigs">
            </ng-container> -->
          </ng-container>
        </div>
      </ng-template>
    </div>

    <ng-template #emailGroup>
      <form [formGroup]="formState.form">
        <div class="col col-sm-10 py-3"
             formArrayName="emails">

          <ng-container *ngFor="let email of formState.emails.controls; let i = index;"
                        [formGroupName]="i">
            <app-email-form [form]="email"
                            [index]="i"
                            [formState]="formState"
                            [validate]="true"
                            (remove)="removeEmail($event)">
            </app-email-form>
          </ng-container>
          <button mat-button
                  type="button"
                  color="primary"
                  (click)="formState.addEmptyEmailInput()">
            <mat-icon>add</mat-icon>
            Add email of PharmaNet administrator
          </button>

        </div>

        <!-- <ng-container *ngFor="let careSettingConfig of careSettingConfigs">

          <ng-container [ngTemplateOutlet]="settingEmail"
                        [ngTemplateOutletContext]="careSettingConfig">
          </ng-container>

        </ng-container> -->
      </form>
    </ng-template>

    <ng-template #settingEmail
                 let-setting="setting"
                 let-settingPlural="settingPlural"
                 let-settingCode="settingCode"
                 let-formControl="formControl"
                 let-subheaderContent="subheaderContent">
      <app-page-subheader headerType="h6"
                          [divider]="false">
        <ng-container appPageSubheaderTitle>
          {{ setting }}
        </ng-container>
        <ng-container appPageSubheaderSummary>
          {{ subheaderContent }}
        </ng-container>
      </app-page-subheader>

      <div class="col pt-2 text-right">
        <button mat-flat-button
                type="button"
                color="primary"
                (click)="sendProvisionerAccessLinkTo(settingCode)">
          Send Email
        </button>
      </div>
    </ng-template>

    <!-- <form [formGroup]="formState.form">
        <div class="col col-sm-10 py-3" formArrayName="emails">

          <ng-container *ngFor="let email of formState.emails.controls; let i = index;"
                        [formGroupName]="i">
            <app-email-form [form]="email"
                            [index]="i"
                            [formState]="formState"
                            (remove)="removeEmail($event)">
            </app-email-form>
          </ng-container>
          <button mat-button
                  type="button"
                  color="primary"
                  (click)="formState.addEmptyEmailInput()">
            <mat-icon>add</mat-icon>
            Add email of PharmaNet administrator
          </button>

        </div>
      </form> -->


    <!-- <form [formGroup]="form">

        <div class="row"
             [hidden]="!isEmailVisible(settingCode)">
          <div class="col-sm-8 col-xl-7">

            <mat-form-field class="w-100 mb-3">
              <input matInput
                     placeholder="Email"
                     [formControl]="formControl">
              <mat-error *ngIf="formControl.hasError('required')">Required</mat-error>
              <mat-error *ngIf="formControl.hasError('emails') && !formControl.hasError('trim')">Must be a valid
                email address(es)</mat-error>
              <mat-error *ngIf="formControl.hasError('emails') && formControl.hasError('trim')">Contains invalid
                space character(s)</mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <button mat-button
                type="button"
                color="primary"
                (click)="addVendorEmail(settingCode)">
          <mat-icon>add</mat-icon>
            Add email of PharmaNet administrator
          </button>
        </div>
        <div class="row"
        [hidden]="!isEmailVisible(settingCode)">

          <div class="col pt-2 text-right">

            <button mat-flat-button
                    type="button"
                    color="primary"
                    (click)="sendProvisionerAccessLinkTo(settingCode)">
              Send Email
            </button>

          </div>
        </div>


      </form> -->

    <!-- <ng-container *ngIf="!isEmailVisible(settingCode)">
        <p class="mb-4 text-green">
          Email sent to: {{ formControl.value }}
          <br>
              If you work in multiple {{ settingPlural }} you will need to notify them all.
        </p>
        <button mat-button
                type="button"
                color="primary"
                class="mb-3"
                (click)="setShowEmail(settingCode, true, formControl)">
          <mat-icon>add</mat-icon>
          Add {{ setting }}
        </button>
      </ng-container> -->

  </app-enrollee-page>

</div>
