<app-page>
  <app-page-header>{{ title }}</app-page-header>

  <app-progress-indicator [noContent]="true"></app-progress-indicator>

  <app-alert type="success"
             icon="check_circle_outline">
    <ng-container #alertTitle
                  class="alert-title">
      Submission Successful
    </ng-container>

    <ng-container #alertContent
                  class="alert-content">
      You are ready to log onto GIS
    </ng-container>
  </app-alert>

  <app-page-section>
    <app-page-subheader2 [showUnderline]="false">
      <ng-container appPageSubheader2Title>
        Next Steps
      </ng-container>
    </app-page-subheader2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sed reiciendis deserunt ipsa exercitationem ipsum,
      fugiat nemo! Iusto in amet tempore nihil ducimus quisquam? Tempore deleniti delectus deserunt blanditiis corporis.
    </p>
  </app-page-section>
</app-page>
