<div class="container">
  <div class="row">
    <div class="col-sm-12 logo">

      <app-prime-logo label="right"
                      [size]="(isMobile) ? 'small' : 'medium'"></app-prime-logo>

    </div>
    <div class="col-sm-12 header">

      <h1>Site Registration for PharmaNet Access</h1>
      <p>A site is the combination of one physical location and one PharmaNet software vendor</p>

    </div>
    <div class="col-sm-12">

      <div class="row actions">
        <div class="col col-md-auto">

          <button mat-flat-button
                  color="primary"
                  class="large"
                  (click)="loginUsingBCSC()">Access Registration</button>

        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-4 steps">

      <div class="step-container">
        <section class="content">
          <h2>BC Services Card</h2>

          <p>
            To register a site, you need to set up your BC Services Card on your mobile device. This is a one-time
            process.

            <br>
            <br>

            <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/log-in-with-card/setup"
                   target="_blank"
                   rel="noopener noreferrer">
              How to set up a Mobile Card
            </a>
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/bc_services_card.svg"
               alt="BC Services Card Icon">
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-4 steps">

      <div class="step-container">
        <section class="content">
          <h2>Who can register a site?</h2>

          <p>
            The person legally responsible for an organization’s PharmaNet use registers the site.

            <app-contextual-help>
              A site must be registered by the organization's Signing Authority. The Signing Authority is responsible
              for PharmaNet use, and can legally bind the organization to the terms of the registration and the
              Organization Agreement for PharmaNet Use.
            </app-contextual-help>
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/signing_authority.svg"
               alt="Signing Authority Icon">
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-4 steps">

      <div class="step-container">
        <section class="content">
          <h2>What you need</h2>

          <ul>
            <li>
              Your mobile BC Services Card
            </li>
            <li>
              A scan of your business licence
            </li>
            <li>
              Contact details for the person(s) who oversee(s) your organization’s PharmaNet connections and related
              privacy, security and technical issues
            </li>
          </ul>

        </section>

        <div class="info-graphic">
          <img src="/assets/enrolment.svg"
               alt="Enrolment Icon">
        </div>
      </div>

    </div>
    <div class="col-sm-12 support">

      <app-pill>
        <section>
          <h2>Get Support</h2>

          <p>
            Questions about Site Registration should be directed to:
            <br>
            <app-prime-phone></app-prime-phone>
            <br>
            <app-prime-support-email></app-prime-support-email>
          </p>
        </section>
      </app-pill>

    </div>
  </div>
</div>
