<div class="container">
  <div class="row">
    <div class="col-sm-12 logo">

      <app-prime-logo label="right"
                      [size]="(isMobile) ? 'small' : 'medium'"></app-prime-logo>

    </div>
    <div class="col-sm-12 header">

      <h1>Site Registration for PharmaNet Access</h1>
      <p>A site is the combination of one physical location and one PharmaNet software vendor</p>

    </div>
    <div class="col-sm-12">

      <div class="row actions">
        <div class="col col-md-auto">

          <button mat-flat-button
                  color="primary"
                  class="large"
                  (click)="loginUsingBCSC()">Access Site Registration</button>

        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-6 steps">

      <div class="step-container">
        <section class="content">
          <h2>Signing Authority</h2>

          <p>
            A site must be registered by the organization’s Signing Authority. The Signing Authority is responsible for
            PharmaNet use, and can legally bind the organization to the terms of the registration and the Organization
            Agreement for PharmaNet Use.
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/signing_authority.svg"
               alt="Signing Authority Icon">
        </div>
      </div>

    </div>
    <div class="col-sm-12 col-md-6 steps">

      <div class="step-container">
        <section class="content">
          <h2>BC Services Card</h2>

          <p>
            The Signing Authority needs to have their BC Services Card set up on their mobile device (this is a one-time
            process). Once their card is set up, the Signing Authority can register a site.

            <br>
            <br>

            <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-services-card/log-in-with-card/setup"
               target="_blank"
               rel="noopener noreferrer">
              How to set up a Mobile Card
            </a>
          </p>
        </section>

        <div class="info-graphic">
          <img src="/assets/bc_services_card.svg"
               alt="BC Services Card Icon">
        </div>
      </div>

    </div>
    <div class="col-sm-12 support">

      <app-pill>
        <section>
          <h2>Get Support</h2>

          <p>
            Questions about Site Registration should be directed to:
            <br>
            <app-prime-phone></app-prime-phone>
            <br>
            <app-prime-support-email></app-prime-support-email>
          </p>
        </section>
      </app-pill>

    </div>
  </div>
</div>
