<ng-container *ngIf="enrollee">
  <h2 class="h3 mb-4">
    Status:
    <span class="status"
          [class]="enrollee.currentStatus?.statusCode | configCode: 'statuses' | case: 'space' : 'kebab'">
      {{ enrollee.currentStatus?.statusCode | configCode: 'statuses' }}
    </span>
  </h2>

  <section *ngIf="reasons?.length">
    <h2 class="h3 mb-4">
      This Enrollee was manually adjudicated for the following reasons:
    </h2>

    <div *ngFor="let reason of reasons"
         class="pl-2 mb-4">

      <span class="mb-4 font-weight-bolder">{{ reason.name }}</span>
      <div class="mb-3">
        <p *ngIf="reason.isSelfDeclaration"
           class="pl-2">
          {{ reason.question }}
        </p>

        <div *ngIf="reason.note">
          <span *ngIf="reason.isSelfDeclaration"
                class="mb-2 font-weight-bolder">
            User's Explanation:
          </span>
          <p class="pl-2">
            {{ reason.note }}
            <ng-container *ngFor="let match of reason.potentialMatches; let isLast=last">
              <a href=#
                 (click)="onRoute([match, AdjudicationRoutes.ENROLLEE_OVERVIEW], $event)">
                {{ DISPLAY_ID_OFFSET + match }}
              </a>
              {{ isLast? '.' : ', ' }}
            </ng-container>

          </p>

          <span *ngIf="reason.documents" class="mb-4 font-weight-bolder">Documents provided by Enrollee:</span>
          <div>
            <button *ngFor="let document of reason.documents"
                    mat-stroked-button
                    color="primary"
                    class="pl-2 mb-2 mt-2"
                    (click)="downloadDocument(document, reason.isSelfDeclaration)">
              <mat-icon class="mr-1">attachment</mat-icon> {{ document.filename }}
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section *ngIf="!hideStatusHistory">
    <h3 class="mb-4">
      Status History
    </h3>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr *ngFor="let status of previousStatuses">
            <th class="text-right">
              <div class="text-nowrap">
                {{ status.date | formatDate }}
              </div>
              <small class="d-block text-mute font-weight-normal mb-2">
                {{ status.date | formatDate: 'h:mm a' }}
              </small>

            </th>
            <td>

              <div class="mb-4">
                <p>
                  The enrollee status changed to
                  <strong>{{ status.name }}{{ (status.adjudicator) ? ', by ' + status.adjudicator : '.'}}</strong>
                </p>
                <p *ngIf="status.note"
                   class="pl-2">
                  {{ status.note }}
                </p>
              </div>

              <div *ngIf="status.reasons?.length > 0">
                <p class="mb-4 font-weight-bold">
                  This Enrollee was manually adjudicated for the following reasons:
                </p>

                <div *ngFor="let reason of status.reasons"
                     class="pl-2 mb-4">
                  <span class="mb-4 font-weight-bolder">
                    {{ reason.name }}
                  </span>
                  <div class="mb-3">
                    <p *ngIf="reason.isSelfDeclaration"
                       class="pl-2">
                      {{ reason.question }}
                    </p>

                    <div *ngIf="reason.note">
                      <span *ngIf="reason.isSelfDeclaration"
                            class="mb-2 font-weight-bolder" >
                        User's Explanation:
                      </span>
                      <p class="pl-2">
                        {{ reason.note }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</ng-container>
