<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-progress-indicator [currentRoute]="SiteRoutes.SITE_ADDRESS"></app-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Site Address</ng-container>
      <ng-container appPageSubheaderSummary>
        Provide the address of yoru site for British Columbia only
      </ng-container>
    </app-page-subheader>

    <section class="mb-3">

      <app-address [form]="form"
                   [formControlNames]="formControlNames"></app-address>

    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
