<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Site Address</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide the address of the site where your organization uses PharmaNet. This site
          must be a physical location in British Columbia, and it must match the address on
          this site's business licence.
        </ng-container>
        <ng-container appPageSubheader2MoreInfo>
          If your organization has multiple physical locations, you will be able to provide this information later.
        </ng-container>
      </app-page-subheader2>

      <app-address [form]="physicalAddress"
                   [formControlNames]="formControlNames"></app-address>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
