<p>site-address works!</p>



<!-- <section class="mb-3">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Address</ng-container>
    <ng-container appPageSubheaderSummary>
      Provide the address of your site for British Columbia only
    </ng-container>
  </app-page-subheader>

  <div class="mb-3">

    <div class="row">
      <div class="col">
        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Address"
                 formControlName="street">
          <mat-error>Required</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="City"
                 formControlName="city">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>

      <div class="col">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Postal Code"
                 formControlName="postal">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>

    </div>

  </div>

</section> -->
