@using Prime.ViewModels.Emails
@model LinkedEmailViewModel

<p>
  A user has uploaded business licence to their PharmaNet site registration.
  @if (!string.IsNullOrWhiteSpace(Model.Url))
  {
    @("To access the Business Licence, click this") <a href="@Model.Url" target="_blank">link</a>@(".")
  }
</p>
