@using Prime.Engines
@model ProvisionerAccessEmailViewModel

To: Whom it may concern,

<br>
<br>

@Model.FullName
has been approved for <strong>Community Pharmacy Access to PharmaNet.</strong>
They can now be set up with their PharmaNet Access account in your local software.
You must include their <strong>Global PharmaNet ID (GPID)</strong> on their account profile.

You can access their GPID via this link below.

<br>
<br>

<a href="@Model.TokenUrl">@Model.TokenUrl</a>
<br>
<strong>This link will expire after @Model.ExpiresInDays days</strong>.

<br>
<br>

Thank you.
