@using Prime.Services
@model EmailParams

@{
  var provisionerName = Model.ProvisionerName;
  var enrolleeName = $"{Model.FirstName} {Model.LastName}";
  var tokenUrl = Model.TokenUrl;
  var maxViews = Model.MaxViews;
  var expiryDays = Model.ExpiryDays;
}

To: @provisionerName

<br>
<br>

@enrolleeName
has been approved for <strong>Community Pharmacy Access to PharmaNet.</strong>
They can now be set up with their PharmaNet Access account in your local software.
You must include their <strong>Global PharmaNet ID (GPID)</strong> on their account profile.

You can access their GPID via this link below.


<br>
<br>

<a href="@tokenUrl">@tokenUrl</a>
<strong>This link will expire after @expiryDays days</strong>.
@* <strong>This link will expire after @maxViews views or @expiryDays days</strong>. *@

<br>
<br>

Thank you.
