@using Prime

@{
  var url = PrimeEnvironment.FrontendUrl;
}

<p>
  Your PRIME application status has changed since you last viewed it. Please click <a href="@url">here</a> to log into PRIME and view your status.
</p>
