@using Prime.Services
@model EmailParams

@{
  var site = Model.Site;
}

The Ministry of Health has been notified that you require Remote Access at
<br>
Organization Name: @site.Organization.Name
<br>
Site Address: @site.PhysicalAddress.Street, @site.PhysicalAddress.City
<br>
<br>
To complete your approval for Remote Access, please ensure you have indicated you require Remote Access on your profile at
<a href="https://pharmanetenrolment.gov.bc.ca/info">https://pharmanetenrolment.gov.bc.ca/info</a>.
