@using Prime.ViewModels.Emails
@model RemoteUsersUpdatedEmailViewModel

@{
  var pecText = string.IsNullOrWhiteSpace(Model.SitePec) ? "Not Assigned" : Model.SitePec;
}

<p>
  Notification: The list of Remote Practitioners at @Model.SiteStreetAddress of
  @Model.OrganizationName (PEC: @pecText) has been updated. The Remote Practitioners
  at this site are:
</p>

<h2 class="mb-2">Remote Users</h2>

@foreach (var remoteUser in Model.RemoteUsers)
{
  <p>
    <span class="ml-2">@remoteUser</span>
  </p>
}

<h2 class="mb-2">Site Information</h2>

<p>
  See the attached registration and organization agreement for more information.
</p>
