@using Prime
@using Prime.ViewModels.Emails
@model EnrolleeRenewalEmailViewModel

@{
  var renewalDate = Model.RenewalDate.Date.ToShortDateString();
}

Dear @Model.EnrolleeName,
<br>
<br>
Your enrolment for PharmaNet access will expire on @renewalDate. In order to continue to use PharmaNet, you must
renew your enrolment information.
<br>
Click here to visit PRIME. <a href="@Model.PrimeUrl">@Model.PrimeUrl</a>
