@using Prime.Services
@model EmailParams

@{
  var site = Model.Site;
}

<p>
  The site you registered in PRIME, @site.DoingBusinessAs, has been approved by
  the Ministry of Health. Your SiteID is @site.PEC.
</p>

<p>
  Health Insurance BC has been notified of the site’s approval and will contact
  your software vendor. Your vendor will complete any remaining setup for your site
  and may contact you or the PharmaNet Administrator at your site.
</p>

<p>
  If you need to update any information in PRIME regarding your site, you may
  log in at any time using your mobile BC Services Card. If you have any questions
  or concerns, please phone 1-844-397-7463 or email PRIMESupport@gov.bc.ca.
</p>

<p>
  Thank you.
</p>
