@using Prime.ViewModels.Emails
@model SiteApprovalEmailViewModel

<p>
  Your site registration has been approved. The site must now be set up and activated
  in PharmaNet. Your PharmaNet software vendor will be notified when the site has been
  activated, and you will hear from them when you can start to use PharmaNet.
</p>

<p>
  Individuals who will be accessing PharmaNet at your site should enrol in PRIME
  now if they have not already done so. For more information, please visit
  <a href="https://www.gov.bc.ca/pharmanet/PRIME" target="_blank">https://www.gov.bc.ca/pharmanet/PRIME</a>. [for
  private
  community practice only:
  If you have registered any physicians or nurse practitioners for remote access to PharmaNet,
  they must enroll in PRIME before they use remote access, which they can do here:
  <a href="https://pharmanetenrolment.gov.bc.ca" target="_blank">https://pharmanetenrolment.gov.bc.ca</a>. You must not
  permit remote use of PharmaNet until these users are approved in
  PRIME.]
</p>

<p>
  If you have any questions or concerns, please phone 1-844-397-7463 or email
  <a href="mailto:PRIMEsupport@gov.bc.ca" target="_top">PRIMESupport@gov.bc.ca</a>.
</p>

<p>
  Thank you.
</p>
