@using Prime.ViewModels.Emails
@model LinkedEmailViewModel

<p>
  A new PharmaNet site registration has been received. See the attached registration and
  organization agreement for more information.
  @if (!string.IsNullOrWhiteSpace(Model.Url))
  {
    @("To access the Business Licence, click this") <a href="@Model.Url" target="_blank">link</a>@(".")
  }
</p>
