//
// Sidenav
//

// NOTE: Cannot be moved into dashboard component for use
// in shadow DOM, since some of this won't work in the
// component and has to be global.

.mat-sidenav-container {
  // Force the background to match busy loader
  background-color: #fff !important;
}

.mat-sidenav {
  background-color: theme-palette(blue, lightest);
  border-right: 1px solid theme-palette(blue);

  .mat-mdc-list-item {
    color: theme-palette(blue) !important;

    .extend-content-width {
      // Force the link content to extend width of sidenav
      padding-right: 1rem !important;
    }
  }

  a,
  .mat-icon {
    color: theme-palette(blue) !important;
    vertical-align: -webkit-baseline-middle;
  }

  // Active class applied by Angular based on the current route
  .ng-active,
  .ng-active:focus,
  // Alias for ng-active for forcing an equivalent to "routerLinkActive"
  // for dashboard navigation that are associated to multiple views.
  // The order of operations in view rendering between [class]
  // and router bindings where ".ng-active" is removed immediately
  .active,
  .active:focus,
  // TODO remove after DashboardV1Component is removed
  .force-active,
  .force-active:focus,
  .mat-mdc-list-item:focus {
    background-color: theme-palette(blue, lighter) !important;
  }

  .ng-active,
  .active,
  .force-active {
    a {
      font-weight: bold !important;
    }

    border-right: 5px solid theme-palette(yellow) !important;
  }

  .mdc-list-item__content {
    // Add a border for spacing to prevent the sidenav from jumping when an nav item is active
    border-right: 5px solid transparent !important;
    padding-left: 25px !important;
  }

  // Force the mat-icon to be centered in the sidenav
  // NOTE: used for mobile and tablet viewport sizes
  .center-sidenav-icon {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    width: 90% !important;
  }

  .mat-divider {
    border-top-color: theme-palette(blue);
  }

  .mat-list-item-text {
    padding-right: 0px;
    padding-left: 16px;
  }
}
