@import 'palette';

//
// MATERIAL FORMS
//

.mat-mdc-input-element,
.mat-select-value {
  color: theme-palette(blue, light) !important;
}

.mat-slide-toggle-content {
  color: theme-palette(blue, dark);
}
