<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Self-Declaration</ng-container>
      <ng-container appPageSubheaderSummary>
        <app-self-declaration-term></app-self-declaration-term>
      </ng-container>
    </app-page-subheader>

    <ng-container *ngIf="showUnansweredQuestionsError">
      <app-alert type="danger"
                 icon="error_outline">
        <ng-container #alertContent
                      class="alert-content">
          Each self-declaration question must be answered before continuing with enrolment!
        </ng-container>
      </app-alert>
    </ng-container>

    <section class="mb-3">

      <div class="question"
           [innerHtml]="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_CONVICTION) | safe: 'html'">
      </div>

      <mat-radio-group formControlName="hasConviction">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          <span class="radio-label">{{ decision.name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasConviction.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the order or conviction, including when the events occurred.
            </li>
            <li class="small">
              Provide the name and address of the organization where the events took place that resulted in the order or
              conviction.
            </li>
            <li class="small">
              Provide the name of the entity that issued the order or conviction.
            </li>
            <li class="small">
              Describe the penalty imposed as a result of the order or conviction (e.g., fine, imprisonment).
            </li>
            <li class="small mb-2">
              Provide the date of the order or conviction.
            </li>

            <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Type Here"
                        rows="5"
                        #hasConvictionInput
                        formControlName="hasConvictionDetails"></textarea>
              <mat-error *ngIf="hasConvictionDetails.hasError('required')">Required</mat-error>
            </mat-form-field>

            <li class="small mb-2">
              Attach a copy of the order or conviction.
            </li>

            <app-document-upload componentName="has-conviction"
                                 [multiple]="true"
                                 (completed)="onUpload('hasConvictionDocumentGuids', $event)"
                                 (remove)="onRemove('hasConvictionDocumentGuids', $event)">
            </app-document-upload>

            <app-enrollee-property>
              <app-document-attachment [documents]=getSelfDeclarationDocuments(SelfDeclarationTypeEnum.HAS_CONVICTION)
                                       (download)="downloadSelfDeclarationDocument($event)">
              </app-document-attachment>
            </app-enrollee-property>

          </ol>

        </div>
      </div>

    </section>


    <section class="mb-3">

      <div class="question"
           [innerHtml]="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_REGISTRATION_SUSPENDED) | safe: 'html'">
      </div>

      <mat-radio-group formControlName="hasRegistrationSuspended">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          <span class="radio-label">{{ decision.name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasRegistrationSuspended.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in limits, conditions or prohibitions being imposed, including when the
              events occurred.
            </li>
            <li class="small">
              Provide the name and address of the organization where the events that resulted in the limits, conditions
              or prohibitions being imposed took place.
            </li>
            <li class="small">
              Provide the name of the governing body of a health profession that imposed limits, conditions or
              prohibitions.
            </li>
            <li class="small">
              Describe the limits, conditions or prohibitions imposed.
            </li>
            <li class="small mb-2">
              Provide the date that the limits, conditions or prohibitions were imposed and, if applicable, removed.
            </li>

            <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Type Here"
                        rows="5"
                        #hasRegistrationSuspended
                        formControlName="hasRegistrationSuspendedDetails"></textarea>
              <mat-error *ngIf="hasRegistrationSuspendedDetails.hasError('required')">Required</mat-error>
            </mat-form-field>

            <li class="small mb-2">
              Provide a copy of supporting documentation (e.g., the consent order).
            </li>

            <app-document-upload componentName="has-registration-suspended"
                                 [multiple]="true"
                                 (completed)="onUpload('hasRegistrationSuspendedDocumentGuids', $event)"
                                 (remove)="onRemove('hasRegistrationSuspendedDocumentGuids', $event)">
            </app-document-upload>

            <app-enrollee-property>
              <app-document-attachment [documents]=getSelfDeclarationDocuments(SelfDeclarationTypeEnum.HAS_REGISTRATION_SUSPENDED)
                                       (download)="downloadSelfDeclarationDocument($event)">
              </app-document-attachment>
            </app-enrollee-property>

          </ol>
        </div>
      </div>

    </section>


    <section class="mb-3"
             *ngIf="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_REGISTRATION_SUSPENDED_DEVICE_PROVIDER)">

      <div class="question"
           [innerHtml]="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_REGISTRATION_SUSPENDED_DEVICE_PROVIDER) | safe: 'html'">
      </div>

      <mat-radio-group formControlName="hasRegistrationSuspendedDeviceProvider">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          <span class="radio-label">{{ decision.name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasRegistrationSuspendedDeviceProvider.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in discipline, suspension, or expulsion, including when the
              events occurred.
            </li>
            <li class="small">
              Provide the name and address of the organization where the events that resulted in the discipline,
              suspension, or expulsion took place.
            </li>
            <li class="small">
              Describe the discipline, suspension, or expulsion imposed.
            </li>
            <li class="small mb-2">
              Provide the date that the discipline, suspension, or expulsion were imposed and, if applicable, removed.
            </li>

            <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Type Here"
                        rows="5"
                        #hasRegistrationSuspendedDeviceProvider
                        formControlName="hasRegistrationSuspendedDeviceProviderDetails"></textarea>
              <mat-error *ngIf="hasRegistrationSuspendedDeviceProviderDetails.hasError('required')">Required</mat-error>
            </mat-form-field>

            <li class="small mb-2">
              Provide a copy of supporting documentation (e.g., an order or letter from OPC).
            </li>

            <app-document-upload componentName="has-registration-suspended-device-provider"
                                 [multiple]="true"
                                 (completed)="onUpload('hasRegistrationSuspendedDeviceProviderDocumentGuids', $event)"
                                 (remove)="onRemove('hasRegistrationSuspendedDeviceProviderDocumentGuids', $event)">
            </app-document-upload>

            <app-enrollee-property>
              <app-document-attachment [documents]=getSelfDeclarationDocuments(SelfDeclarationTypeEnum.HAS_REGISTRATION_SUSPENDED_DEVICE_PROVIDER)
                                       (download)="downloadSelfDeclarationDocument($event)">
              </app-document-attachment>
            </app-enrollee-property>

          </ol>
        </div>
      </div>

    </section>


    <section class="mb-3">

      <div class="question"
           [innerHtml]="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_PHARMANET_SUSPENDED) | safe: 'html'">
      </div>

      <mat-radio-group formControlName="hasPharmaNetSuspended">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          <span class="radio-label">{{ decision.name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasPharmaNetSuspended.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the suspension or cancellation, including when the
              events occurred.
            </li>
            <li class="small">
              Provide the name and address of the organization that issued the suspension or cancellation.
            </li>
            <li class="small">
              Describe the measures imposed.
            </li>
            <li class="small mb-2">
              Provide the date that the suspension or cancellation began and, if applicable, ended.
            </li>

            <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Type Here"
                        rows="5"
                        #hasPharmaNetSuspended
                        formControlName="hasPharmaNetSuspendedDetails"></textarea>
              <mat-error *ngIf="hasPharmaNetSuspendedDetails.hasError('required')">Required</mat-error>
            </mat-form-field>

            <li class="small mb-2">
              Provide a copy of supporting documentation, if any (e.g., a letter or email from the organization)
            </li>

            <app-document-upload componentName="has-pharmanet-suspended"
                                 [multiple]="true"
                                 (completed)="onUpload('hasPharmaNetSuspendedDocumentGuids', $event)"
                                 (remove)="onRemove('hasPharmaNetSuspendedDocumentGuids', $event)">
            </app-document-upload>

            <app-enrollee-property>
              <app-document-attachment [documents]=getSelfDeclarationDocuments(SelfDeclarationTypeEnum.HAS_PHARMANET_SUSPENDED)
                                       (download)="downloadSelfDeclarationDocument($event)">
              </app-document-attachment>
            </app-enrollee-property>

          </ol>
        </div>
      </div>

    </section>

    <section class="mb-3">

      <div class="question"
           [innerHtml]="selfDeclarationQuestions.get(SelfDeclarationTypeEnum.HAS_DISCIPLINARY_ACTION) | safe: 'html'">
      </div>

      <mat-radio-group formControlName="hasDisciplinaryAction">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          <span class="radio-label">{{ decision.name }}</span>
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasDisciplinaryAction.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the discipline or termination, including when the events occurred.
            </li>
            <li class="small">
              Provide the name and address of the organization that issued the discipline or termination.
            </li>
            <li class="small">
              Describe the discipline or termination imposed.
            </li>
            <li class="small mb-2">
              Provide the date that the discipline or termination was imposed and, if discipline, removed.
            </li>

            <mat-form-field class="w-100">
              <textarea matInput
                        placeholder="Type Here"
                        rows="5"
                        #hasDisciplinaryAction
                        formControlName="hasDisciplinaryActionDetails"></textarea>
              <mat-error *ngIf="hasDisciplinaryActionDetails.hasError('required')">Required</mat-error>
            </mat-form-field>

            <li class="small mb-2">
              Provide a copy of supporting documentation, if any (e.g., a letter or email from the organization)
            </li>

            <app-document-upload componentName="has-disciplinary-action"
                                 [multiple]="true"
                                 (completed)="onUpload('hasDisciplinaryActionDocumentGuids', $event)"
                                 (remove)="onRemove('hasDisciplinaryActionDocumentGuids', $event)">
            </app-document-upload>

            <app-enrollee-property>
              <app-document-attachment [documents]=getSelfDeclarationDocuments(SelfDeclarationTypeEnum.HAS_DISCIPLINARY_ACTION)
                                       (download)="downloadSelfDeclarationDocument($event)">
              </app-document-attachment>
            </app-enrollee-property>

          </ol>
        </div>
      </div>

    </section>



    <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                     (save)="onSubmit()"
                     (back)="onBack()"
                     (continue)="onBack()"></app-page-footer>

  </form>

</app-enrollee-page>
