<app-page [busy]="busy">

  <app-page-header>PharmaNet Enrolment</app-page-header>

  <app-progress-indicator *ngIf="isInitialEnrolment"
                          [inProgress]="isInitialEnrolment"
                          [currentRoute]="EnrolmentRoutes.SELF_DECLARATION"></app-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Self Declaration</ng-container>
      <ng-container appPageSubheaderSummary>
        Self declaration information is collected under the authority of the Information Management Regulation of
        the Pharmaceutical Services Act and confidentiality is protected under the Freedom of Information and
        Protection of Privacy Act. Self declaration information is used to verify the applicant is in good standing
        with their respective College and to determine eligibility for and access to PharmaNet.
      </ng-container>
    </app-page-subheader>

    <ng-container *ngIf="showUnansweredQuestionsError">
      <app-alert type="danger"
                 icon="error_outline">
        <ng-container #alertContent
                      class="alert-content">
          Each self declaration question must be answered before continuing with enrolment!
        </ng-container>
      </app-alert>
    </ng-container>

    <section class="mb-3">

      <p class="question">
        Are you, or have you ever been, subject to any limits, conditions or prohibitions imposed as a result of
        disciplinary actions taken by a governing body of a health profession in any jurisdiction, that involved
        improper access to, collection, use, or disclosure of personal information?
      </p>

      <mat-radio-group formControlName="hasConviction">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          {{ decision.name }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasConviction.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in limits, conditions or prohibitions being imposed, including when the
              events occurred
            </li>
            <li class="small">
              Provide the name and address of the organization where the events took place
            </li>
            <li class="small">
              Provide the name of the organization that imposed limits, conditions or prohibitions
            </li>
            <li class="small">
              Describe the limits, conditions or prohibitions imposed
            </li>
            <li class="small">
              Provide the date that the limits, conditions or prohibitions were imposed and, if applicable, removed
            </li>
          </ol>

          <mat-form-field class="w-100">
            <textarea matInput
                      placeholder="Type Here"
                      rows="5"
                      #hasConvictionInput
                      formControlName="hasConvictionDetails"></textarea>
            <mat-error *ngIf="hasConvictionDetails.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </section>

    <section class="mb-3">

      <p class="question">
        Are you, or have you ever been, the subject of an order or a conviction under legislation in any jurisdiction
        for a matter that involved improper access to, collection, use, or disclosure of personal information?
      </p>

      <mat-radio-group formControlName="hasRegistrationSuspended">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          {{ decision.name }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasRegistrationSuspended.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the order or conviction, including when the events occurred
            </li>
            <li class="small">
              Provide the name and address of the organization where the events took place that resulted in the order or
              conviction
            </li>
            <li class="small">
              Provide the name of the entity that issued the order or conviction
            </li>
            <li class="small">
              Describe the penalty imposed as a result of the order or conviction (e.g., fine, imprisonment)
            </li>
            <li class="small">
              Provide the date of the order or conviction
            </li>
          </ol>

          <mat-form-field class="w-100">
            <textarea matInput
                      placeholder="Type Here"
                      rows="5"
                      #hasRegistrationSuspended
                      formControlName="hasRegistrationSuspendedDetails"></textarea>
            <mat-error *ngIf="hasRegistrationSuspendedDetails.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </section>

    <section class="mb-3">

      <p class="question">
        Have you ever been disciplined or fired by an employer, or had a contract for your services terminated, for a
        matter that involved improper access to, collection, use, or disclosure of personal information?
      </p>

      <mat-radio-group formControlName="hasDisciplinaryAction">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          {{ decision.name }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasDisciplinaryAction.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the discipline or termination, including when the events occurred
            </li>
            <li class="small">
              Provide the name and address of the organization that issued the discipline or termination
            </li>
            <li class="small">
              Describe the discipline imposed
            </li>
            <li class="small">
              Provide the date that the discipline and termination was imposed and, if applicable, removed
            </li>
          </ol>

          <mat-form-field class="w-100">
            <textarea matInput
                      placeholder="Type Here"
                      rows="5"
                      #hasDisciplinaryAction
                      formControlName="hasDisciplinaryActionDetails"></textarea>
            <mat-error *ngIf="hasDisciplinaryActionDetails.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </section>

    <section class="mb-3">

      <p class="question">
        Have you ever had your access to an electronic health record system, electronic medical record system, pharmacy
        or laboratory record system, or any similar health information system, in any jurisdiction, suspended or
        cancelled?
      </p>

      <mat-radio-group formControlName="hasPharmaNetSuspended">
        <mat-radio-button class="mr-4"
                          *ngFor="let decision of decisions"
                          [value]="decision.code">
          {{ decision.name }}
        </mat-radio-button>
      </mat-radio-group>

      <div *ngIf="hasPharmaNetSuspended.value"
           class="row">
        <div class="col pt-3">

          <p class="mb-1">Provide these details:</p>
          <ol class="mb-4 pl-3">
            <li class="small">
              Describe the events that resulted in the suspension or cancellation of your access, including when the
              events occurred
            </li>
            <li class="small">
              Provide the name and address of the organization that issued the suspension or cancellation of access
            </li>
            <li class="small">
              Describe the suspension or cancellation imposed
            </li>
            <li class="small">
              Provide the date that the suspension or cancellation of access was imposed and, if applicable, removed
            </li>
          </ol>

          <mat-form-field class="w-100">
            <textarea matInput
                      placeholder="Type Here"
                      rows="5"
                      #hasPharmaNetSuspended
                      formControlName="hasPharmaNetSuspendedDetails"></textarea>
            <mat-error *ngIf="hasPharmaNetSuspendedDetails.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

    </section>

    <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                     (save)="onSubmit()"
                     (back)="routeTo(EnrolmentRoutes.ORGANIZATION)"></app-page-footer>

  </form>

</app-page>
