<app-page [busy]="busy">
  <app-page-header>Site Management</app-page-header>

  <section class="mb-3">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>{{ title }}</ng-container>
      <ng-container appPageSubheader2Summary>
        Use this management page to update your information or to add multiple sites.
        <em class="emphasize">
          A site is a physical address in combination with a PharmaNet software vendor. If you use multiple vendors at
          one location, you have multiple sites.
        </em>
      </ng-container>
    </app-page-subheader2>
  </section>

  <ng-container *ngIf="healthAuthorityId">

    <app-summary-card icon="business"
                      title="Organization Information"
                      [menu]="healthAuthorityMenu"
                      [properties]="[
                        { key: 'Health Authority', value: HealthAuthorityEnum[healthAuthorityId] | case : 'snake' : 'space' | capitalize : true }
                      ]">
    </app-summary-card>

    <hr class="divider">

    <div class="add-site">
      <button mat-button
              type="button"
              color="primary"
              (click)="addSite()">
        <mat-icon>add_business</mat-icon>
        Add Site
      </button>
    </div>

  </ng-container>

  <ng-container *ngFor="let healthAuthoritySite of healthAuthoritySites$ | async; trackBy: trackBySiteId">

    <app-summary-card icon="store"
                      title="Site Information"
                      [menu]="healthAuthoritySiteMenu"
                      [menuOutletContext]="{ healthAuthoritySite: healthAuthoritySite, healthAuthorityId: healthAuthorityId }"
                      [properties]="[
                            { key: 'Site Name', value: healthAuthoritySite?.siteName },
                            { key: 'Site ID', value: healthAuthoritySite?.pec },
                            { key: 'Vendor', value: healthAuthoritySite?.healthAuthorityVendor.vendorCode | configCode : 'vendors' }
                      ]">
      <ng-container *ngIf="healthAuthoritySite.isIncomplete()"
                    [ngTemplateOutlet]="notification"
                    [ngTemplateOutletContext]="{
                      props: {
                        icon: 'notification_important',
                        text: 'Submission not completed',
                        label: 'Continue Site Submission',
                        healthAuthority: healthAuthoritySite
                      }
                    }">
      </ng-container>
      <ng-container *ngIf="healthAuthoritySite.isInReview()"
                    [ngTemplateOutlet]="notification"
                    [ngTemplateOutletContext]="{
                      props: {
                        icon: 'notification_important',
                        text: 'This site is waiting for approval'
                      }
                    }">
      </ng-container>
      <ng-container *ngIf="healthAuthoritySite.isLocked()"
                    [ngTemplateOutlet]="notification"
                    [ngTemplateOutletContext]="{
                      props: {
                        icon: 'not_interested',
                        text: 'Declined'
                      }
                    }">
      </ng-container>
      <ng-container *ngIf="healthAuthoritySite.isApproved() && !healthAuthoritySite.withinRenewalPeriod()"
                    [ngTemplateOutlet]="success_notification"
                    [ngTemplateOutletContext]="{
                      props: getApprovedSiteNotificationProperties(healthAuthoritySite)
                    }">
      </ng-container>
      <ng-container *ngIf="healthAuthoritySite.isApproved() && healthAuthoritySite.withinRenewalPeriod()"
                    [ngTemplateOutlet]="notification"
                    [ngTemplateOutletContext]="{
                      props: getWithinRenewalPeriodSiteNotificationProperties(healthAuthoritySite)
                    }">
      </ng-container>
    </app-summary-card>

  </ng-container>

  <ng-template #notification
               let-props="props">
    <div class="d-flex align-items-center mt-2">
      <mat-icon class="mr-2"
                color="warn">{{ props.icon }}</mat-icon>
      <span class="text-red">{{ props.text }}</span>
      <button *ngIf="props?.healthAuthority"
              mat-flat-button
              color="primary"
              class="ml-auto"
              (click)="viewSite(healthAuthorityId, props.healthAuthority)">{{ props.label }}</button>
    </div>
  </ng-template>

  <ng-template #success_notification
               let-props="props">
    <div class="d-flex align-self-center mt-2">
      <mat-icon class="mr-2 green-icon">{{ props.icon }}</mat-icon>
      <p class="text-green"
         [innerHTML]="props.text"></p>
    </div>
  </ng-template>

  <ng-template #healthAuthorityMenu
               let-healthAuthority="healthAuthority">
    <button mat-icon-button
            [matMenuTriggerFor]="rootMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #rootMenu="matMenu"
              aria-label="Health authority actions menu">
      <button mat-menu-item
              [disabled]="true"
              (click)="viewAuthorizedUser(healthAuthority.id)">
        <span>View/Update Authorized User</span>
      </button>
    </mat-menu>
  </ng-template>

  <ng-template #healthAuthoritySiteMenu
               let-healthAuthoritySite="healthAuthoritySite"
               let-healthAuthorityId="healthAuthorityId">
    <button mat-icon-button
            [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu"
              aria-label="Health authority site actions menu">
      <button mat-menu-item
              [disabled]="healthAuthoritySite?.status === SiteStatusType.LOCKED"
              (click)="viewSite(healthAuthorityId, healthAuthoritySite)">
        <span>View/Update Site Information</span>
      </button>
    </mat-menu>
  </ng-template>

</app-page>
