@import 'palette';
@import 'bootstrap/bootstrap-imports';

.alert-message {
  max-width: 695px;
  margin-bottom: 1.75rem;

  strong {
    display: block;
    margin-top: 5px;
  }
}

.emphasize {
  display: block;
}

hr.divider {
  border-top: 2px solid theme-palette(yellow);
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

div.add-site {
  text-align: right;
  margin-bottom: 1rem;
}

.mat-mdc-card {
  .mat-mdc-card-title {
    color: theme-palette(blue);
    font-size: 1rem;
    margin-left: -1rem;
    padding-top: .2rem;
  }

  .mat-mdc-card-content {
    div {
      color: theme-palette(blue, light);
      padding-bottom: .4rem;

      strong {
        color: theme-palette(blue);
        font-weight: 500;

        &::after {
          content: ':\00a0\00a0';
        }
      }
    }
  }

  .mat-card-actions {
    text-align: right;
  }
}

.text-red {
  color: theme-palette(red);
}

.text-green {
  color: theme-palette(green);
}

.green-icon {
  color: theme-palette(green);
}

.filter {
  margin-right: 10px;
}

.dot-button {
  position: absolute;
  right: 5px;
  top: 0px;
}
