<app-page [busy]="busy">
  <app-page-header>PRIME Profile</app-page-header>
  <app-paper-enrolment-progress-indicator [inProgress]="true"></app-paper-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        autocomplete="on"
        novalidate>

    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Enrollee Information</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide this information.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="First Name"
                   formControlName="firstName">
            <mat-error *ngIf="formState.firstName.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Middle Name"
                   formControlName="middleName">
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Last Name"
                   formControlName="lastName">
            <mat-error *ngIf="formState.lastName.hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Date of Birth"
                   [max]="maxDateOfBirth"
                   [matDatepicker]="dobDatePicker"
                   formControlName="dateOfBirth"
                   (click)="dobDatePicker.open()"
                   readonly>
            <mat-datepicker-toggle matSuffix
                                   [for]="dobDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dobDatePicker
                            startView="multi-year"
                            disabled="false"></mat-datepicker>
            <mat-error>Required</mat-error>
          </mat-form-field>

        </div>
      </div>
    </app-page-section>

    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Address Information</ng-container>
        <ng-container appPageSubheader2Summary>Provide the enrollee's address.</ng-container>
      </app-page-subheader2>

      <app-address-form [form]="formState.physicalAddress"
                        [showManualButton]="true"
                        [showAddressFields]="showAddressFields(formState.physicalAddress.value)"></app-address-form>

      <app-page-subheader2>
        <ng-container appPageSubheader2Summary>Provide any additional addresses.</ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col col-sm-10 py-3"
             formArrayName="additionalAddresses">

          <ng-container *ngFor="let additionalAddress of formState.additionalAddresses.controls; let i = index;"
                        [formGroupName]="i">

            <app-form-icon-group [show]="formState.additionalAddresses.length > 0"
                                 (event)="formState.removeAdditionalAddress(i)">
              <app-form-icon-group>
                <app-address-form [form]="additionalAddress"
                                  [showManualButton]="true"
                                  [showAddressFields]="showAddressFields(additionalAddress.value)">
                </app-address-form>
              </app-form-icon-group>
            </app-form-icon-group>
          </ng-container>

          <button mat-button
                  type="button"
                  color="primary"
                  (click)="formState.addAdditionalAddress()">
            <mat-icon>add</mat-icon>
            Add additional address
          </button>
        </div>
      </div>

    </app-page-section>

    <app-contact-information-form [form]="formState.form"
                                  contactDescription="Provide a phone number that may be used to contact the enrollee.">
    </app-contact-information-form>

  </form>

  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="false"
                   (save)="onSubmit()"></app-page-footer>

</app-page>
