<app-page-subheader>
  <ng-container appPageSubheaderTitle>PharmaNet Privileges</ng-container>
</app-page-subheader>


<div *ngIf="privileges?.length; else noPrivileges"
     class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let privilege of privileges">
        <td>{{ privilege.transactionType }}</td>
        <td>{{ privilege.description }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noPrivileges>
  <div class="col-sm-12 col-lg-8 offset-lg-1 offset-xl-0">
    <dl class="row mb-4">
      <dt>No Privileges</dt>
    </dl>

  </div>
</ng-template>
