<app-page-simple>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8 text-center">
      <h1 class="mb-5">
        <span class="d-block d-lg-inline">Your access to PRIME has been declined.</span>
      </h1>

      <h3 class="mb-5">
        <span>For more information please contact the PRIME Support.</span>
      </h3>

      <app-prime-phone></app-prime-phone><br>
      <app-prime-support-email></app-prime-support-email>
    </div>
  </div>
</app-page-simple>
