<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <app-enrolment-progress-indicator *ngIf="isInitialEnrolment"
                                    [inProgress]="isInitialEnrolment"></app-enrolment-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Remote Access</ng-container>
        <ng-container appPageSubheaderSummary>
          Remote access is use of PharmaNet outside your Ministry-approved site.
          <app-contextual-help class="help">
            “Approved Practice Site” means the physical practice site where you provide direct patient care, and which
            is approved by the Province for PharmaNet access. “Approved Practice Site” is never the location (e.g.
            home) where PharmaNet is accessed remotely. If needed, contact your PharmaNet software vendor for support.
          </app-contextual-help>

        </ng-container>
      </app-page-subheader>

      <mat-slide-toggle #requestAccess
                        color="primary"
                        class="mb-4"
                        [checked]="!!enrolment?.enrolleeRemoteUsers.length"
                        (change)="onRequestAccess($event)">Request remote access</mat-slide-toggle>

      <ng-container *ngIf="requestAccess.checked">

        <div *ngIf="showProgress; else results"
             class="mb-5">
          We are locating your site's remote application
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>

        <ng-template #results>
          <ng-container *ngIf="remoteAccessSearch?.length">
            <app-page-subheader>
              <ng-container appPageSubheaderSummary>
                The sites below have registered you for remote access. Check to confirm that you want remote access for
                these sites. If you need remote access for a site not listed here, talk to that site's PharmaNet
                Administrator.
              </ng-container>
            </app-page-subheader>

            <div formArrayName="sites"
                 class="mb-3"
                 *ngFor="let remoteAccessResult of remoteAccessSearch; let i = index">
              <mat-checkbox [formControlName]="i">
                <div class="pl-2">
                  <address class="mb-0">
                    {{ remoteAccessResult.siteDoingBusinessAs }}<br>
                    {{ remoteAccessResult.siteAddress.street }},
                    {{ remoteAccessResult.siteAddress.city }}
                    {{ remoteAccessResult.siteAddress.provinceCode }}
                    {{ remoteAccessResult.siteAddress.postal }}
                  </address>

                  Vendor: {{ remoteAccessResult.vendorCodes[0] | configCode: 'vendors' | default }}
                </div>
              </mat-checkbox>
            </div>
          </ng-container>
        </ng-template>

      </ng-container>

      <ng-container *ngIf="noRemoteAccess">
        <p class="red">
          No site has registered you for remote access. Please continue in PRIME; your enrolment will be processed
          for onsite PharmaNet access. Ask your PharmaNet administrator to register your site in PRIME and add you
          to their list of remote-access users. When that is complete, you will receive an email notification, and
          you can return to PRIME and add your remote access information for approval.
        </p>
      </ng-container>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="isInitialEnrolment"
                   [disableSave]="showProgress"
                   (save)="onSubmit()"
                   (back)="onBack(EnrolmentRoutes.REGULATORY)"></app-page-footer>

</app-enrollee-page>
