<div class="page-subheader d-flex"
     [class]="{ 'divider': divider }">
  <div class="w-100"
       [ngSwitch]="headerType">
    <h6 class="title"
        *ngSwitchCase="'h6'">
      <ng-container [ngTemplateOutlet]="subheaderTitle"></ng-container>
    </h6>
    <h2 class="title"
        *ngSwitchDefault>
      <ng-container [ngTemplateOutlet]="subheaderTitle"></ng-container>
    </h2>

    <ng-template #subheaderTitle>
      <ng-content select="[appPageSubheaderTitle]"></ng-content>
      <div *ngIf="hasContextualContent"
           class="help text-right">
        <app-contextual-help>
          <ng-container *ngIf="hasContextualTitle"
                        appContextualTitle>
            <ng-content select="[appContextualTitle]"></ng-content>
          </ng-container>
          <ng-container *ngIf="hasContextualContent"
                        appContextualContent>
            <ng-content select="[appContextualContent]"></ng-content>
          </ng-container>
        </app-contextual-help>
      </div>
    </ng-template>

    <p *ngIf="hasPageSubheaderSummary && showSummary"
       class="description">
      <ng-content #summary
                  select="[appPageSubheaderSummary]"></ng-content>
    </p>
  </div>
  <div *ngIf="!hasContextualContent || (hasPageSubheaderSummary && summaryAsInfo)"
       class="action-icon flex-shrink-1">
    <ng-container *ngIf="hasPageSubheaderSummary && summaryAsInfo; then more else optional"></ng-container>

    <ng-template #more>
      <a mat-icon-button
              color="primary"
              aria-label="More Info"
              (click)="toggleSummary()">
        <mat-icon>info</mat-icon>
      </a>
    </ng-template>

    <ng-template #optional>
      <!-- Optional mat-icon-button for actions at the end of a subheading -->
      <ng-content select="[mat-icon-button]"></ng-content>
    </ng-template>
  </div>
</div>
