@import 'palette';
@import 'variables';
@import 'bootstrap/bootstrap-imports';

.page-subheader {
  margin-bottom: 1.25rem;
  padding-bottom: 0.25rem;

  .title {
    color: $h2-colour;
    display: flex;
    margin-bottom: .05rem;
  }

  .description {
    color: $paragraph-colour;
    // When description exists increase the margin between the title and description
    margin-top: .45rem;
    margin-bottom: 0;
  }

  .help {
    flex: 1 1 auto;
    margin-left: 2px;
    // margin-top: -12px;
    position: relative;
    top: 5px;
    left: 2px;
    text-align: right;

    @include media-breakpoint-up(md) {
      flex: auto;
      text-align: left;
    }
  }

  .action-icon {
    margin-top: -.4rem;
    cursor: pointer;
  }

  &.divider {
    border-bottom: 2px solid #efefef;
  }
}
