<div class="container">
  <div class="row">
    <div class="col py-4">

      <form (ngSubmit)="onSubmit()"
            [formGroup]="form"
            novalidate>

        <h1 class="h2 mb-4">Application Enrolment</h1>

        <app-sub-header subheader="Self Declaration"
                        help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

        <p>Have you ever been the subject of an order or a conviction for an information contravention?</p>

        <mat-radio-group aria-labelledby="example-radio-group-label"
                         class="example-radio-group"
                         formControlName="hasConviction">
          <mat-radio-button class="mr-4"
                            *ngFor="let decision of decisions"
                            [value]="decision.code">
            {{ decision.name }}
          </mat-radio-button>
        </mat-radio-group>

        <div class="row mb-3"
             *ngIf="hasConviction.value">
          <div class="col-sm-12 col-md-6 col-lg-4">

            <mat-form-field class="w-100"
                            hintLabel="Max 200 Characters">
              <textarea matInput
                        placeholder="Please provide details"
                        rows="5"
                        maxlength="200"
                        #hasConvictionInput></textarea>
              <mat-hint align="end">{{ hasConvictionInput.value?.length || 0 }}/200</mat-hint>
            </mat-form-field>

          </div>
        </div>

        <p>Have you ever had your registration with a governing body of a health profession suspended or cancelled?</p>

        <mat-radio-group aria-labelledby="example-radio-group-label"
                         class="example-radio-group"
                         formControlName="hasRegistrationSuspended">
          <mat-radio-button class="mr-4"
                            *ngFor="let decision of decisions"
                            [value]="decision.code">
            {{ decision.name }}
          </mat-radio-button>
        </mat-radio-group>

        <div class="row mb-3"
             *ngIf="hasRegistrationSuspended.value">
          <div class="col-sm-12 col-md-6 col-lg-4">

            <mat-form-field class="w-100"
                            hintLabel="Max 200 Characters">
              <textarea matInput
                        placeholder="Please provide details"
                        rows="5"
                        maxlength="200"
                        #hasRegistrationSuspended></textarea>
              <mat-hint align="end">{{ hasRegistrationSuspended.value?.length || 0 }}/200</mat-hint>
            </mat-form-field>

          </div>
        </div>

        <p>Have you ever had Terms and Conditions imposed on your license as a result of disciplinary actions taken by a
          governing body?</p>

        <mat-radio-group aria-labelledby="example-radio-group-label"
                         class="example-radio-group"
                         formControlName="hasDisciplinaryAction">
          <mat-radio-button class="mr-4"
                            *ngFor="let decision of decisions"
                            [value]="decision.code">
            {{ decision.name }}
          </mat-radio-button>
        </mat-radio-group>

        <div class="row mb-3"
             *ngIf="hasDisciplinaryAction.value">
          <div class="col-sm-12 col-md-6 col-lg-4">

            <mat-form-field class="w-100"
                            hintLabel="Max 200 Characters">
              <textarea matInput
                        placeholder="Please provide details"
                        rows="5"
                        maxlength="200"
                        #hasDisciplinaryAction></textarea>
              <mat-hint align="end">{{ hasDisciplinaryAction.value?.length || 0 }}/200</mat-hint>
            </mat-form-field>

          </div>
        </div>

        <p>Have you ever had your access to PharmaNet suspended or revoked?</p>

        <mat-radio-group aria-labelledby="example-radio-group-label"
                         class="example-radio-group"
                         formControlName="hasPharmaNetSuspended">
          <mat-radio-button class="mr-4"
                            *ngFor="let decision of decisions"
                            [value]="decision.code">
            {{ decision.name }}
          </mat-radio-button>
        </mat-radio-group>

        <div class="row mb-3"
             *ngIf="hasPharmaNetSuspended.value">
          <div class="col-sm-12 col-md-6 col-lg-4">

            <mat-form-field class="w-100"
                            hintLabel="Max 200 Characters">
              <textarea matInput
                        placeholder="Please provide details"
                        rows="5"
                        maxlength="200"
                        #hasPharmaNetSuspended></textarea>
              <mat-hint align="end">{{ hasPharmaNetSuspended.value?.length || 0 }}/200</mat-hint>
            </mat-form-field>

          </div>
        </div>

        <div class="row justify-content-between">
          <div class="col pt-2">

            <button mat-raised-button
                    type="button"
                    color="primary"
                    routerLink="../professional">Back</button>

          </div>
          <div class="col pt-2 text-right">

            <button mat-raised-button
                    color="primary">Save and Continue</button>

          </div>
        </div>

      </form>

    </div>
  </div>
</div>
