h2 {
  margin-top: .55rem;
  margin-bottom: .2rem;
  line-height: 1.5;
}

.content {
  // Vertically align content with icon
  margin-top: 1px;
  margin-bottom: 0;
}

.large {
  // Page refreshes cause mat-icon to take precendence
  font-size: 3rem !important;
}
