// Angular Material
// ----------------------------------------------------------------------------
// Used to fix issues related to Angular Material still being in beta release

// Remove all outlines from all elements.  This is very aggressive! and should
// be removed once Angular Material is out of beta
* {
  outline: none !important;
}

//
// Sidenav
//

// NOTE: Cannot be moved into dashboard component for shadow
// DOM, since some of this won't work in the component and has
// to be global.

.mat-sidenav-container {
  // Force the background to match busy loader
  background-color: #fff !important;
  // Design: yellow line at top of viewport
  border-top: 5px solid theme-palette(yellow);
}

.mat-sidenav {
  background-color: theme-palette(blue);

  // Only applied to branding at top of sidenav
  .brand-container {
    // Adjust padding to "vertically" align brand with adjacent toolbar
    padding-top: 20px !important;
  }

  .mat-list-item .extend-content-width {
    // Force the link content to width to extend
    padding-right: 3rem !important;
  }

  .active a,
  .active .mat-icon {
    // Highlight the active router link
    color: theme-palette(blue, lighter) !important;
  }

  // Force the mat-icon to be centered in the sidenav
  // NOTE: used for mobile and tablet viewport sizes
  .center-sidenav-icon {
    display: block !important;
    text-align: center !important;
    padding: 0 !important;
    width: 90% !important;
  }
}

.mat-toolbar {
  .fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
}


.mat-sidenav-content {

  & > .mat-toolbar:first-child {
    // Remove default theming from the toolbar
    background-color: transparent;

    // Increase the height of the main toolbar to match brand height
    // height: 70px;

    .fill-remaining-space {
      // This fills the remaining space, by using flexbox.
      // Every toolbar row uses a flexbox row layout.
      flex: 1 1 auto;
    }

    .mat-icon {
      // Indicate area is click-able
      cursor: pointer;
      // Increase spacing between toolbar icons, as well as increase the
      // clicker-able area surrounding the icon
      margin: 10px;
    }
  }
}
