// ---
// MATERIAL PALETTE
// ---

@import 'palette';

$prime-blue: (
  50: theme-palette(blue), // #ffebee,
  100: theme-palette(blue), // #ffcdd2,
  200: theme-palette(blue), // #ef9a9a,
  300: theme-palette(blue), // #e57373,
  400: theme-palette(blue), // #ef5350,
  500: theme-palette(blue), // #f44336,
  600: theme-palette(blue), // #e53935,
  700: theme-palette(blue), // #d32f2f,
  800: theme-palette(blue), // #c62828,
  900: theme-palette(blue), // #b71c1c,
  A100: theme-palette(blue), // #ff8a80,
  A200: theme-palette(blue), // #ff5252,
  A400: theme-palette(blue), // #ff1744,
  A700: theme-palette(blue), // #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$prime-yellow: (
  50: theme-palette(yellow), // #ffebee,
  100: theme-palette(yellow), // #ffcdd2,
  200: theme-palette(yellow), // #ef9a9a,
  300: theme-palette(yellow), // #e57373,
  400: theme-palette(yellow), // #ef5350,
  500: theme-palette(yellow), // #f44336,
  600: theme-palette(yellow), // #e53935,
  700: theme-palette(yellow), // #d32f2f,
  800: theme-palette(yellow), // #c62828,
  900: theme-palette(yellow), // #b71c1c,
  A100: theme-palette(yellow), // #ff8a80,
  A200: theme-palette(yellow), // #ff5252,
  A400: theme-palette(yellow), // #ff1744,
  A700: theme-palette(yellow), // #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);
