<app-page [busy]="busy"
          showToolbar="true"
          (back)="onBack()">

  <app-page-header>License Classes</app-page-header>


  <table mat-table
         matSort
         [dataSource]="dataSource">

    <ng-container matColumnDef="collegeName">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header">
        College Name
      </th>
      <td mat-cell
          *matCellDef="let row;">
        {{ row.collegeName | default }}
      </td>
    </ng-container>

    <ng-container matColumnDef="licenseCode">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-2">
        Licence Class
      </th>
      <td mat-cell
          class="pl-2"
          *matCellDef="let row;">
        {{ row.licenseCode | configCode: 'licenses' | default }}
      </td>
    </ng-container>

    <ng-container matColumnDef="prefix">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-2">
        Pract Ref Id
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ row.prefix | default }}
      </td>
    </ng-container>

    <ng-container matColumnDef="namedInImReg">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-3">
        NIMR
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ row.namedInImReg }}
      </td>
    </ng-container>

    <ng-container matColumnDef="licensedToProvideCare">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-3">
        LPC
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ row.licensedToProvideCare }}
      </td>
    </ng-container>

    <ng-container matColumnDef="manual">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-3">
        Force Manual
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ row.manual }}
      </td>
    </ng-container>

    <ng-container matColumnDef="validate">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-3">
        Validate (PNET)
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ row.validate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="prescriberIdType">
      <th mat-header-cell
          *matHeaderCellDef
          scope="col"
          class="prefix-header pl-3">
        PractId
      </th>
      <td mat-cell
          class="pl-3"
          *matCellDef="let row;">
        {{ PrescriberIdTypeEnum[row.prescriberIdType] }}
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: columns;"></tr>

  </table>

</app-page>
