<div class="row">
  <div class="offset-1 col-10">
    <h1 class="h2 mb-4">Pharmacist Enrolments</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Application Date</th>
          <th scope="col">Pharmacist Name</th>
          <th scope="col">PRN</th>
          <th scope="col">Approved</th>
          <th scope="col">Note</th>
          <th scope="col">Approval Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{ application.appliedDate | date: "MMM d, y" }}</td>
          <td class="applicant">{{ application.applicantName }}</td>
          <td>{{ application.pharmacistRegistrationNumber }}</td>
          <td>
            <mat-chip-list>
              <mat-chip *ngIf="application.approved" color="primary" selected
                >Approved</mat-chip
              >
              <mat-chip *ngIf="!application.approved" color="warn" selected
                >Pending</mat-chip
              >
            </mat-chip-list>
          </td>
          <td>{{ application.approvedReason }}</td>
          <td>{{ application.approvedDate | date: "MMM d, y" }}</td>
          <td>
            <button
              *ngIf="!application.approved"
              type="button"
              class="btn btn-light"
              (click)="approveApplication(application)"
            >
              Approve
            </button>
          </td>
          <td>
            <ng-container
              [ngTemplateOutlet]="menu"
              [ngTemplateOutletContext]="{ application: application }"
            ></ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #menu let-application="application">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      (click)="approveApplication(application)"
      *ngIf="!application.approved"
    >
      <mat-icon>thumb_up_alt</mat-icon>
      <span>Approve Application</span>
    </button>
    <button mat-menu-item (click)="removeApplication(application.id)">
      <mat-icon>delete</mat-icon>
      <span>Delete Application</span>
    </button>
  </mat-menu>
</ng-template>
