<div class="row">
  <div class="offset-1 col-10">
    <h1 class="h2 mb-4">Pharmacist Authentication</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Application Date</th>
          <th scope="col">Pharmacist Name</th>
          <th scope="col">PRN</th>
          <th scope="col">Status</th>
          <th scope="col">Approval Date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let application of applications">
          <td>{{ application.appliedDate | date: "short" }}</td>
          <td>{{ application.applicantName }}</td>
          <td>{{ application.pharmacistRegistrationNumber }}</td>
          <td>{{ application.approved }}</td>
          <td>{{ application.approvedDate | date: "short" }}</td>
          <th>
            <button
              type="button"
              class="btn btn-light"
              (click)="authenticate()"
            >
              Authenticate
            </button>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
