<app-page [busy]="busy">
  <app-page-header>Enrol for access to PHSA eForms</app-page-header>
  <app-phsa-eforms-progress-indicator [noContent]="true"></app-phsa-eforms-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Enrollee Information</ng-container>
        <ng-container appPageSubheaderSummary>
          This information comes from your BC Services Card.
        </ng-container>
      </app-page-subheader>

      <app-bcsc-profile [user]="enrollee"
                        [showAddress]="false"></app-bcsc-profile>
    </section>

    <section class="mb-3">
      <!-- <ng-container *ngIf="hasPhysicalAddress; else noAddress"> -->
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Address</ng-container>
        <ng-container appPageSubheaderSummary>
          This information comes from the your BC Services Card.
        </ng-container>
      </app-page-subheader>

      <app-bcsc-profile [user]="enrollee"
                        [showPersonal]="false"
                        [showAddressTitle]="false"></app-bcsc-profile>
      <!-- </ng-container> -->

      <!-- <ng-template #noAddress>
        <app-page-subheader>
          <ng-container appPageSubheaderTitle>Address</ng-container>
          <ng-container appPageSubheaderSummary>
            Provide your mailing address.
          </ng-container>
        </app-page-subheader>

        <app-address-form [form]="mailingAddress"
                          [onlyBc]="true"
                          [showManualButton]="true"
                          [showAddressFields]="hasMailingAddress"></app-address-form>
      </ng-template> -->

      <!-- <app-toggle-content label="Provide your preferred physical address, if you have one"
                          [checked]="hasPhysicalAddress"
                          (change)="onPhysicalAddressChange($event)">

        <section>
          <app-page-subheader>
            <ng-container appPageSubheaderTitle>Physical Address</ng-container>
          </app-page-subheader>

          <app-address-form [form]="physicalAddress"
                            [showManualButton]="true"
                            [showAddressFields]="hasPhysicalAddress"></app-address-form>
        </section>

      </app-toggle-content> -->
    </section>

    <app-contact-information-form [form]="form"
                                  [showSmsPhone]="false">
      <ng-container appNotificationInfoSummary>
        Please provide the email address you have provided to your Health Authority
        to be associated with your eForms enrolment.
      </ng-container>
    </app-contact-information-form>

  </form>

  <app-page-footer primaryActionLabel="Submit"
                   [hasSecondaryAction]="false"
                   (save)="onSubmit()"></app-page-footer>
</app-page>
