.mat-mdc-header-cell {
  font-size: 12px;
  padding: 0 10px 0 0;
}

.mat-mdc-cell {
  padding: 0 10px 0 0;
}

.mat-mdc-row {
  font-family: 'BC Sans';
}

.submitted {
  color: #0d6efd;
}

.archived {
  color: #dc3545;
}

.editable {
  color: #198754;
}
