<div class="progress-indicator mb-5 w-75">
  <mat-progress-bar mode="determinate"
                    color="accent"
                    [value]="percentComplete"></mat-progress-bar>

  <ng-container [ngSwitch]="mode">
    <ng-container *ngSwitchCase="'template'">

      <ng-container [ngTemplateOutlet]="template"
                    [ngTemplateOutletContext]="templateContext"></ng-container>

    </ng-container>
    <ng-container *ngSwitchCase="'message'">
      {{ message }}
    </ng-container>
    <ng-container *ngSwitchCase="'percent'">
      {{ prefix }} {{ percentComplete }}% Completed
    </ng-container>
    <ng-container *ngSwitchCase="'step'">
      <div [ngClass]="{'stepWrapper-center':isCentered}">
        <ng-container [ngTemplateOutlet]="stepTemplate"
                      [ngTemplateOutletContext]="templateContext"></ng-container>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #stepTemplate
             let-inProgress="inProgress"
             let-routes="routes"
             let-currentRoute="currentRoute">
  <div [ngClass]="{'row':true, 'stepIndicator':!isCentered, 'stepIndicator-center':isCentered}">
    <div *ngFor="let step of steps; last as isLast">

      <div [ngClass]="{'step' : true, 'current' : step.isCurrent, 'complete': step.completed }">
        <div *ngIf="!isLast">
          <div class="point"></div>
          <div class="separator"></div>
          <div class="step_text"
               [innerHTML]="step.step | safe: 'html'">
          </div>
        </div>
        <div *ngIf="isLast">
          <div class="final_point">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="check"
                 viewBox="0 0 16 16">
              <path
                    d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
            </svg>
          </div>
          <div class="final_step_text">
            {{ step.step }}
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>
