<ng-container *ngFor="let documentsArray of documentsGroupedByType | keyvalue">
  <app-page-section>
    <ng-container *ngIf="DocumentSectionMap[documentsArray.key]">
      <app-enrollee-property [title]=DocumentSectionMap[documentsArray.key]></app-enrollee-property>
    </ng-container>

    <app-enrollee-property>
      <app-document-attachment [documents]=documentsGroupedByType[documentsArray.key]
                               (download)="onDownload($event)">
      </app-document-attachment>
    </app-enrollee-property>
  </app-page-section>
</ng-container>
