<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form [formGroup]="formState.form"
        novalidate
        autocomplete="off">
    <app-contact-profile-form [title]="title"
                              [form]="formState.form"
                              [hasAddressToggle]="true">
      <app-same-as selectFor="administratorPharmaNet"
                   (selected)="onSelect($event)"></app-same-as>

      <ng-container appPageSubheader2Summary>
        Directly sets up individual PharmaNet access accounts at a site or has the authority to request accounts from
        the site's PharmaNet software vendor. May be the Signing Authority.
      </ng-container>
      <ng-container appPageSubheader2MoreInfo>
        The PharmaNet Administrator could be the site's administrator, manager, HR lead, medical office assistant (MOA),
        a practitioner, software vendor, etc.
      </ng-container>

      <app-page-footer [isInitialEnrolment]="!isCompleted"
                       [primaryActionLabel]="(hasBeenSubmitted) ? 'Continue' : 'Save and Continue'"
                       [hasSecondaryAction]="true"
                       (save)="onSubmit()"
                       (continue)="onBack()"
                       (back)="onBack()"></app-page-footer>
    </app-contact-profile-form>
  </form>
</app-page>
