<app-site-registration-container [content]="content"
                                 [hasActions]="hasActions">

  <app-page-header>Site Adjudication</app-page-header>

</app-site-registration-container>

<ng-template #content>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <section class="mb-3">

      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Enter PEC Code to approve this site</ng-container>
        <ng-container appPageSubheader2Summary>
          The PEC Code will be sent to the Signing Authority, Administrator of PharmaNet onboarding and the vendor
          associated to this submission.
        </ng-container>
      </app-page-subheader2>


      <div class="row mb-4">
        <div class="col-sm-12 col-lg-9 col-xl-5">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="PEC Code"
                   formControlName="pec">
            <mat-error>Required</mat-error>
          </mat-form-field>

          <button mat-flat-button
                  color="primary">Approve this Site</button>

        </div>
      </div>

    </section>

  </form>

</ng-template>
