<app-enrollee-page [busy]="busy">

  <app-page-header>PRIME Enrolment</app-page-header>

  <div class="mb-4">
    <app-alert type="success"
               icon="check_circle_outline">
      <ng-container #alertTitle
                    class="alert-title">
        Profile Updated
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        Your profile changes have been successfully saved.
      </ng-container>
    </app-alert>
  </div>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Next Steps</ng-container>
  </app-page-subheader>

  <p>
    You have made changes to your profile. No further actions are needed.
  </p>

  <p class="mb-4">
    Questions about your enrolment should be directed to:
  </p>

  <app-prime-phone></app-prime-phone><br />
  <app-prime-support-email></app-prime-support-email>

</app-enrollee-page>
