<app-page [busy]="busy"
          mode="full">

  <app-page-header>Global Adjudicator Notes</app-page-header>

  <p>Ensure you verify your notes before saving since notes can not be edited or deleted after they have been saved.</p>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <div class="row mb-4">
      <div class="col-sm-12 col-lg-8">

        <mat-form-field class="w-100">
          <textarea matInput
                    placeholder="Write Note Here"
                    rows="10"
                    formControlName="note"></textarea>
          <mat-error>Required</mat-error>
        </mat-form-field>

        <div class="text-right">
          <button mat-flat-button
                  color="primary"
                  [disabled]="!canEdit && !note.value?.length">Save Note</button>
        </div>

      </div>
    </div>

    <div *ngIf="adjudicatorNotes.value?.length"
         class="row mb-4">
      <div class="col-sm-12 col-lg-8">

        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr *ngFor="let adjudicatorNote of adjudicatorNotes | async">
                <th class="text-nowrap">{{ adjudicatorNote.noteDate | formatDate }}</th>
                <td>{{ adjudicatorNote.note }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </form>

  <div class="row justify-content-between">
    <div class="col pt-4">

      <button mat-stroked-button
              type="button"
              (click)="routeTo()">Back</button>

    </div>
  </div>

</app-page>
