<div class="row">
  <div class="col">

    <table mat-table
           [dataSource]="dataSource"
           class="w-100">

      <ng-container matColumnDef="displayId">
        <th mat-header-cell
            *matHeaderCellDef> Reference ID </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.displayId }} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell
            *matHeaderCellDef> Enrollee Name </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row | fullname }} </td>
      </ng-container>

      <ng-container matColumnDef="givenNames">
        <th mat-header-cell
            *matHeaderCellDef> Given Names </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.givenNames | default }} </td>
      </ng-container>

      <ng-container matColumnDef="appliedDate">
        <th mat-header-cell
            *matHeaderCellDef> Submission Date </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.appliedDate | formatDate | default }} </td>
      </ng-container>

      <ng-container matColumnDef="renewalDate">
        <th mat-header-cell
            *matHeaderCellDef> Renewal Date </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.expiryDate | formatDate | default }} </td>
      </ng-container>

      <ng-container matColumnDef="currentTOAStatus">
        <th mat-header-cell
            *matHeaderCellDef> Current ToA </th>
        <td mat-cell
            *matCellDef="let row;">
          <mat-chip-list [selectable]="false">
            <mat-chip [disableRipple]="true">{{ row.currentTOAStatus | default }}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell
            *matHeaderCellDef> State </th>
        <td mat-cell
            *matCellDef="let row;"
            class="status"
            [class]="row.currentStatusCode | configCode: 'statuses' | case: 'space' : 'kebab'">
          {{ row.currentStatusCode | configCode: 'statuses' | default }}
          <mat-icon *ngIf="row.alwaysManual"
                    matTooltip="Enrollee flagged for manual adjudication"
                    matTooltipPosition="after">flag</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="adjudicator">
        <th mat-header-cell
            *matHeaderCellDef> Adjudicator </th>
        <td mat-cell
            *matCellDef="let row;"> {{ row.adjudicatorIdir | replace: '@idir': '' | default }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell
            *matHeaderCellDef>&nbsp;</th>
        <td mat-cell
            *matCellDef="let row;"
            class="text-right">

          <ng-container [ngTemplateOutlet]="menu"
                        [ngTemplateOutletContext]="{ row: row }"></ng-container>

        </td>
      </ng-container>

      <tr mat-header-row
          *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row
          *matRowDef="let row; columns: columns;"></tr>
    </table>

    <p *ngIf="!dataSource?.data.length"
       class="px-4 py-2 text-muted">
      No Enrolments Found
    </p>

    <ng-template #menu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                *ngIf="canReviewStatusReasons(row)"
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_REVIEW])">
          <mat-icon>rate_review</mat-icon>
          <span>Adjudication</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_ENROLMENTS])">
          <mat-icon>history</mat-icon>
          <span>Enrolments</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_EVENT_LOG])">
          <mat-icon>list_alt</mat-icon>
          <span>Event Log</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_ADJUDICATOR_NOTES])">
          <mat-icon>message</mat-icon>
          <span>Add and View Notes</span>
        </button>

        <mat-divider [inset]="true"></mat-divider>

        <button mat-menu-item
                (click)="onNotify(row.id)">
          <mat-icon>email</mat-icon>
          <span>Send Reminder</span>
        </button>
        <button mat-menu-item
                *ngIf="!row?.adjudicatorIdir"
                [disabled]="!canEdit"
                (click)="onClaim(row.id)">
          <mat-icon>pan_tool</mat-icon>
          <span>Claim Enrolment</span>
        </button>
        <button mat-menu-item
                *ngIf="row?.adjudicatorIdir"
                [disabled]="!canEdit"
                (click)="onDisclaim(row.id)">
          <mat-icon>pan_tool</mat-icon>
          <span>Disclaim Enrolment</span>
        </button>
      </mat-menu>
    </ng-template>

  </div>
</div>
