@import 'mixins/statuses';

@include statuses;

mat-date-range-input {
  display: inline-block;
  visibility: hidden;
  width: 1px;
}

.triage-container {
  height: 48px;
  width: 24px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.blueIcon {
  color: blue;
}

.prefix-header {
  min-width: 6.5rem;
}

.paper-submission-icon {
  &.linked {
    color: theme-palette(green);
  }

  &.possible-match {
    color: theme-palette(yellow);
  }
}
