<div class="row">
  <div class="col">
    <form [formGroup]="form">
      <table mat-table
             matSort
             class="w-100"
             [dataSource]="dataSource"
             (matSortChange)="sortData($event)">

        <ng-container matColumnDef="prefixes">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"
              class="prefix-header pl-0">
            <ng-container *ngIf="enrolleeNavigation">
              <button mat-icon-button
                      aria-label="next"
                      matTooltip="next"
                      [disabled]="!enrolleeNavigation?.nextId"
                      (click)="navigateToEnrollee(enrolleeNavigation.nextId)">
                <mat-icon>arrow_downward</mat-icon>
              </button>
              <button mat-icon-button
                      aria-label="previous"
                      matTooltip="previous"
                      [disabled]="!enrolleeNavigation?.previousId"
                      (click)="navigateToEnrollee(enrolleeNavigation.previousId)">
                <mat-icon>arrow_upward</mat-icon>
              </button>
            </ng-container>
          </th>
          <td mat-cell
              *matCellDef="let row;">
            <div class="d-flex flex-wrap triage-container">

              <app-triage *ngIf="row.currentStatusCode === EnrolmentStatus.UNDER_REVIEW"
                          class="align-self-start"
                          [enrolleeId]="row.id"
                          [assigned]="(row.adjudicatorIdir)"
                          (reload)="onReload()"></app-triage>

              <app-contextual-enrolment-confirmation *ngIf="row.requiresConfirmation"
                                                     class="align-self-start"
                                                     [enrolleeId]="row.id"
                                                     (reload)="onReload()"></app-contextual-enrolment-confirmation>

              <app-contextual-enrollee-notification *ngIf="row.hasNotification"
                                                    class="align-self-end"
                                                    [enrolleeId]="row.id"
                                                    (removed)="onReload()"></app-contextual-enrollee-notification>

            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="displayId">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              scope="col"> Reference ID
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.displayId }} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Enrollee Name
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row | fullname }} </td>
        </ng-container>

        <ng-container matColumnDef="givenNames">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Given Names
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.givenNames | default }} </td>
        </ng-container>

        <ng-container matColumnDef="appliedDate">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">
            <span class="d-inline-block" mat-sort-header> Submission Date </span>
            <mat-date-range-input [rangePicker]="appliedDatePicker">
              <input matStartDate
                     formControlName="appliedDateRangeStart">
              <input matEndDate
                     formControlName="appliedDateRangeEnd">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix
                                   *ngIf="!hasAppliedDateRange"
                                   [for]="appliedDatePicker">
              <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix
                                   *ngIf="hasAppliedDateRange">
              <mat-icon matDatepickerToggleIcon
                        matTooltip="Clear date range"
                        (click)="clearAppliedDateRange()">clear
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #appliedDatePicker></mat-date-range-picker>
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.appliedDate | formatDate | default }} </td>
        </ng-container>

        <ng-container matColumnDef="renewalDate">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">
            <span class="d-inline-block" mat-sort-header> Renewal Date </span>
            <mat-date-range-input [rangePicker]="renewalDatePicker">
              <input matStartDate
                     formControlName="renewalDateRangeStart">
              <input matEndDate
                     formControlName="renewalDateRangeEnd">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix
                                   *ngIf="!hasRenewalDateRange"
                                   [for]="renewalDatePicker">
              <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker-toggle matSuffix
                                   *ngIf="hasRenewalDateRange">
              <mat-icon matDatepickerToggleIcon
                        matTooltip="Clear date range"
                        (click)="clearRenewalDateRange()">clear
              </mat-icon>
            </mat-datepicker-toggle>
            <mat-date-range-picker #renewalDatePicker></mat-date-range-picker>
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.expiryDate | formatDate | default }} </td>
        </ng-container>

        <ng-container matColumnDef="currentTOA">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Current ToA
          </th>
          <td mat-cell
              *matCellDef="let row;">
            <mat-chip-list [selectable]="false">
              <mat-chip [disableRipple]="true">{{ row.currentTOAStatus | default }}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> State
          </th>
          <td mat-cell
              *matCellDef="let row;"
              class="status"
              [class]="row.currentStatusCode | configCode: 'statuses' | case: 'space' : 'kebab'">

            <div class="d-flex align-items-center">
              <span class="mr-1">{{ row.currentStatusCode | configCode: 'statuses' | default }}</span>
              <mat-icon *ngIf="row.currentStatusCode === EnrolmentStatus.EDITABLE"
                        matTooltip="Submission editable"
                        matTooltipPosition="after">lock_open
              </mat-icon>
              <mat-icon *ngIf="row.alwaysManual"
                        matTooltip="Enrollee flagged for manual adjudication"
                        matTooltipPosition="after">flag
              </mat-icon>
              <mat-icon *ngIf="row.confirmed"
                        class="material-icons-outlined"
                        matTooltip="Submission confirmed"
                        matTooltipPosition="after">verified
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="remoteAccess">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Remote Access
          </th>
          <td mat-cell
              *matCellDef="let row;">
            <mat-chip-list [selectable]="false">
              <mat-chip [disableRipple]="true">{{ row.remoteAccess ? "Yes" : "No" | default }}</mat-chip>
            </mat-chip-list>
          </td>
        </ng-container>

        <ng-container matColumnDef="assignedTo">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">
            Assigned To
            <button mat-icon-button
                    matTooltip="Filter assigned to me"
                    [color]="(hasAssignedToFilter$.value) ? 'primary' : null"
                    (click)="toggleFilterAssigned()">
              <mat-icon>assignment_ind icon</mat-icon>
            </button>
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.adjudicatorIdir | replace: '@idir': '' | default }} </td>
        </ng-container>

        <ng-container matColumnDef="careSetting">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col"> Care Setting
          </th>
          <td mat-cell
              *matCellDef="let row;"> {{ row.careSettingCodes | careSetting: 'abbr' | join | default }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell
              *matHeaderCellDef
              scope="col">
            <ng-container [ngTemplateOutlet]="bulkActions"></ng-container>
          </th>
          <td mat-cell
              *matCellDef="let row;"
              class="text-right">

            <ng-container [ngTemplateOutlet]="menu"
                          [ngTemplateOutletContext]="{ row: row }"></ng-container>
          </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row
            *matRowDef="let row; columns: columns;"></tr>
      </table>

      <app-paginator [hidePaginator]="hidePaginator">
        <mat-paginator></mat-paginator>
      </app-paginator>
    </form>

    <p *ngIf="!dataSource?.data.length"
       class="px-4 py-2 text-muted">
      No Enrolments Found
    </p>

    <ng-template #bulkActions
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.BANNER])">
          <mat-icon>bookmark</mat-icon>
          <span>Create Banner</span>
        </button>
        <button mat-menu-item
                (click)="onSendBulkEmail()">
          <mat-icon>email</mat-icon>
          <span>Send Email</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([AdjudicationRoutes.MAINTENANCE])">
          <mat-icon>build</mat-icon>
          <span>Maintenance</span>
        </button>
      </mat-menu>
    </ng-template>

    <ng-template #menu
                 let-row="row">
      <button mat-icon-button
              [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_OVERVIEW])">
          <mat-icon>all_inclusive</mat-icon>
          <span>Overview</span>
        </button>
        <button mat-menu-item
                *ngIf="canReviewStatusReasons(row)"
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_REVIEW])">
          <mat-icon>rate_review</mat-icon>
          <span>Adjudication</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ENROLLEE_ENROLMENTS])">
          <mat-icon>history</mat-icon>
          <span>Enrolments</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.EVENT_LOG])">
          <mat-icon>list_alt</mat-icon>
          <span>Event Log</span>
        </button>
        <button mat-menu-item
                (click)="onRoute([row.id, AdjudicationRoutes.ADJUDICATOR_NOTES])">
          <mat-icon>message</mat-icon>
          <span>Add and View Notes</span>
        </button>

        <mat-divider [inset]="true"></mat-divider>

        <button mat-menu-item
                (click)="onNotify(row.id)">
          <mat-icon>email</mat-icon>
          <span>Send Email</span>
        </button>
        <button mat-menu-item
                *ngIf="!row?.adjudicatorIdir"
                [disabled]="!(Role.TRIAGE_ENROLLEE | inRole)"
                (click)="onAssign(row.id)">
          <mat-icon>pan_tool</mat-icon>
          <span>Assign Enrolment</span>
        </button>
        <button mat-menu-item
                *ngIf="row?.adjudicatorIdir"
                [disabled]="!(Role.TRIAGE_ENROLLEE | inRole)"
                (click)="onReassign(row.id)">
          <mat-icon>pan_tool</mat-icon>
          <span>Reassign Enrolment</span>
        </button>
      </mat-menu>
    </ng-template>
  </div>
</div>
