<app-site-registration-container [content]="content"
                                 [hasActions]="hasActions">

  <app-page-header>Site Information</app-page-header>

</app-site-registration-container>

<ng-template #content>

  <app-site-review *ngIf="site"
                   [site]="site"
                   [showEditRedirect]="false"></app-site-review>

  <div class="row justify-content-between">
    <div class="col pt-4">

      <button mat-stroked-button
              type="button"
              (click)="routeRelativeTo(['./'])">Back</button>

    </div>
  </div>

</ng-template>
