@import './palette';

$header-height: 73px;

.container-fluid {
  // Pull the container up under the header
  margin-top: -$header-height;

  .row:first-child {
    // Make the container fill the height of the viewport
    height: 100vh;

    div:first-child  {
      // Adjust content down from under the header
      margin-top: $header-height;
    }

    .background {
        margin-top: $header-height + 30px;
    }
  }
}

.logo {
  max-width: 150px;
  margin-bottom: 5em;
}

.action,
.content {
  width: 245px;
}

.content {
  .text-muted {
    font-style: italic;
  }

  p:nth-child(2) {
    margin-bottom: 0;
  }

  ul {
    padding-left: 1.5em;
  }
}

.content .text-muted {
  font-size: .85rem;
}
