<app-page [busy]="busy">
  <app-page-header>Vaccination Issuance</app-page-header>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate
        autocomplete="off">

    <section class="mb-4">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Credential Type</ng-container>
        <ng-container appPageSubheader2Summary>
          Identify the credential that you would like issued?

          <app-contextual-help>
            <ng-container appContextualContent>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores delectus expedita harum iusto
              natus nisi porro qui temporibus velit! Architecto at dicta eos fugit illum incidunt minus reiciendis
              voluptas.
            </ng-container>
          </app-contextual-help>
        </ng-container>
      </app-page-subheader2>

      <mat-radio-group class="radio-group"
                       formControlName="credentialCode"
                       (change)="onCredentialChange()">
        <mat-radio-button *ngFor="let credential of credentialConfig"
                          class="radio-button"
                          [value]="credential.code">
          {{ credential.name }}
        </mat-radio-button>
      </mat-radio-group>

      <app-alert *ngIf="hasNoCredentialError"
                 type="danger"
                 icon="warning">
        <ng-container #alertContent
                      class="alert-content">
          No credential has been chosen.
        </ng-container>
      </app-alert>
    </section>

  </form>

  <app-page-footer [isInitialEnrolment]="false"
                   [hasSecondaryAction]="false"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"></app-page-footer>

</app-page>
