<app-page-subheader>
  <ng-container appPageSubheaderTitle>Privileges</ng-container>
  <ng-container appPageSubheaderSummary>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsum exercitationem aspernatur ea pariatur
    eaque porro obcaecati. Laudantium maiores natus ut ipsum voluptatem eos tempora, officiis neque id placeat?
    Architecto!
  </ng-container>
</app-page-subheader>


<div *ngIf="privileges?.length"
     class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let privilege of privileges">
        <td>{{ privilege.transactionType }}</td>
        <td>{{ privilege.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
