@import 'bootstrap/bootstrap-imports';

.pill-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  .content {
    display: flex;
    align-self: stretch;
    text-align: center;
    padding: 3rem;
  }

  .background {
    background-image: url('/assets/pill.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    // Remove from flexbox calculation
    position: absolute;
    z-index: -1;
    // Stretch to fill parent
    top: 0;
    bottom: 0;
    width: 100%;

    &.mirror {
      // Invert the background
      transform: scaleX(-1);
    }
  }
}
