<ng-container *ngIf="remoteUsers.length">
  <app-overview-section title="Remote Users"
                        [showEditRedirect]="showEditRedirect"
                        [editRoute]="editRoute"
                        (route)="onRoute($event)">

    <ng-container *ngFor="let remoteUser of remoteUsers">

      <div class="mb-3">
        <app-enrollee-property title="Name">
          {{ remoteUser | fullname | default }}
        </app-enrollee-property>
      </div>

      <ng-container *ngFor="let remoteUserCertification of remoteUser.remoteUserCertifications">

        <div class="mb-3">
          <strong>Certification</strong>
        </div>

        <div class="ml-4 mb-3">

          <app-enrollee-property title="College">
            {{ remoteUserCertification.collegeCode | configCode: 'colleges' | default }}
          </app-enrollee-property>

          <app-enrollee-property title="Licence">
            {{ remoteUserCertification.licenseNumber | default }}
          </app-enrollee-property>

        </div>

      </ng-container>

    </ng-container>

  </app-overview-section>
</ng-container>
