<ng-container *ngFor="let remoteUser of remoteUsers; let first = first">
  <app-overview-section *ngIf="first"
                        title="Remote User"
                        [showEditRedirect]="showEditRedirect"
                        [editRoute]="editRoute"
                        (route)="onRoute($event)">

    <div class="mb-3">
      <app-enrollee-property title="Name">
        {{ remoteUser | fullname | default }}
      </app-enrollee-property>
    </div>

    <ng-container *ngFor="let remoteUserCertification of remoteUser.remoteUserCertifications">

      <div class="mb-3">
        <strong>Certification</strong>
      </div>

      <div class="ml-4 mb-3">

        <app-enrollee-property title="College">
          {{ remoteUserCertification.collegeCode | configCode: 'colleges' | default }}
        </app-enrollee-property>

        <app-enrollee-property title="Licence">
          {{ remoteUserCertification.licenseNumber | default }}
        </app-enrollee-property>

      </div>

    </ng-container>

  </app-overview-section>
</ng-container>
