<div *ngIf="selectFor"
     class="mb-4">

  <button mat-flat-button
          color="primary"
          type="button"
          class="mr-2"
          [matMenuTriggerFor]="menu">
    Same as: <mat-icon>keyboard_arrow_down</mat-icon>
  </button>

  <mat-menu #menu>
    <ng-container *ngFor="let contact of contacts">
      <button mat-menu-item
              type="button"
              (click)="onSelect(contact.data)">
        <span>{{ contact.display }}</span>
      </button>
    </ng-container>
  </mat-menu>

  <ng-content></ng-content>

</div>
