@using Prime.Models
@model Site

<h1>Organization Agreement</h1>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, harum! Dignissimos eos labore nam? Voluptas ea eos vero ipsam dolor! Laudantium commodi dolores quod facilis magni vero quibusdam obcaecati iusto!
</p>
