@using Prime.Models
@model Site

@* <partial name="../Account/_PartialName.cshtml" /> *@

<h1>PharmaNet Site Registration</h1>

<h2>Organization Information Review</h2>

<h3>Signing Authority</h3>

<h3>Organization Information</h3>

<h3>Organization Type</h3>

<h2>Site Information Review</h2>

<h3>Site Name</h3>

<h3>Site Address</h3>

<h3>Business Licence</h3>

<h3>Hours of Operation</h3>

<h3>Vendor</h3>

<h3>Remote Users</h3>

<h3>Administrator of PharmaNet Onboarding</h3>

<h3>Privacy Officer</h3>

<h3>Technical Support Contact</h3>

