@using Prime.Models
@model AccessTerm

@{
  var userClauseClause = Model.UserClause.Clause;
  var limitsAndConditions = Model.LimitsConditionsClause?.Clause;
}

@Html.Raw(userClauseClause)

@if(!string.IsNullOrEmpty(limitsAndConditions))
{
  <li>
    <p class="bold underline">Additional Clauses that Apply to You</p>
    <p>@Html.Raw(limitsAndConditions)</p>
  </li>
}
