@using Prime.Models
@model AccessTerm

@{
  var primaryText = Model.Agreement.Text;
  var limitsAndConditions = Model.LimitsConditionsClause?.Text;
}

@Html.Raw(primaryText)

@if(!string.IsNullOrWhiteSpace(limitsAndConditions))
{
  <p class="bold underline">Additional Clauses that Apply to You</p>
  <p>@Html.Raw(limitsAndConditions)</p>
}
