@using Prime.Models
@model Agreement

@{
  var primaryText = Model.AgreementVersion.Text;
  var limitsAndConditions = Model.LimitsConditionsClause?.Text;
}

@Html.Raw(primaryText)

@if(!string.IsNullOrWhiteSpace(limitsAndConditions))
{
  <p class="bold underline">Additional Clauses that Apply to You</p>
  <p>@Html.Raw(limitsAndConditions)</p>
}

<p>SIGNED AND DELIVERED by</p>

_______________________<br><br>

In the presence of:<br><br>

<div>
  _________________________<br>
  Witness
</div>
<div>
  __________________________<br>
  Practitioner
</div>

