<div [formGroup]="form">

  <app-form-icon-group [show]="total > 1"
                       (event)="removeCertification()">

    <div class="row">
      <div class="col-sm-12">

        <app-form-icon-group>
          <mat-form-field class="w-100">
            <mat-label>College Licences</mat-label>
            <mat-select formControlName="collegeCode">
              <mat-option value="">None</mat-option>
              <mat-option *ngFor="let college of colleges"
                          [value]="college.code">
                {{ college.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="collegeCode.hasError('required')">Required</mat-error>
          </mat-form-field>

          <ng-container appContextualContent>
            This is the licence that indicates your authority to deliver health care directly to patients in BC.
          </ng-container>
        </app-form-icon-group>

      </div>

      <ng-container *ngIf="collegeCode.value">
        <div class="col-sm-12 pl-5">

          <div class="row">
            <div class="col-4">

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="College Number"
                       [value]="licensePrefix"
                       disabled>
              </mat-form-field>

            </div>
            <div class="col">

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="Licence Number"
                       formControlName="licenseNumber">
                <mat-error *ngIf="form.get('licenseNumber').hasError('required')">Required</mat-error>
                <mat-error *ngIf="form.get('licenseNumber').hasError('alphanumeric')">Must contain only alphanumeric
                  characters
                </mat-error>
              </mat-form-field>

            </div>
          </div>

        </div>
        <div class="col-sm-12 pl-5">

          <app-form-icon-group>
            <mat-form-field class="w-100">
              <mat-label>Licence Class</mat-label>
              <mat-select formControlName="licenseCode">
                <mat-option *ngFor="let license of filteredLicenses"
                            [value]="license.code">
                  {{ license.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('licenseCode').hasError('required')">Required</mat-error>
            </mat-form-field>

            <ng-container appContextualContent>
              Licence class associated with your certification.
            </ng-container>
          </app-form-icon-group>

        </div>
        <div class="col-sm-12 pl-5">

          <mat-form-field class="w-100">
            <input matInput
                   placeholder="Next Renewal Date"
                   [min]="minRenewalDate"
                   [matDatepicker]="picker"
                   formControlName="renewalDate"
                   readonly
                   (click)="picker.open()">
            <mat-datepicker-toggle matSuffix
                                   [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker
                            startView="multi-year"
                            [touchUi]="isMobile"></mat-datepicker>
            <mat-error *ngIf="form.get('renewalDate').hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>
        <div class="col-sm-12 pl-5"
             *ngIf="hasPractices">

          <mat-form-field class="w-100">
            <mat-label>Advanced Practices (Optional)</mat-label>
            <mat-select formControlName="practiceCode">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let practice of filteredPractices"
                          [value]="practice.code">
                {{ practice.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('practiceCode').hasError('required')">Required</mat-error>
          </mat-form-field>

        </div>

      </ng-container>

    </div>

  </app-form-icon-group>

</div>
