<app-busy-overlay [busy]="busy">

  <ng-container *ngIf="showToolbar">
    <mat-toolbar>
      <button mat-icon-button
              (click)="onBack()"
              type="button"
              matTooltip="Back">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </mat-toolbar>
  </ng-container>

  <div class="row">
    <div class="col-sm-12 offset-md-1"
         [ngClass]="{
           'col-md-8 col-xl-7': mode === 'default',
           'col-md-10': mode === 'full'
         }">

      <!--
        NOTE: used to elevate generic content using ngProjectAs:
        <ng-container ngProjectAs="top">...</ng-container>
      -->
      <ng-content select="top"></ng-content>

      <ng-content select="app-page-header"></ng-content>

      <ng-content select="app-progress-indicator"></ng-content>

      <ng-content></ng-content>

      <ng-content select="app-page-footer"></ng-content>

    </div>
  </div>

</app-busy-overlay>
