<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"
                               noContent="true"></app-site-progress-indicator>

  <app-page-section>
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>{{ title }}</ng-container>
      <ng-container appPageSubheader2Summary>
        You can claim an existing Organization to add or update sites.
        You will need to know at least one of your organization’s SiteID/PEC codes.
      </ng-container>
    </app-page-subheader2>
  </app-page-section>

  <form [formGroup]="formState.form"
        (ngSubmit)="onSubmit()"
        novalidate
        autocomplete="off">
    <app-alert *ngIf="hasOrgClaimError"
               type="danger"
               icon="error_outline"
               class="mb-4">
      <ng-container #alertContent
                    class="alert-content">
        Could not claim the organization.
      </ng-container>
    </app-alert>
    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Site ID/PEC Code</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide the SiteID/PEC for one of the sites associated with their organization. If you do not have this
          information, contact the other organization.
        </ng-container>
      </app-page-subheader2>
      <mat-form-field class="w-100">
        <input matInput
               placeholder="Site ID/PEC Code"
               formControlName="pec"
               appToUppercase>
        <mat-error>Required</mat-error>
      </mat-form-field>
    </app-page-section>

    <app-page-section>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Change/Claim Details</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide rationale for change in Organization Signing Authority.
        </ng-container>
      </app-page-subheader2>

      <mat-form-field class="w-100">
        <textarea matInput
                  placeholder="Write Here"
                  rows="5"
                  formControlName="claimDetail"></textarea>
        <mat-error>Required</mat-error>
      </mat-form-field>
    </app-page-section>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   primaryActionLabel="Save and Continue"
                   [hasSecondaryAction]="true"
                   (back)="onBack()"
                   (save)="onSubmit()"></app-page-footer>

</app-page>
