<app-page>
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <app-page-subheader2>
    <ng-container appPageSubheader2Title>{{ title }}</ng-container>
    <ng-container appPageSubheader2Summary>
      <p>
        List every physician, nurse practitioner or non-dispensing pharmacist associated with the site who will access
        PharmaNet from a location outside the physical boundaries of the authorized community practice location (e.g.,
        from their home). List all locations.
      </p>
      <p>
        All practitioners requiring remote access must enrol in PRIME and accept the PharmaNet Regulated
        User Terms of Access. Note that users, such as MOAs, accessing PharmaNet on behalf of a physician, nurse
        practitioner or non-dispensing pharmacist, are not permitted to access PharmaNet remotely.
      </p>
    </ng-container>
  </app-page-subheader2>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="form"
        novalidate>

    <mat-slide-toggle class="mb-3"
                      color="primary"
                      formControlName="hasRemoteUsers">Site Has Remote Users</mat-slide-toggle>

  </form>

  <section>
    <ng-container *ngFor="let remoteUser of remoteUsers.controls; let i = index; let last = last">
      <mat-card class="has-hover"
                [class.mb-3]="last">
        <mat-card-header class="no-avatar">
          <mat-card-title>{{ remoteUser.value.firstName }} {{ remoteUser.value.lastName }}</mat-card-title>
          <button type="button"
                  mat-icon-button
                  color="primary"
                  matTooltip="Remove Remote User"
                  (click)="onRemove(i)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button
                  color="primary"
                  [routerLink]="[i]">View or Edit User's Details</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>

    <p *ngIf="hasRemoteUsers.value && !remoteUsers?.length"
       class="lead text-muted">
      No Remote Users
    </p>
  </section>

  <app-alert *ngIf="hasNoRemoteUserError"
             type="danger"
             icon="warning">
    <ng-container #alertContent
                  class="alert-content">
      By indicating you have remote users at least one remote user is required.
    </ng-container>
  </app-alert>

  <button mat-button
          *ngIf="hasRemoteUsers.value"
          type="button"
          color="primary"
          class="mb-3"
          [routerLink]="['new']">
    <mat-icon class="add-icon">add</mat-icon>
    Add Remote User
  </button>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [hasSecondaryAction]="true"
                   primaryActionLabel="Save and Continue"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
