<div [formGroup]="form">

  <div class="row">
    <div class="col-12">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Address (include suite # )"
               formControlName="autocomplete"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let field of addressAutocompleteFields"
                      [value]="field.text"
                      (click)="onAutocomplete(field.id)">
            {{ field.text }} {{ field.description }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
  </div>

  <app-alert *ngIf="usedAddressAutocomplete"
             type="info"
             icon="info"
             class="mb-4">
    <ng-container #alertContent
                  class="alert-content">
      This information was provided by Canada Post.
    </ng-container>
  </app-alert>

</div>
