<div [formGroup]="form">

  <div class="row mb-4">
    <div class="col-12 pb-2">

      <mat-form-field class="w-100"
                      appearance="fill">
        <mat-label>Address autocompleted by Canada Post</mat-label>
        <input matInput
               formControlName="autocomplete"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let field of addressAutocompleteFields"
                      [value]="field.text"
                      (click)="onAutocomplete(field.id)">
            {{ field.text }} {{ field.description }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>
          Start with unit number and street number. Address autocompleted by
          <a href="https://www.canadapost.ca/pca" target="_blank">Canada Post</a>.
        </mat-hint>
      </mat-form-field>

    </div>
    <div class="col-12">
      <ng-content></ng-content>
    </div>
  </div>

</div>
