<app-adjudication-dashboard [title]="title"
                            [hasActions]="hasActions">

  <app-page-header>PharmaNet Enrolments</app-page-header>

  <!--
  TODO project or use input bindings + obserable on URL
  <div class="row justify-content-end">
    <div class="col text-right">
      <div class="row">
        <div class="col text-right pr-0">
          <app-search-form (search)="onSearch($event)"
                           (filter)="onFilter($event)">
          </app-search-form>
        </div>
        <div class="col-auto">
          <div class="d-flex align-items-center pb-3 refresh">
            <button class=""
                    mat-icon-button
                    matTooltip="Refresh the list of enrolments"
                    (click)="refreshEnrolments()">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div>
    Example page content to be displayed.
  </div>
</app-adjudication-dashboard>
