<ng-container [formGroup]="form">
  <section class="mb-3">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Site Name</ng-container>
      <ng-container appPageSubheader2Summary>
        <ng-container *ngIf="organizationId; else noOrganizationSummary">
          The site name must match the name on the site's business licence.
        </ng-container>
        <ng-template #noOrganizationSummary>Provide this site's name.</ng-template>
      </ng-container>
    </app-page-subheader2>

    <div class="row">
      <div class="col">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="{{ organizationId ? 'Site Name (Doing Business As)' : 'Site Name' }}"
                 formControlName="doingBusinessAs"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let doingBusinessAsName of doingBusinessAsNames"
                        [value]="doingBusinessAsName">
              {{ doingBusinessAsName }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>
  </section>

  <section class="mb-4">
    <div *ngIf="!isCommunityPharmacy()"
         class="mb-3">
      <mat-slide-toggle [formControl]="isNewSite"
                        color="primary">
        {{ (isNewSite.value)
        ? 'This is a new Site without a Site ID'
        : 'This is not a new Site and it has a PEC Code assigned' }}
      </mat-slide-toggle>
    </div>
    <ng-container *ngIf="isNewSite.value && !isCommunityPharmacy(); else notNewSite">
      If this is a new Site you will receive your Site ID upon approval.
    </ng-container>
    <ng-template #notNewSite>
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>Site ID</ng-container>
        <ng-container appPageSubheader2Summary>
          Provide the sites ID{{ isCommunityPharmacy() ? '.' : ' or PEC Code. This is a 3-letter code. For example, JZY'
          }}
        </ng-container>
      </app-page-subheader2>
      <ng-container>
        <mat-form-field>
          <mat-label>Site ID</mat-label>
          <input matInput
                 formControlName="pec" />
          <mat-error *ngIf="pec.hasError('required')">
            Required
          </mat-error>
          <mat-error *ngIf="pec.hasError('pecExists')">
            PEC already exists
          </mat-error>
        </mat-form-field>
      </ng-container>
    </ng-template>
  </section>
</ng-container>
