<ng-container [formGroup]="form">
  <app-page-section>
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Site Name</ng-container>
      <ng-container appPageSubheader2Summary>
        <ng-container *ngIf="organizationId; else noOrganizationSummary">
          The site name must match the name on the site's business licence, if you have one.
        </ng-container>
        <ng-template #noOrganizationSummary>Provide this site's name.</ng-template>
      </ng-container>
    </app-page-subheader2>

    <div class="row">
      <div class="col">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="{{ organizationId ? 'Site Name (Doing Business As)' : 'Site Name' }}"
                 formControlName="doingBusinessAs"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let doingBusinessAsName of doingBusinessAsNames"
                        [value]="doingBusinessAsName">
              {{ doingBusinessAsName }}
            </mat-option>
          </mat-autocomplete>
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>
  </app-page-section>

  <app-page-section>
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Site ID</ng-container>
      <ng-container appPageSubheader2Summary>
        Provide the site's
        ID{{ (isCommunityPharmacy() || isDeviceProvider()) ? '. For example, BC00000XXX.' :
        ' or PEC Code. This is a 3-letter code. For example, JZY'
        }}
      </ng-container>
    </app-page-subheader2>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Site ID</mat-label>
      <input matInput
             formControlName="pec"
             appToUppercase>
      <mat-error *ngIf="pec.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="pec.hasError('length') || pec.hasError('alpha')">
        Must be a 3-letter code
      </mat-error>
      <mat-error *ngIf="pec.hasError('cpSiteId')">
        Must be in format BC00000XXX
      </mat-error>
      <mat-error *ngIf="pec.hasError('assignable')">
        Site ID has already been used by another organization
      </mat-error>
    </mat-form-field>

    <div *ngIf="isCommunityPharmacy() || isDeviceProvider()">
      <mat-checkbox formControlName="isNewWithSiteId"
                    (change)="checkAsIsNewWithSiteId($event)">
        <div class="pl-3">
          This is a new {{ isCommunityPharmacy() ? "pharmacy" : "device provider" }}, and we have a Site ID.
        </div>
      </mat-checkbox>
    </div>
    <div *ngIf="isCommunityPharmacy() || isDeviceProvider()">
      <mat-checkbox formControlName="isNewWithoutSiteId"
                    (change)="checkAsIsNewWithoutSiteId($event)">
        <div class="pl-3">
          This is a new {{ isCommunityPharmacy() ? "pharmacy" : "device provider" }}, and we don't have a Site ID.
        </div>
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox formControlName="activeBeforeRegistration"
                    (change)="checkAsOperational($event)">
        <div class="pl-3">
          This site is already operational and submitting PharmaNet transactions, and we have a Site ID.
        </div>
      </mat-checkbox>
    </div>
    <mat-error *ngIf="form.hasError('checkboxRequired')">
      Please select one of above
    </mat-error>
  </app-page-section>

  <app-page-section *ngIf="isDeviceProvider()">
    <app-page-subheader2>
      <ng-container appPageSubheader2Title>Device Provider ID</ng-container>
      <ng-container appPageSubheader2Summary>
        Enter the device provider registration number the site was issued by the Ministry of Health. You will know it as
        P1-90XXX (last three characters are numbers).
      </ng-container>
    </app-page-subheader2>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Device Provider ID</mat-label>
      <input matInput
             formControlName="deviceProviderId"
             appToUppercase>

      <mat-error *ngIf="deviceProviderId.hasError('required')">
        Required
      </mat-error>
      <mat-error *ngIf="deviceProviderId.hasError('deviceProviderId')">
        Must be in format P1-90XXX (last three characters are numbers)
      </mat-error>
    </mat-form-field>
  </app-page-section>

</ng-container>
