@font-face {
  font-family: 'BC Sans';
  src: url('/assets/fonts/BCSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/BCSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

//
// Fonts Palettes
//

$fonts: (
  header: #{"BC Sans"},
  body: #{"BC Sans"}
);

//
// Font Mapping Extractor
// Gets the font from the theme fonts.
// @use theme-font( font );
//
@function theme-font($font) {
  @return map-get($fonts, $font);
}
