//
// Theme Colours
//

//
// Colour Palettes
//

$palettes: (
  blue: (
    lightest: #f8f9fb,
    lighter: #d6ddec, // Currently only used as background colour in dashboard
    light: #0f48ae,
    base: #003366, // BC Gov. Primary
    dark: #001b4a
  ),
  yellow: (
    base: #ffb200 // BC Gov. Secondary
  ),
  red: (
    base: #ed202a
  ),
  grey: (
    lightest: #eeeeee,
    lighter: #e1e1e1,
    light: #bdbdbd, // divider colour
    base: #575757, // secondary text colour
    dark: #212121 // primary text colour
  )
);

//
// Palette Mapping Extractor
// Gets the colour and tone from the theme palette.
// @use theme-palette( colour, tone );
//
@function theme-palette($palette, $tone: 'base') {
  @return map-get(map-get($palettes, $palette), $tone);
}
