
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-frontend-primary: mat-palette($mat-indigo);
$angular-frontend-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-frontend-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angular-frontend-theme: mat-light-theme($angular-frontend-primary, $angular-frontend-accent, $angular-frontend-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angular-frontend-theme);

// Load the applications palette and theme
@import './palette';
@import './font';

// ---
// MATERIAL
// ---

// Material provides a API and default theming for typography and associated
// material components, which are used throughout the application. Material
// represents the backbone of application theming.
@import './material/material';

// ---
// BOOTSTRAP
// ---

// Bootstrap is used to apply structure to native HTML elements and associated
// components, which include responsive images, grids, and tables, as well as
// including normalize, and utilities. Nav, and navbar for components are
// included for prototyping, but will be removed.
@import './bootstrap/bootstrap';

// ---
// VENDORS
// ---

// Vendors is used to include customized vendor styles into the application.
@import './vendors/vendors';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
