<div [formGroup]="form">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <mat-label>Country</mat-label>
        <mat-select formControlName="countryCode"
                    [required]="isRequired('countryCode')">
          <mat-option *ngFor="let country of countries"
                      [value]="country.code">
            {{ country.name }}
          </mat-option>
        </mat-select>
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <mat-label>{{ provinceLabel }}</mat-label>
        <mat-select formControlName="provinceCode"
                    [required]="isRequired('provinceCode')">
          <mat-option *ngFor="let province of filteredProvinces"
                      [value]="province.code">
            {{ province.name }}
          </mat-option>
        </mat-select>
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Street Address"
               formControlName="street"
               [required]="isRequired('street')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="Street Address 2"
               formControlName="street2"
               [required]="isRequired('street2')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <input matInput
               placeholder="City"
               formControlName="city"
               [required]="isRequired('city')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xl-5">

      <mat-form-field class="w-100">
        <mat-label>{{ postalLabel }}</mat-label>
        <input matInput
               [mask]="postalMask"
               formControlName="postal"
               [required]="isRequired('postal')">
        <mat-error>Required</mat-error>
      </mat-form-field>

    </div>
  </div>

</div>
