<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-8 offset-sm-2">

      <app-page-header>Pharmacist Enrolment</app-page-header>

      <app-enrollee-review *ngIf="enrolment"
                           [isEnrolling]="false"
                           [enrolment]="enrolment"></app-enrollee-review>

      <div class="row justify-content-between">
        <div class="col pt-4">

          <button mat-stroked-button
                  type="button"
                  routerLink="../">Back</button>

        </div>
      </div>

    </div>
  </div>

</app-busy-overlay>
