<app-adjudication-container [content]="content">

  <app-page-header>Enrolment</app-page-header>

</app-adjudication-container>

<ng-template #content
             let-enrollee="enrollee">

  <div class="row">
    <div class="col-sm-12 col-md-9 col-lg-8 col-xl-7">

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>
          Enrollee Information
        </ng-container>
      </app-page-subheader>

      <app-enrollee-review *ngIf="enrollee"
                           [enrolment]="enrolleeAdapterResponse(enrollee)"
                           [admin]="true"
                           (route)="onRoute($event)"></app-enrollee-review>

    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col pt-4">

      <button mat-stroked-button
              type="button"
              (click)="routeRelativeTo(['./'])">Back</button>

    </div>
  </div>

</ng-template>
