<app-page [busy]="busy"
          mode="full">

  <ng-content select="app-page-header"></ng-content>

  <ng-content select="app-page-subheader"></ng-content>

  <mat-tab-group animationDuration="0ms"
                 [selectedIndex]="siteTabIndex"
                 (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Private Community Health Practices"
             [id]="CareSettingEnum.PRIVATE_COMMUNITY_HEALTH_PRACTICE">
      <ng-template matTabContent>
        <ng-container [ngTemplateOutlet]="table"
                      [ngTemplateOutletContext]="{
                          columns: communityPracticeColumns,
                          localStoragePrefix: 'site-pchp'
                      }"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Community Pharmacies"
             [id]="CareSettingEnum.COMMUNITY_PHARMACY">
      <ng-template matTabContent>
        <ng-container [ngTemplateOutlet]="table"
                      [ngTemplateOutletContext]="{
                          columns: communityPharmacyColumns,
                          localStoragePrefix: 'site-cp'
                      }"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Device Providers"
             [id]="CareSettingEnum.DEVICE_PROVIDER">
      <ng-template matTabContent>
        <ng-container [ngTemplateOutlet]="table"
                      [ngTemplateOutletContext]="{
                          columns: communityPharmacyColumns,
                          localStoragePrefix: 'site-dp'
                      }"></ng-container>
      </ng-template>
    </mat-tab>
    <mat-tab label="Health Authorities"
             [id]="CareSettingEnum.HEALTH_AUTHORITY">
      <ng-template matTabContent>
        <div class="mt-3">
          <app-search-ha-form #searchHaSiteForm
                              (search)="onSearch($event)"
                              (siteStatus)="onSiteStatusChange($event)"
                              (vendor)="onVendorChange($event)"
                              (careType)="onCareTypeChange($event)"
                              (assignToMe)="onAssignToMeChange($event)"
                              (refresh)="onRefresh()"></app-search-ha-form>
        </div>
        <div class="pt-3">
          <app-health-authority-table [sites]="healthAuthoritySites"
                                      (assign)="onAssign($event)"
                                      (reassign)="onReassign($event)"
                                      (notify)="onNotify($event)"
                                      (route)="onRoute($event)"
                                      (reload)="onRefresh()"
                                      (pecFilter)="onTextSearchHaSite($event)"></app-health-authority-table>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <ng-template #table
               let-columns="columns"
               let-localStoragePrefix="localStoragePrefix">
    <div class="mt-3">
      <app-search-form #searchComSiteForm
                       *ngIf="showSearchFilter"
                       [hideStatus]="false"
                       [statusType]="SearchFormStatusType.SiteStatuses"
                       [localStoragePrefix]="localStoragePrefix"
                       (search)="onSearch($event)"
                       (filter)="onFilter($event)"
                       (refresh)="onRefresh()"></app-search-form>
    </div>

    <app-site-registration-table *ngIf="busy?.closed"
                                 [dataSource]="dataSource"
                                 [columns]="columns"
                                 [pagination]="pagination"
                                 (assign)="onAssign($event)"
                                 (reassign)="onReassign($event)"
                                 (notify)="onNotify($event)"
                                 (route)="onRoute($event)"
                                 (reload)="onRefresh()"
                                 (pecFilter)="onTextSearchComSite($event)"></app-site-registration-table>
  </ng-template>
</app-page>
