<h2 mat-dialog-title
    class="d-flex align-items-stretch">
  <span class="flex-grow-1">
    {{ title }}
  </span>
</h2>
<mat-dialog-content>
  <div class="mb-2">You can {{ reassign ? 'unclaim' : 'claim' }} the {{ type }} or assign to a colleague.</div>

  <form [formGroup]="form">
    <mat-form-field class="w-100">
      <textarea matInput
                placeholder="Note"
                rows="10"
                formControlName="note"></textarea>
      <mat-hint [ngClass]="{ 'text-green': !!note.value }">
        {{ (note.value) ? 'Your note will be saved upon submission.' : '' }}
      </mat-hint>
    </mat-form-field>
  </form>

  <div class="mt-4">
    <button *ngIf="reassign"
            mat-flat-button
            color="primary"
            (click)="onDisclaim()"
            class="mr-4">Unclaim {{ type | capitalize }}</button>
    <button *ngIf="!reassign"
            mat-flat-button
            color="primary"
            (click)="onClaim()"
            class="mr-4">Claim {{ type | capitalize }}</button>
    <button mat-flat-button
            color="primary"
            [matMenuTriggerFor]="menu"
            class="">Assign To...
    </button>
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item
            (click)="onAssign(adjudicator.id)"
            *ngFor="let adjudicator of adjudicators$ | async">
      {{ adjudicator.lastName }}, {{ adjudicator.firstName }}
    </button>
  </mat-menu>
</mat-dialog-content>
