<ng-container *ngTemplateOutlet="currentTemplate"></ng-container>

<ng-template appPageRef>

  <p>
    I work in the community health practice under the direct supervision of one or more prescribers who themselves
    have been approved for access to PharmaNet. My employment duties require me to access PharmaNet and information
    from PharmaNet to support the prescribers to deliver direct patient care in the scope of their, and my own,
    professional practice, to individuals whose PharmaNet record I am accessing.
  </p>

  <strong>I hereby acknowledge that I agree with the following statements and undertakings:</strong>

  <ol>
    <li>
      I acknowledge that I may only access PharmaNet to the extent necessary to provide health services to, or to
      facilitate the care of, the individual whose personal information is being accessed, and only in a form and
      manner of access that is consistent with the conformance or compliance standard relating to PharmaNet and any
      other policies or procedures required by the Province.
    </li>
    <li>
      I understand that my access to PharmaNet and use of information from PharmaNet are subject to applicable law,
      including:

      <ol type="a">
        <li>
          the Pharmaceutical Services Act and
        </li>
        <li>
          the Freedom of Information and Protection of Privacy Act.
        </li>
      </ol>
    </li>
    <li>
      I understand that the Province may, in writing and from time to time, set limits and conditions in respect of
      personal information disclosed from PharmaNet and that I must comply with them.
    </li>
    <li>
      I will only access PharmaNet as directed by the prescriber(s) supervising me at the time.
    </li>
    <li>
      I will complete all training required by the Pharmacy’s PharmaNet software vendor and the Province before
      accessing PharmaNet.
    </li>
    <li>
      I will maintain all personal information accessed by me or disclosed to me from PharmaNet in confidence, unless
      I am required to disclose the information

      <ol type="a">
        <li>
          for the purposes of providing direct patient care to individuals whose PharmaNet record I am accessing, or
        </li>
        <li>
          as otherwise permitted under the Pharmaceutical Services Act.
        </li>
      </ol>
    </li>
    <li>
      I will protect all personal information accessed by me or disclosed to me from PharmaNet by making reasonable
      security arrangements against such risks as unauthorized access, collection, use, disclosure or disposal of
      information, files or records containing personal information from PharmaNet.
    </li>
    <li>
      I will not:

      <ol type="a">
        <li>
          permit any person to use any user IDs, passwords or credentials provided to me to access PharmaNet;
        </li>
        <li>
          divulge, share or compromise any user IDs, passwords or credentials;
        </li>
        <li>
          use or attempt to use the user ID, password or credential of any other person;
        </li>
        <li>
          test or examine the security related to PharmaNet;
        </li>
        <li>
          take any action that might reasonably be construed as compromising the integrity of PharmaNet, its
          information, or the provincial drug plan;
        </li>
        <li>
          alter the format or content of a print or display of any information contained within PharmaNet; or
        </li>
        <li>
          access PharmaNet from any location other than inside the community pharmacy listed above.
        </li>
      </ol>
    </li>
    <li>
      I understand that if I breach the terms of this Undertaking, in addition to any legal remedy that the Province
      may have against me:

      <ol type="a">
        <li>
          the Province may notify my employer in respect of any suspected inappropriate access to PharmaNet by me, and
        </li>
        <li>
          my access to PharmaNet may be suspended or terminated.
        </li>
      </ol>
    </li>
    <li>
      I understand that at any time at the discretion of the Province:

      <ol type="a">
        <li>
          I may be required to renew this undertaking or sign a revised undertaking;
        </li>
        <li>
          my access to PharmaNet may be suspended or terminated as permitted under the Pharmaceutical Services Act.
        </li>
      </ol>
    </li>
  </ol>

</ng-template>
