<app-page [busy]="busy">
  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!isCompleted"></app-site-progress-indicator>

  <form (ngSubmit)="onSubmit()"
        [formGroup]="formState.form"
        novalidate
        autocomplete="off">

    <section class="mb-3">
      <app-page-subheader2>
        <ng-container appPageSubheader2Title>{{ title }}</ng-container>
        <ng-container appPageSubheader2Summary>
          Identify the type of care setting your site operates.
        </ng-container>
      </app-page-subheader2>

      <div class="row">
        <div class="col col-sm-10 py-3">

          <mat-form-field class="w-100">
            <mat-label>Care Setting</mat-label>
            <mat-select formControlName="careSettingCode">
              <mat-option *ngFor="let careSetting of careSettingConfig"
                          [value]="careSetting.code"
                          [disabled]="!enableCareSetting(careSetting.code)">
                {{ careSetting.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formState.careSettingCode.hasError('required')">
              Required
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </section>

    <ng-container *ngIf="filteredVendorConfig.length">

      <section class="mb-4">
        <app-page-subheader2>
          <ng-container appPageSubheader2Title>Vendor</ng-container>
          <ng-container appPageSubheader2Summary>
            What PharmaNet software vendor does this site use?

            <app-contextual-help>
              <ng-container appContextualContent>
                If you use more than one vendor, you will need to register a site for each one.
              </ng-container>
            </app-contextual-help>
          </ng-container>
        </app-page-subheader2>

        <mat-radio-group class="radio-group"
                         formControlName="vendorCode">
          <mat-radio-button *ngFor="let vendor of filteredVendorConfig"
                            class="radio-button"
                            [value]="vendor.code">
            {{ vendor.name }}
          </mat-radio-button>
        </mat-radio-group>

        <app-alert *ngIf="hasNoVendorError"
                   type="danger"
                   icon="warning">
          <ng-container #alertContent
                        class="alert-content">
            No vendor has been chosen.
          </ng-container>
        </app-alert>
      </section>

    </ng-container>

  </form>

  <app-page-footer [isInitialEnrolment]="!isCompleted"
                   [primaryActionLabel]="(hasBeenSubmitted) ? 'Continue' : 'Save and Continue'"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (continue)="onBack()"
                   (back)="onBack()"></app-page-footer>

</app-page>
