<app-page>
  <app-page-header>{{ title }}</app-page-header>
  <app-sat-eforms-progress-indicator></app-sat-eforms-progress-indicator>

  <section class="mb-3">
    <app-alert type="success"
               icon="check_circle_outline">
      <ng-container #alertTitle
                    class="alert-title">
        You have access
      </ng-container>

      <ng-container #alertContent
                    class="alert-content">
        You now have access to the Special Authority E-Forms Application.
        <br />
        You can log in to the application using your BC Services Card.
      </ng-container>
    </app-alert>
  </section>
</app-page>
