@import 'palette';
@import 'bootstrap/bootstrap-imports';

.mat-card {
  @include media-breakpoint-up(lg) {
    max-width: 300px;
  }

  .mat-card-title {
    // Removed to tighten up space between title and button
    // due to not subtitle or content
    margin-bottom: 0;
  }
}

.close-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
