<div class="container">
  <div class="row">
    <div class="col align-self-center text-center">
      <h1>503 Under Maintenance</h1>
      <h2>
        We're undergoing a bit of scheduled maintenance.
      </h2>
      <p class="lead">
        Sorry for the inconvenience. We'll be back up and running as fast as possible.
      </p>
      <p class="text-muted">
        If you require immediate assistance, but if the problem persists feel free to
        <a [attr.href]="email">contact us</a>..
      </p>
    </div>
  </div>
</div>
