<app-page [busy]="busy">
  <ng-container ngProjectAs="top">
    <app-site-collection-notice></app-site-collection-notice>
  </ng-container>

  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!organization?.completed"
                               [currentRoute]="SiteRoutes.SITE_REVIEW"></app-site-progress-indicator>

  <div class="mb-5">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Organization Information Review</ng-container>
      <ng-container appPageSubheaderSummary>
        Review the Organization Information you have provided.
      </ng-container>
    </app-page-subheader>
  </div>

  <app-organization-review *ngIf="organization"
                           [organization]="organization"
                           [showEditRedirect]="true"
                           (route)="onRoute($event)"></app-organization-review>

  <!-- TODO pull over changes to footer from other branch -->
  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="true"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
