<app-page [busy]="busy">
  <ng-container ngProjectAs="top">
    <app-site-collection-notice></app-site-collection-notice>
  </ng-container>

  <app-page-header>PharmaNet Site Registration</app-page-header>
  <app-site-progress-indicator [inProgress]="!organization?.completed"></app-site-progress-indicator>

  <div class="mb-5">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>{{ title }}</ng-container>
      <ng-container appPageSubheaderSummary>
        Review the organization information you have provided.
      </ng-container>
    </app-page-subheader>
  </div>

  <app-organization-review *ngIf="organization"
                           [organization]="organization"
                           [showEditRedirect]="true"
                           (route)="onRoute($event)"></app-organization-review>

  <!-- TODO remove ternary after release with implementation of organization updates, and keep Save Organization Information -->
  <app-page-footer [isInitialEnrolment]="true"
                   [hasSecondaryAction]="true"
                   [primaryActionLabel]="(!organization.acceptedAgreementDate) ? 'Save Organization Information' : 'Continue'"
                   (save)="onSubmit()"
                   (back)="onBack()"></app-page-footer>

</app-page>
