<form (ngSubmit)="onSubmit()"
      [formGroup]="form"
      novalidate>

  <h1 class="h2 mb-4">Application Enrolment</h1>

  <app-sub-header subheader="PharmaNet Access"
                  help="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-sub-header>

  <div class="row">
    <div class="col text-right">

      <button mat-raised-button
              type="button"
              class="mb-3"
              color="primary"
              (click)="addOrganization()"
              [disabled]="organizations.invalid">Add Organization</button>

    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Organization Type</th>
        <th scope="col">Organization Name</th>
        <th scope="col">City</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody formArrayName="organizations">

      <ng-container *ngIf="organizations.controls.length; else noOrganization">
        <ng-container *ngFor="let organization of organizations.controls; let i = index; let first = first"
                      [formGroupName]="i">

          <tr>
            <td>

              <mat-form-field class="w-100">
                <mat-label>Organization Type</mat-label>
                <mat-select formControlName="organizationTypeCode">
                  <mat-option *ngFor="let organizationName of organizationNames"
                              [value]="organizationName.code">{{ organizationName.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="organizations.at(i).get('organizationTypeCode').hasError('required')">Required
                </mat-error>
              </mat-form-field>

            </td>
            <td>

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="Organization Name"
                       formControlName="name">
                <mat-error *ngIf="organizations.at(i).get('name').hasError('required')">Required</mat-error>
              </mat-form-field>

            </td>
            <td>

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="City"
                       formControlName="city">
                <mat-error *ngIf="organizations.at(i).get('city').hasError('required')">Required</mat-error>
              </mat-form-field>

            </td>
            <td>

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="Start Date"
                       [matDatepicker]="startDatePicker"
                       formControlName="startDate"
                       (click)="startDatePicker.open()">
                <mat-datepicker-toggle matSuffix
                                       [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker
                                startView="multi-year"
                                [touchUi]="isMobile"></mat-datepicker>
                <mat-error *ngIf="organizations.at(i).get('startDate').hasError('required')">Required</mat-error>
              </mat-form-field>

            </td>
            <td>

              <mat-form-field class="w-100">
                <input matInput
                       placeholder="End Date"
                       [matDatepicker]="endDatePicker"
                       formControlName="endDate"
                       (click)="endDatePicker.open()">
                <mat-datepicker-toggle matSuffix
                                       [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker
                                startView="multi-year"
                                [touchUi]="isMobile"></mat-datepicker>
              </mat-form-field>

            </td>
            <td>

              <mat-icon class="remove-organization"
                        (click)="removeOrganization(i)">close</mat-icon>

            </td>
          </tr>

        </ng-container>
      </ng-container>

    </tbody>
  </table>

  <ng-template #noOrganization>

    <tr>
      <td colspan="6">
        <div class="lead px-2 py-3 text-muted text-center">Not associated with an organization</div>
      </td>
    </tr>

  </ng-template>


  <div class="row justify-content-between">
    <div class="col pt-2">

      <button mat-raised-button
              type="button"
              color="primary"
              routerLink="../declaration">Back</button>

    </div>
    <div class="col pt-2 text-right">

      <button mat-raised-button
              type="submit"
              color="primary">Save and Continue</button>

    </div>
  </div>

</form>
