<form [formGroup]="form"
      novalidate>

  <section class="mb-3">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>{{ title }}</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Name"
                 formControlName="name">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Job or Role Title"
                 formControlName="jobRole">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>
  </section>

  <section class="mb-3">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>{{ title }} Contact Information</ng-container>
    </app-page-subheader>

    <div class="row">
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Phone"
                 formControlName="phone">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Fax"
                 formControlName="fax">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="SMS Phone"
                 formControlName="smsPhone">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12">

        <mat-form-field class="w-100">
          <input matInput
                 placeholder="Email"
                 formControlName="email">
          <mat-error>Required</mat-error>
        </mat-form-field>

      </div>
    </div>

    <mat-slide-toggle class="mb-3"
                      color="primary"
                      [checked]="hasSeparateAddress"
                      (change)="onSeparateAddressChange()">
      My Address if different from Site Address
    </mat-slide-toggle>
  </section>

  <ng-container *ngIf="hasSeparateAddress">

    <section class="mb-3">
      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Separate Address</ng-container>
      </app-page-subheader>

      <app-address [form]="separateAddress"></app-address>
    </section>

  </ng-container>

</form>
