<app-page-subheader>
  <ng-container appPageSubheaderTitle>Enrollee</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.PROFILE)">edit</mat-icon>
</app-page-subheader>

<app-enrollee-profile [enrollee]="enrollee"></app-enrollee-profile>

<app-enrollee-address [address]="physicalAddress"></app-enrollee-address>

<app-enrollee-address header="Mailing Address"
                      [address]="mailingAddress"></app-enrollee-address>

<div class="font-italic mb-2">Contact Information</div>

<dl class="row mb-3">
  <dt class="col-6">Voice Phone</dt>
  <dd class="col-6 text-right">{{ enrollee?.voicePhone | phone | default }}</dd>
  <dt class="col-6">Extension</dt>
  <dd class="col-6 text-right">{{ enrollee?.voiceExtension | default }}</dd>
</dl>

<div class="font-italic mb-2">Notification Information</div>

<dl class="row mb-3">
  <dt class="col-6">Email Notification</dt>
  <dd class="col-6 text-right">{{ enrollee?.contactEmail | default }}</dd>
  <dt class="col-6">Text Notification (SMS)</dt>
  <dd class="col-6 text-right">{{ enrollee?.contactPhone | phone | default }}</dd>
</dl>

<app-page-subheader>
  <ng-container appPageSubheaderTitle>College Certifications</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.REGULATORY)">edit</mat-icon>
</app-page-subheader>

<ng-container *ngIf="hasCertifications; else hasNone">

  <dl *ngFor="let certification of certifications; let i = index"
      class="row mb-3">
    <dt class="col-6">College Certification</dt>
    <dd class="col-6 text-right">{{ certification.collegeCode | configCode: 'colleges' | default }}</dd>
    <dt class="col-6">License Number</dt>
    <dd class="col-6 text-right">
      {{ certification.collegeCode | configCode: 'colleges' : 'prefix' }}{{ certification.licenseNumber | default }}
    </dd>
    <dt class="col-6">License Class</dt>
    <dd class="col-6 text-right">{{ certification.licenseCode | configCode: 'licenses' | default }}</dd>
    <dt class="col-6">Renewal Date</dt>
    <dd class="col-6 text-right">{{ certification.renewalDate | formatDate | default }}</dd>
    <dt class="col-6">Advanced Practices</dt>
    <dd class="col-6 text-right">{{ certification.practiceCode | configCode: 'practices' | default }}</dd>
  </dl>

</ng-container>

<!-- <app-page-subheader>
  <ng-container appPageSubheaderTitle>Device Provider</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.DEVICE_PROVIDER)">edit</mat-icon>
</app-page-subheader>

<dl class="row mb-3">
  <dt class="col-6">Device Provider Number</dt>
  <dd class="col-6 text-right">{{ enrolment?.deviceProviderNumber | default }}</dd>
  <dt class="col-6">Are you an insulin pump provider?</dt>
  <dd class="col-6 text-right">
    <ng-container *ngIf="enrolment?.deviceProviderNumber; else notDeviceProvider">
      {{ enrolment.isInsulinPumpProvider | yesNo }}
    </ng-container>

    <ng-template #notDeviceProvider>-</ng-template>
  </dd>
</dl> -->

<app-page-subheader>
  <ng-container appPageSubheaderTitle>Job Information</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.JOB)">edit</mat-icon>
</app-page-subheader>

<ng-container *ngIf="hasJobs; else hasNone">

  <dl class="row mb-3">
    <dt class="col-12 mb-1">Job Titles</dt>
    <dd class="col-12 text-right">
      <ul class="list-unstyled">
        <li *ngFor="let job of jobs; let i = index"
            class="text-right">
          {{ job.title }}
        </li>
      </ul>
    </dd>
  </dl>

</ng-container>

<app-page-subheader>
  <ng-container appPageSubheaderTitle>Self Declaration</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.SELF_DECLARATION)">edit</mat-icon>
</app-page-subheader>

<app-enrollee-self-declaration [hasDeclaration]="enrolment?.hasConviction"
                               [details]="enrolment?.hasConvictionDetails">
  Have you ever been the subject of an order or a conviction for an information contravention?
</app-enrollee-self-declaration>

<app-enrollee-self-declaration [hasDeclaration]="enrolment?.hasRegistrationSuspended"
                               [details]="enrolment?.hasRegistrationSuspendedDetails">
  Have you ever been the subject of an order or a conviction for an information contravention?
</app-enrollee-self-declaration>

<app-enrollee-self-declaration [hasDeclaration]="enrolment?.hasDisciplinaryAction"
                               [details]="enrolment?.hasDisciplinaryActionDetails">
  Have you ever had Terms and Conditions imposed on your licence as a result of disciplinary actions taken
  by a governing body?
</app-enrollee-self-declaration>

<app-enrollee-self-declaration [hasDeclaration]="enrolment?.hasPharmaNetSuspendedDetails"
                               [details]="enrolment?.hasPharmaNetSuspendedDetails">
  Have you ever had Terms and Conditions imposed on your licence as a result of disciplinary actions taken
  by a governing body?
</app-enrollee-self-declaration>

<app-page-subheader>
  <ng-container appPageSubheaderTitle>Organization Information</ng-container>
  <mat-icon *ngIf="isEnrolling"
            matTooltip="Edit Enrollee"
            (click)="onRoute(EnrolmentRoutes.ORGANIZATION)">edit</mat-icon>
</app-page-subheader>

<ng-container *ngIf="hasOrganizations; else hasNone">

  <dl class="row mb-3">
    <dt class="col-12 mb-1">Organization Types</dt>
    <dd class="col-12 text-right">
      <ul class="list-unstyled">
        <li *ngFor="let organization of organizations; let i = index"
            class="text-right">
          {{ organization.organizationTypeCode | configCode: 'organizationTypes' }}
        </li>
      </ul>
    </dd>
  </dl>

</ng-container>

<ng-template #hasNone>

  <div class="mb-4">
    <strong>None</strong>
  </div>

</ng-template>
