<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Site Name</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Site Name"
            (click)="onRoute(SiteRoutes.SITE_ADDRESS)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property title="Name">
    {{ site?.name | default }}
  </app-enrollee-property>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Site Address</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Site Address"
            (click)="onRoute(SiteRoutes.SITE_ADDRESS)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property title="Address">
    {{ site?.location?.physicalAddress?.street | default }}
  </app-enrollee-property>

  <app-enrollee-property title="City">
    {{ site?.location?.physicalAddress?.city | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Province">
    {{ site?.location?.physicalAddress?.provinceCode | configCode: 'provinces' | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Postal Code">
    {{ site?.location?.physicalAddress?.postal | postal | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Country">
    {{ site?.location?.physicalAddress?.countryCode | configCode: 'countries' | default }}
  </app-enrollee-property>

</section>

<!-- TODO business licence section list the uploaded document(s) -->

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Hours of Operation</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Hours of Operation"
            (click)="onRoute(SiteRoutes.HOURS_OPERATION)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <ng-container *ngFor="let businessDay of site?.location?.businessHours">
    <app-enrollee-property [title]="businessDay.day | weekday">
      <ng-container *ngIf="businessDay.startTime && businessDay.endTime; else open24Hours">
        {{ businessDay.startTime }}:00 to {{ businessDay.endTime }}:00
      </ng-container>
      <ng-template #open24Hours>
        24 hours
      </ng-template>
    </app-enrollee-property>
  </ng-container>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Vendors</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Vendors"
            (click)="onRoute(SiteRoutes.VENDOR)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property>
    {{ site?.vendor.name | default }}
  </app-enrollee-property>

</section>

<!-- TODO remote uses section list all users -->

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Administrator of PharmaNet Onboarding</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Administrator"
            (click)="onRoute(SiteRoutes.ADMINISTRATOR)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.administratorPharmaNet"></app-party-review>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Privacy Officer</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Privacy Officer"
            (click)="onRoute(SiteRoutes.PRIVACY_OFFICER)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.privacyOfficer"></app-party-review>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Technical Support</ng-container>

    <button *ngIf="showEditRedirect"
            mat-icon-button
            matTooltip="Edit Technical Support Contact"
            (click)="onRoute(SiteRoutes.TECHNICAL_SUPPORT)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.technicalSupport"></app-party-review>

</section>
