<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Location Name</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Location Name"
            (click)="onRoute(SiteRoutes.SITE_ADDRESS)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property title="Name">
    {{ site?.location?.name | default }}
  </app-enrollee-property>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Location Address</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Location Address"
            (click)="onRoute(SiteRoutes.SITE_ADDRESS)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property title="Address">
    {{ site?.location?.physicalAddress?.street | default }}
  </app-enrollee-property>

  <app-enrollee-property title="City">
    {{ site?.location?.physicalAddress?.city | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Province">
    {{ site?.location?.physicalAddress?.provinceCode | configCode: 'provinces' | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Postal Code">
    {{ site?.location?.physicalAddress?.postal | postal | default }}
  </app-enrollee-property>

  <app-enrollee-property title="Country">
    {{ site?.location?.physicalAddress?.countryCode | configCode: 'countries' | default }}
  </app-enrollee-property>

</section>

<section *ngIf="site?.businessLicences?.length > 0"
         class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Business Licences</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Business Licences"
            (click)="onRoute(SiteRoutes.BUSINESS_LICENCE)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <ng-container *ngFor="let licence of site?.businessLicences">

    <app-enrollee-property title="Filename">
      {{ licence.fileName | default }}
    </app-enrollee-property>

  </ng-container>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Hours of Operation</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Hours of Operation"
            (click)="onRoute(SiteRoutes.HOURS_OPERATION)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <ng-container *ngFor="let businessDay of site?.location?.businessHours">
    <app-enrollee-property [title]="businessDay.day | weekday">
      <ng-container *ngIf="businessDay.startTime && businessDay.endTime; else open24Hours">
        {{ businessDay.startTime }}:00 to {{ businessDay.endTime }}:00
      </ng-container>
      <ng-template #open24Hours>
        24 hours
      </ng-template>
    </app-enrollee-property>
  </ng-container>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Vendors</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Vendors"
            (click)="onRoute(SiteRoutes.VENDOR)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-enrollee-property>
    {{ site?.vendor.name | default }}
  </app-enrollee-property>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Remote Users</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Remote Users"
            (click)="onRoute(SiteRoutes.REMOTE_USERS)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <ng-container *ngFor="let user of site?.remoteUsers; let i = index">

    <div class="mb-3">
      <strong>Remote User</strong>
    </div>

    <div class="ml-4 mb-3">

      <div class="mb-3">
        <app-enrollee-property title="Name">
          {{ user | fullname | default }}
        </app-enrollee-property>
      </div>

      <ng-container *ngFor="let location of user.remoteUserLocations">
        <div class="mb-3">
          <strong>Remote Address</strong>
        </div>

        <div class="ml-4 mb-3">

          <app-enrollee-property title="Internet Provider">
            {{ location?.internetProvider | default }}
          </app-enrollee-property>

          <app-enrollee-property title="Street Address">
            {{ location?.physicalAddress?.street | default }}
          </app-enrollee-property>

          <app-enrollee-property title="City">
            {{ location?.physicalAddress?.city | default }}
          </app-enrollee-property>

          <app-enrollee-property title="Province">
            {{ location?.physicalAddress?.provinceCode | configCode: 'provinces' | default }}
          </app-enrollee-property>

          <app-enrollee-property title="Postal Code">
            {{ location?.physicalAddress?.postal | postal | default }}
          </app-enrollee-property>

        </div>

      </ng-container>

    </div>

  </ng-container>

  <app-enrollee-property *ngIf="!site?.remoteUsers?.length"
                         title="Remote User"
                         [makeBold]="true">
    None
  </app-enrollee-property>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Administrator of PharmaNet Onboarding</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Administrator"
            (click)="onRoute(SiteRoutes.ADMINISTRATOR)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.administratorPharmaNet"></app-party-review>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Privacy Officer</ng-container>

    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Privacy Officer"
            (click)="onRoute(SiteRoutes.PRIVACY_OFFICER)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.privacyOfficer"></app-party-review>

</section>

<section class="mb-4">

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Technical Support</ng-container>
    <button *ngIf="showEditRedirect && !site.submittedDate"
            mat-icon-button
            matTooltip="Edit Technical Support Contact"
            (click)="onRoute(SiteRoutes.TECHNICAL_SUPPORT)">
      <mat-icon>edit</mat-icon>
    </button>
  </app-page-subheader>

  <app-party-review [party]="site?.location?.technicalSupport"></app-party-review>

</section>
