<app-dashboard-header [headerConfig]="dashboardHeaderConfig"></app-dashboard-header>

<div class="container">
  <div class="row align-items-center header">
    <div class="col-auto">

      <img src="/assets/gis_brand.png"
           alt="GIS Logo"
           class="logo">

    </div>
    <div class="col">

      <h1>{{ title }}</h1>

    </div>
  </div>
  <div class="row actions">
    <div class="col">

      <button mat-flat-button
              color="primary"
              class="large"
              (click)="onLogin()">Logon with Health Authority ID</button>

    </div>
  </div>
</div>
