<app-enrollee-page [busy]="busy">

  <app-page-header>Enrolment Summary</app-page-header>

  <app-progress-indicator *ngIf="isInitialEnrolment"
                          message="Enrolment Locked"
                          [currentRoute]="EnrolmentRoutes.ACCESS_LOCKED"></app-progress-indicator>

  <div class="mb-4">
    <app-alert type="danger">
      <ng-container #alertTitle
                    class="alert-title">
        Your PRIME profile has been locked
      </ng-container>
      <ng-container #alertContent
                    class="alert-content">
        Follow the steps provided to unlock your PRIME profile.
      </ng-container>
    </app-alert>
  </div>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Next Steps</ng-container>
  </app-page-subheader>

  <p>
    Contact the Ministry of Health for further instructions:
  </p>

  <app-prime-phone></app-prime-phone><br>
  <app-prime-support-email></app-prime-support-email>

</app-enrollee-page>
