name: Build Main
# Build all of the necessary components for the PRIME application from `master` branch. Images are then deployed to Production environment via the prime-app-template.yml in the infrastructure folder

on:
  push:
    branches:
      - master

  workflow_dispatch:
    branches:
      - master

jobs:
  build-document-manager-backend:
    runs-on: ubuntu-20.04
    environment: Production
    env:
      BUILD_LOGLEVEL: "2"
      SERVICE_NAME: document-manager
      CONTAINER_NAME: prime-document-manager
    steps:
      - name: "Checkout the repo"
        uses: actions/checkout@v2

      - name: "Login to OpenShift repository"
        uses: docker/login-action@v1
        with:
          registry: ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}
          username: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_USERNAME}}
          password: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_PASSWORD}}

      - name: "Login to RedHat container repository"
        uses: docker/login-action@v1
        with: 
          registry: ${{secrets.REDHAT_REGISTRY_URL}}
          username: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_USER}}
          password: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_AUTH_TOKEN}}

      - name: "Build, tag and push Document Manager image"
        id: build-image
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
          BUILD_LOGLEVEL: 2
        run: |
          docker-compose -f oc4-compose.yml build --force-rm --no-cache \
            --build-arg BUILD_LOGLEVEL=$BUILD_LOGLEVEL \
            --build-arg SVC_NAME="prod" \
            $SERVICE_NAME
          docker tag moh-prime_$SERVICE_NAME ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod
          docker image push ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod

  build-backend:
    runs-on: ubuntu-20.04
    environment: Production
    env:
      SERVICE_NAME: dotnet-webapi
      CONTAINER_NAME: prime-webapi-backend
    steps:
      - name: "Checkout the repo"
        uses: actions/checkout@v2

      - name: "Login to OpenShift repository"
        uses: docker/login-action@v1
        with:
          registry: ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}
          username: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_USERNAME}}
          password: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_PASSWORD}}

      - name: "Login to RedHat container repository"
        uses: docker/login-action@v1
        with: 
          registry: ${{secrets.REDHAT_REGISTRY_URL}}
          username: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_USER}}
          password: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_AUTH_TOKEN}}

      - name: "Build, tag and push .NET web API image"
        id: build-image
        env:
          PRIME_DB_PASSWORD: ${{secrets.PRIME_DB_PASSWORD}}
          PRIME_DB_USER: ${{secrets.PRIME_DB_USER}}
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1

        run: |
          docker-compose -f oc4-compose.yml build --force-rm --no-cache \
            --build-arg ASPNETCORE_HTTPS_PORT=5001 \
            --build-arg ASPNETCORE_ENVIRONMENT="Development" \
            --build-arg ASPNETCORE_URLS="http://+:8080" \
            --build-arg DB_CONNECTION_STRING="host=prod-postgres-db;port=5432;database=prime-prod;username=$PRIME_DB_USER;password=$PRIME_DB_PASSWORD" \
            --build-arg DB_HOST=prod-postgres-db \
            --build-arg DOTNET_CLI_HOME="/tmp/DOTNET_CLI_HOME" \
            --build-arg PGPASSWORD=$PRIME_DB_PASSWORD \
            --build-arg POSTGRESQL_ADMIN_PASSWORD=$PRIME_DB_PASSWORD \
            --build-arg POSTGRESQL_USERNAME=$PRIME_DB_USER \
            --build-arg POSTGRESQL_DATABASE=prime-prod \
            --build-arg SVC_NAME="prod" \
            $SERVICE_NAME
          docker tag moh-prime_$SERVICE_NAME ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod
          docker image push ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod

  build-frontend:
    runs-on: ubuntu-20.04
    environment: Production
    env:
      SERVICE_NAME: nginx-angular
      CONTAINER_NAME: prime-frontend
      JWT_WELL_KNOWN_CONFIG: "https://oidc.gov.bc.ca/auth/realms/v4mbqqas/.well-known/openid-configuration"
      KEYCLOAK_CLIENT_ID: "prime-application-prod"
      KEYCLOAK_URL: "https://oidc.gov.bc.ca/auth"
      KEYCLOAK_REALM: "v4mbqqas"
    steps:
      - name: "Checkout the repo"
        uses: actions/checkout@v2

      - name: "Login to OpenShift repository"
        uses: docker/login-action@v1
        with:
          registry: ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}
          username: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_USERNAME}}
          password: ${{secrets.OPENSHIFT_TOOLS_SERVICE_ACCOUNT_PASSWORD}}

      - name: "Login to RedHat container repository"
        uses: docker/login-action@v1
        with: 
          registry: ${{secrets.REDHAT_REGISTRY_URL}}
          username: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_USER}}
          password: ${{secrets.REDHAT_REGISTRY_SERVICE_ACCOUNT_AUTH_TOKEN}}

      - name: "Build, tag & push Angular frontend image"
        id: build-image
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1
          REDIRECT_URL: "https://pharmanetenrolment.gov.bc.ca"       
        run: |
          docker-compose -f oc4-compose.yml build --force-rm --no-cache \
            --build-arg JWT_WELL_KNOWN_CONFIG=$JWT_WELL_KNOWN_CONFIG \
            --build-arg KEYCLOAK_URL=$KEYCLOAK_URL \
            --build-arg KEYCLOAK_REALM=$KEYCLOAK_REALM \
            --build-arg KEYCLOAK_CLIENT_ID=$KEYCLOAK_CLIENT_ID \
            --build-arg OC_ENV=${{secrets.OPENSHIFT_ENVIRONMENT}} \
            --build-arg SVC_NAME="prod" \
            --build-arg REDIRECT_URL=$REDIRECT_URL \
            $SERVICE_NAME
          docker tag moh-prime_$SERVICE_NAME ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod
          docker image push ${{secrets.OPENSHIFT_IMAGE_REPOSITORY}}/${{secrets.OPENSHIFT_LICENSE_PLATE}}-tools/$CONTAINER_NAME:prod

  apply-oc-template:
    runs-on: ubuntu-20.04
    environment: Production
    steps:
      - name: "Use the OpenShift template"
        uses: actions/checkout@v2

      - name: Install OC
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.6"

      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1.1
        with:
          openshift_server_url: ${{secrets.OPENSHIFT_SERVER_URL}}
          openshift_token: ${{secrets.OPENSHIFT_SERVICE_TOKEN}}
          namespace: ${{secrets.OPENSHIFT_LICENSE_PLATE}}-${{secrets.OPENSHIFT_ENVIRONMENT}}

      - name: "Process template"
        id: oc
        env:
          COMPOSE_DOCKER_CLI_BUILD: 1
          DOCKER_BUILDKIT: 1

        run: |
          oc process -f infrastructure/prime-app-template.yml \
            -p API_POD=webapi \
            -p ASP_ENV=Development \
            -p DOCMAN_POD=document-manager \
            -p FRONTEND_POD=frontend \
            -p VANITY_URL=pharmanetenrolment.gov.bc.ca \
            -p IMAGE_TAG=prod \
            -p SVC_NAME=prod \
            -p OC_LICENSE_PLATE=${{secrets.OPENSHIFT_LICENSE_PLATE}} \
            -p OC_ENV=${{secrets.OPENSHIFT_ENVIRONMENT}} \
            -p URL_STUB=-${{secrets.OPENSHIFT_LICENSE_PLATE}}-prod.apps.silver.devops.gov.bc.ca \
            -p REDIS_POD=redis \
            -p WEB_PORT=8080 \
            -p HPR_URL=healthpractitionerregistration.apps.silver.devops.gov.bc.ca \
            -p MAUTH_URL=prod-mauth-${{secrets.OPENSHIFT_LICENSE_PLATE}}-prod.apps.silver.devops.gov.bc.ca \
            -n ${{secrets.OPENSHIFT_LICENSE_PLATE}}-${{secrets.OPENSHIFT_ENVIRONMENT}} | oc apply -n ${{secrets.OPENSHIFT_LICENSE_PLATE}}-${{secrets.OPENSHIFT_ENVIRONMENT}} -f -
