<app-page [busy]="busy">

  <app-collection-notice-alert></app-collection-notice-alert>

  <app-page-header>PharmaNet Enrolment</app-page-header>

  <app-progress-indicator *ngIf="isInitialEnrolment"
                          [inProgress]="isInitialEnrolment"
                          [currentRoute]="EnrolmentRoutes.OVERVIEW"></app-progress-indicator>

  <div class="mb-5">
    <app-page-subheader>
      <ng-container appPageSubheaderTitle>Enrolment Review</ng-container>
      <ng-container appPageSubheaderSummary>
        If you need to edit your information use the pencil icon to navigate to the section of the
        enrolment to make changes.
      </ng-container>
    </app-page-subheader>
  </div>

  <app-page-subheader>
    <ng-container appPageSubheaderTitle>Personal Information from BC Services Card</ng-container>
  </app-page-subheader>

  <app-enrollee-review *ngIf="enrolment"
                       [showEditRedirect]="currentStatus === EnrolmentStatus.ACTIVE"
                       [enrolment]="enrolment"
                       (route)="routeTo($event)"></app-enrollee-review>

  <div class="footer">

    <app-alert *ngIf="currentStatus !== EnrolmentStatus.ACTIVE"
               type="danger"
               icon="warning">
      <ng-container #alertContent
                    class="alert-content">
        Your enrolment has already been submitted for adjudication and cannot be edited. If you have questions please
        contact us at <app-prime-phone></app-prime-phone> or <app-prime-support-email></app-prime-support-email>.
      </ng-container>
    </app-alert>


    <mat-checkbox #accept
                  [disabled]="currentStatus !== EnrolmentStatus.ACTIVE">
      <div class="pl-3">
        I certify that all information provided is true and complete. I understand it is an offence under the
        Pharmaceutical Services Act to knowingly provide false or misleading information.
      </div>
    </mat-checkbox>
  </div>

  <div class="row justify-content-end">
    <div class="col pt-4 text-right">

      <button mat-flat-button
              color="primary"
              [disabled]="!accept.checked"
              (click)="onSubmit()">Submit Enrolment</button>

    </div>
  </div>

</app-page>
