<app-busy-overlay [busy]="busy">

  <div class="row">
    <div class="col-sm-12 col-lg-8 offset-lg-1 offset-xl-0">

      <app-progress-indicator *ngIf="isInitialEnrolment"
                              [currentRoute]="EnrolmentRoutes.OVERVIEW"></app-progress-indicator>

      <app-page-header>Application Enrolment</app-page-header>

      <app-page-subheader>
        <ng-container appPageSubheaderTitle>Application Review</ng-container>
        <ng-container appPageSubheaderSummary>
          Review all the information to ensure it is accurate. If you need to edit any section use the pencil icon to
          navigate to that section of the enrolment.
        </ng-container>
      </app-page-subheader>

      <app-enrollee-review *ngIf="enrolment"
                           [enrolment]="enrolment"
                           (route)="routeTo($event)"></app-enrollee-review>

      <div class="footer">
        <mat-checkbox #accept>
          I confirm that all information provided is accurate.
        </mat-checkbox>
      </div>

      <div class="row justify-content-end">
        <div class="col pt-4 text-right">

          <button mat-raised-button
                  color="primary"
                  [disabled]="!accept.checked"
                  (click)="onSubmit()">Submit Enrolment</button>

        </div>
      </div>

    </div>
  </div>

</app-busy-overlay>
