<app-enrollee-page [busy]="busy">

  <app-page-header>Terms of Access</app-page-header>

  <app-page-subheader *ngIf="accessTerm?.acceptedDate">
    <ng-container appPageSubheaderSummary>
      <div class="row">
        <div class="col-6">
          Accepted on {{ accessTerm?.acceptedDate | formatDate }}.
        </div>
        <div *ngIf="accessTerm?.signedAgreement"
             class="col-6 text-right">
          <button mat-flat-button
                  class="mb-4"
                  color="primary"
                  (click)="onDownload()">Download Terms of Access</button>
        </div>
      </div>

    </ng-container>
  </app-page-subheader>

  <app-access-term *ngIf="accessTerm"
                   [accessTerms]="accessTerm"></app-access-term>

</app-enrollee-page>
