<div class="row">
  <div class="col-sm-12 col-lg-8 offset-lg-1 offset-xl-0">

    <app-page-header>Enrolment Summary</app-page-header>

    <app-progress-indicator *ngIf="isInitialEnrolment"
                            message="Enrolment Declined"
                            [currentRoute]="EnrolmentRoutes.DECLINED"></app-progress-indicator>

    <div class="mb-4">
      <app-alert type="danger"
                 icon="warning">
        <ng-container #alertTitle
                      class="alert-title">
          Your Enrolment Has Not Been Approved
        </ng-container>
        <ng-container #alertContent
                      class="alert-content">
          You have not been approved for PharmaNet access for direct patient care.
        </ng-container>
      </app-alert>
    </div>

    <p>
      Your enrolment application to gain access to PharmaNet has not been approved. Questions about your enrolment
      should be directed to:
    </p>

    <app-prime-contact></app-prime-contact>

  </div>
</div>
